.Grilla, .GrillaRojo, .GrillaAmbar, .GrillaVerde {
    border-spacing: 0px;
    border-collapse: collapse;
}
.GrillaRojo th {
        background: #ffc0cb !important
}
    .GrillaRojo thead>tr:first-child > td {
        background: #ffc0cb
    }
.GrillaRojo tr:nth-child(even) {
        background: #ffc0cb

}
.GrillaRojo tr:nth-child(odd) {
        background: #FFF
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #ffc0cb !important;
    border-color: #ffc0cb !important;
    color:black !important;
    font:bold !important;
}