<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Literal e) del artículo 153 de LFFS, concordado con lo establecido en el Literal e) del artículo 44 del RGF
            </td>
            <td style="border: 1px solid #000;">
                No pago por derecho de aprovechamiento
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Escrito xxxxxxx SITD xxxxxxxxx
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div style="font-size: 8pt;">Fuente: Elaboración propia.</div>

{{if informe.COD_TIPO_INFORME == 1}}
<p class="enumeration">
    Al respecto, el/la administrada (o) presentó sus descargos contra la Resolución Sub Directoral mediante la Carta N° xxxxxxxxxx de fecha xx de xxxxx de 2023, ingresado con fecha xx de xxxx de 2023 (Registro N° xxxxxxxx) del cual se advierte los siguientes argumentos que guardan relación con la imputación materia de análisis:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">
    En ese sentido, la Autoridad Instructora realizó el análisis correspondiente al Expediente Administrativo, así como de los documentos mencionados precedentemente, concluyendo lo siguiente:
</p>
<ul>
    <li>
        “(…)xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx (…)”.
    </li>
</ul>
<p class="enumeration">
    Al respecto, mediante escrito N° xxx con SITD N° xxxxxxx de fecha xx de xxxx de xxxx, el/la administrado (a) presentó su descargo al Informe Final de Instrucción, señalando lo siguiente:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">Respecto a lo señalado por el/la administrado (a); se advierte el siguiente análisis:</p>
<ul>
    <li>Con relación al argumento señalado en el acápite a) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite b) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite c) xxxxxxxxxxxxxxxxxxx</li>
</ul>
<p class="enumeration">
    En esta etapa del procedimiento, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, se advierte lo siguiente:
</p>
{{else}}
<p class="enumeration">
    Es preciso mencionar que, respecto de la imputación realizada, el/la administrado no presentó descargo a la Resolución Sub Directoral.
</p>
<p class="enumeration">
    La Autoridad Instructora, concluyó que existen elementos suficientes que permitieron mantener la imputación atribuida al/la administrado (a); respecto de lo cual el/la administrado (a) <u>no presentó descargos a lo señalado en el Informe Final de Instrucción.</u>
</p>
<p class="enumeration">
    En esta etapa del procedimiento, de acuerdo a la documentación que obra en el expediente administrativo, se advierte lo siguiente:
</p>
{{/if}}
<ul>
    <li>
        Conforme al Oficio N° xxx de fecha xxxx recibido de parte de la ARFFS (Registro N° xxxx) el/la administrado (a), tiene una deuda pendiente de pago (i) ascendente US$/. xxxx dólares correspondiente a xx cuotas atrasadas de abonos más intereses por concepto de derecho de aprovechamiento refinanciada referida a los periodos 20xx -20xx, 20xx -20xx, 20xx -20xx; así como (ii) S/. 7 007.79 soles correspondiente a los periodos xxx, estos periodos fueron materia de imputación, por cuanto al inicio del presente PAU ya habían concluido. Lo antes indicado se encuentra ratificado mediante el Oficio Nº xxxxx de fecha xxxx, (registro N°) suscrito por la ARRFS antes citada.
    </li>
    <li>
        Se han configurado los supuestos establecidos en los “Criterios para la declaración de caducidad del título habilitante en el Procedimiento Administrativo Único – PAU del OSINFOR”, para declarar la caducidad de título habilitante por la falta de pago por derecho de aprovechamiento.
    </li>
</ul>
<p class="enumeration">
    Por las consideraciones antes señaladas, la causal de caducidad prevista en el literal e) del artículo 153 de la LFFS, concordante con el literal e) del artículo 44 del RGF y con el numeral xxx de la Cláusula xxxx del Contrato de Concesión, se encuentra acreditada; criterio acorde a lo señalado en el Informe Final de Instrucción.
</p>

<p class="enumeration">
    Sin perjuicio de ello, es necesario precisar que, en el marco de la LFFS y el RGF, el área de la concesión caducada continúa siendo parte del Bosque de Producción Permanente y la ARFFS tiene la facultad de otorgar un nuevo título habilitante, cumpliendo las disposiciones vigentes sobre la materia. Asimismo, debe considerarse que de acuerdo al artículo 123 del RGF está “(…) prohibido el otorgamiento de títulos de propiedad, certificados o constancias de posesión en tierras de dominio público con capacidad de uso mayor forestal o de protección, con o sin cobertura forestal, así como cualquier tipo de reconocimiento o instalación de infraestructura pública de servicios, bajo responsabilidad de los funcionarios involucrados”.
</p>