<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Numeral 10 del Anexo 1 del RISMFFS.<br /><br />
                <i>“Talar, extraer y/o aprovechar recursos forestales no autorizados en el área del título habilitante, cuando sea imputable a la administrada en su condición de titular del título habilitante”.</i>
            </td>
            <td style="border: 1px solid #000;">
                ${infraccion.detalle || 'XX'}
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Escrito xxxxxxx SITD xxxxxxxxx
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div style="font-size: 8pt;">Fuente: Elaboración propia.</div>

{{if informe.COD_TIPO_INFORME == 1}}
<p class="enumeration">
    Al respecto, el/la administrada (o) presentó sus descargos contra la Resolución Sub Directoral mediante la Carta N° xxxxxxxxxx de fecha xx de xxxxx de 2023, ingresado con fecha xx de xxxx de 2023 (Registro N° xxxxxxxx) del cual se advierte los siguientes argumentos que guardan relación con la imputación materia de análisis:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">
    En ese sentido, la Autoridad Instructora realizó el análisis correspondiente al Expediente Administrativo, así como de los documentos mencionados precedentemente, concluyendo lo siguiente:
</p>
<ul>
    <li>
        “(…)xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx (…)”.
    </li>
</ul>
<p class="enumeration">
    Al respecto, mediante escrito N°xxx con SITD N° xxxxxxx de fecha xx de xxxx de xxxx, el/la administrado (a) presentó su descargo al Informe Final de Instrucción, señalando lo siguiente:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">Respecto a lo señalado por el/la administrado (a); se advierte el siguiente análisis:</p>
<ul>
    <li>Con relación al argumento señalado en el acápite a) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite b) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite c) xxxxxxxxxxxxxxxxxxx</li>
</ul>
<p class="enumeration">
    En esta etapa del procedimiento, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, se advierte lo siguiente:
</p>
<ul>
    <li>
        El/la administrado (a) realizó el aprovechamiento de xxxx m3 de la especie xxxxxx de madera no autorizada que proviene de un árbol semillero, conforme se detalla en el cuadro siguiente:
    </li>
</ul>
<p style="text-align: center;"><strong>Cuadro N° 02: Extracción no autorizada de árboles semilleros en el área de la PC N° 04 del PO N° 01</strong></p>
<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">N°</th>
            <th style="text-align: center; border: 1px solid #000;">Especie</th>
            <th style="text-align: center; border: 1px solid #000;">Estado</th>
            <th style="text-align: center; border: 1px solid #000;">Volumen</th>
            <th style="text-align: center; border: 1px solid #000;">Coordenadas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center; border: 1px solid #000;">1</td>
            <td style="text-align: center; border: 1px solid #000;">
                Manilkara bidentata “quinilla” de código 5-36
            </td>
            <td style="text-align: center; border: 1px solid #000;">Movilizado</td>
            <td style="text-align: center; border: 1px solid #000;">XXX m<sup>3</sup></td>
            <td style="text-align: center; border: 1px solid #000;">273971 E – 9554238 N</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td style="text-align: center; border: 1px solid #000;" colspan="3">
                <strong>Total</strong>
            </td>
            <td style="text-align: center; border: 1px solid #000;">
                <strong>XXX m<sup>3</sup></strong>
            </td>
            <td style="text-align: center; border: 1px solid #000;"></td>
        </tr>
    </tfoot>
</table>
<div style="font-size: 8pt;">
    <strong>Fuente:</strong> Elaboración propia en base al Informe de Supervisión N° xxxx-202X-OSINFOR/08.1.2
</div>
<ul>
    <li>
        El aprovechamiento xxxx m3 de la especie xxxxx, significa el incumplimiento del plan de manejo, documento que el/la propio (a) administrado (a) presentó ante la ARFFS y fue aprobado. En efecto, en el referido plan de manejo, el/la administrado (a) declaró aquellos árboles que serían aprovechados, entre los que no se encuentra el consignado en el cuadro que precede.
    </li>
    <li>
        Finalmente, a pesar de que el RISMFFS señala que la infracción analizada es subsanable, la misma que se efectúa dentro del plazo previsto para la presentación de los descargos en la fase instructora, el/la administrado (a) no realizó la subsanación correspondiente, a pesar de haberse informado mediante xxxxxx.
    </li>
</ul>
{{/if}}

<p class="enumeration">
    En ese contexto, de acuerdo a lo señalado precedentemente, se confirma que el/la administrado (a) cometió la infracción tipificada en el numeral 10 del Anexo 1 del RISMFFS; criterio acorde a lo señalado en el Informe Final de Instrucción.
</p>