@model CapaEntidad.ViewModel.VM_InformeTecnico
<div id="divComplementario">
    <div class="card-header text-small">Informe complementario</div>
    <div><br /></div>
    <div class="form-row" id="divRectificacion">
        <div class="form-group col-md-4">
            <label for="chkGTF" class="text-small">Referencia</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextBoxFor(m => m.txtReferencia, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div class="form-row" id="divRectificacion">
        <div class="form-group col-md-4">
            <label for="chkGTF" class="text-small">Información que se complemento</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextAreaFor(m => m.txtInfComplemento, 4, 1, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div class="form-row" id="divRectificacion">
        <div class="form-group col-md-4">
            <label for="chkGTF" class="text-small">Conclusiones</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextAreaFor(m => m.txtConclusion, 4, 1, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>

    <div>
        @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderSSupervision.cshtml", Model)
    </div>
</div>




