@model CapaEntidad.ViewModel.VM_InformeTecnico
<div id="divAclaracion">
    <div class="card-header text-small">Aclaración</div>
    <div><br /></div>
    <div class="form-row" id="divRectificacion">
        <div class="form-group col-md-4">
            <label for="chkGTF" class="text-small">información que se aclaro</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextAreaFor(m => m.txtInfAclaracion, 4, 1, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div class="form-row" id="divRectificacion">
        <div class="form-group col-md-4">
            <label for="chkGTF" class="text-small">Documentos adjuntos</label>
        </div>
        <div class="form-group col-md-6">
            @Html.TextAreaFor(m => m.txtDocumentosAdj, 4, 1, new { @class = "form-control form-control-sm" })
        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div>
        @Html.Partial("~/Areas/Fiscalizacion/Views/ManInformeTecnico/_Shared/_renderSSupervision.cshtml", Model)
    </div>
</div>



