
<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Numeral 1 del Anexo 1 del RISMFFS<br /><br />
                <i>
                    “No establecer o no mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante”
                </i>
            </td>
            <td style="border: 1px solid #000;">
                El administrado no cumplió con establecer y mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante.
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, la administrada presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            El administrado no cumplió con establecer y mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante, como se evidencia en el numeral XX. del Informe de Supervisión N° XX-20XX-OSINFOR/08.1.2, por el cual se verificaron los vértices XX, XX los mismos que no presentaron señalización, además, no se evidenció linderos, en el área de manejo, tal como se puede apreciar en la siguiente imagen:
            <br /><br />
            [INDICAR IMAGEN]
        </span>
    </li>
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente y
        {{if informe.COD_TIPO_INFORME == 1}}
        siendo que los descargos presentados por el administrado
        {{/if}}
        no desacreditan los hechos que sustentan la imputación, se confirma que el titular cometió la infracción tipificada en el literal XXXXXXXX.
    </li>
</ol>
