<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Demostrar el origen legal de los productos aprovechados, así como movilizar los frutos, productos y subproductos con los documentos autorizados para el transporte.
            </td>
            <td style="border: 1px solid #000;">
                Literales k) y r) del numeral 43.1 del artículo 43 del RGF
                <a style="mso-footnote-id: foot_infraccion_g_1" href="#_foot_infraccion_g_1" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>.
                <br />
                (Indicar si el TH también contiene la obligación)
            </td>
            <td style="border: 1px solid #000;">
                Literal g) del numeral 207.2 del artículo 207 del RGF/ Numeral 16 del Anexo 1 del RISMFFS
                <br /><br />
                <i>
                    “Incumplir con las obligaciones o condiciones establecidas en los títulos habilitantes, planes de manejo u otros actos administrativos, diferentes a las causales de caducidad”.” / “Incumplir con las obligaciones legalmente establecidas en los títulos habilitantes, planes de manejo u otros actos administrativos, diferentes a las causales de caducidad”
                </i>
            </td>
        </tr>
    </tbody>
</table>
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, el administrado presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el titular, se advierte el siguiente análisis:
            <br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo
            {{if informe.COD_TIPO_INFORME == 1}}
            y del análisis de los descargos,
            {{/if}}
            ha quedado acreditado lo siguiente:
            <br /><br />
            <ul>
                <li>
                    <span>
                        Existe un volumen movilizado de XX correspondiente a la especie XX que no fue declarado ante la autoridad forestal competente, de acuerdo al siguiente detalle:
                        <br /><br />
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Especie supervisada
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Árboles aprobados
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Árboles supervisados
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Estado de los árboles en campo
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen movilizado en el Balance de Extracción
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen movilizado advertido en campo
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen no declarado
                                    </th>
                                </tr>
                            </thead>                            
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                    <td style="border: 1px solid #000; text-align: center;">XX</td>
                                </tr>
                            </tbody>                            
                            <tfoot>
                                <tr style="background-color: #bfbfbf;">
                                    <td style="border: 1px solid #000; text-align: center;" colspan="6">
                                        Total
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;">
                                        XX
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </span>
                </li>
                <li>
                    El administrado no cumplió con declarar el volumen aprovechado XX de las especies XX realizado en el marco de su plan de manejo, a través de las Guías de Transporte Forestal, ante el puesto de control correspondiente; a pesar que la fecha límite para efectuar la movilización y consecuente declaración fue hasta el XX de XX del 20XX, fecha de término de vigencia del plan de manejo conforme a lo señalado en la cláusula XX del título habilitante Nº XX.
                </li>
                <li>
                    Se imposibilitó acciones de control y vigilancia por parte de la autoridad forestal competente; acciones destinadas, entre otros, a la verificación del origen legal de la madera movilizada o transportada en el ámbito de su jurisdicción
                    <a style="mso-footnote-id: foot_infraccion_g_2" href="#_foot_infraccion_g_2" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>.
                </li>
            </ul>
        </span>
    </li>
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente y
        {{if informe.COD_TIPO_INFORME == 1}}
        siendo que los descargos
        {{/if}}
        presentados no desacreditan los hechos que sustentan la imputación, se confirma que el administrado cometió la infracción tipificada en el literal XXXXXXXX.
    </li>
</ol>