
<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Literal c) y d) del numeral 207.3 del artículo 207 del RGF/ Numeral 18 y 19 del Anexo 1 del RISMFFS.
                <br /><br />
                <i>
                    “Realizar el cambio de uso de la tierra, sin contar con autorización” / “Realizar el desbosque, sin contar con autorización” / Realizar actividades con fines agropecuarios en tierras de capacidad de uso mayor forestal o de protección / Realizar el retiro de cobertura vegetal cuando no esté permitido por la legislación o no se cuente con la autorización correspondiente.
                </i>
            </td>
            <td style="border: 1px solid #000;">
                Cumplir con la implementación del plan de manejo aprobado.
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, la administrada presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo
            {{if informe.COD_TIPO_INFORME == 1}}
            y del análisis de los descargos,
            {{/if}}
            ha quedado acreditado lo siguiente:
            <br /><br />
            <ul>
                <li>
                    <span>
                        Existe pérdida de bosque de XX hectáreas, ocurridas en el tiempo de vigencia del plan de manejo, conforme al cuadro e imágenes siguientes: (incluir imágenes de la supervisión y satelitales).
                        <br /><br />
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%; margin: 0 0 0 -30px;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        N°
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        Evaluación
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" colspan="2">
                                        Coordenadas UTM, Datum
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        Afectación a la cobertura boscosa (ha)
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        Descripción
                                    </th>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;" colspan="2">
                                        WGS 84 / Zona 18 S
                                    </th>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Este
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Norte
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">1</td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    El retiro de cobertura forestal se realizó por actividades de agricultura/ganadería/minería lo que implica cambio de uso / desbosque no autorizado.
                </li>
                <li>
                    En ese contexto, de acuerdo a lo señalado precedentemente
                    {{if informe.COD_TIPO_INFORME == 1}}
                    y siendo que el administrado no presentó descargos
                    {{/if}}
                    que desacrediten los hechos que sustentan la imputación, se confirma que el administrado cometió la infracción tipificada en el literal XXXXXXXXX.
                </li>
            </ul>

        </span>
    </li>
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente
        {{if informe.COD_TIPO_INFORME == 1}}
        y siendo que los descargos presentados
        {{/if}}
        no desacreditan los hechos que sustentan la imputación, se confirma que la administrada cometió la infracción tipificada en el literal XXXXXXXX.
    </li>
</ol>