<h5><strong>Sobre las causales de caducidad imputadas</strong></h5>
<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Literal “b” del numeral 207.1 del artículo 207 del RGF / Numeral 2 del Anexo 1 del RISMFFS.
                <br /><br />
                <i>“Incumplir con la presentación del Informe de ejecución en los plazos establecidos en el Reglamento y las normas complementarias” / “No entregar o presentar información o documentación legalmente exigible en el plazo previsto, o cuando la autoridad competente lo requiera” </i>
            </td>
            <td style="border: 1px solid #000;">
                El administrado no cumplió con la presentación del Informe de Ejecución correspondiente al periodo XX-20XX, dentro del plazo establecido en la norma.
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, el administrado presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el titular, se advierte el siguiente análisis:
            <br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, ha quedado acreditado lo siguiente:
            <br /><br />
            <ul>
                <li>
                    El plan de manejo aprobado tenía una vigencia de un año, desde el XX de XX hasta el XX de XX de 20XX (considerando la ampliación del plazo de ejecución de los planes de manejos aprobados por las autoridades forestales competentes, de ser el caso), por lo que el administrado tenía plazo hasta el XX de XX de 20XX aproximadamente, para presentar ante la ARFFS y al OSINFOR el informe de ejecución, conforme a lo establecido en el artículo 66 del RGF.
                </li>
                <li>
                    No obstante, de la revisión del Sistema de Trámite Documentario- SITD del OSINFOR, se advierte que el administrado hasta la fecha de emisión del presente informe, no ha presentado, el informe de ejecución de XX, incumpliendo con la obligación establecida en el literal b) del numeral 43.1 del artículo 43 concordante con el artículo 66 del RGF.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente y
        {{if informe.COD_TIPO_INFORME == 1}}
        siendo que los descargos
        {{/if}}
        presentados no desacreditan los hechos que sustentan la imputación, se confirma que el administrado cometió la infracción tipificada en el literal XXXXXXXX.
    </li>
</ol>