<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" id="contenedorPMD">
        <div class="modal-header text-small" style="cursor:move;padding:0.5rem;">
            <h5 id="tituloModalPM" class="modal-title">Agregar Plan de Manejo - PASPEQ  <strong id="strPeriodo"></strong>  OD: <strong id="strSede"></strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="divPlanManOrdiAdd">
            <input type="hidden" id="hdTipoSupervision" value="@ViewBag.tipoSupervision" />
            <div class="row">
                <div class="table-responsive">
                    <table id="tbPlanManejoSelect" class="table table-hover table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th title="Seleccionar">S</th>
                                <th>N°</th>
                                <th>Título habilitante</th>
                                <th>POA</th>
                                <th>Titular</th>
                                <th>Oportunidad</th>
                                <th>Puntaje</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info btn-sm" onclick="_pmDet.fnSave()" title="Agregar Items Seleccionados">
                Agregar
            </button>
            <button type="button" class="btn btn-outline-info btn-sm" data-dismiss="modal" title="Cancelar">
                Cancelar
            </button>

        </div>
    </div>
</div>
<script type="text/javascript">
    var _pmDet = {
        fnBuildTable: () => {
            let columns = [
                {
                    "data": "", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row, meta) {
                        return '<div class="custom-control custom-checkbox"><input type="checkbox" class="chkSelect custom-control-input" id="chkAdd_' + meta.row + '"><label class="custom-control-label" for="chkAdd_' + meta.row + '"></label></div>';
                    }
                },
                {
                    "name": "ROW_INDE", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row, meta) {
                        return parseInt(meta.row) + 1 + meta.settings._iDisplayStart;
                    }
                },

                { "data": "th", "autoWidth": true },
                { "data": "planManejo", "autoWidth": true },
                { "data": "titular", "autoWidth": true },
                {
                    "data": "", "width": "25%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<select class="csOportunidad form-control form-control-sm" ><option value="0">Ninguno</option><option value="1">Antes de la extracción</option><option value="2">Durante la extracción</option><option value="3">Posterior al aprovechamiento</option></select>';
                    }
                },
                { "data": "puntaje", "autoWidth": true }
            ];
            _pmDet.dt = $("#tbPlanManejoSelect").DataTable({
                processing: true,
                serverSide: false,
                searching: true,
                ordering: false,
                //paging: true,
                //"bPaginate": true,
                ajax: {
                    "url": urlLocalSigo + "Focalizacion/PlanTrabajo/PlanManejoCalificadoListar",
                    "data": function (d) {
                        d.codPlanTrabajo = _pmDet.frmPadre.find("#idPlanTrajo").val().trim();
                        d.tipoSupervision = $("#divPlanManOrdiAdd").find("#hdTipoSupervision").val();
                    },
                    "error": function (jqXHR) {
                        utilSigo.unblockUIGeneral();
                        utilSigo.toastError("Error", "Sucedio un error");
                    },
                    "statusCode": {
                        203: () => { utilSigo.unblockUIGeneral(); utilSigo.toastInfo("Aviso", "El usuario perdio la sesión. Vuelva ingresar al sistema"); }
                    }
                },
                columns: columns,
                bInfo: true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "aaSorting": [],
                "pageLength": 10,
                // "displayStart": optDt.iStart,
                "oLanguage": initSigo.oLanguage,
                "drawCallback": initSigo.showPagination
            });
        },
        fnGetData: () => {
            let model = [];
            let codPlanId = _pmDet.frmPadre.find("#idPlanTrajo").val().trim();
            $.each(_pmDet.dt.$("tr"), function (i, o) {
                if ($(o).find(".chkSelect").is(":checked")) {
                    let data = _pmDet.dt.row($(o)).data();
                    model.push(
                        {
                            idPlanTrajo: codPlanId ,
                            codPlan: data.codPlan,
                            codSecuencial: data.codSecuencial,
                            //tipoSupId: 4,//4 - Ordinaria , 16 - Ordinaria X Demanda
                            tipoSupId:data.tipoSupervision,
                            oportunidadSupId: parseInt($(o).find(".csOportunidad").val())
                        }
                    );
                }
            });
            return model;
        },
        fnSave: () => {
            let model = _pmDet.fnGetData();
            if (model.length <= 0) {
                utilSigo.toastWarning("Aviso", "No existe Items seleccionado");
                return false;
            }  
            utilSigo.dialogConfirm("", "Está seguro de continuar con la operación?", function (r) {
                if (r) {
                    let url = urlLocalSigo + "Focalizacion/PlanTrabajo/PlanDetGuardar";
                    let option = { url: url, datos: JSON.stringify(model), type: 'POST' };
                    utilSigo.fnAjax(option, function (data) {
                        if (data.success) {
                            utilSigo.toastSuccess("Éxito", data.msj);
                            planT.dt.ajax.reload();                        
                            $("#mdlAddPlanManejoOrd").modal('hide');
                            //Limpiando html calificacion de especies
                            planT.frm.find("#hdCodTH").val('');
                            planT.frm.find("#hdNumPoa").val('');
                            planT.frm.find("#detTH").val('');
                            planT.frm.find("#detModalidad").val('');
                            planT.frm.find("#detPM").val('');
                            $("#divMuestraMinima").html('');
                            $("#divCalEspecie").html('');
                            $("#divGeneralEspecies").hide();
                        }
                        else {
                            utilSigo.toastWarning("Aviso", data.msj);
                        }
                    });
                }
            });
        }
    }
    $(document).ready(function () {
        _pmDet.frm = $("#contenedorPMD");
        _pmDet.frmPadre = $("#frmPlanT_General");        
        _pmDet.frm.find("#strPeriodo").text(_pmDet.frmPadre.find("#ddlPeriodoId").select2("val"));
        _pmDet.frm.find("#strSede").text(_pmDet.frmPadre.find("#ddlIODId").select2("data")[0].text);  
        _pmDet.fnBuildTable();
       
    });
</script>
