<!DOCTYPE html>
<head>
    <title>HISTORIAL TH - OSINFOR</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="description" content="Historial del Título Habilitante - OSINFOR">
    <meta name="keywords" content="OSINFOR, HISTORIAL TH">
    <meta name="author" content="OSINFOR">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <script type="text/javascript" src="~/Scripts/jquery-3.1.0.min.js"></script>

    <link rel="stylesheet" href="~/Styles/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Styles/css/AdminLTE.min.css">
    <script type="text/javascript" src="~/Styles/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Styles/css/login.css">
    <style type="text/css">
        #DivMensaje {
            margin-left: 0 !important;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="~/Styles/js/jquery.dataTables.js"></script>
    <script src="~/Styles/js/dataTables.bootstrap.js"></script>
    <link rel="stylesheet" href="~/Styles/css/dataTables.bootstrap.min.css">
    <link rel="icon" type="image/png" href="~/Images/logo.png" />
    @* Segmento paa el registro de la Actividad en Google Analytics *@
    <script type="text/javascript">

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65154549-4', 'auto');
        ga('send', 'pageview');

        $(document).ready(function () {
            // DOM ready
        });
    </script>
    @*Estilos para el formulario*@
    <style type="text/css">
        .ui-corner-all {
            -moz-border-radius: 4px 4px 4px 4px;
        }

        .ui-widget-content {
            border: none;
            color: green;
            background-color: greenyellow;
        }

        .ui-widget {
            font-family: Verdana,Arial,sans-serif;
            font-size: 12px;
        }

        .ui-menu {
            display: block;
            float: left;
            list-style: none outside none;
            margin: 20px;
            padding: 2px;
        }

        .ui-autocomplete {
            cursor: default;
            position: absolute;
        }

        .ui-menu .ui-menu-item {
            clear: left;
            float: left;
            margin: 0;
            padding: 0;
            width: 100%;
        }

            .ui-menu .ui-menu-item a {
                display: block;
                padding: 3px 3px 3px 3px;
                text-decoration: none;
                cursor: pointer;
                background-color: white;
            }

                .ui-menu .ui-menu-item a:hover {
                    display: block;
                    padding: 3px 3px 3px 3px;
                    text-decoration: none;
                    color: White;
                    cursor: pointer;
                    background-color: ButtonText;
                }

        .ui-widget-content a {
            color: #045609;
        }
    </style>
</head>
<body>
    <section>
        @RenderBody()
    </section>
</body>
