
@model dynamic
@{
    Layout = null;
}
<script type="text/javascript">
    var _renderIncisos ={}
    $(document).ready(function () {
        $("[id*=btnAddInfracciones]").click(function () {
            var value = [];
            $("[id*=chkIncisos] input:checked").each(function () {
                value.push($(this).attr('value'));
            });

            if (value.length > 0 ) {
                $.ajax({
                    url: '@Url.Action("agregarInfracciones","InformeLegal")',
                    type: 'POST',
                    datatype: "json",
                    traditional: true,
                    data: { 'infracciones': value },
                    success: function (data) {
                        $('div#divInfracciones').html(data);
                    }
                });
            }
            else {
                if (value.length == 0) {
                    alert("Seleccion una infracción");
                }
            }
        });
    });
</script>
<div style="width: 100%;">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="chkPrimeraVisita" class="text-small">Inciso</label>
        </div>
        <div class="form-group col-md-12">
            <div id="chkIncisos" class="container">
                @if (Model.listaIncisos != null)
                {
                    <ul class="list-group list-group-horizontal">
                        @foreach (var item in Model.listaIncisos)
                        {
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="check" value="@item.Value">
                                        @item.Text
                                    </label>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
            <br>
            <button type="button" id="btnAddInfracciones" class="btn btn-info btn-sm"> Agregar Infracción</button>
        </div>
    </div>
</div>
