
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/Areas/Tribunal/js/ManTribunal/Index.js"></script>

<form id="frmManResodirec">
    @Html.Hidden("tipoFormulario", (object)ViewBag.Formulario)
    @Html.Hidden("titleMenu", (object)ViewBag.TituloFormulario)
    @Html.Hidden("alertaFormulario", (object)ViewBag.AlertaInicial)

    <div id="dvManResolucionContenedor" class="container-fluid"></div>
</form>

<div class="modal fade hide" id="mdIL_ListOpciones" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                Tipo de Resolucion Directoral*
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.DropDownList("ddlManResolucionOpcionesId", new SelectList(ViewBag.ddlListOpciones, "Value", "Text"), new { @class = "form-control form-control-sm" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="ManResolucion.fnNuevaCN()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
