<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        De acuerdo al Numeral 4 del artículo 255 del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS (en adelante, TUO de la Ley N° 27444), Con el respectivo descargo o sin él, la autoridad que instruye el procedimiento realizará todas las actuaciones necesarias para la evaluación de los hechos, a fin de determinar, en su caso, la existencia de responsabilidad susceptible de sanción; a continuación se analizará las imputaciones formuladas, a fin de acreditar o no su comisión.
    </li>
</ol>

{{if FLG_CUESTION_PREVIA}}
<h5><u><strong>Cuestión previa: Rectificación de error material</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Antes de efectuar el análisis correspondiente al PAU iniciado al/la concesionario/a, es necesario señalar que, (detallar el error material identificado), siendo lo correcto XXXXXX XXXXXXX XXXXXXXXXX. Por lo tanto, se procede a realizar una rectificación de error material
        <a style="mso-footnote-id: foot_cuestion_previa" href="#_foot_cuestion_previa" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
    </li>
    <li>
        <span>
            A mayor abundamiento, con relación a lo expuesto precedentemente, la doctrina señala que:
            <p style="padding-left: 30px; font-style: italic;">
                “(…) Los errores materiales para poder ser rectificados por la Administración deben, en primer lugar, evidenciarse por sí solos sin necesidad de mayor razonamiento, manifestándose por su sola contemplación. En segundo lugar, el error debe ser tal, que para su rectificación solamente sea necesario un mero cotejo de datos que indefectiblemente se desprendan del expediente administrativo y que, por consiguiente, no requieran de mayor análisis. Asimismo, estos errores se caracterizan por ser de carácter intranscendente por dos razones; de un lado, no conllevan a la nulidad del acto administrativo en tanto no constituyan vicios de este y de otro lado, no afectan al sentido de la decisión o la esencia del acto administrativo mismo (…)
                <a style="mso-footnote-id: foot_moron_urbina" href="#_foot_moron_urbina" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>
            </p>
        </span>
    </li>
    <li>
        En el presente caso, corresponde enfatizar que, si bien no se puede soslayar la existencia del error descrito, también se debe considerar que ello no condiciona o afecta el sentido de lo resuelto mediante acto administrativo, en tanto que el análisis y la valoración jurídica no sufrieron ninguna variación y que no se ha vulnerado el debido proceso que le asiste al concesionario.
    </li>
    <li>
        En esa línea, teniendo en consideración la información precisada en los considerandos que preceden, se realizará el análisis correspondiente en la presente resolución.
    </li>
</ol>
{{/if}}

{{if FLG_REC_RESPONSABILIDAD}}
<h5><u><strong>Sobre el reconocimiento de responsabilidad</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL}; ">
    <li>
        <span>
            Mediante Escrito/Carta, de fecha ${ANTECEDENTES_DOCS.Escrito.fechaNotificacionTexto || ANTECEDENTES_DOCS.Carta.fechaNotificacionTexto || 'XX de XXXX de XXXX'}, ingresado al OSINFOR el ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'} con Registro N° ${ANTECEDENTES_DOCS.Escrito.numero || ANTECEDENTES_DOCS.Carta.numero || 'XXXX'}, el/la concesionario/a reconoce su responsabilidad en la comisión de las infracciones imputadas, señalando lo siguiente:
            <p style="padding-left: 30px; font-style: italic;">
                “Describir lo expuesto por el/la concesionario/a”.
            </p>
        </span>
    </li>
    <li>
        En ese escenario, se debe precisar que, conforme al literal a) del numeral 2 del artículo 257 del TUO de la Ley N° 27444, la aceptación de la responsabilidad de la conducta imputada en el presente PAU, constituye condición atenuante de responsabilidad en tanto que su reconocimiento fue expreso y por escrito; por lo tanto, las consecuencias jurídicas de dicha aceptación serán analizadas a mayor profundidad en los siguientes numerales de la presente resolución, con la finalidad de establecer el valor de la multa a imponer, pues con el reconocimiento de su responsabilidad la sanción de multa a aplicar se reduce hasta un monto no menor de la mitad de su importe.
    </li>
    <li>
        Respecto al reconocimiento de la responsabilidad
        <a style="mso-footnote-id: foot_rec_resp" href="#_foot_rec_resp" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        , el autor Morón Urbina
        <a style="mso-footnote-id: foot_moron_urbina_2" href="#_foot_moron_urbina_2" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        señala que el reconocimiento de responsabilidad debe reunir los siguientes requisitos:
        <div style="padding-left: 30px; font-style: italic;">
            <strong>De oportunidad:</strong>
            <div>El reconocimiento debe efectuarse en el marco de un procedimiento administrativo sancionador (…). En este punto es pertinente plantear si el reconocimiento solo será válido como respuesta a la imputación de cargos o puede también en cualquier momento durante el trámite del procedimiento administrativo sancionador. En tanto la ley no ha precisado, limitar la oportunidad del reconocimiento a un determinado momento o etapa del procedimiento administrativo sancionador sería establecer una condición menos favorable al administrado, cuestión que se encuentra prohibida por la LPAG. En ese sentido deberá entenderse que el administrado puede formular el reconocimiento de la responsabilidad sobre las conductas infractoras que se le imputan y surtirá efectos en el monto de la sanción hasta el momento en que se emita la resolución de sanción.</div>
            <strong>De forma:</strong>
            <div>El reconocimiento de responsabilidad sobre las conductas infractoras imputadas debe seguir la forma prevista por la LPAG, esto es, que sea escrita y expresa. En ese sentido, no será un reconocimiento válido aquel que se emita de manera verbal, por lo que se requiere una comunicación por parte del administrado en la que señale, de manera indubitable, el reconocimiento de responsabilidad sobre las imputaciones formuladas por la autoridad administrativa. En esa línea no debe existir vaguedad ni ambigüedad en la declaración del administrado; el reconocimiento debe ser inequívoco, sin que pueda generarse duda alguna sobre el sentido que expresa”.</div>
        </div>

    </li>
    <li>
        En atención a lo antes señalado, <strong>el concesionario ha reconocido su responsabilidad de forma expresa, por escrito y sin ninguna ambigüedad</strong>, respecto a las infracciones cuya comisión se le imputó en la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}; concluyéndose que su reconocimiento de responsabilidad reviste las formalidades previstas en la norma para considerarlo como tal, lo que constituye condición atenuante de responsabilidad.
    </li>
    <li>
        <span>
            Ahora bien, el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre (en adelante, RISMFFS), aprobado por Decreto Supremo N° 007-2021-MIDAGRI, establece en el numeral 8.4 de artículo 8 que, si iniciado un procedimiento administrativo sancionador el sujeto infractor reconoce su responsabilidad administrativa de forma expresa y por escrito, la multa aplicable puede reducirse hasta:
            <ol style="list-style-type:lower-alpha" start="1">
                <li>Un 50%, si reconoce su responsabilidad desde el inicio del procedimiento administrativo sancionador hasta la presentación de los descargos a la imputación de cargos.</li>
                <li>Un 25%, si reconoce su responsabilidad luego de presentados los descargos a la imputación de cargos hasta antes de la expedición de la resolución final.</li>
            </ol>
        </span>
    </li>
    <li>En esa línea, el/la concesionario/a ha reconocido su responsabilidad mediante el escrito/carta presentado/a el ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'}, es decir, dentro del plazo para la presentación de los descargos a las imputaciones efectuadas mediante el/la Escrito/Carta N° ${ANTECEDENTES_DOCS.Escrito.numero || ANTECEDENTES_DOCS.Carta.numero || 'XXXX'}, de fecha ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'}, ingresado al OSINFOR el ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'} con Registro N° ${ANTECEDENTES_DOCS.Escrito.numero || ANTECEDENTES_DOCS.Carta.numero || 'XXXX'}, siendo de aplicación el primer supuesto antes mencionado, aspecto que será considerado cuando se realice cálculo de la multa en los considerandos siguientes.</li>
</ol>
{{/if}}

{{if INFRACCIONES.length}}
<h5><u><strong>Sobre las infracciones imputadas</strong></u></h5>

{{each(i, infra) INFRACCIONES}}
<div>
    <ol style="list-style-type: lower-alpha; margin-left: ${MARGIN_LEFT.OL};" start="${i + 1}">
        <li><strong>${infra.titulo}</strong></li>
    </ol>
    {{html infra.parrafos}}
</div>
{{/each}}

{{/if}}

{{if FLG_GRAVEDAD_RIESGO}}
<h5><u><strong>Determinación de la gravedad y/o riesgo generado</strong></u></h5>
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #000;"><strong>Normativa</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Análisis</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                “Criterios para estimar la gravedad del daño por la comisión de infracciones en materia forestal”, aprobado por Resolución de Jefatura Nº 059-2019-OSINFOR.
            </td>
            <td style="border: 1px solid #000;">
                <div>
                    Conforme a los resultados del Informe de Supervisión, la extracción de XX m3 de madera provenientes de árboles no autorizados, representa una afectación de XX hectáreas (XX hectáreas/m3 no autorizado) de nivel XX a la cobertura boscosa, la cual forma parte del Patrimonio Forestal Nacional.
                </div>
                <div>
                    Cabe señalar que, las especies en cuestión no se encuentran incluidas en la lista de Clasificación Oficial de Especies Amenazadas de Flora Silvestre, aprobada mediante Decreto Supremo N° 043-2006-AG
                    <a style="mso-footnote-id: foot_decreto_supremo_1" href="#_foot_decreto_supremo_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>.
                </div>
            </td>
        </tr>
    </tbody>
</table>

<h5><u><strong>Afectación al patrimonio forestal</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL}; ">
    <li>
        Exponer las acciones dañosas advertidas en el marco de los Criterios SGC-M1-CRI-001-V.02 “Criterios para estimar la gravedad del daño por la comisión de infracciones en materia forestal” , o la que lo sustituya.
    </li>
</ol>
@*<p style="text-align: center;">
        <strong>Cuadro N° XX.</strong> Gravedad del daño al patrimonio forestal por actividad
    </p>*@
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #000;"><strong>Actividad</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Unidad de medida</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Cantidad</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Superficie afectada (ha)</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Nivel de gravedad<sup>*</sup></strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">a) Extracción no autorizada</td>
            <td style="border: 1px solid #000; text-align: center;">m<sup>3</sup></td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">b) Actividad agrícola y/o pecuaria</td>
            <td style="border: 1px solid #000; text-align: center;">ha</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">c) Retiro de cobertura boscosa</td>
            <td style="border: 1px solid #000; text-align: center;">ha</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">d) Minería</td>
            <td style="border: 1px solid #000; text-align: center;">ha</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; text-align: center;" colspan="4"><strong>Total</strong></td>
            <td style="border: 1px solid #000;"></td>
        </tr>
    </tbody>
</table>
<div style="font-size: 8pt;">
    <div><strong>Fuente:</strong> Supervisión al PMF (número)</div>
    <div>* Leve, grave, muy grave</div>
</div>
{{/if}}

{{if FLG_SANCION}}
<h5>
    <u>
        <strong>
            <span>Sobre la imposición de sanción</span>
            <a style="mso-footnote-id: foot_sancion_titulo" href="#_foot_sancion_titulo" title="">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>, atenuantes y agravantes
        </strong>
    </u>
</h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        <span>De acuerdo con el reporte de antecedentes</span>
        <a style="mso-footnote-id: foot_reporte_antecedentes" href="#_foot_reporte_antecedentes" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a> de fecha XX, se advierte que, el/la Titular no fue sancionada anteriormente por el OSINFOR, y no se identifican agravantes y atenuantes aplicables, en consecuencia, las infracciones acreditadas son pasibles de ser sancionadas de la siguiente manera:
    </li>
</ol>
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #000;"><strong>Infracción</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Sanción</strong></th>
        </tr>
    </thead>
    <tbody>
        {{each(i, infra) INFRACCIONES}}
        <tr>
            <td style="border: 1px solid #000;">
                Numeral "${infra.inciso}" del Anexo 1 del RISMFFS.<br />
                ${infra.titulo}
            </td>
            <td style="border: 1px solid #000; width: 40%; text-align: center; ">
                ${infra.rangoSancion || 'XX UIT'}
            </td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td style="border: 1px solid #000; text-align: center;">
                <strong>Total Sanción de Multa</strong>
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                <strong>${SANCION_UIT || 'XX'} UIT</strong>
            </td>
        </tr>
    </tfoot>
</table>

{{if FLG_REINCIDENCIA}}
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        <span>
            En virtud de lo expuesto y considerando establecido en el literal e)  del ítem 3 del artículo 248 del TUO de la Ley del Procedimiento Administrativo General - Ley N° 27444, se advierte que la administrada tiene la calidad de reincidente, condición que deberá tenerse al momento de imponerse una sanción de acuerdo al siguiente detalle:
            <ul>
                <li>
                    Con relación a las sanciones el /la administrada/o es reincidente por la infracción tipificada en el numeral XX relacionada a la implementación del Libro de operaciones, toda vez que considerando la fecha de finalización de vigencia del plan de manejo (XX – XX ) del presente caso, se deduce que la administrada ya contaba con la obligación de la implementación del Libro de operaciones después que quedaran firmes las resoluciones de sanción descritas anteriormente.
                </li>
                <li>
                    Con relación a la primera y segunda sanción la administrada no es reincidente por la infracciones tipificadas en los literales XX del XX , toda vez que, para el presente caso, se advierte de la Forma 20, que la fecha última de movilización (GTF – XX) de la especie XX (especie materia de sanción) fue realizado el XX, por lo cual tomando en cuenta la fecha de notificación de las resoluciones de sanción descritas anteriormente, se deduce que la el /la administrada/o realizó el aprovechamiento antes que quedaran firmes las citadas resoluciones.
                </li>
            </ul>
        </span>
    </li>
</ol>
{{/if}}

{{/if}}

<h5><u><strong>De las medidas correctivas</strong></u></h5>
{{if FLG_MEDIDA_CORRECTIVA}}
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Es preciso indicar que “La imposición de una medida correctiva pretende educar y corregir la distorsión en el ambiente, precisamente porque de lo que se trata es revertir, o disminuir en lo posible, el efecto nocivo que la conducta infractora hubiera podido producir en el ambiente, los recursos naturales y la salud de las personas”, lo que se condice con lo establecido en el numeral 5.09 del artículo 5 del Reglamento del PAU del OSINFOR, en concordancia con el literal l) del numeral 5 (Definiciones) de los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR”, aprobado mediante Resolución de Jefatura  N° 00055-2020-OSINFOR/01.1, de fecha 30 de diciembre de 2020, publicada en el Diario Oficial “El Peruano”, con fecha 02 de enero de 2021.
    </li>
    <li>
        Al respecto, corresponde analizar si resulta viable dictar la medida correctiva por la extracción no autorizada de XX.XX m3 de madera, incluido el/los individuos semilleros y fuera del censo comercial, así como por el retiro de la cobertura forestal de X.XXX hectáreas.
    </li>
    <li>
        En el presente caso, la medida correctiva a aplicar será de mitigación, mediante el manejo de regeneración natural o el establecimiento de plantaciones forestales; respecto a por la extracción no autorizada de XX.XX m3 de madera, los cuales se desconoce el número de árboles extraídos, incluido el/los individuos semilleros y fuera del censo comercial, así como por el retiro de la cobertura forestal de X.XXX hectáreas.
    </li>
    <li>
        Al respecto, del análisis técnico del cumplimiento de los criterios para disponer una medida correctiva, se desprende las siguientes condiciones:
    </li>
</ol>

<ul style="margin-left: 0;">
    <li>
        <div>
            <div>
                <strong>Identificación del aprovechamiento no autorizado, dentro y fuera del área de la concesión, así como del retiro de cobertura forestal</strong>
            </div>
            <div>Respecto a esta condición, se advierte técnicamente la extracción no autorizada de X.XX m3, correspondiente a X árbol(es) fuera del censo comercial/semilleros de la(s) especie(s) XXXXXXXXXXXXXXX.</div>
            <div>Asimismo, se advierte el volumen injustificado de X.XX m3, correspondiente a la(s) especie(s) XXXXXXXXXXXXXXX.</div>
            <div>En adición a lo anterior, se verificó el retiro de la cobertura forestal de X.XXX hectáreas.</div>
        </div>
    </li>
    <li>
        <span>
            <strong>El lugar donde se dispone se realiza sobre el lugar de la extracción no autorizada</strong><br />
            Respecto a esta condición, se ha advertido la ubicación de la extracción no autorizada de los individuos anteriormente señalados (fuera del censo y de los semilleros), así como la presencia de claros en el área concesionada para el volumen injustificado, y se tiene plenamente identificado el área de retiro de cobertura forestal, conforme el siguiente detalle:<br />
        </span>
    </li>
</ul>

<div style="text-align: center;">
    <strong>Cuadro N° XX: Ubicación de la extracción no autorizada</strong>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; border-collapse: collapse;">
    <thead>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">N°</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Especie</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Estado</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Volumen (m<sup>3</sup>)</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">N° de individuos</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Ubicación</th>
        </tr>
    </thead>
    <tbody>
        {{each(i, item) [1,2,3]}}
        <tr>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;">${i + 1}</td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div style="text-align: center; font-size: 8.5pt; margin-top: 0;">
    <strong>Fuente:</strong> Elaboración propia en base al Informe de Supervisión N° ${ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXXX-XXXX-OSINFOR/08.1.1'}
</div>
<div style="text-align: center; margin-top: 15px;">
    <strong>Cuadro N° XX: Ubicación de retiro de cobertura vegetal</strong>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; border-collapse: collapse;">
    <thead>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="2">N°</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" colspan="2">Coordenada UTM</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="2">Observación</th>
        </tr>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Este</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Norte</th>
        </tr>
    </thead>
    <tbody>
        {{each(i, item) [1]}}
        <tr>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;">${i + 1}</td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px; "></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div style="text-align: center; font-size: 8.5pt; margin-top: 0;">
    <strong>Fuente:</strong> Elaboración propia en base al Informe de Supervisión N° ${ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXXX-XXXX-OSINFOR/08.1.1'}
</div>

<ul style="margin-left: 0;">
    <li>
        <strong>La cantidad de individuos reponer, el diseño de la plantación y las especies</strong><br />
        Respecto a este criterio, se determinó técnicamente lo siguiente:<br />
    </li>
</ul>

<div style="text-align: center;">
    <strong>Cuadro N° XX: Número de individuos de regeneración natural a manejar referido a la extracción no autorizada</strong>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; border-collapse: collapse;">
    <thead>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Especie</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Volumen extraído (m<sup>3</sup>)</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Número de árboles extraídos sin autorización</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Número de individuos de regeneración natural a manejar o reponer</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" colspan="2">Ubicación de la mitigación</th>
        </tr>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" colspan="2">Coordenadas UTM (19S)</th>
        </tr>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Este</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Norte</th>
        </tr>
    </thead>
    <tbody>
        {{each(i, item) [1,2,3]}}
        <tr>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
        {{/each}}
        <tr style="background: #f0f0f0;">
            <td style="text-align: center; border: 1px solid #000; padding: 7px;">Total</td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
    </tbody>
</table>
<div style="text-align: center; font-size: 8.5pt; margin-top: 0;">
    <strong>Fuente:</strong> Elaboración propia en base a los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR”, aprobado por Resolución de Jefatura N° 00055-2020-OSINFOR/01.1
</div>
<div style="text-align: center; margin-top: 15px;">
    <strong>Cuadro N° XX: Número de individuos de regeneración natural a manejar referido al volumen injustificado</strong>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; border-collapse: collapse;">
    <thead>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Especie</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Volumen extraído (m<sup>3</sup>)</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" rowspan="3">Número de individuos de regeneración natural a manejar o reponer</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" colspan="2">Número de individuos de regeneración natural a manejar</th>
        </tr>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;" colspan="2">Coordenadas UTM WGS84</th>
        </tr>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Este</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Norte</th>
        </tr>
    </thead>
    <tbody>
        {{each(i, item) [1,2,3]}}
        <tr>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
        {{/each}}
        <tr style="background: #f0f0f0;">
            <td style="text-align: center; border: 1px solid #000; padding: 7px;">Total</td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
    </tbody>
</table>
<div style="text-align: center; font-size: 8.5pt; margin-top: 0;">
    <strong>Fuente:</strong> Elaboración propia en base a los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR”, aprobado por Resolución de Jefatura N° 00055-2020-OSINFOR/01.1
</div>
<div style="text-align: center; margin-top: 15px;">
    <strong>Cuadro N° XX: Cantidad de plantas a instalar en el área afectada</strong>
</div>
<table cellpadding="0" cellspacing="0" style="width: 100%; margin: 0; border-collapse: collapse;">
    <thead>
        <tr style="background: #f0f0f0;">
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">N°</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Especies</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Grupo ecológico</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Diseño</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">Distanciamiento</th>
            <th style="text-align: center; border: 1px solid #000; padding: 7px;">N° de plantones a instalar (aprox.)</th>
        </tr>
    </thead>
    <tbody>
        {{each(i, item) [1,2]}}
        <tr>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;">${i + 1}</td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px; "></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
            <td style="text-align: center; border: 1px solid #000; padding: 7px;"></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div style="text-align: center; font-size: 8.5pt; margin-top: 0;">
    <strong>Fuente:</strong>  Elaboración propia en base a los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR”, aprobado por Resolución de Jefatura N° 00055-2020-OSINFOR/01.1
</div>

<ul style="margin-left: 0;">
    <li>
        En ese sentido, habiéndose concluido en la fase de instrucción del presente PAU que la conducta infractora del/la concesionario/a ha generado un daño con un nivel de afectación “leve/grave/muy grave”), y considerando que se ha confirmado técnicamente la viabilidad de su aplicación, es necesario que se disponga la realización de las medidas correctivas destinadas a mitigar el impacto causado, determinándose como <strong>propuesta de plan de implementación de medidas correctivas, las que se detallan en el Anexo II del presente Informe.</strong>
    </li>
    <li>
        Por otro lado, cabe señalar que, de acuerdo al literal u) del numeral 43.1 del artículo 43 del RGF, los titulares tienen la obligación de cumplir con la implementación de las medidas correctivas y/o mandatos que se emitan como resultado de las acciones de control, supervisión y/o fiscalización ejecutadas por el OSINFOR.
    </li>
    <li>
        En esta directriz, el numeral 13 del Cuadro de infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS, establece que el incumplir con la implementación de las medidas correctivas, constituye una infracción grave, debiendo informarse que la supervisión de la medida adoptada, se encuentra a cargo de la Dirección de Supervisión Forestal y de Fauna Silvestre del OSINFOR
        <a style="mso-footnote-id: foot_DSFFS" href="#_foot_DSFFS" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>.
    </li>
</ul>

{{else}}
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Es preciso indicar que “La imposición de una medida correctiva pretende educar y corregir la distorsión en el ambiente, precisamente porque de lo que se trata es revertir, o disminuir en lo posible, el efecto nocivo que la conducta infractora hubiera podido producir en el ambiente, los recursos naturales y la salud de las personas”, lo que se condice con lo establecido en el numeral 5.09 del artículo 5 del Reglamento del PAU del OSINFOR, en concordancia con el literal l) del numeral 5 (Definiciones) de los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR”, aprobado mediante Resolución de Jefatura  N° 00055-2020-OSINFOR/01.1, de fecha 30 de diciembre de 2020, publicada en el Diario Oficial “El Peruano”, con fecha 02 de enero de 2021.
    </li>
    <li>
        Para el presente caso, corresponde analizar si resulta viable dictar la medida correctiva por la extracción no autorizada de XX.XX m3 de madera, los cuales, según lo dispuesto en los Criterios SGC-M1-CRI-004-V.01 “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre - OSINFOR”, aprobado mediante Resolución de Jefatura N° 00055-2020-OSINFOR/01.1.
    </li>
    <li>
        En ese sentido, al desconocer la ubicación de los árboles de donde provienen el producto forestal que fueron movilizados como injustificados y, además, al identificar durante el recorrido de la supervisión la no existencia de claros en el área concesionada/la existencia de áreas sin cobertura (potreros “pastizal” y pacal seco “antiguo”) con evidencias de la presencia de terceros, ello podría limitar la implementación o ejecución de medida correctiva a dictar. Para el presente caso, se  considera que, al no contar con áreas en condiciones adecuadas y en aplicación de los criterios para la disposición, seguimiento y verificación de las medidas correctivas y mandatos en materia forestal y de fauna silvestre del OSINFOR, donde entre otros estable que “el volumen maderable no justificado en el balance de extracción, forma 20 y/o guía de transporte forestal, la medida correctiva podrá ser aplicada de existir áreas deforestadas, claros de tala, bosques secundarios, entre otros, dentro de la UMF, evidenciados durante el recorrido de supervisión”, al no cumplir con dicho criterio, se determinó que no sería viable dictar una médica correctiva.
    </li>
</ol>
{{/if}}

{{if !FLG_MEDIDA_COMPLEMENTARIA}}
<h5><u><strong>De las medidas correctivas</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        En ese sentido, con la finalidad de eliminar o mitigar los efectos producidos por la comisión de la infracción acreditada en el presente procedimiento, tales como la posesión, el transporte o comercialización de los productos forestales provenientes de la extracción no autorizada, se evalúa la posibilidad de disponer como medida complementaria el decomiso de los productos forestales movilizados de forma no autorizada o que corresponden a volumen injustificado, conforme a lo establecido en el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI, publicado con fecha 12 de abril de 2021, el cual señala que de manera complementaria a la sanción a imponerse, puede aplicarse el decomiso de especímenes, productos o subproductos, que provengan de extracción no autorizada.
    </li>
    <li>
        Lo antes expuesto, también tiene como sustento legal lo regulado en el literal a.1 del numeral 9.1 del artículo 9 del RISMFFS; donde se señala que de manera complementaria a la sanción a imponerse, puede aplicarse el decomiso de especímenes, productos o subproductos, que provengan de extracción no autorizada.
    </li>
    <li>
        Asimismo, respecto al decomiso de los productos forestales por parte de la autoridad forestal se debe tomar en cuenta lo establecido en el artículo 4 del Decreto Legislativo N° 1085, mediante el cual se señala la participación de los actores involucrados en el sector forestal y de fauna silvestre.
    </li>
    <li>
        Por otro lado, es necesario indicar que, para poder dictar el decomiso del producto forestal maderable, este debe ser identificado plenamente, es decir, determinar las trozas o lote de madera que proviene de la extracción de individuos distintos a los autorizados, para este caso implica la revisión de las guías de transporte forestal, existe un volumen parcial injustificado que imposibilita diferenciar la madera que corresponderá a volumen justificado e injustificado. En consecuencia, no es posible recomendar emitir la mencionada medida de decomiso o incautación.
    </li>
    <li>
        Por tal motivo, del análisis del presente caso, se debe precisar que del informe de supervisión, así como el Balance de Extracción/Forma 20 que se encuentra en el expediente administrativo, se evidencia que desde la última movilización del recurso forestal que fue el XX de XXXXXXX de XXXX, hasta la fecha del presente Informe Final de Instrucción, ya habrían pasado más de XX días/meses aproximadamente, en el cual los recursos ya no estarían en circulación, así como también ya habrían sido transformados; en ese sentido, no sería razonable el determinar una eventual medida complementaria de decomiso.
    </li>
</ol>
{{else}}
<h5><u><strong>De las medidas cautelares dispuestas en la etapa de instrucción y de las medidas complementarias</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        <span>
            Se debe señalar que mediante la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se dispusieron medidas cautelares, las cuales fueron confirmadas mediante la Resolución Sub Directoral N° XXXXX-XXXX-OSINFOR/08.2.1, de fecha XX de XXXX de XXXX, conforme al siguiente detalle:
            <ul style="margin-left: 25px;">
                <li>
                    (Detallar las medidas correctivas dispuestas).
                </li>
                <li>
                    (Detallar las medidas correctivas dispuestas). Agregar el cuadro de incautación de productos forestales.
                </li>
            </ul>
        </span>
    </li>
    <li>
        Cabe precisar que, en aplicación del numeral 157.3 del artículo 157 del TUO de la Ley N° 27444, corresponde caducar de pleno derecho las medidas cautelares dispuestas en la resolución sub directoral de inicio del PAU cuando se emite la resolución que pone fin al procedimiento.
    </li>
    <li>
        Ahora bien, se debe señalar que el inciso a.1 del literal a) del numeral 9.1 del artículo 9 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, establece que, de manera complementaria a la sanción a imponerse, puede aplicarse el decomiso de especímenes, productos o subproductos forestales y de fauna silvestre sobre los que no pueda acreditarse su origen legal o provengan de operaciones de extracción, caza colecta o capturas no autorizadas.
    </li>
    <li>
        A través de Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, confirmada mediante la Resolución Sub Directoral N° XXXXX-XXXX-OSINFOR/08.2.1, de fecha XX de XXXX de XXXX (mediante la cual también se dispuso el inicio del PAU), se dictaron medidas cautelares, a fin de que la decisión final a emitirse en el presente procedimiento logre eficacia y se puedan salvaguardar los recursos que forman parte del patrimonio forestal que fue extraído sin autorización, suspendiéndose los efectos de las Guías de Transporte Forestal y correspondientes Listas de Trozas, del Plan de Manejo Forestal aprobado a favor del concesionario.
    </li>
    <li>
        De esta manera, corresponde dictar la medida complementaria de decomiso, con la finalidad de eliminar o mitigar los efectos producidos por la comisión de las infracciones acreditadas en el presente procedimiento, tales como el transporte o comercialización de los productos forestales provenientes de extracción no autorizada, conforme a lo detallado en el Anexo III del presente informe.
    </li>
    <li>
        Cabe indicar que la referida medida complementaria debe hacerse de conocimiento de la ARFFS, a fin de que lleve a cabo su ejecución; ello, teniendo en consideración que el numeral 15.2 del artículo 15 del RISMFFS, establece que el SERFOR, el OSINFOR y las ARFFS, deben colaborar entre sí, para la ejecución de las sanciones, medidas complementarias, medidas correctivas y medidas cautelares o provisionales, cuando se dispongan.
    </li>
</ol>
{{/if}}

{{if FLG_COMUNICACION_GORE}}
<h5><u><strong>Comunicación al GORE y/o otras autoridades</strong></u></h5>
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="border: 1px solid #000; text-align: center;"><strong>Entidad</strong></th>
            <th style="border: 1px solid #000; text-align: center;"><strong>Motivo</strong></th>
        </tr>
    </thead>
    <tbody>
        {{each(index, entidad) INSTITUCIONES}}
        <tr>
            <td style="border: 1px solid #000;">
                ${entidad}
            </td>
            <td style="border: 1px solid #000;">
                <div>
                    En ese sentido, corresponde comunicarle a ${entidad} el resultado y conclusión del presente procedimiento, a fin que, en el marco de sus competencias, ejecute lo siguiente:
                </div>
                <div>
                    - Exhorte el/la titular a cumplir las obligaciones en virtud al contrato de concesión.
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}
