<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Numeral 59.1 del artículo 59 del Reglamento 019-2015-MINAGRI.
            </td>
            <td style="border: 1px solid #000;">
                <div>
                    Numeral 7 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 2 del RISMFFS
                </div>
                <br />
                <i>
                    “No cumplir con notificar los nacimientos, muertes, fugas o cualquier situación que afecte a la población de fauna silvestre mantenida en el centro de cría en cautividad, dentro del plazo y conforme a las condiciones establecidas”
                </i>
            </td>
            <td style="border: 1px solid #000;">
                Se imputó contra el/la Titular ${infraccion.detalle || 'XX'}
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                ${informe.COD_TIPO_INFORME?'Si':'No'}
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

{{if informe.COD_TIPO_INFORME == 1}}
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        <span>
            Mediante el escrito, ingresado con fecha XX de XX de XXXX, con registro N° XX, la/el administrada/o presentó sus descargos contra la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, donde se advierten los siguientes argumentos que guardan relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
        <ul style="margin-left: 25px;">
            <li>
                Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
            </li>
            <li>
                Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
            </li>
            <li>
                Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
            </li>
        </ul>
    </li>
</ol>
{{/if}}

<div>
    En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, ha quedado acreditado lo siguiente:
</div>
<div>
    El/la administrada/o no ha informado el egreso de XX especímenes de Fauna Silvestre, los cuales corresponden a XX”.
</div>
<div>
    Por lo que en el presente caso, se evidencia que el/la administrada/o no ha informado el egreso de  XX, como se observa del Balance de ingresos y egresos, donde no se advierte la situación de estas especies; se debe precisar que la administrada presentó toda documentación que acredita la posesión de distintas especies, así como toda documentación sobre los egresos de las mismas; sin embargo, en ninguno de estos documentos se advierte la situación de los mencionados especímenes, por lo que al evidenciarse que la administrada debe poseer estas especies y al advertir que estas no se encontraron al momento de la supervisión, se puede concluir que el/la administrada/o no ha informado sobre el egreso de las especies antes citadas.
</div>
<br />
<table width="100%" cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">
                Espécimen
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Reporte Inf de Sup
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Egreso
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Motivo
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Balance documentario
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Supervisión OSINFOR
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Especie faltante
            </th>
        </tr>
    </thead>
    <tbody>
        {{each(a, b) [1,2,3,4,5,6]}}
        <tr>
            <td style="border: 1px solid #000; text-align: center;">XX</td>
            <td style="border: 1px solid #000; text-align: center;"></td>
            <td style="border: 1px solid #000; text-align: center;"></td>
            <td style="border: 1px solid #000; text-align: center;"></td>
            <td style="border: 1px solid #000; text-align: center;"></td>
            <td style="border: 1px solid #000; text-align: center;"></td>
            <td style="border: 1px solid #000; text-align: center;"></td>
        </tr>
        {{/each}}
        <tr style="background-color: #bfbfbf;">
            <td style="border: 1px solid #000; text-align: center;" colspan="6">
                TOTAL
            </td>
            <td style="border: 1px solid #000; text-align: center;"></td>
        </tr>
    </tbody>
</table>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente
        {{if informe.COD_TIPO_INFORME == 1}}
        y siendo que los descargos presentados
        {{/if}}
        no desacreditan los hechos que sustentan la imputación, se confirma que el administrado cometió la infracción tipificada en el literal XXXXXXXX.
    </li>
</ol>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, ha quedado acreditado lo siguiente:
    </li>
</ol>

<ul style="list-style-type: disc; margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        De lo analizado, el/ la titular no alberga especímenes de fauna silvestre dentro del área que forma parte del título habilitante y no se cuenta con documentación que acredite que comunicó, en su momento a la ARFFS ni al OSINFOR, el egreso de un total de xxx especímenes que albergaba, entre ejemplares del plantel reproductor, nacimientos y entregados en custodia.
    </li>
    <li>
        En ese sentido, del análisis de los resultados obtenidos en la supervisión, se advierte que, existen XX especímenes de las especies xxx, respecto de los cuales no se habría reportado el egreso, conforme se aprecia del siguiente cuadro:
    </li>
</ul>

<p style="text-align: center;">
    <strong>Cuadro . (Resumen del Balance de ingresos y egresos de especímenes de fauna silvestre )</strong>
</p>
<div style="text-align: center;">Fuente: Informe de supervisión Informe de Supervisión</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        En consecuencia, estando a la evaluación realizada a los actuados en el presente procedimiento, y siendo que el/la titular no presentó descargos que logren desacreditar los hechos que sustentan la imputación materia de análisis, ha quedado acreditada la comisión de la infracción tipificada en el numeral 7 del Anexo 2 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del RISMFFS.
    </li>
</ol>