<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Numeral 17 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del Anexo 2 del Reglamento de Infracciones y Sanciones:
                <br /><br />
                <i>
                    “Incumplir con las obligaciones legalmente establecidas en los títulos
                    habilitantes, planes de manejo u otros actos administrativos, diferentes a las
                    causales de caducidad.”
                </i>
            </td>
            <td style="border: 1px solid #000;">
                Presentar el plan de manejo y cumplir con su implementación, luego de ser aprobado.
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        En ese sentido de lo recogido en el informe de supervisión y contrastado con el plan de manejo, nos permite acreditar que se realizaron incumplimientos en su plan de manejo respecto al XX
    </li>
    <li>
        Debiéndose precisar que el día de la supervisión, los especímenes albergados en el XX
    </li>
    <li>
        Por lo que, teniendo en cuenta la condición de salud en que se encontraron los ejemplares antes mencionados, se evidencia que no han recibido la atención médica necesaria, <strong>además la titular por su parte no ha enviado historias clínicas ni documentos donde se evidencie que estos ejemplares se encuentran bajo tratamiento.</strong>
    </li>
    <li>
        También se debe tener en cuenta que la titular ha comunicado XX
    </li>
    <li>
        Se debe precisar que, XX estos extremos no se encuentran señalados en su plan de manejo por lo que no configuran incumplimiento del mismo.
    </li>
    <li>
        Por lo que, en el presente caso, la titular al no cumplir con brindar las condiciones sanitarias adecuadas para algunos 
        ejemplares de fauna, los cuales se encontraron en malas condiciones XX, tampoco obra información sobre los controles sanitarios propuestos, tampoco el botiquín no contiene lo descrito en su Plan de manejo, por lo que
        se configura “el incumplimiento del plan de manejo”, concluyéndose que se mantiene la imputación efectuada en la 
        Resolución Sub Directoral Nº ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.X'} respecto a la 
        infracción tipificada en el numeral 17 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del 
        Anexo 2 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante 
        Decreto Supremo N° 007-2021-MIDAGRI.
    </li>
</ol>