<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                El administrado no cumplió con la presentación del Informe de Ejecución correspondiente al periodo XX-20XX, dentro del plazo establecido en la norma.
            </td>
            <td style="border: 1px solid #000;">
                Literal b) del numeral 17.1 del artículo 17 del reglamento 019-2015-MINAGRI
                <a style="mso-footnote-id: foot_infraccion_b_1" href="#_foot_infraccion_b_1" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>, concordante con el artículo 37
                <a style="mso-footnote-id: foot_infraccion_b_2" href="#_foot_infraccion_b_2" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a> del RGFS.
            </td>
            <td style="border: 1px solid #000;">
                b) del numeral 191.1 del artículo 191º del Reglamento para la Gestión de Fauna Silvestre, aprobado mediante Decreto Supremo N° 019-2015-MINAGRI / Numeral 2 del Anexo 2 del RISMFFS.
                <br /><br />
                <i>
                    “Incumplir con la presentación del Informe de ejecución en los plazos establecidos en el Reglamento y las normas complementarias” / “No entregar o presentar información o documentación legalmente exigible en el plazo previsto, o cuando la autoridad competente lo requiera”
                </i>
            </td>
        </tr>
    </tbody>
</table>

<ol class="continue" style="margin-left: -37pt;">
    <li>
        De la evaluación del Informe de Supervisión Nº ${informe.ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXXX-XXXX-OSINFOR/08.2.X'}, de fecha ${informe.ANTECEDENTES_DOCS.Inf_Sup.fechaEmisionTexto || 'XX de XXXXX de XXXX'}, se observa que a la titular se le autorizó mediante Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.X'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto || 'XX de XXXXX de XXXX'} el funcionamiento del Centro de Custodia Temporal, por lo que, se debe precisar que, la administrada tuvo que presentar el informe de ejecución de los periodos XX; sin embargo, se observa de la revisión del Sistema de tramite documentario – SITD, que a la emisión del presente informe, la administrada no ha cumplió con la obligación de la presentación del informe de ejecución mencionado al OSINFOR, encontrando así que dicha obligación no se encuentra siendo cumplida.
    </li>
    <li>
        Al respecto, es necesario precisar que, de acuerdo al literal b) numeral 17.1 artículo 17 del Reglamento para la Gestión de Fauna Silvestre, aprobado mediante Decreto Supremo N° 019-2015-MINAGRI, los titulares de títulos habilitantes; en el presente caso, la administrada, tiene como obligación presentar un informe sobre la Ejecución del Plan de Manejo.
    </li>
    <li>
        Al respecto, el artículo 37 del Reglamento para la Gestión de Fauna Silvestre, aprobado mediante Decreto Supremo N° 019-2015- MINAGRI señala que “el Informe de ejecución tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo. Se presenta a la ARFFS y al OSINFOR, dentro de los cuarenta y cinco días calendario de culminado el periodo operativo; es suscrito por el titular del título habilitante y el regente forestal o fauna, en los casos que corresponda. Dicho informe tiene carácter de declaración jurada”.
    </li>
    <li>
        Cabe señalar que es obligación de la administrada presentarlo no sólo ante la ARFFS sino también al OSINFOR, tal y como está establecido en la normativa antes citada. Sin embargo, de la revisión del Sistema de Trámite -SITD del OSINFOR, se advierte que la administrada no ha presentado, hasta la fecha de emisión del presente informe final de instrucción, los informes de ejecución correspondientes, hecho que se encuentra tipificado como infracción en el literal b) del numeral 191.1 del artículo 191 del Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo N° 019-2015-MINAGRI.
    </li>
    <li>
        Por consiguiente, del análisis expuesto se concluye que se mantiene la imputación efectuada en la Resolución Sub Directoral Nº ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.X'}, consistente en la comisión de la infracción contemplada en el literal b) del numeral 191.1 del artículo 191 del Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo N° 019-2015-MINAGRI, por parte de la administrada.
    </li>
</ol>