<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Demostrar el origen legal de los recursos de fauna silvestre que tengan en su poder, que hayan aprovechado o administrado
            </td>
            <td style="border: 1px solid #000;">
                Literal k) del numeral 17.1 del artículo 17 del Reglamento 019-2015-MINAGRI
                <a style="mso-footnote-id: foot_infraccion_22_1" href="#_foot_infraccion_22_1" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>.
            </td>
            <td style="border: 1px solid #000;">
                Numeral 7 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del Anexo 2 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre.
                <br /><br />
                <i>
                    “No cumplir con notificar los nacimientos, muertes, fugas o cualquier situación que afecte a la población de fauna silvestre mantenida en el centro de cría en cautividad, dentro del plazo y conforme a las condiciones establecidas”
                </i>
            </td>
        </tr>
    </tbody>
</table>

<ol class="continue" style="margin-left: -37pt;">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante el escrito, ingresado con fecha XX de XX de XXXX, con registro N° XX, la/el administrada/o presentó sus descargos contra la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, donde se advierten los siguientes argumentos que guardan relación con la imputación materia de análisis:
            <br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la administrada/o, es necesario precisar lo siguiente:
            <ul>
                <li>XXX</li>
                <li>XXX</li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, ha quedado acreditado lo siguiente:
            <br /><br />
            Se confirma que al momento de la supervisión realizada por el OSINFOR, la/el administrada/o no contaba con documentos que sustentaran la posesión legal de (01) espécimen de XX, conforme lo siguiente:
            <br /><br />
            <ul>
                <li>
                    <strong>Respecto a especimen.-</strong> Al momento de la supervisión, se advierte que XX
                </li>
                <li>
                    En el Reglamento para la Gestión de Fauna Silvestre, aprobado mediante Decreto Supremo N° 019-2015-MINAGRI, establece en el literal k) del numeral 17.1 del artículo 17
                    <a style="mso-footnote-id: foot_infraccion_22_2" href="#_foot_infraccion_22_2" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>, que los titulares de títulos habilitantes para la gestión de fauna silvestre tienen la obligación de demostrar el origen legal de los recursos de fauna silvestre que tengan en su poder, que hayan aprovechado o hayan administrado.
                </li>
            </ul>
        </span>
    </li>
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente, se confirma que el/la administrado/a cometió la infracción tipificada en el numeral 22 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del Anexo 2 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI.
    </li>
</ol>