<div style="mso-element: footnote;" id="foot_infraccion_1" data-inciso="1">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_1;" href="#_foot_infraccion_1" name="_foot_infraccion_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            t. Establecer y mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante, colocados por el titular o las autoridades.
            <br />
            (…).
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_11;" href="#_foot_infraccion_11" name="_foot_infraccion_11">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            (…)
            <br />
            d. Tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_1" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_1;" href="#_foot_infraccion_b_1" name="_foot_infraccion_b_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            (…)
            <br />
            b. Presentar el informe sobre la ejecución del plan de manejo, de conformidad con el artículo 66.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_2" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_2;" href="#_foot_infraccion_b_2" name="_foot_infraccion_b_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 66.- Informe de ejecución forestal
            </strong>
            <br />
            El informe de ejecución forestal tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo. Se presenta a la ARFFS y al OSINFOR, dentro de los cuarenta y cinco días calendario de culminado el año operativo; es suscrito por el titular del título habilitante y el regente, en los casos que corresponda. Dicho informe tiene carácter de declaración jurada.
            <br />
            Los informes de ejecución se clasifican en:
            <ol style="list-style-type: lower-alpha">
                <li>
                    Informe de ejecución anual: Se presenta al final del año operativo sobre la base del plan de manejo aprobado.
                </li>
                <li>
                    Informes de ejecución final: Se presenta al finalizar la vigencia del plan de manejo.
                </li>
                <li>
                    En caso incluya especies consideradas en los Apéndices CITES, la ARFFS, en un plazo máximo de quince días hábiles de recibido el informe, remite una copia al SERFOR.
                </li>
            </ol>
            <br />
            En función de cada modalidad de aprovechamiento, el SERFOR aprueba los formatos de los informes de ejecución, en coordinación con el OSINFOR y la ARFFS.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_c" data-inciso="c">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_c;" href="#_foot_infraccion_c" name="_foot_infraccion_c">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            (…)
            <br />
            a. Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_1" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_e_1;" href="#_foot_infraccion_e_1" name="_foot_infraccion_e_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            (…)
            <br />
            Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
            <br />
            (…)
            <br />
            k. Demostrar el origen legal de los bienes, productos y subproductos del Patrimonio que tengan en su poder, que hayan aprovechado o administrado.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_g_1" data-inciso="g">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_g_1;" href="#_foot_infraccion_g_1" name="_foot_infraccion_g_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            (…)
            <br />
            k. Demostrar el origen legal de los bienes, productos y subproductos del Patrimonio que tengan en su poder, que hayan aprovechado o administrado.
            <br />
            (…)
            <br />
            r. Movilizar los frutos, productos y subproductos con los documentos autorizados para el transporte.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_g_2" data-inciso="g">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_g_2;" href="#_foot_infraccion_g_2" name="_foot_infraccion_g_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Precedente de observancia obligatoria establecido en el artículo 1 de la Resolución Nº 076-2017-OSINFOR-  TFFS. (respecto a la conducta infractora por el incumplimiento de las condiciones establecidas en el título habilitante por la no declaración del volumen de madera) “los administrados se encuentran en la obligación de sustentar la procedencia legal de los productos forestales extraídos, por ello, se exige que ésta se realice mediante las guías de transporte forestal, toda vez que, así se puede acreditar su origen legal, dejando un registro en cuanto a especies y volúmenes movilizados, que permite a la autoridad hacer seguimiento a la trazabilidad del recurso forestal extraído e identificar su trayectoria desde el primer puesto de control
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_l_1" data-inciso="l">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_l_1;" href="#_foot_infraccion_l_1" name="_foot_infraccion_l_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
                <br />
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            (…)
            <br />
            a. Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
            <br />
            (…)
            <br />
            r. Movilizar los frutos, productos y subproductos con los documentos autorizados para el transporte.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_l_2" data-inciso="l">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_l_2;" href="#_foot_infraccion_l_2" name="_foot_infraccion_l_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal aprobado por Decreto Supremo N° 018-2015-MINAGRI.
                <br />
                “Artículo 172.- Guía de transporte forestal
            </strong>
            <br />
            El transporte de especímenes, productos o subproductos forestales en estado natural o con transformación primaria, se ampara en una Guía de Transporte Forestal (GTF) con carácter de Declaración Jurada, de acuerdo al formato aprobado por el SERFOR.
            <br />
            Son emisores de las GTF:
            <br />
            Los titulares de títulos habilitantes o regentes, cuando los productos son movilizados desde las áreas de extracción o desde los centros de transformación primaria, ubicadas en las áreas de extracción. (…)”
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_l_3" data-inciso="l">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_l_3;" href="#_foot_infraccion_l_3" name="_foot_infraccion_l_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Resolución de Dirección Ejecutiva N° 122-2015-SERFOR-DE.
            </strong>
            <br />
            “Artículo 4.- Los autorizados a emitir guías de transporte deben remitir a la Autoridad Regional Forestal y de Fauna Silvestre el talonario de las guías debidamente numeradas, a fin de que dicha información sea registrada y para que dicha autoridad consigne una marca en cada guía. Posterior a ello, se consigna la información exigida para su movilización”.
        </p>
    </div>
</div>