<ol class="continue" style="margin-left: -40pt;">
    <li>De conformidad con lo establecido en el numeral 4 del artículo 255 del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS (en adelante, TUO de la Ley N° 27444) con el respectivo descargo o sin él, la autoridad que instruye el procedimiento realizará todas las actuaciones necesarias para el examen de los hechos, recabando los datos e informaciones que sean relevantes para determinar, en su caso, la existencia de responsabilidad susceptible de sanción.</li>
    <li>En tal sentido, resulta necesario confrontar los hechos advertidos en la supervisión y las actuaciones administrativas del presente procedimiento, a fin de determinar fehacientemente si existe coherencia y correspondencia entre ellos, así como responsabilidad administrativa emanada de las conductas del titular; bajo esta premisa, corresponde analizar las imputaciones formuladas sobre la base de lo señalado previamente con el objeto de acreditar o no su comisión.</li>
</ol>

{{if FLG_CUESTION_PREVIA}}
<h5 style="margin-left: -5pt;"><u><strong>Cuestión previa: Rectificación de error material</strong></u></h5>
<ol class="continue" style="margin-left: -40pt;">
    <li>
        Antes de efectuar el análisis correspondiente al PAU iniciado al/la administrado/a, es necesario señalar que, (detallar el error material identificado), siendo lo correcto XXXXXX XXXXXXX XXXXXXXXXX. Por lo tanto, se procede a realizar una rectificación de error material
        <a style="mso-footnote-id: foot_cuestion_previa" href="#_foot_cuestion_previa" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
    </li>
    <li>
        <span>
            A mayor abundamiento, con relación a lo expuesto precedentemente, la doctrina señala que:
            <p style="padding-left: 30px; font-style: italic;">
                “(…) Los errores materiales para poder ser rectificados por la Administración deben, en primer lugar, evidenciarse por sí solos sin necesidad de mayor razonamiento, manifestándose por su sola contemplación. En segundo lugar, el error debe ser tal, que para su rectificación solamente sea necesario un mero cotejo de datos que indefectiblemente se desprendan del expediente administrativo y que, por consiguiente, no requieran de mayor análisis. Asimismo, estos errores se caracterizan por ser de carácter intranscendente por dos razones; de un lado, no conllevan a la nulidad del acto administrativo en tanto no constituyan vicios de este y de otro lado, no afectan al sentido de la decisión o la esencia del acto administrativo mismo (…)
                <a style="mso-footnote-id: foot_moron_urbina" href="#_foot_moron_urbina" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>
            </p>
        </span>
    </li>
    <li>
        En el presente caso, corresponde enfatizar que, si bien no se puede soslayar la existencia del error descrito, también se debe considerar que ello no condiciona o afecta el sentido de lo resuelto mediante acto administrativo, en tanto que el análisis y la valoración jurídica no sufrieron ninguna variación y que no se ha vulnerado el debido proceso que le asiste al administrado.
    </li>
    <li>
        En esa línea, teniendo en consideración la información precisada en los considerandos que preceden, se realizará el análisis correspondiente en la presente resolución.
    </li>
</ol>
{{/if}}

{{if FLG_REC_RESPONSABILIDAD}}
<h5 style="margin-left: -5pt;"><u><strong>Sobre el reconocimiento de responsabilidad</strong></u></h5>
<ol class="continue" style="margin-left: -40pt; ">
    <li>
        <span>
            Mediante Escrito/Carta N°/S/N, de fecha XX de XXXX de XXXX, ingresado al OSINFOR el XX de XXXXX de XXXX con Registro N° XXXXXXXXX, el/la administrado/a reconoce su responsabilidad en la comisión de las infracciones imputadas, señalando lo siguiente:
            <p style="padding-left: 30px; font-style: italic;">
                “Describir lo expuesto por el/la administrado/a”.
            </p>
        </span>
    </li>
    <li>
        En ese escenario, se debe precisar que, conforme al literal a) del numeral 2 del artículo 257 del TUO de la Ley N° 27444, la aceptación de la responsabilidad de la conducta imputada en el presente PAU, constituye condición atenuante de responsabilidad en tanto que su reconocimiento fue expreso y por escrito; por lo tanto, las consecuencias jurídicas de dicha aceptación serán analizadas a mayor profundidad en los siguientes numerales de la presente resolución, con la finalidad de establecer el valor de la multa a imponer, pues con el reconocimiento de su responsabilidad la sanción de multa a aplicar se reduce hasta un monto no menor de la mitad de su importe.
    </li>
    <li>

        Respecto al reconocimiento de la responsabilidad
        <a style="mso-footnote-id: foot_rec_resp" href="#_foot_rec_resp" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        , el autor Morón Urbina
        <a style="mso-footnote-id: foot_moron_urbina_2" href="#_foot_moron_urbina_2" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        señala que el reconocimiento de responsabilidad debe reunir los siguientes requisitos:
        <div style="padding-left: 30px; font-style: italic;">
            <strong>De oportunidad:</strong>
            <div>El reconocimiento debe efectuarse en el marco de un procedimiento administrativo sancionador (…). En este punto es pertinente plantear si el reconocimiento solo será válido como respuesta a la imputación de cargos o puede también en cualquier momento durante el trámite del procedimiento administrativo sancionador. En tanto la ley no ha precisado, limitar la oportunidad del reconocimiento a un determinado momento o etapa del procedimiento administrativo sancionador sería establecer una condición menos favorable al administrado, cuestión que se encuentra prohibida por la LPAG. En ese sentido deberá entenderse que el administrado puede formular el reconocimiento de la responsabilidad sobre las conductas infractoras que se le imputan y surtirá efectos en el monto de la sanción hasta el momento en que se emita la resolución de sanción.</div>
            <strong>De forma:</strong>
            <div>El reconocimiento de responsabilidad sobre las conductas infractoras imputadas debe seguir la forma prevista por la LPAG, esto es, que sea escrita y expresa. En ese sentido, no será un reconocimiento válido aquel que se emita de manera verbal, por lo que se requiere una comunicación por parte del administrado en la que señale, de manera indubitable, el reconocimiento de responsabilidad sobre las imputaciones formuladas por la autoridad administrativa. En esa línea no debe existir vaguedad ni ambigüedad en la declaración del administrado; el reconocimiento debe ser inequívoco, sin que pueda generarse duda alguna sobre el sentido que expresa”.</div>
        </div>

    </li>
    <li>
        En atención a lo antes señalado, <strong>el administrado ha reconocido su responsabilidad de forma expresa, por escrito y sin ninguna ambigüedad</strong>, respecto a las infracciones cuya comisión se le imputó en la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}; concluyéndose que su reconocimiento de responsabilidad reviste las formalidades previstas en la norma para considerarlo como tal, lo que constituye condición atenuante de responsabilidad.
    </li>
    <li>
        <span>
            Ahora bien, el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre (en adelante, RISMFFS), aprobado por Decreto Supremo N° 007-2021-MIDAGRI, establece en el numeral 8.4 de artículo 8 que, si iniciado un procedimiento administrativo sancionador el sujeto infractor reconoce su responsabilidad administrativa de forma expresa y por escrito, la multa aplicable puede reducirse hasta:
            <ol style="list-style-type:lower-alpha" start="1">
                <li>Un 50%, si reconoce su responsabilidad desde el inicio del procedimiento administrativo sancionador hasta la presentación de los descargos a la imputación de cargos.</li>
                <li>Un 25%, si reconoce su responsabilidad luego de presentados los descargos a la imputación de cargos hasta antes de la expedición de la resolución final.</li>
            </ol>
        </span>
    </li>
    <li>En esa línea, el/la administrado/a ha reconocido su responsabilidad mediante el escrito/carta presentado/a el XX de XXXX de XXXX, es decir, dentro del plazo para la presentación de los descargos a las imputaciones efectuadas mediante el/la Escrito/Carta N°/S/N, de fecha XX de XXXX de XXXX, ingresado al OSINFOR el XX de XXXXX de XXXX con Registro N° XXXXXXXXX, siendo de aplicación el primer supuesto antes mencionado, aspecto que será considerado cuando se realice cálculo de la multa en los considerandos siguientes.</li>
</ol>
{{/if}}

{{if INFRACCIONES.length}}
<h5 style="margin-left: -5pt;"><u><strong>Sobre las infracciones imputadas</strong></u></h5>
<ol style="list-style-type: lower-alpha; margin-left: -40pt;" start="1">
    {{each(i, infra) INFRACCIONES}}
    <li>
        <span>
            <strong>${infra.titulo}</strong>
        </span>
        {{html infra.parrafos}}
    </li>
    {{/each}}
</ol>
{{/if}}

{{if FLG_GRAVEDAD_RIESGO}}
<h5 style="margin-left: -5pt;"><u><strong>Determinación de la gravedad y/o riesgo generado</strong></u></h5>
<ol class="continue" style="margin-left: -40pt;">
    <li>
        De acuerdo a la opinión técnica vertida en el presente procedimiento, el volumen total extraído de X.XXX m<sup>3</sup>, que fue movilizado de árboles no autorizados, incluido el semillero movilizado / árboles fuera del censo, el retiro de cobertura vegetal de X.XXX hectáreas, así como el nivel de impacto causado por metro cúbico no autorizado (0.0167 hectáreas/ m3 no autorizado), habría ocasionado la afectación de X.XXX hectáreas de cobertura boscosa, lo que implica una afectación de magnitud “XXXX” a la cobertura boscosa natural que integra el Patrimonio Forestal Nacional; ello, en aplicación de los criterios SGC-M1-CRI-001-V.02, “Criterios para estimar la gravedad del daño por la comisión de infracciones en materia forestal”, aprobado por Resolución de Jefatura N° 059-2019-OSINFOR.
    </li>
    <li>
        Cabe señalar que, las especies en cuestión no se encuentran incluidas en la lista de Clasificación Oficial de Especies Amenazadas de Flora Silvestre, aprobada mediante Decreto Supremo N° 043-2006-AG.
    </li>
</ol>
{{/if}}

{{if FLG_SANCION}}
<h5 style="margin-left: -5pt;"><u><strong>Sobre la imposición de sanción</strong></u></h5>
<ol class="continue" style="margin-left: -40pt;">
    <li>
        <span>
            La(s) infracción(es) acreditada(s) es(son) pasible(s) de ser sancionada(s) de la siguiente manera:
            <ul>
                {{each(i, infr) INFRACCIONES}}
                <li>
                    Respecto de la infracción tipificada como ${infr.gravedad?.toLowerCase()} en el numeral ${infr.inciso} del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS, con una {{if infr.tipoInfraccion > 1}}multa ascendente ${infr.rangoSancion || 'XX A XX UIT'} {{else}}amonestación{{/if}}.
                </li>
                {{/each}}
            </ul>
        </span>
    </li>
    <li>
        Ahora bien, de acuerdo con el Reporte de Antecedentes, de fecha XX de XXXXXX de XXXX, se advierte que el/la administrado/a no registra sanción de amonestación y/o multa impuesta por la Dirección de Fiscalización Forestal y de Fauna Silvestre. En esa línea, se puede considerar que <strong>la concesionaria no ha incurrido en reincidencia</strong>.
    </li>
    <li>
        {{if FLG_SANCION == 1}}
        En tal sentido, teniendo en consideración la aplicación a la metodología aprobada, corresponde imponer una <strong>sanción de amonestación</strong> respecto de (precisar las infracciones acreditadas) del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
        {{else FLG_SANCION == 2}}
        En tal sentido, teniendo en consideración la aplicación a la metodología aprobada, corresponde imponer una <strong>sanción de multa ascendente a ${SANCION_UIT || 0} UIT</strong>, vigente a la fecha en que se cumpla con el pago de esta respecto de (precisar las infracciones acreditadas) del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
        {{else FLG_SANCION == 3}}
        En tal sentido, teniendo en consideración la aplicación a la metodología aprobada, corresponde imponer una <strong>sanción de amonestación</strong> respecto de (precisar las infracciones acreditadas) del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS, asi como una <strong>sanción de multa ascendente a ${SANCION_UIT || 0} UIT</strong>, vigente a la fecha en que se cumpla con el pago de esta respecto de (precisar las infracciones acreditadas) del Cuadro de Infracciones y Sanciones en Materia Forestal del citado reglamento.
        {{/if}}
    </li>
</ol>
{{/if}}

<h5 style="margin-left: -5pt;"><u><strong>De las medidas correctivas</strong></u></h5>
{{if FLG_MEDIDA_CORRECTIVA}}
<ol class="continue" style="margin-left: -40pt;">
    <li>
        Es preciso indicar que “La imposición de una medida correctiva pretende educar y corregir la distorsión en el ambiente, precisamente porque de lo que se trata es revertir, o disminuir en lo posible, el efecto nocivo que la conducta infractora hubiera podido producir en el ambiente, los recursos naturales y la salud de las personas” , lo que se condice con lo establecido en el numeral 5.09 del artículo 5 del Reglamento del PAU del OSINFOR , en concordancia con el literal l) del numeral 5 (Definiciones) de los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR ”, aprobado mediante Resolución de Jefatura  N° 00055-2020-OSINFOR/01.1, de fecha 30 de diciembre de 2020, publicada en el Diario Oficial “El Peruano”, con fecha 02 de enero de 2021.
    </li>
    <li>
        Al respecto, corresponde analizar si resulta viable dictar la medida correctiva por la extracción no autorizada de XX m3 de tornillo y la tala del individuo semillero de código XX
    </li>
    <li>
        Bajo ese contexto con relación al primer punto, cabe señalar que, según el análisis realizado en el XX del informe de supervisión, respecto al custodio forestal, se precisa que, la titular viene cumpliendo con dicha obligación, dado que no se evidencian disturbios en la cobertura boscosa por actividades distintas a la forestal, de ello se desprende que dentro del área de manejo no se cuentan con áreas disponibles para realizar la reposición de la especie tornillo, por lo cual, no resulta viable dictar una medida correctiva en este extremo.
    </li>
    <li>
        No obstante, si resulta necesario que la comunidad realice el reemplazo del árbol semillero XX por otro de la misma especie (pudiendo ser uno de los individuos declarados inicialmente como aprovechables que quedaron en pie), el cual debe tener un diámetro a la altura de pecho (DAP) no menor al diámetro mínimo de corta (DMC) establecido en la Resolución Jefatural N° 458-2002-INRENA y que cumpla con las características fenotípicas idóneas para ser considerado como semilleros, cuyas coordenadas de ubicación UTM deberán ser plasmadas en el informe de cumplimiento de la medida correctiva, junto con las evidencias que así lo sustenten (fotografías, actas, etc.) de acuerdo a los consignado en el anexo del presente Informe.
    </li>
</ol>
{{else}}
<ol class="continue" style="margin-left: -40pt;">
    <li>
        Es preciso indicar que “La imposición de una medida correctiva pretende educar y corregir la distorsión en el ambiente, precisamente porque de lo que se trata es revertir, o disminuir en lo posible, el efecto nocivo que la conducta infractora hubiera podido producir en el ambiente, los recursos naturales y la salud de las personas” , lo que se condice con lo establecido en el numeral 5.09 del artículo 5 del Reglamento del PAU del OSINFOR , en concordancia con el literal l) del numeral 5 (Definiciones) de los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del OSINFOR ”, aprobado mediante Resolución de Jefatura  N° 00055-2020-OSINFOR/01.1, de fecha 30 de diciembre de 2020, publicada en el Diario Oficial “El Peruano”, con fecha 02 de enero de 2021.
    </li>
    <li>
        Para el presente caso, corresponde analizar si resulta viable dictar la medida correctiva por la extracción no autorizada de XX m3 de madera, los cuales, según lo dispuesto en los Criterios SGC-M1-CRI-004-V.01 “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre - OSINFOR”, aprobado mediante Resolución de Jefatura Nº 00055-2020-OSINFOR/01.1.
    </li>
    <li>
        En ese sentido, se debe precisar que el presente plan de manejo tuvo una vigencia hasta el XX, por lo que no corresponde el dictado de alguna medida correctiva que revierte o mitigue el impacto causado, y respecto del cual el OSINFOR no sería competente para verificar su cumplimiento, al no estar amparado en un título habilitante que se encuentre vigente al implementarse dicha medida.
    </li>
</ol>
{{/if}}

{{if !FLG_MEDIDA_COMPLEMENTARIA}}
<h5 style="margin-left: -5pt;"><u><strong>De las medidas correctivas</strong></u></h5>
<ol class="continue" style="margin-left: -40pt;">
    <li>
        En ese sentido, con la finalidad de eliminar o mitigar los efectos producidos por la comisión de la infracción acreditada en el presente procedimiento, tales como la posesión, el transporte o comercialización de los productos forestales provenientes de la extracción no autorizada, se evalúa la posibilidad de disponer como medida complementaria el decomiso de los productos forestales movilizados de forma no autorizada o que corresponden a volumen injustificado, conforme a lo establecido en el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI, publicado con fecha 12 de abril de 2021, el cual señala que de manera complementaria a la sanción a imponerse, puede aplicarse el decomiso de especímenes, productos o subproductos, que provengan de extracción no autorizada.
    </li>
    <li>
        Lo antes expuesto, también tiene como sustento legal lo regulado en el literal a.1 del numeral 9.1 del artículo 9 del RISMFFS; donde se señala que de manera complementaria a la sanción a imponerse, puede aplicarse el decomiso de especímenes, productos o subproductos, que provengan de extracción no autorizada.
    </li>
    <li>
        Asimismo, respecto al decomiso de los productos forestales por parte de la autoridad forestal se debe tomar en cuenta lo establecido en el artículo 4 del Decreto Legislativo N° 1085, mediante el cual se señala la participación de los actores involucrados en el sector forestal y de fauna silvestre.
    </li>
    <li>
        Por otro lado, es necesario indicar que, para poder dictar el decomiso del producto forestal maderable, este debe ser identificado plenamente, es decir, determinar las trozas o lote de madera que proviene de la extracción de individuos distintos a los autorizados, para este caso implica la revisión de las guías de transporte forestal, existe un volumen parcial injustificado que imposibilita diferenciar la madera que corresponderá a volumen justificado e injustificado. En consecuencia, no es posible recomendar emitir la mencionada medida de decomiso o incautación.
    </li>
    <li>
        Por tal motivo, del análisis del presente caso, se debe precisar que del informe de supervisión, así como el Balance de Extracción/Forma 20 que se encuentra en el expediente administrativo, se evidencia que desde la última movilización del recurso forestal que fue el XX de XXXXXXX de XXXX, hasta la fecha del presente Informe Final de Instrucción, ya habrían pasado más de XX días/meses aproximadamente, en el cual los recursos ya no estarían en circulación, así como también ya habrían sido transformados; en ese sentido, no sería razonable el determinar una eventual medida complementaria de decomiso.
    </li>
</ol>
{{else}}
<h5 style="margin-left: -5pt;"><u><strong>De las medidas cautelares dispuestas en la etapa de instrucción y de las medidas complementarias</strong></u></h5>
<ol class="continue" style="margin-left: -40pt;">
    <li>
        <span>
            Se debe señalar que mediante la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se dispusieron medidas cautelares, las cuales fueron confirmadas mediante la Resolución Sub Directoral N° XXXXX-XXXX-OSINFOR/08.2.1, de fecha XX de XXXX de XXXX, conforme al siguiente detalle:
            <ul style="color: green;">
                <li>
                    (Detallar las medidas correctivas dispuestas).
                </li>
                <li>
                    (Detallar las medidas correctivas dispuestas). Agregar el cuadro de incautación de productos forestales.
                </li>
            </ul>
        </span>
    </li>
    <li>
        Cabe precisar que, en aplicación del numeral 157.3 del artículo 157 del TUO de la Ley N° 27444, corresponde caducar de pleno derecho las medidas cautelares dispuestas en la resolución sub directoral de inicio del PAU cuando se emite la resolución que pone fin al procedimiento.
    </li>
    <li>
        Ahora bien, se debe señalar que el inciso a.1 del literal a) del numeral 9.1 del artículo 9 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, establece que, de manera complementaria a la sanción a imponerse, puede aplicarse el decomiso de especímenes, productos o subproductos forestales y de fauna silvestre sobre los que no pueda acreditarse su origen legal o provengan de operaciones de extracción, caza colecta o capturas no autorizadas.
    </li>
    <li>
        A través de Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, confirmada mediante la Resolución Sub Directoral N° XXXXX-XXXX-OSINFOR/08.2.1, de fecha XX de XXXX de XXXX (mediante la cual también se dispuso el inicio del PAU), se dictaron medidas cautelares, a fin de que la decisión final a emitirse en el presente procedimiento logre eficacia y se puedan salvaguardar los recursos que forman parte del patrimonio forestal que fue extraído sin autorización, suspendiéndose los efectos de las Guías de Transporte Forestal y correspondientes Listas de Trozas, del Plan de Manejo Forestal aprobado a favor del administrado.
    </li>
    <li>
        De esta manera, corresponde dictar la medida complementaria de decomiso, con la finalidad de eliminar o mitigar los efectos producidos por la comisión de las infracciones acreditadas en el presente procedimiento, tales como el transporte o comercialización de los productos forestales provenientes de extracción no autorizada, conforme a lo detallado en el Anexo III del presente informe.
    </li>
    <li>
        Cabe indicar que la referida medida complementaria debe hacerse de conocimiento de la ARFFS, a fin de que lleve a cabo su ejecución; ello, teniendo en consideración que el numeral 15.2 del artículo 15 del RISMFFS, establece que el SERFOR, el OSINFOR y las ARFFS, deben colaborar entre sí, para la ejecución de las sanciones, medidas complementarias, medidas correctivas y medidas cautelares o provisionales, cuando se dispongan.
    </li>
</ol>
{{/if}}

{{if FLG_COMUNICACION_GORE}}
<h5 style="margin-left: -5pt;"><u><strong>Comunicación al GORE</strong></u></h5>
<ol class="continue" style="margin-left: -40pt;">
    <li>
        Finalmente, se advierte que la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, que dio inicio al PAU fue oportunamente remitida a la ARFFS, para que, luego de conocer los resultados de la supervisión del OSINFOR y la disposición del inicio del PAU, en el marco de su atribución fiscalizadora, pueda ejercer las funciones de su competencia. En ese sentido, corresponde comunicarle el resultado y conclusión del presente procedimiento, para los fines pertinentes, para que en el marco de sus competencias ejecuten las acciones correspondientes.
    </li>
</ol>
{{/if}}
