<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Literales a) y k) del numeral 29.1 del artículo 29 del RGFFSCNCC
            </td>
            <td style="border: 1px solid #000;">
                Numeral 21 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
                <br /><br />
                <i>"Talar, extraer y/o aprovechar recursos forestales, sin autorización, en su condición o no de titular del título habilitante, a excepción de los aprovechados por subsistencia"</i>
            </td>
            <td style="border: 1px solid #000;">
                Se imputó contra el/la Titular ${infraccion.detalle || 'XX'}
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                ${informe.COD_TIPO_INFORME?'Si':'No'}
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

{{if infraccion.flgDesvirtua}}
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto || 'XX de XXX del 202X'}, se imputó al/la concesionario/a presuntamente incumplir con la presentación (descripción del tipo de informe de ejecución y el periodo).
    </li>
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Por Escrito/Carta de fecha ${informe.ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || informe.ANTECEDENTES_DOCS.Carta.fechaEmisionTexto ||'XX de XXXX'} ingresado al OSINFOR con Registro N° ${informe.ANTECEDENTES_DOCS.Escrito.numero || informe.ANTECEDENTES_DOCS.Carta.numero || '00XX-202X-OSINFOR/08.2.X'}, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul style="margin-left: 25px;">
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
</ol>
{{/if}}

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        De acuerdo a la evaluación del expediente queda acreditado que XX:
    </li>
</ol>

<table cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">
                Especies supervisadas
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Árboles aprobados (parcelas)
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Árboles supervisados
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Estado de los árboles en campo
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Volumen movilizado en el Balance de Extracción (A)
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Volumen movilizado advertido en campo (B)
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Volumen injustificado<br />B - A
            </th>
        </tr>
    </thead>
    {{each(i, objEsp) informe.VOLUMENES_INJUSTIFICADOS}}
    <tbody>
        <tr>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.ESPECIES}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_APROBADO}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.NUM_ARBOLES}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.ESTADO_CAMPO}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.BALANCE_EXTRACCION}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_MOVILIZADO}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_INJUSTIFICADO}</td>
        </tr>
    </tbody>
    {{/each}}
    <tfoot>
        <tr style="background-color: #bfbfbf;">
            <td style="border: 1px solid #000; text-align: center;" colspan="6">
                Total
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                ${informe.VOLUMENES_INJUSTIFICADOS_TOTAL}
            </td>
        </tr>
    </tfoot>
</table>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        En ese sentido XX
    </li>
</ol>