<span>
    <table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr style="background-color: #bfbfbf;">
                <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
                <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
                <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Movilizar los frutos, productos y sub productos con los documentos autorizados para el transporte
                </td>
                <td style="border: 1px solid #000;">
                    Literales a) y r) del numeral 29.1 del artículo 29 del RGFFSCNCC
                    <a style="mso-footnote-id: foot_infraccion_l" href="#_foot_infraccion_l" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>.<br />
                    (Indicar cláusula del TH)
                </td>
                <td style="border: 1px solid #000;">
                    Literal l) del numeral 137.3 del artículo 137 del RGFFSCNCC / Numeral 26 del Anexo 1 del RISMFFS. <br /><br />
                    <i>
                        “Utilizar documentación otorgada o aprobada por la autoridad forestal competente para amparar la extracción, transporte, transformación, almacenamiento o comercialización de los recursos o productos forestales, extraídos sin autorización”
                    </i>
                </td>
            </tr>
        </tbody>
    </table>
</span>

<ol class="continue" style="margin-left: -37pt;">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, la administrada presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>            
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, ha quedado acreditado lo siguiente:
            <br /><br />
            <ul>
                <li>
                    La administrada hizo uso de Guías de Transporte Forestal y documentación de su permiso para transportar un volumen XX m3 correspondiente a las siguientes especies: XX, madera producto de una extracción no autorizada, conforme se acreditó en el análisis de la infracción anterior; es decir, dio apariencia de legalidad, a dichos productos.
                </li>
                <li>
                    La administrada es el responsable por el uso de las GTF conforme a lo dispuesto en el artículo 4 de la Resolución de Dirección Ejecutiva N° 122-2015-SERFOR-DE.
                </li>
            </ul>
        </span>
    </li>
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente
        {{if informe.COD_TIPO_INFORME == 1}}
        y siendo que los descargos presentados
        {{/if}}
        no desacreditan los hechos que sustentan la imputación, se confirma que la administrada cometió la infracción tipificada en el literal XXXXXXXX
    </li>
</ol>