<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Literales a) y r) del numeral 29.1 del artículo 29 del RGFFSCNCC
            </td>
            <td style="border: 1px solid #000;">
                Numeral “26” del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
                <br /><br />
                <i>"Utilizar indebidamente o facilitar la guía de transporte forestal, así como la documentación otorgada o aprobada por la autoridad competente, para amparar la extracción, transporte, transformación, almacenamiento o comercialización de los especímenes, productos o sub productos forestales obtenidos Ilegalmente"</i>
            </td>
            <td style="border: 1px solid #000;">
                Se imputó contra la Titular el haber utilizado Guías de Transporte Forestal otorgada por la ARFFS para amparar el transporte de recursos forestales provenientes de una extracción no autorizada
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                No presentó / no se requirió
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        De acuerdo a la evaluación de la documentación del expediente administrativo, la Titular es la responsable por el uso de las Guías de Transporte Forestal, conforme a lo dispuesto en el artículo 4 de la Resolución de Dirección Ejecutiva N° 122-2015-SERFOR-DE, sin embargo utilizó Guías de Transporte Forestal otorgada por la ARFFS para amparar el transporte de recursos forestales provenientes de una extracción no autorizada, por un volumen total de XX m3 correspondiente a la especie XX.
    </li>
    <li>
        De acuerdo con lo señalado XX.
    </li>
</ol>