<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Cumplir con la implementación del plan de manejo aprobado y demostrar el origen legal de los productos aprovechados
            </td>
            <td style="border: 1px solid #000;">
                Literales a) y k) del numeral 29.1 del artículo 29 del RGFFSCNCC
                <a style="mso-footnote-id: foot_infraccion_e_1" href="#_foot_infraccion_e_1" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>.
                <br /><br />(Indicar si el TH también contiene la obligación)
            </td>
            <td style="border: 1px solid #000;">
                Literal e) del numeral 137.3 del artículo 137 del RGFFSCNCC / Numeral 10 y 21 del Anexo 1 del RISMFFS.
                <br /><br />
                <i>“Talar, extraer y/o aprovechar recursos forestales, sin autorización, a excepción de los aprovechados por subsistencia” / “Talar, extraer y/o aprovechar recursos forestales, sin autorización, en su condición o no de titular del título habilitante, a excepción de los aprovechados por subsistencia” / “Talar, extraer y/o aprovechar recursos forestales no autorizados en el área del título habilitante, cuando sea imputable al administrado en su condición de titular del título habilitante”.</i>
            </td>
        </tr>
    </tbody>
</table>

<ol class="continue" style="margin-left: -37pt;">
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, la administrada presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
                <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, ha quedado acreditado lo siguiente:
            <br /><br />
            <ul>
                <li>
                    <span>
                        Existe un volumen movilizado de ${informe.VOLUMENES_INJUSTIFICADOS_TOTAL} m3 que no fue justificado en campo, de acuerdo al siguiente detalle:
                        <br /><br />
                        <div style="text-align: center;">
                            <strong>Cuadro N° XX: Volumen injustificado</strong>
                        </div>
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Especie supervisada
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Árboles aprobados
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Árboles supervisados
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Estado de los árboles en campo
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen movilizado en el Balance de Extracción
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen movilizado advertido en campo
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen injustificado
                                    </th>
                                </tr>
                            </thead>
                            {{each(i, objEsp) informe.VOLUMENES_INJUSTIFICADOS}}
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.ESPECIES}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_APROBADO}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.NUM_ARBOLES}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.ESTADO_CAMPO}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.BALANCE_EXTRACCION}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_MOVILIZADO}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_INJUSTIFICADO}</td>
                                </tr>
                            </tbody>
                            {{/each}}
                            <tfoot>
                                <tr style="background-color: #bfbfbf;">
                                    <td style="border: 1px solid #000; text-align: center;" colspan="6">
                                        Total
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;">
                                        ${informe.VOLUMENES_INJUSTIFICADOS_TOTAL}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <br /><br />
                        (En caso se requiera una precisión adicional sobre alguna de las especies se indica en este párrafo).
                        <br /><br />
                        (De forma concisa, indicar que el plan de manejo es el que define los árboles a aprovechar y que ello no se ha cumplido según lo evidenciado en la supervisión).
                    </span>
                </li>
                <li>
                    <span>
                        Existe aprovechamiento no autorizado de XX árboles semilleros, según el cuadro e imágenes siguientes:
                        <br /><br />
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        N°
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Especie
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Estado
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Ubicación
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">01</td>
                                    <td style="border: 1px solid #000; text-align: center;">(indicar nombre común y científico)</td>
                                    <td style="border: 1px solid #000; text-align: center;">(indicar cantidad)</td>
                                    <td style="border: 1px solid #000; text-align: center;">Tocón (se podrá consignar la temporalidad para advertir una posible imputación)</td>
                                    <td style="border: 1px solid #000; text-align: center;">E: XX – N: XX </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">02</td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <td style="border: 1px solid #000; text-align: center;" colspan="2">
                                        Total
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br /><br />
                        (Precisar si el volumen de los árboles semilleros se incluyen dentro del volumen injustificado - inmerso).
                    </span>
                </li>
                <li>
                    <span>
                        Existe aprovechamiento de XX árboles no autorizados; es decir, que no formaron parte del censo y por lo tanto tampoco fueron aprobados como aprovechables, según el cuadro e imágenes siguientes:
                        <br /><br />
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        N°
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Especie
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Estado
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Ubicación
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">01</td>
                                    <td style="border: 1px solid #000; text-align: center;">(indicar nombre común y científico)</td>
                                    <td style="border: 1px solid #000; text-align: center;">(indicar cantidad)</td>
                                    <td style="border: 1px solid #000; text-align: center;">Tocón (se podrá consignar la temporalidad para advertir una posible imputación)</td>
                                    <td style="border: 1px solid #000; text-align: center;">E: XX – N: XX </td>
                                </tr>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">02</td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <td style="border: 1px solid #000; text-align: center;" colspan="2">
                                        Total
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </span>
                </li>
                <li>
                    El aprovechamiento no autorizado antes mencionado significa el incumplimiento del plan de manejo, documento que el propio administrado presentó ante la ARFFS y fue aprobado.
                </li>
            </ul>
        </span>
    </li>
    <li>
        En ese contexto, de acuerdo a lo señalado precedentemente
        {{if informe.COD_TIPO_INFORME == 1}}
        y siendo que los descargos presentados
        {{/if}}
        no desacreditan los hechos que sustentan la imputación, se confirma que la administrada cometió la infracción tipificada en el literal XXXXXXXX.
    </li>
</ol>