@model CapaEntidad.ViewModel.VM_Resodirec

<script type="text/javascript">
    var _renderPOA = {};

    _renderPOA.fncParcelas = function () {
        var idPoa = _renderInfracciones.frm.find("#ddlPOA").val();
        var codResodirec = ManRD_AddEdit.frm.find("#hdfCodResodirec").val();

        $('#txtParcelaRD').find('option').remove().end();

        $.ajax({
            url: '@Url.Action("listaParcela", "ManResolucion")',
            type: 'GET',
            datatype: "json",
            traditional: true,
            data: { 'CodResodirec': codResodirec, 'NumPoa': idPoa },
            success: function (data) {
                var dataList = data.data;
                var countFilas = dataList.length;
                if (countFilas > 0) {
                    $.each(dataList, function (i, o) {
                        $('#txtParcelaRD').append($('<option>', {
                            value: dataList[i].CODIGO,
                            text: dataList[i].DESCRIPCION
                        }));
                    });
                }
            }
        });
    };

    $(document).ready(function () {
        _renderPOA.frm = $("#fmrPOA");       
        _renderPOA.fncParcelas();
    });

</script>
<div id="fmrPOA">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="lblArticulos" class="text-small">POA</label>
        </div>
        <div class="form-group col-md-6">
            @if (Model.ListPOA.Count > 0)
            {
                @Html.DropDownListFor(m => m.txtIdPOA, new SelectList(Model.ListPOA, "NUM_POA", "POA"),
                                 new
                                 {
                                     @class = "form-control form-control-sm",
                                     @id = "ddlPOA",
                                     @onchange = "_renderPOA.fncParcelas()"
                                 })
            }
            else
            {
                <h5>Seleccionar expediente o informe que contenga POA</h5>
            }

        </div>
        <div class="form-group col-md-2">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="lblArticulos" class="text-small">PC</label>
        </div>
        <div class="form-group col-md-6">
            <select id="txtParcelaRD" class="form-control-sm">
            </select>
        </div>
        <div class="form-group col-md-2">

        </div>
    </div>
</div>