<div class="modal-dialog modal-lg" style="width:100%;" role="document">
    <div class="modal-content" id="contenedorTaraAutoExtraer">
        <div class="modal-header text-small" style="cursor:move;padding:0.5rem;">
            <h5 class="modal-title" id="h5Titulo">Nuevo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="frmTaraAutoExtraer">
                <input type="hidden" id="COD_SECUENCIAL" name="COD_SECUENCIAL" value="0" />
                <input type="hidden" id="RegEstado" name="RegEstado" value="1" />
                <input type="hidden" id="RegEstadoClient" name="RegEstadoClient" value="1" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="COD_ESPECIES" class="text-small">Especies</label>
                        @Html.DropDownList("COD_ESPECIES", new SelectList(ViewBag.cboOpciones, "Value", "Text"), new { @class = "form-control form-control-sm", @style = "width:auto;" })
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SUPERFICIE_HA" class="text-small">Superficie Ha</label>
                        <input type="text" id="SUPERFICIE_HA" name="SUPERFICIE_HA" class="form-control form-control-sm" maxlength="13" onkeypress="return utilSigo.onKeyDecimal(event, this);" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="TOTAL_PGMF" class="text-small">Total PGMF</label>
                        <input type="text" id="TOTAL_PGMF" name="TOTAL_PGMF" class="form-control form-control-sm" maxlength="13" onkeypress="return utilSigo.onKeyDecimal(event, this);" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ANO_1" class="text-small">1° Año</label>
                        <input type="text" id="ANO_1" name="ANO_1" class="form-control form-control-sm" maxlength="7" onkeypress="return utilSigo.onKeyEntero(event, this);" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ANO_2" class="text-small">2° Año</label>
                        <input type="text" id="ANO_2" name="ANO_2" class="form-control form-control-sm" maxlength="7" onkeypress="return utilSigo.onKeyEntero(event, this);" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ANO_3" class="text-small">3° Año</label>
                        <input type="text" id="ANO_3" name="ANO_3" class="form-control form-control-sm" maxlength="7" onkeypress="return utilSigo.onKeyEntero(event, this);" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="ANO_4" class="text-small">4° Año</label>
                        <input type="text" id="ANO_4" name="ANO_4" class="form-control form-control-sm" maxlength="7" onkeypress="return utilSigo.onKeyEntero(event, this);" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ANO_5" class="text-small">5° Año</label>
                        <input type="text" id="ANO_5" name="ANO_5" class="form-control form-control-sm" maxlength="7" onkeypress="return utilSigo.onKeyEntero(event, this);" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="DERECHO_APROVE_QUINTAL" class="text-small">Derecho Aprovechamiento/quintal/Unitario</label>
                        <input type="text" id="DERECHO_APROVE_QUINTAL" name="DERECHO_APROVE_QUINTAL" class="form-control form-control-sm" maxlength="13" onkeypress="return utilSigo.onKeyDecimal(event, this);" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="DERECHO_APROVE_QTOTAL" class="text-small">Derecho Aprovechamiento/quintal/Total</label>
                        <input type="text" id="DERECHO_APROVE_QTOTAL" name="DERECHO_APROVE_QTOTAL" class="form-control form-control-sm" maxlength="13" onkeypress="return utilSigo.onKeyDecimal(event, this);" />
                    </div>
                </div>                
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="btnGuardar" class="btn btn-primary btn-sm">Agregar</button>
        </div>
    </div>
</div>
<script src="~/Areas/THabilitante/js/ManPlanManejo/_ItemTaraAutoExtraer.js"></script>