<div class="table-responsive">
    <table id="grvItemISituInvFlora" class="table table-hover table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th colspan="7" class="text-sm-left">
                    <div class="form-inline">
                        <i id="btnAddISituInvFlora" class="fa mx-1 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                        <i id="btnDeleteAllISituInvFlora" class="fa mx-2 fa-lg fa-trash-o" style="cursor:pointer;font-size:18px;" data-toggle="tooltip" data-placement="top" title="Eliminar Todos"></i>
                        <strong>Inventario de Flora</strong>
                    </div>
                </th>
            </tr>            
        </thead>
        <tbody></tbody>
    </table>
    <table id="grvItemISituInvFauna" class="table table-hover table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th colspan="3" class="text-sm-left">
                    <div class="form-inline">
                        <i id="btnAddInvFauna" class="fa mx-1 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                        <i id="btnDeleteAllInvFauna" class="fa mx-2 fa-lg fa-trash-o" style="cursor:pointer;font-size:18px;" data-toggle="tooltip" data-placement="top" title="Eliminar Todos"></i>
                        <strong>Inventario de Fauna Silvestre</strong>
                    </div>
                </th>
            </tr>            
        </thead>
        <tbody></tbody>
    </table>
    <table id="grvItemISituCArea" class="table table-hover table-bordered" style="width:100%;">
        <thead>
            <tr>
                <th colspan="3" class="text-sm-left">
                    <div class="form-inline">
                        <i id="btnAddCArea" class="fa mx-1 fa-lg fa-file-o" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                        <i id="btnDeleteAllCArea" class="fa mx-2 fa-lg fa-trash-o" style="cursor:pointer;font-size:18px;" data-toggle="tooltip" data-placement="top" title="Eliminar Todos"></i>
                        <strong>Condición de Área</strong>
                    </div>
                </th>
            </tr>            
        </thead>
        <tbody></tbody>
    </table>
</div>
