.card:not([class*="text"]) p { color: #000; line-height: inherit; }
#frmInforme { position: relative; }
#frmInforme.loading { height: 200px; }
#frmInforme.loading > * { display: none !important; }
#frmInforme.loading:before { content: "Un momento por favor..."; height: 100%; display: flex; align-items: center; justify-content: center; }
#informe_header { position: sticky; top: 0; left: 0; right: 0; z-index: 99; }
/*.custom-control-label { margin-top: 6px; }*/

.caret-off::after { content: none; }
.ck-content hr { height: 1px; background: #000; }
.ck-content .table table td, .ck-content .table table th { vertical-align: middle; }
.ckeditor-inf .editor-container { padding: 3rem 0; background: #f0f0f0; max-height: 500px; overflow-y: auto; }
.ckeditor-inf .editor { font-size: 10.4pt; background-color: #fff; max-width: calc(21cm + 2px); /*min-height: calc(29.7cm + 2px);*/ margin: 0 auto; padding: 2cm 3cm; border: 1px #d3d3d3 solid !important; background-color: #fff; box-shadow: 0 0 5px rgb(0 0 0 / 10%) !important; line-height: 1.1; }
.ckeditor-inf.landscape .editor { max-width: calc(29.7cm + 2px); /*min-height: calc(21cm + 2px);*/ }
.ckeditor-inf .editor ul li, .ckeditor-inf .editor ol li { margin-bottom: 12px; }
.ckeditor-inf .editor table { color: #000; }

.modal .ckeditor-inf .editor-container { padding: 0; max-height: none; }
.modal .ckeditor-inf .editor { padding: 0 1em; }

.modal-xl { max-width: 95%; }
.editor-table-sm .editor table, .ckeditor-inf .editor .table-small { font-size: 7pt; }
.editor-antecedentes .editor > figure:nth-last-child(-n+5) table { font-size: 6pt !important; }
.btn-link { box-shadow: none !important; }
.chip { font-size: 1em; cursor: pointer; }

#modal-cargar-documento .modal-body { height: 250px; cursor: pointer; position: relative; display: flex; align-items: center; justify-content: center; }

.prevent .dropdown-menu { margin-top: 10px; box-shadow: 0 0 15px rgb(0 0 0 / 20%); }
.prevent .dropdown-menu .fa-times { color: #f43030; }
.prevent .dropdown-menu .fa-check { color: #19c545; }
.person-name { color: #888; font-size: 0.7em; }

.multisteps-form__progress { display: grid; grid-template-columns: repeat(auto-fit, minmax(0, 1fr)); }
.multisteps-form__progress-btn { position: relative; padding-top: 20px; color: rgba(108, 117, 125, 0.4); border: none; background-color: transparent; outline: none !important; cursor: pointer; }
.multisteps-form__progress-btn:before { position: absolute; top: 0; left: 50%; display: block; width: 13px; height: 13px; content: ''; transform: translateX(-50%); border: 2px solid currentColor; border-radius: 50%; background-color: #fff; box-sizing: border-box; z-index: 3; }
.multisteps-form__progress-btn:after { position: absolute; top: 5px; left: calc(-50% - 13px / 2); display: block; width: 100%; height: 2px; content: ''; background-color: currentColor; z-index: 1; }
.multisteps-form__progress-btn:first-child:after { display: none; }
.multisteps-form__progress-btn.js-active { color: #007bff; }
.multisteps-form__progress-btn.js-active:before { transform: translateX(-50%) scale(1.2); background-color: currentColor; }

.card-view { position: relative; animation: slideUpDown ease 0.5s; }
.card-view .options { position: absolute; top: 10px; right: 10px; opacity: 0.2; }
.card-view:hover .options { opacity: 1; }
.card-view .options .fa:hover { transform: scale(1.2); }
.toast-message ul { margin-left: 15px; padding: 0; }

.file-attach { padding: 5px; border: 1px solid #cecece; margin: 0 0 6px 0; position: relative; }
.file-attach-icon { float: left; width: 40px; height: 36px; }
.file-attach-icon img { height: 100%; max-width: 40px; }
.file-attach-info { padding: 0 20px 0 40px; }
.file-attach-info .file-attach-name { display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.file-attach-info .file-attach-details { color: #909090; }
.file-attach-info .file-attach-remove { position: absolute; color: #696969; font-weight: 300; font-size: 25px; line-height: 15px; top: 5px; right: 5px; cursor: pointer; user-select: none; -moz-user-select: none; -ms-user-select: none; }

.tables-join .container-fluid { margin: 0 !important; padding: 0 !important; }
.tables-join .table { margin-top: 0 !important; }

@@keyframes zoomIn {
    0% { transform: scale(2); }
    80% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

@@keyframes slideUpDown {
    from { transform: translateY(-2em); }
    to { transform: translateY(0); }
}
