
@{
    ViewBag.Title = "IndicadoresOSINFOR";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <iframe title="BI-OSINFOR-INICIO" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYmVkNjA0NjEtOGQ3MC00ZmQxLWJlNDItM2QzODVmMjM3ZjM0IiwidCI6IjQ3NDliYjcxLWE5YTQtNDAyMi1iMGVjLTE5ZWU5ZTkwYWQ0NyJ9" frameborder="0" allowFullScreen="true"></iframe>            
        </div>
    </div>
</div>
