
@{
    ViewBag.Title = "IndicadoresOSINFOR";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <iframe title="OSINFOR-ACCA" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYzQ0YWNmYTUtZmE0OC00NmJmLTkwOTgtNDY4YTlmNmFlOTYxIiwidCI6IjQ3NDliYjcxLWE5YTQtNDAyMi1iMGVjLTE5ZWU5ZTkwYWQ0NyJ9" frameborder="0" allowFullScreen="true"></iframe>

        </div>
    </div>

    
</div>
