
@{
    ViewBag.Title = "IndicadoresOSINFOR";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            @*<iframe title="BI-OSINFOR-INICIO" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiOTcwZDJhOGYtOTQzZi00MjQ3LWIyOTktNWNiOGNiYTQzZjYyIiwidCI6IjQ3NDliYjcxLWE5YTQtNDAyMi1iMGVjLTE5ZWU5ZTkwYWQ0NyJ9" frameborder="0" allowFullScreen="true"></iframe>*@
            <iframe title="BI-OSINFOR-INICIO" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYzFhNTZjMTQtOGRmMi00OTRiLTkwYTYtZmJiNjM0OTJlYjdjIiwidCI6IjQ3NDliYjcxLWE5YTQtNDAyMi1iMGVjLTE5ZWU5ZTkwYWQ0NyJ9&pageName=ReportSectionc19e6e9d1a4ead789139" frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
</div>
