
@{
    ViewBag.Title = "RptEstadodeGuiaTransporte";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<link href="~/Content/PaginaPrinSIGO.min.css" rel="stylesheet" />
<link href="~/Content/newSIGOFormulario.min.css" rel="stylesheet" />
<link href="~/Content/Grilla.css" rel="stylesheet" />
<style>
    .datosGral, .datosBloque { }

    .datosGral > div, .datosBloque > div { width: 100%; float: none; font-size: 12px; height: 100%; overflow: auto; }

    .datosGral > div > div:first-child, .datosBloque > div > div:first-child { background-color: #e8f3fb; width: 29%; padding-left: 1%; height: 100%; padding-bottom: 2px; padding-top: 2px; }

    .datosGral > div > div:last-child, .datosBloque > div > div:last-child { width: 69%; height: 100%; padding-left: 1%; }

    .datosGral > div > div, .datosBloque > div > div { float: left; }
       
    .sepBloque { width: 100% !important; }

    .GrillaDivReporte { width: 98% !important; margin: 10px 10px 10px 10px; }

    .Grilla { border-collapse: collapse; }

    .Grilla tr:nth-child(even) { background: #eff8fb }

    .Grilla tr:nth-child(odd) { background: #FFF }

    .Grilla tr:hover { background-color: #D9FF66; }

    #tbVolInjus > tbody > tr > td:nth-child(1) { text-align: center; width: 4%; }

    #tbVolInjus > tbody > tr > td:nth-child(2) { text-align: left; width: 30%; }

    #tbVolInjus > tbody > tr > td:nth-child(3) { text-align: right; width: 12%; }

    #tbVolInjus > tbody > tr > td:nth-child(4) { text-align: right; width: 12%; }

    #tbVolInjus > tbody > tr > td:nth-child(5) { text-align: right; width: 12%; }

    #tbVolInjus > tbody > tr > td:nth-child(6) { text-align: right; width: 15%; }

    #tbVolInjus > tbody > tr > td:nth-child(7) { text-align: right; width: 15%; }

    .GrillaPagerstyle { background-color: #359BD2 !important; }
    .modal-xl {
        max-width: 90%;
    }
</style>
<div id="divReporte" class="container-fluid">
    <div class="card">
        <div class="card-header text-left">
            <h5>Consulta del Título Habilitante</h5>
        </div>
        <div class="card-body">
            <div class="col-12">
                <form id="frmRPT">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <select id="dllOpcionBusqueda" class="form-control form-control-sm">
                                <option value="TH_NUMERO">Número de Titulo Habilitante</option>
                                <option value="TH_TITULAR">Titular</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" id="txtParamBusqueda" class="form-control form-control-sm" />
                        </div>
                        <div class="btn-group col-md-2" style="padding-top:5px;">
                            <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar" onclick="_RptETH.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                        </div>
                    </div>
                    <div class="table-responsive-md">
                        <table id="tbEstadoTH" class="table table-hover table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Modalidad</th>
                                    <th>Número</th>
                                    <th>Ubicación</th>
                                    <th>Titular</th>
                                    <th>Año Supervisión</th>
                                    <th>Plan de Manejo</th>
                                    <th>Zafra</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div id="containerLoad">

                            </div>

                        </div>

                        <div class="col-md-12">
                            <br />
                            <br />
                            <div id="divDescargar" style="padding-left:10px;display:none"><div><a href='javascript: void(0);' onclick="construirPDF()"> Descargar reporte en formato PDF </a></div></div>;
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
    <div class="modal fade" id="mResumenMulta" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="mResumenMulta" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mResumenMultaLabel">Resumen de Multas</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 rMulta">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function construirPDF() {
        window.open(urlLocalSigo + "General/Reportes/generaReportePDF", '_blank');
    };
    function descargaPDF(archivo, origen) {
        window.open(urlLocalSigo + "General/Reportes/DescargarEstadoGuiaTransporte?hdfFileDescarga=" + archivo + "&hdfFileOrigen=" + origen, '_blank');
    };
    let _RptETH = {
        fnVer: (obj) => {
            let itemData = _RptETH.dt.row($(obj).parents('tr')).data();
            $("#divDescargar").hide();
            $.ajax({
                url: `${urlLocalSigo}General/Reportes/RptGenerarReporte`,
                type: 'POST',
                async: false,
                data: { oCamposView: itemData },
                dataType: 'json',
                beforeSend: utilSigo.beforeSendAjax,
                error: utilSigo.errorAjax,
                complete: utilSigo.completeAjax,
                success: function (data) {
                    $("#containerLoad").html('');
                    console.log(data.success);
                    if (data.success) {
                        $("#containerLoad").append(data.data);
                        $("#divDescargar").show();
                    } else {
                        utilSigo.toastWarning("Aviso", "Sucedio un error");
                    }
                },
                statusCode: {
                    203: () => { utilSigo.unblockUIGeneral(); utilSigo.toastWarning("Aviso", "El usuario perdio la sesión. Vuelva ingresar al sistema"); }
                }
            });
        },
        fnBuilTable: () => {

            const columns = [
                {
                    "name": "ROW_INDE", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row, meta) {
                        return parseInt(meta.row) + 1 + meta.settings._iDisplayStart;
                    }
                },
                { "data": "MODALIDAD", "autoWidth": true },
                { "data": "PERMISO_AUTORIZACION", "autoWidth": true },
                { "data": "REGION", "autoWidth": true },
                { "data": "TITULAR", "autoWidth": true },
                { "data": "ANIO_SUPER", "autoWidth": true },
                { "data": "POA", "autoWidth": true },
                { "data": "ZAFRA", "autoWidth": true },
                {
                    "data": "", "className": "text-center", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<div><i class="fa fa-lg fa-pencil-square-o" style="color:blue;cursor:pointer;" title="ver" onclick="_RptETH.fnVer(this)"></i></div>';
                    }
                }
            ];
            const optDt = { iLength: initSigo.pageLength, iStart: 0, aSort: [] };
            _RptETH.dt = _RptETH.frm.find("#tbEstadoTH").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                deferLoading: 0, // here
                ajax: {
                    "url": `${urlLocalSigo}/General/Reportes/RptEstadodeGuiaTransporteGetAll`,
                    "data": function (d) {
                        d.criterio = _RptETH.frm.find("#dllOpcionBusqueda").select2("val");
                        d.valorBusqueda = _RptETH.frm.find("#txtParamBusqueda").val().trim()
                        for (var i = 0; i < d.order.length; i++) {
                            d.order[i]["column_name"] = d.columns[d.order[i]["column"]]["data"];
                            if (d.order[i].column_name != 0 || d.order[i].column_name != "") {
                                d.sort = d.order[i].column_name + " " + d.order[i].dir;
                            }
                        }
                        d.columns = null;
                    },
                    "error": function (jqXHR) {
                        // utilSigo.unblockUIGeneral();
                        if (jqXHR.status != 401 && jqXHR.status != 403 && jqXHR.status != 404) {
                            utilSigo.toastError("Error", initSigo.MessageError);
                        }
                        //console.log(jqXHR);
                    },
                    "statusCode": {
                        203: () => { utilSigo.toastInfo("Aviso", "El usuario perdio la sesión. Vuelva ingresar al sistema"); }
                    }
                },
                columns: columns,
                bInfo: true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                // "aaSorting": optDt.aSort,
                "pageLength": 5,
                "displayStart": optDt.iStart,
                "oLanguage": initSigo.oLanguage,
                "drawCallback": initSigo.showPagination
            });
        },
        fnSearch: () => {
            $("#containerLoad").html('');
            _RptETH.dt.ajax.reload();
        },
        fnActualizar: () => {
            _RptETH.frm = $("#frmRPT");
            _RptETH.frm.find("#txtParamBusqueda").val("");
            _RptETH.dt.ajax.reload();
        },
        fnInit: () => {
            _RptETH.frm = $("#frmRPT");
            _RptETH.frm.find("#dllOpcionBusqueda").select2();
            _RptETH.fnBuilTable();
            _RptETH.frm.find("#txtParamBusqueda").keypress(function (e) {
                let code = e.which;
                if (code == 13) {
                    _RptETH.fnSearch();
                    return false;
                }
            });
        },
        fnResumenRecaudacionesC: (id) => {
            let anio = $('#Fecha').val(); //_rendReporteSup.frm.find("#chkAnio").val();

            let url = urlLocalSigo + "General/Reportes/ResumenRecaudacionCobranza";
            $.ajax({
                url: url,
                type: 'POST',
                datatype: "json",
                traditional: true,
                beforeSend: function () { utilSigo.beforeSendAjax(); },
                data: { 'id': id },
                success: function (data) {

                    $('.rMulta').html(data);
                    $('#mResumenMulta').modal('show');

                },
                complete: function () { utilSigo.unblockUIGeneral(); }
            });
        }
    };
    $(document).ready(function () {
        $.fn.select2.defaults.set("theme", "bootstrap4");
        _RptETH.fnInit();
    });
</script>

