<div style="mso-element: footnote;" id="foot_infraccion_1" data-inciso="1">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_1;" href="#_foot_infraccion_1" name="_foot_infraccion_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Artículo 29.- Obligaciones de las comunidades campesinas o comunidades nativas con títulos habilitantes.</strong>
            <br />
            29.1 Las comunidades campesinas o comunidades nativas a las que se les ha otorgado título habilitante, asumen las siguientes obligaciones:
            <br />
            (…).
            <br />
            s. Establecer y mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante, colocados por el titular o las autoridades.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_11;" href="#_foot_infraccion_11" name="_foot_infraccion_11">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Artículo 29.- Obligaciones de las comunidades campesinas o comunidades nativas con títulos habilitantes.</strong>
            <br />
            29.1 Las comunidades campesinas o comunidades nativas a las que se les ha otorgado título habilitante, asumen las siguientes obligaciones:
            <br />
            (…).
            <br />
            d. Tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR.
            <br />
            (…)
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b;" href="#_foot_infraccion_b" name="_foot_infraccion_b">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Artículo 29.- Obligaciones de las comunidades campesinas o comunidades nativas con títulos habilitantes.</strong>
            <br />
            29.1 Las comunidades campesinas o comunidades nativas a las que se les ha otorgado título habilitante, asumen las siguientes obligaciones:
            <br />
            (…)
            <br />
            b. Presentar un informe sobre la ejecución del plan de manejo
            <br />
            (…).
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_1" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_1;" href="#_foot_infraccion_b_1" name="_foot_infraccion_b_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Artículo 35.- Informe de ejecución del plan de manejo</strong>
            <br />
            El Informe de ejecución tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo. Se presenta a la ARFFS y al OSINFOR, dentro de los cuarenta y cinco días calendario de culminado el periodo operativo; es suscrito por el titular del título habilitante y el regente forestal o fauna, en los casos que corresponda. Dicho informe tiene carácter de declaración jurada.
            En caso incluya especies consideradas en los Apéndices CITES, la ARFFS, en un plazo máximo de quince días hábiles de recibido el informe, remite una copia al SERFOR.
            En función de cada modalidad de aprovechamiento, el SERFOR aprueba los formatos de los informes de ejecución, en coordinación con el OSINFOR y la ARFFS.
            Para el caso de flora silvestre los informes de ejecución se clasifican en:
            <ol style="list-style-type: lower-alpha">
                <li>Informe de ejecución anual: Se presenta al final del año operativo, sobre la base del plan de manejo aprobado.</li>
                <li>Informes de ejecución final: Se presenta al finalizar la vigencia del plan de manejo</li>
            </ol>
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_c" data-inciso="c">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_c;" href="#_foot_infraccion_c" name="_foot_infraccion_c">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal y de Fauna Silvestre en Comunidades Nativas y Comunidades Campesinas, aprobado por Decreto Supremo N° 021-2015-MINAGRI.
                <br />
                Artículo 29.- Obligaciones de las comunidades campesinas o comunidades nativas con títulos habilitantes.
            </strong>
            <br />
            29.1 Las comunidades campesinas o comunidades nativas a las que se les ha otorgado título habilitante, asumen las siguientes obligaciones:
            <br />
            (…)
            <br />
            <ol style="list-style-type: lower-alpha">
                <li>Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.</li>
            </ol>
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_1" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_e_1;" href="#_foot_infraccion_e_1" name="_foot_infraccion_e_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal y de Fauna Silvestre en Comunidades Nativas y Comunidades Campesinas, aprobado por Decreto Supremo N° 021-2015-MINAGRI.
            </strong>
            <br />
            <strong>Artículo 29.- Obligaciones de las comunidades campesinas o comunidades nativas con títulos habilitantes</strong>
            29.1 Las comunidades campesinas o comunidades nativas a las que se les ha otorgado título habilitante, asumen las siguientes obligaciones:
            <br />
            (…)
            <br />
            a. Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
            <br />
            (…)
            <br />
            k. Demostrar el origen legal de los bienes, productos y subproductos del Patrimonio que tengan en su poder, que hayan aprovechado o administrado.
            <br />
            (…)
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_2" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_e_2;" href="#_foot_infraccion_e_2" name="_foot_infraccion_e_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Precedente de observancia obligatoria establecido en el artículo 1 de la Resolución Nº 076-2017-OSINFOR-  TFFS. (respecto a la conducta infractora por el incumplimiento de las condiciones establecidas en el título habilitante por la no declaración del volumen de madera) “los administrados se encuentran en la obligación de sustentar la procedencia legal de los productos forestales extraídos, por ello, se exige que ésta se realice mediante las guías de transporte forestal, toda vez que, así se puede acreditar su origen legal, dejando un registro en cuanto a especies y volúmenes movilizados, que permite a la autoridad hacer seguimiento a la trazabilidad del recurso forestal extraído e identificar su trayectoria desde el primer puesto de control
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_l" data-inciso="l">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_l;" href="#_foot_infraccion_l" name="_foot_infraccion_l">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal y de Fauna Silvestre en Comunidades Nativas y Comunidades Campesinas, aprobado por Decreto Supremo N° 021-2015-MINAGRI.
                <br />
                Artículo 29.- Obligaciones de las comunidades campesinas o comunidades nativas con títulos habilitantes.
            </strong>
            <br />
            29.1 Las comunidades campesinas o comunidades nativas a las que se les ha otorgado título habilitante, asumen las siguientes obligaciones:
            <br />
            (…)
            <br />
            Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
            <br />
            (…)
            <br />
            r. Movilizar los frutos, productos y subproductos con los documentos autorizados para el transporte.
        </p>
    </div>
</div>