@model CapaEntidad.ViewModel.DOC.VM_Usuario

<script src="~/Areas/General/js/Controles/_cambiarPass.js?v=1"></script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;padding:0.5rem;">
            <h5 class="modal-title">Cambiar Contraseña</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="frmcambiarPass" method="post">
                <div class="form-row" id="divP1">
                    <div class="form-group col-md-12">
                        <label for="password" class="text-small">Contraseña actual</label>
                        <input type="password" class="form-control form-control-sm" id="password" name="password" maxlength="20" placeholder="Contraseña actual">
                    </div>
                </div>
                <div class="form-row" id="divP1">
                    <div class="form-group col-md-12">
                        <label for="password" class="text-small">Nueva Contraseña</label>
                        <input type="password" class="form-control form-control-sm" id="passwordN" name="passwordN" maxlength="20" placeholder="Nueva Contraseña">
                    </div>
                </div>
                <div class="form-row" id="divP2">
                    <div class="form-group col-md-12">
                        <label for="passwordR" class="text-small">Repetir Nueva Contraseña</label>
                        <input type="password" class="form-control form-control-sm" id="passwordR" name="passwordR" maxlength="20" placeholder="Repetir Nueva Contraseña">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button id="btnGuardar" class="btn btn-primary btn-sm" onclick="MancambiarPass.fnSubmit();">Cambiar Contraseña</button>
            <button id="btnCancelar" class="btn btn-secondary btn-sm" onclick="MancambiarPass.fnClose();">Cancelar</button>
        </div>
    </div>
</div>