<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <a href="https://www.osinfor.gob.pe/" class="external"><strong class="text-primary">Osinfor Peru</strong></a>
            </div>
            <div class="col-sm-6 text-right">
                <p>version 3.0.18</p>
            </div>
        </div>
    </div>
</footer>
