.tituloLista {
    text-align:right;
    margin-right:0px;
    margin-left:0px;
    border-bottom:1px solid #BBD1EE;
    margin-top:10px;
    margin-bottom:10px;    
}
    .tituloLista h2 {
        margin-top:0px;
        margin-bottom:5px;
    }
    .toolsLista {
    width:100%;
    height:100%;
}
.navLista {
    float:left;
    padding-left:0px;
    font-size:22px;
    padding-bottom:6px;
}
.navLista span {
        float:left;
    }
    .navLista span:nth-child(2) {

        display:block;
    }
.toolBusqueda {
    float:right;
    padding-right:10px;
    font-size:14px;
    padding-bottom:6px;
}
.toolBusqueda span {
    display:inline;
}
.divbtnReporte {
    margin: 10px 10px 10px 0px;
}

.btnBotonFormSIGO {
    background-color: #008DD7;
    color: #FFFFFF;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    border: 1px solid #0260A8;
    border-radius: 5px;
    box-shadow: inset -2px -2px 2px 2px #047ECB;
}

.subTituloReport {
    text-align: center;
}
.graficoSIGO {
    padding: 15px 15px 15px 15px;
    margin: 15px 15px 15px 15px;
}

#divReporte1 {
    width: 800px;
    margin: 0 auto;
}
#tbReportEst1 > tbody > tr > td:nth-child(1) {
    text-align: center;
}
#tbReportEst1 > tbody > tr > td:nth-child(2) {
    text-align: left;
    font-style: italic;
}
#tbReportEst1 > tbody > tr > td:nth-child(3) {
    text-align: right;
}

#chart_div_1 {
    height: 400px;
}

    #divReporte2,#divReporte3,#divReporte4,#divReporte5,#divReporte6,#divReporte10 {
        margin-left:2%;
        margin-right:2%;
    }  
    #tbReportEst21 > tbody > tr > td, 
    #tbReportEst22 > tbody > tr > td,
    #tbReportEst23 > tbody > tr > td{
        text-align:center;
    }  
    #tbReportEst21 > tbody > tr > td:nth-child(2),
    #tbReportEst22 > tbody > tr > td:nth-child(2),
    #tbReportEst23 > tbody > tr > td:nth-child(2) {
            text-align:left;
        }
    #tbReportEst21>tbody>tr:last-child>td,
    #tbReportEst22>tbody>tr:last-child>td,
    #tbReportEst23>tbody>tr:last-child>td {
        background-color:#507cd1;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    #tbReportEst21 > tbody > tr > td:nth-child(1),#tbReportEst21 > thead > tr > th:nth-child(1){
        width:2%;
    }
    #tbReportEst21 > tbody > tr > td:nth-child(2),#tbReportEst21 > thead > tr > th:nth-child(2){
        width:10%;
    }
    #tbReportEst22 > tbody > tr > td:nth-child(1), #tbReportEst22 > thead > tr > th:nth-child(1),
    #tbReportEst23 > tbody > tr > td:nth-child(1), #tbReportEst23 > thead > tr > th:nth-child(1) {
        width:2%;
    }
    #tbReportEst22 > tbody > tr > td:nth-child(2), #tbReportEst22 > thead > tr > th:nth-child(2),
    #tbReportEst23 > tbody > tr > td:nth-child(2), #tbReportEst23 > thead > tr > th:nth-child(2)  {
        width:30%;
    }
    #chart_div_22,#chart_div_23 {
         height:600px;
    }
 
    #tbReportEst31 > tbody > tr > td, 
    #tbReportEst32 > tbody > tr > td{
        text-align:center;
    }  
    #tbReportEst31 > tbody > tr > td:nth-child(2) {
            text-align:left;
        }
    #tbReportEst31>tbody>tr:last-child>td,
    #tbReportEst32>tbody>tr:last-child>td {
        background-color:#507cd1;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    #tbReportEst31 > tbody > tr > td:nth-child(1), #tbReportEst31 > thead > tr > th:nth-child(1),
    #tbReportEst32 > tbody > tr > td:nth-child(1), #tbReportEst32 > thead > tr > th:nth-child(1) {
        width:2%;
    }
    #tbReportEst31 > tbody > tr > td:nth-child(2), #tbReportEst31 > thead > tr > th:nth-child(2),
    #tbReportEst32 > tbody > tr > td:nth-child(2), #tbReportEst32 > thead > tr > th:nth-child(2)  {
        width:10%;
    }   
    #chart_div_3 {
        height:400px;
    }


    #tbReportEst4 > tbody > tr > td {
        text-align: center;
    }

    #tbReportEst4 > tbody > tr:last-child > td {
        background-color: #507cd1;
        color: white;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
    }

    #tbReportEst4 > tbody > tr > td {
        width:10%;
    }  
    .tbReportEst5 > tbody > tr > td{
        text-align:center;
    }     
    .tbReportEst5>tbody>tr:last-child>td{
        background-color:#507cd1;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    .tbReportEst5 > tbody > tr > td:nth-child(1), .tbReportEst5 > thead > tr > th:nth-child(1) {
        width:2%;
    }
    .tbReportEst5 > tbody > tr > td:nth-child(2), .tbReportEst5 > thead > tr > th:nth-child(2)  {
        width:10%;
    }
    #tbReportEst52 > tbody > tr > td:nth-child(2), #tbReportEst52 > thead > tr > th:nth-child(2)  {
        width:45%;
        text-align:left;
    }
    #tbReportEst53 > tbody > tr > td:nth-child(2), #tbReportEst53 > thead > tr > th:nth-child(2)  {
        width:45%;
        text-align:left;
    }
    #chart_div_5 {
        height:400px;
    }
  
    #tbReportEst6 > tbody > tr > td{
        text-align:center;
    }     
    #tbReportEst6>tbody>tr:last-child>td{
        background-color:#507cd1;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    #tbReportEst6 > tbody > tr > td:nth-child(1), #tbReportEst6 > thead > tr > th:nth-child(1) {
        width:2%;
    }
    #tbReportEst6 > tbody > tr > td:nth-child(2), #tbReportEst6 > thead > tr > th:nth-child(2)  {
        width:10%;
    }
    #chart_div_6 {
        height:400px;
    }

        #divReporte7 {
        width: 800px;
        margin: 0 auto;
    }
    #tbReportEst7 > tbody > tr > td:nth-child(1) {
        text-align: center;
    }

    #tbReportEst7 > tbody > tr > td:nth-child(2) {
        text-align: left;
        font-style: italic;
    }

    #tbReportEst7 > tbody > tr > td:nth-child(3) {
        text-align: right;
    }
    #chart_div_7 {
        height:400px;
    }
        #divReporte8 {
        width: 800px;
        margin: 0 auto;
    }

    #tbReportEst8 > tbody > tr > td:nth-child(1) {
        text-align: center;
    }

    #tbReportEst8 > tbody > tr > td:nth-child(2) {
        text-align: left;
        font-style: italic;
    }

    #tbReportEst8 > tbody > tr > td:nth-child(3) {
        text-align: right;
    }
    #chart_div_8 {
        height:400px;
    }

        #divReporte9 {
        margin-left: 2%;
        margin-right: 2%;
    }

    #tbReportEst9 > tbody > tr > td {
        text-align: right;
    }

    #tbReportEst9 > tbody > tr:last-child > td {
        background-color: #507cd1;
        color: white;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
    }
    #tbReportEst9 > tbody > tr > td:nth-child(1) {
        text-align:center;
    }
    #tbReportEst9 > tbody > tr > td:nth-child(2) {
        text-align:left;
    }
    #tbReportEst9 > tbody > tr > td:nth-child(1), #tbReportEst9 > thead > tr > th:nth-child(1) {
        width: 2%;   
    }
    #tbReportEst9 > tbody > tr > td:nth-child(2), #tbReportEst9 > thead > tr > th:nth-child(2) {
        width: 10%;
    }
    #tbReportEst9 > tbody > tr:last-child > td:nth-child(2) {
        text-align:center;
    }

    #tbReportEst10 > tbody > tr > td{
        text-align:center;
    }     
    #tbReportEst10>tbody>tr:last-child>td{
        background-color:#507cd1;
        color:white;
        font-weight:bold;
        text-align:center;
    }
    #tbReportEst10 > tbody > tr > td:nth-child(1), #tbReportEst10 > thead > tr > th:nth-child(1) {
        width:2%;
    }
    #tbReportEst10 > tbody > tr > td:nth-child(2), #tbReportEst10 > thead > tr > th:nth-child(2)  {
        width:10%;
    }
    #chart_div_10 {
        height:400px;
    }

    #tbReportEst12 > tbody > tr > td {
        text-align: right;
    }

    #tbReportEst12 > tbody > tr:last-child > td {
        background-color: #507cd1;
        color: white;
        font-weight: bold;
        text-align: right;
        white-space: nowrap;
    }
    #tbReportEst12 > tbody > tr > td:nth-child(1) {
        text-align:center;
    }
    #tbReportEst12 > tbody > tr > td:nth-child(2) {
        text-align:left;
    }
    #tbReportEst12 > tbody > tr > td:nth-child(1), #tbReportEst12 > thead > tr > th:nth-child(1) {
        width: 2%;   
    }
    #tbReportEst12 > tbody > tr > td:nth-child(2), #tbReportEst12 > thead > tr > th:nth-child(2) {
        width: 10%;
    }
    #tbReportEst12 > tbody > tr:last-child > td:nth-child(2) {
        text-align:center;
    }

    .pieLista{
    width:96%;
    font-size:14px;
    padding-left:2%;
    padding-right:2%;
}  
.pieLista ul {
        padding-left:25px;
        font-size:14px;
    } 

      #fechaHora {
        font-size:12px;
        padding:10px 15px 10px 15px;        
    }
        #fechaHora > div:first-child {
            text-align:left;
            float:left;
            padding-bottom:10px;
        }
        #fechaHora > div:last-child {
            text-align:right;
            float:right;
            padding-bottom:10px;
        }
@media screen and (max-width:800px) {
    .tituloLista {
        text-align: right;
        margin-right: 0px;
        margin-left: 0px;
        border-bottom: 1px solid #BBD1EE;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 10px;
    }

        .tituloLista h2 {
            margin-top: 0px;
            margin-bottom: 5px;
        }

    .toolsLista {
        width: 100%;
        height:100%;
    }

    .navLista {
        float: left;
        padding-left: 0px;
        font-size: 22px;
        padding-bottom: 6px;
    }

        .navLista span {
            float: left;
        }

            .navLista span:nth-child(2) {
                display: none;
            }

    .toolBusqueda {
        float: right;
        padding-right: 10px;
        font-size: 14px;
        padding-bottom: 6px;
    }

        .toolBusqueda span {
            display: none;
        } 
        .subTituloReport {
    text-align: center;
    font-size:10px;
}
.graficoSIGO {
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}
        #divReporte1, #divReporte7, #divReporte8 {
    width: 310px;
    margin: 0 auto;
}
    #divReporte2,#divReporte3,#divReporte4,#divReporte5,#divReporte6,#divReporte10 {
        margin-left:1%;
        margin-right:1%;
    } 
    #chart_div_3,#chart_div_5,#chart_div_6,#chart_div_10 {
        height:270px;
    }

    .pieLista {
        font-size: 11px;
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
    }

        .pieLista ul {
            padding-left: 25px;
            font-size: 11px;
        }

    #fechaHora {        
        font-size:11px;
        padding: 5px 10px 5px 10px;
    }

        #fechaHora > div:first-child,#fechaHora > div:last-child {
            text-align: left;
            float: left;
            padding-bottom: 5px;
        }
}

/*Estilos Reporte Actualizado 16/10/2018*/
body{
    margin:0px;
}
.contenedorReporte {
    width: 100%;
}
.filtroReporte {
    margin:10px;
}
.informacionReporte {
    padding:5px;
    margin:10px;
    background-image:radial-gradient(#ABEBC6,#D5F5E3);
    border:1px solid #2ECC71;
    text-align:justify;
}
.resultadoReporte {
    margin:10px;
}
.bloqueResultado {
    display:flex;
}
.bloqueResultado1 {
    display: inline-block;
    float:left;
    width:100%;
}
.bloqueResultado2 {
    display: inline-block;
    float:left;
    width:50%;
}
.bloqueResultado4 {
    display: inline-block;
    float:left;
    width:25%;
}

@media screen and (max-width:900px){
    .bloqueResultado {
        display:inline-block;
        width:100%;
    }
    .bloqueResultado2 {
        width:100%;
        margin-top:10px;
    }
    .bloqueResultado4{
        width:100%;
    }
}