<div style="mso-element: footnote;" id="foot_infraccion_7" data-inciso="7">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_7;" href="#_foot_infraccion_7" name="_foot_infraccion_7">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI
                <br />
                “Artículo 59.- Notificación de nacimientos, muertes y otras ocurrencias
            </strong>
            <br />
            <i>
                59.1 Todo nacimiento, muerte o cualquier suceso que afecte a la población de fauna silvestre mantenida en cautiverio en un centro de cría, incluido su plantel reproductor o genético, así como lo entregado en calidad de custodia, debe ser notificado a la ARFFS o al SERFOR, según corresponda, así como al OSINFOR, en un plazo máximo de siete días hábiles de ocurrido el suceso, para la verificación correspondiente. Toda ocurrencia debe ser registrada en el libro de operaciones.
            </i>
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_17" data-inciso="17">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_17;" href="#_foot_infraccion_17" name="_foot_infraccion_17">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado mediante Decreto Supremo N° 019-2015- MINAGRI
                <br />
                Artículo 17.- Obligaciones de los titulares de títulos habilitantes para la gestión de fauna silvestre
            </strong>
            <br />
            17.1 Los titulares de títulos habilitantes para la gestión de fauna silvestre tienen las siguientes obligaciones, según corresponda:
            <br />
            (…)
            <br />
            a. Presentar el plan de manejo y cumplir con su implementación, luego de ser aprobado.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_22_1" data-inciso="22">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_22_1;" href="#_foot_infraccion_22_1" name="_foot_infraccion_22_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI.
                <br />
                Artículo 17.- Obligaciones de los titulares de títulos habilitantes para la gestión de fauna silvestre
            </strong>
            <br />
            17.1 Los titulares de títulos habilitantes para la gestión de fauna silvestre tienen las siguientes obligaciones, según corresponda:
            <br /><br />
            k. Demostrar el origen legal de los recursos de fauna silvestre que tengan en su poder, que hayan aprovechado o administrado.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_22_2" data-inciso="22">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_22_2;" href="#_foot_infraccion_22_2" name="_foot_infraccion_22_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI.
                <br />
                Artículo 17.- Obligaciones de los titulares de títulos habilitantes para la gestión de fauna silvestre
            </strong>
            <br />
            17.1 Los titulares de títulos habilitantes para la gestión de fauna silvestre tienen las siguientes obligaciones, según corresponda:
            <br /><br />
            k. Demostrar el origen legal de los recursos de fauna silvestre que tengan en su poder, que hayan aprovechado o administrado.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_1" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_1;" href="#_foot_infraccion_b_1" name="_foot_infraccion_b_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado mediante Decreto Supremo N° 019-2015- MINAGRI
                <br />
                Artículo 17.- Obligaciones de los titulares de títulos habilitantes para la gestión de fauna silvestre
            </strong>
            <br />
            17.1 Los titulares de títulos habilitantes para la gestión de fauna silvestre tienen las siguientes obligaciones, según corresponda:
            <br />
            (…)
            <br />
            b. Presentar el informe sobre la ejecución del plan de manejo, de acuerdo a lo dispuesto en el artículo 37.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_2" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_2;" href="#_foot_infraccion_b_2" name="_foot_infraccion_b_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo N° 019-2015-MINAGRI
                <br />
                Artículo 37.- Informe de ejecución del plan de manejo de fauna silvestre
            </strong>
            <br />
            El Informe de ejecución del plan de manejo de fauna silvestre tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo. Se presenta a la ARFFS y al OSINFOR, dentro de los cuarenta y cinco días calendario de culminado el año operativo, y es suscrito por el titular del título habilitante y/o el regente de fauna silvestre, en los casos que corresponda. Dicho informe tiene carácter de declaración jurada. En caso incluya especies consideradas en los Apéndices CITES, la ARFFS remite una copia al SERFOR en un plazo máximo de quince días hábiles de recibido el informe. Los formatos para la elaboración de estos informes son aprobados por el SERFOR, en coordinación con el OSINFOR y las ARFFS, en función de cada modalidad de aprovechamiento
        </p>
    </div>
</div>