<div style="mso-element: footnote;" id="foot_infraccion_7" data-inciso="7">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_7;" href="#_foot_infraccion_7" name="_foot_infraccion_7">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI
                <br />
                “Artículo 59.- Notificación de nacimientos, muertes y otras ocurrencias
            </strong>
            <i>
                59.1 Todo nacimiento, muerte o cualquier suceso que afecte a la población de fauna silvestre mantenida en cautiverio en un centro de cría, incluido su plantel reproductor o genético, así como lo entregado en calidad de custodia, debe ser notificado a la ARFFS o al SERFOR, según corresponda, así como al OSINFOR, en un plazo máximo de siete días hábiles de ocurrido el suceso, para la verificación correspondiente. Toda ocurrencia debe ser registrada en el libro de operaciones.
            </i>
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_22_1" data-inciso="22">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_22_1;" href="#_foot_infraccion_22_1" name="_foot_infraccion_22_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI.
                <br />
                Artículo 17.- Obligaciones de los titulares de títulos habilitantes para la gestión de fauna silvestre
            </strong>
            <br />
            17.1 Los titulares de títulos habilitantes para la gestión de fauna silvestre tienen las siguientes obligaciones, según corresponda:
            <br /><br />
            k. Demostrar el origen legal de los recursos de fauna silvestre que tengan en su poder, que hayan aprovechado o administrado.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_22_2" data-inciso="22">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt; ">
            <a style="mso-footnote-id: foot_infraccion_22_2;" href="#_foot_infraccion_22_2" name="_foot_infraccion_22_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI.
                <br />
                Artículo 17.- Obligaciones de los titulares de títulos habilitantes para la gestión de fauna silvestre
            </strong>
            <br />
            17.1 Los titulares de títulos habilitantes para la gestión de fauna silvestre tienen las siguientes obligaciones, según corresponda:
            <br /><br />
            k. Demostrar el origen legal de los recursos de fauna silvestre que tengan en su poder, que hayan aprovechado o administrado.
        </p>
    </div>
</div>

