<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        De acuerdo al Numeral 4 del artículo 255 del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS (en adelante, TUO de la Ley N° 27444), Con el respectivo descargo o sin él, la autoridad que instruye el procedimiento realizará todas las actuaciones necesarias para la evaluación de los hechos, a fin de determinar, en su caso, la existencia de responsabilidad susceptible de sanción; a continuación se analizará las imputaciones formuladas, a fin de acreditar o no su comisión.
    </li>
</ol>

{{if FLG_CUESTION_PREVIA}}
<h5><u><strong>Cuestión previa: Rectificación de error material</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Antes de efectuar el análisis correspondiente al PAU iniciado al/la administrado/a, es necesario señalar que, (detallar el error material identificado), siendo lo correcto XXXXXX XXXXXXX XXXXXXXXXX. Por lo tanto, se procede a realizar una rectificación de error material
        <a style="mso-footnote-id: foot_cuestion_previa" href="#_foot_cuestion_previa" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
    </li>
    <li>
        <span>
            A mayor abundamiento, con relación a lo expuesto precedentemente, la doctrina señala que:
            <p style="padding-left: 30px; font-style: italic;">
                “(…) Los errores materiales para poder ser rectificados por la Administración deben, en primer lugar, evidenciarse por sí solos sin necesidad de mayor razonamiento, manifestándose por su sola contemplación. En segundo lugar, el error debe ser tal, que para su rectificación solamente sea necesario un mero cotejo de datos que indefectiblemente se desprendan del expediente administrativo y que, por consiguiente, no requieran de mayor análisis. Asimismo, estos errores se caracterizan por ser de carácter intranscendente por dos razones; de un lado, no conllevan a la nulidad del acto administrativo en tanto no constituyan vicios de este y de otro lado, no afectan al sentido de la decisión o la esencia del acto administrativo mismo (…)
                <a style="mso-footnote-id: foot_moron_urbina" href="#_foot_moron_urbina" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>
            </p>
        </span>
    </li>
    <li>
        En el presente caso, corresponde enfatizar que, si bien no se puede soslayar la existencia del error descrito, también se debe considerar que ello no condiciona o afecta el sentido de lo resuelto mediante acto administrativo, en tanto que el análisis y la valoración jurídica no sufrieron ninguna variación y que no se ha vulnerado el debido proceso que le asiste al administrado.
    </li>
    <li>
        En esa línea, teniendo en consideración la información precisada en los considerandos que preceden, se realizará el análisis correspondiente en la presente resolución.
    </li>
</ol>
{{/if}}

{{if FLG_REC_RESPONSABILIDAD}}
<h5><u><strong>Sobre el reconocimiento de responsabilidad</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL}; ">
    <li>
        <span>
            Mediante Escrito/Carta N° ${ANTECEDENTES_DOCS.Escrito.numero || ANTECEDENTES_DOCS.Carta.numero || 'XXXX'}, de fecha ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'}, el/la administrado/a reconoce su responsabilidad en la comisión de las infracciones imputadas, señalando lo siguiente:
            <p style="padding-left: 30px; font-style: italic;">
                “Describir lo expuesto por el/la administrado/a”.
            </p>
        </span>
    </li>
    <li>
        En ese escenario, se debe precisar que, conforme al literal a) del numeral 2 del artículo 257 del TUO de la Ley N° 27444, la aceptación de la responsabilidad de la conducta imputada en el presente PAU, constituye condición atenuante de responsabilidad en tanto que su reconocimiento fue expreso y por escrito; por lo tanto, las consecuencias jurídicas de dicha aceptación serán analizadas a mayor profundidad en los siguientes numerales de la presente resolución, con la finalidad de establecer el valor de la multa a imponer, pues con el reconocimiento de su responsabilidad la sanción de multa a aplicar se reduce hasta un monto no menor de la mitad de su importe.
    </li>
    <li>

        Respecto al reconocimiento de la responsabilidad
        <a style="mso-footnote-id: foot_rec_resp" href="#_foot_rec_resp" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        , el autor Morón Urbina
        <a style="mso-footnote-id: foot_moron_urbina_2" href="#_foot_moron_urbina_2" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        señala que el reconocimiento de responsabilidad debe reunir los siguientes requisitos:
        <div style="padding-left: 30px; font-style: italic;">
            <strong>De oportunidad:</strong>
            <div>El reconocimiento debe efectuarse en el marco de un procedimiento administrativo sancionador (…). En este punto es pertinente plantear si el reconocimiento solo será válido como respuesta a la imputación de cargos o puede también en cualquier momento durante el trámite del procedimiento administrativo sancionador. En tanto la ley no ha precisado, limitar la oportunidad del reconocimiento a un determinado momento o etapa del procedimiento administrativo sancionador sería establecer una condición menos favorable al administrado, cuestión que se encuentra prohibida por la LPAG. En ese sentido deberá entenderse que el administrado puede formular el reconocimiento de la responsabilidad sobre las conductas infractoras que se le imputan y surtirá efectos en el monto de la sanción hasta el momento en que se emita la resolución de sanción.</div>
            <strong>De forma:</strong>
            <div>El reconocimiento de responsabilidad sobre las conductas infractoras imputadas debe seguir la forma prevista por la LPAG, esto es, que sea escrita y expresa. En ese sentido, no será un reconocimiento válido aquel que se emita de manera verbal, por lo que se requiere una comunicación por parte del administrado en la que señale, de manera indubitable, el reconocimiento de responsabilidad sobre las imputaciones formuladas por la autoridad administrativa. En esa línea no debe existir vaguedad ni ambigüedad en la declaración del administrado; el reconocimiento debe ser inequívoco, sin que pueda generarse duda alguna sobre el sentido que expresa”.</div>
        </div>

    </li>
    <li>
        En atención a lo antes señalado, <strong>el administrado ha reconocido su responsabilidad de forma expresa, por escrito y sin ninguna ambigüedad</strong>, respecto a las infracciones cuya comisión se le imputó en la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}; concluyéndose que su reconocimiento de responsabilidad reviste las formalidades previstas en la norma para considerarlo como tal, lo que constituye condición atenuante de responsabilidad.
    </li>
    <li>
        <span>
            Ahora bien, el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre (en adelante, RISMFFS), aprobado por Decreto Supremo N° 007-2021-MIDAGRI, establece en el numeral 8.4 de artículo 8 que, si iniciado un procedimiento administrativo sancionador el sujeto infractor reconoce su responsabilidad administrativa de forma expresa y por escrito, la multa aplicable puede reducirse hasta:
            <ol style="list-style-type:lower-alpha" start="1">
                <li>Un 50%, si reconoce su responsabilidad desde el inicio del procedimiento administrativo sancionador hasta la presentación de los descargos a la imputación de cargos.</li>
                <li>Un 25%, si reconoce su responsabilidad luego de presentados los descargos a la imputación de cargos hasta antes de la expedición de la resolución final.</li>
            </ol>
        </span>
    </li>
    <li>En esa línea, el/la administrado/a ha reconocido su responsabilidad mediante el escrito/carta presentado/a el ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'}, es decir, dentro del plazo para la presentación de los descargos a las imputaciones efectuadas mediante el/la Escrito/Carta N° ${ANTECEDENTES_DOCS.Escrito.numero || ANTECEDENTES_DOCS.Carta.numero || 'XXXX'}, de fecha ${ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXXX de XXXX'}, siendo de aplicación el primer supuesto antes mencionado, aspecto que será considerado cuando se realice cálculo de la multa en los considerandos siguientes.</li>
</ol>
{{/if}}

{{if INFRACCIONES.length}}
<h5><u><strong>Sobre las infracciones imputadas</strong></u></h5>
{{each(i, infra) INFRACCIONES}}
<div>
    <ol style="list-style-type: lower-alpha; margin-left: ${MARGIN_LEFT.OL};" start="${i + 1}">
        <li><strong>${infra.titulo}</strong></li>
    </ol>
    {{html infra.parrafos}}
</div>
{{/each}}
{{/if}}

{{if FLG_GRAVEDAD_RIESGO}}
<h5><u><strong>Determinación de la gravedad y/o riesgo generado</strong></u></h5>
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #000;"><strong>Normativa</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Análisis</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                “Criterios para estimar la gravedad del daño por la comisión de infracciones en materia forestal”, aprobado por Resolución de Jefatura Nº 059-2019-OSINFOR.
            </td>
            <td style="border: 1px solid #000;">
                <div>
                    Conforme a los resultados del Informe de Supervisión, la extracción de XX m3 de madera provenientes de árboles no autorizados, representa una afectación de XX hectáreas (XX hectáreas/m3 no autorizado) de nivel XX a la cobertura boscosa, la cual forma parte del Patrimonio Forestal Nacional.
                </div>
                <div>
                    Cabe señalar que, las especies en cuestión no se encuentran incluidas en la lista de Clasificación Oficial de Especies Amenazadas de Flora Silvestre, aprobada mediante Decreto Supremo N° 043-2006-AG
                    <a style="mso-footnote-id: foot_decreto_supremo_1" href="#_foot_decreto_supremo_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>.
                </div>
            </td>
        </tr>
    </tbody>
</table>
{{/if}}

{{if FLG_SANCION}}
<h5>
    <u>
        <strong>
            <span>Sobre la imposición de sanción</span>
            <a style="mso-footnote-id: foot_sancion_titulo" href="#_foot_sancion_titulo" title="">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>, atenuantes y agravantes
        </strong>
    </u>
</h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        <span>De acuerdo con el reporte de antecedentes</span>
        <a style="mso-footnote-id: foot_reporte_antecedentes" href="#_foot_reporte_antecedentes" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a> de fecha XX, se advierte que, el/la Titular no fue sancionada anteriormente por el OSINFOR, y no se identifican agravantes y atenuantes aplicables, en consecuencia, las infracciones acreditadas son pasibles de ser sancionadas de la siguiente manera:
    </li>
</ol>
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="text-align: center; border: 1px solid #000;"><strong>Infracción</strong></th>
            <th style="text-align: center; border: 1px solid #000;"><strong>Sanción</strong></th>
        </tr>
    </thead>
    <tbody>
        {{each(i, infra) INFRACCIONES}}
        <tr>
            <td style="border: 1px solid #000;">
                Numeral "${infra.inciso}" del Anexo 1 del RISMFFS.<br />
                ${infra.titulo}
            </td>
            <td style="border: 1px solid #000; width: 40%; text-align: center; ">
                ${infra.rangoSancion || 'XX UIT'}
            </td>
        </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr>
            <td style="border: 1px solid #000; text-align: center;">
                <strong>Total Sanción de Multa</strong>
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                <strong>${SANCION_UIT || 'XX'} UIT</strong>
            </td>
        </tr>
    </tfoot>
</table>
{{/if}}

{{if FLG_MEDIDA_CORRECTIVA}}
<h5><u><strong>De las medidas correctivas (mandatos)</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Para el presente caso, corresponde analizar si resulta viable dictar la medida correctiva por el incumplimiento del Mandato N° XX y el incumplimiento del plan de manejo (infraestructura de respaldo), según lo dispuesto en los Criterios SGC-M1-CRI-004-V.01 “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre - OSINFOR”, aprobado mediante Resolución de Jefatura Nº 00055-2020-OSINFOR/01.1.
    </li>
</ol>
<h5><u><strong>Sobre el incumplimiento del Mandado N° xx:</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Ahora bien, de acuerdo al Cuadro N° XY (Medidas correctivas en materia de fauna silvestre y plazos para su implementación) de los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre - OSINFOR”, aprobado por Resolución Jefatural N° 00055-2020-OSINFOR, no se establece una medida específica para el incumplimiento de mandatos. No obstante, dispone que “La DFFFS evaluará la pertinencia de disponer otras medidas correctivas que no se encuentren contempladas en el presente documento”.
    </li>
    <li>
        En concordancia a ello, en el literal c) del numeral 11.2 del artículo 11 del RISMFFS, se disponen las medidas correctivas que pueden disponerse, entre las cuales se encuentra la medida de “Adopción de medidas de prevención y mitigación del riesgo o daño a los recursos otorgados a través del derecho de aprovechamiento”.
    </li>
    <li>
        En ese sentido, y habiéndose determinado la necesidad de la implementación continua del manejo de seguridad en el XXXXXXX, el tipo de medida correctiva de prevención y mitigación, la cual es viable acreditando la implementación de candados en todos los recintos del Centro de Custodia Temporal y deberá ser realizada conforme lo señala el Anexo II del presente informe.
    </li>
</ol>
<h5><u><strong>Sobre la implementación del plan de manejo (infraestructura de respaldo):</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        Por otro lado, corresponde analizar si resulta viable dictar la medida correctiva por no implementar infraestructura de respaldo conforme al plan de manejo de fauna silvestre aprobado, según lo dispuesto en los “Criterios para la disposición, seguimiento y verificación de las medidas correctivas y/o mandatos en materia forestal y de fauna silvestre del Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre - OSINFOR”, aprobado por Resolución Jefatural N° 00055-2020-OSINFOR, el tipo de medida correctiva que corresponde aplicar sería de medida implementación del plan de manejo, la cual es viable realizando la implementación del tópico, cuarentena y almacén de acuerdo a lo descrito en el plan de manejo de fauna silvestre y deberá ser realizada conforme lo señala el Anexo II del presente informe.
    </li>
    <li>
        Finalmente, de acuerdo al literal z) del numeral 17.1 del artículo 17 del RGFS, los titulares tienen la obligación de cumplir con la implementación de las medidas correctivas y/o mandatos que se emitan como resultado de las acciones de control, supervisión y/o fiscalización, ejecutadas por la autoridad competente. Cabe señalar que el numeral 13 del anexo 2 del RISMFFS, establece que el incumplir con la implementación de las medidas correctivas constituye una infracción grave.
    </li>
</ol>
{{/if}}

{{if FLG_MEDIDA_COMPLEMENTARIA}}
<h5><u><strong>De las medidas complementarias</strong></u></h5>
<ol class="continue" style="margin-left: ${MARGIN_LEFT.OL};">
    <li>
        En ese sentido, con la finalidad de eliminar o mitigar los efectos producidos por la comisión de la infracción acreditada en el presente procedimiento, tales como el incumplimiento de mandatos, conforme a lo establecido en el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI, publicado con fecha 12 de abril de 2021, el cual señala que de manera complementaria a la sanción a imponerse, puede aplicarse la clausura, ya sea temporal o definitiva, de un establecimiento que desarrolla actividades prohibidas o que contravengan las disposiciones previstas en la legislación forestal y de fauna silvestre.
    </li>
    <li>
        Asimismo, cabe señalar que en el artículo 37 del Reglamento del Procedimiento administrativo Único, aprobado mediante Resolución de Jefatura N° 00043-2021-OSINFOR/01.1, se señala que, de manera complementaria a la sanción a imponerse, puede aplicarse la clausura.
    </li>
    <li>
        Por lo que, respecto a la clausura de un establecimiento por parte de la autoridad de fauna silvestre se debe tomar en cuenta lo establecido en el artículo 4 del Decreto Legislativo N° 1085, mediante el cual se señala la participación de los actores involucrados en el sector forestal y de fauna silvestre.
    </li>
    <li>
        En el presente caso, habiendo verificado los requisitos establecidos en el numeral 7.1.2 de los “Criterios para dictar Medidas Cautelares y Medidas Provisionales en Primera Instancia”, mediante la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.2'} de fecha ${ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se dispuso medida cautelar, conforme al siguiente detalle:
    </li>
    <li>
        La suspensión de actividades del XX autorizado mediante Resolución XX
    </li>
    <li>
        Cabe precisar que, en aplicación del numeral 157.3 del artículo 157 del Texto Único Ordenado de la Ley del Procedimiento Administrativo General, Ley N° 27444, corresponde que las medidas cautelares dispuestas en la resolución sub directoral de inicio del PAU caduquen cuando se emite la resolución que pone fin al procedimiento.
    </li>
    <li>
        Al respecto, conforme al literal c) del numeral 9.1 del artículo 9 del RISMFFS, la medida complementaria de clausura “Consiste en el cierre de un establecimiento que desarrolla actividades prohibidas o que contravengan las disposiciones previstas en la legislación forestal y de fauna silvestre”. Asimismo, la clausura temporal “Consiste en el cierre del establecimiento por un plazo no menor de cinco (5) ni mayor a treinta (30) días hábiles, en los casos de reincidencia de infracciones graves o muy graves”, mientras que clausura definitiva “Cuando su funcionamiento esté prohibido legalmente, constituya un riesgo para la salud de las personas o, en caso de reincidencia de una infracción que contemple clausura temporal”.
    </li>
</ol>
{{/if}}

{{if FLG_COMUNICACION_GORE}}
<h5><u><strong>Comunicación al GORE y/o otras autoridades</strong></u></h5>
<table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr>
            <th style="border: 1px solid #000; text-align: center;"><strong>Entidad</strong></th>
            <th style="border: 1px solid #000; text-align: center;"><strong>Motivo</strong></th>
        </tr>
    </thead>
    <tbody>
        {{each(index, entidad) INSTITUCIONES}}
        <tr>
            <td style="border: 1px solid #000;">
                ${entidad}
            </td>
            <td style="border: 1px solid #000;">
                Se advierte que, la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || '00XX-2023-OSINFOR/08.2.1'}, fue oportunamente remitida a ${TITULAR || 'XXX'}, para que, luego de conocer los resultados de la supervisión del OSINFOR y la disposición del inicio del PAU, en el marco de su atribución fiscalizadora, pueda ejercer las funciones de su competencia. En ese sentido, corresponde comunicarle el resultado y conclusión del presente procedimiento, para los fines pertinentes, para que en el marco de sus competencias ejecuten las acciones correspondientes.
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

