<link href="~/Styles/flags.min.css" rel="stylesheet" />
<script src="~/Scripts/flags.min.js"></script>
<script>jQuery(document).ready(function (a) { a("a.nturl").on("click", function () { function l() { doGoogleLanguageTranslator(default_lang + "|" + default_lang) } function n() { doGoogleLanguageTranslator(default_lang + "|" + lang_prefix) } default_lang = "es", lang_prefix = a(this).attr("class").split(" ")[2], lang_prefix == default_lang ? l() : n() }), a("a.flags").on("click", function () { function l() { doGoogleLanguageTranslator(default_lang + "|" + default_lang) } function n() { doGoogleLanguageTranslator(default_lang + "|" + lang_prefix) } default_lang = "es", lang_prefix = a(this).attr("class").split(" ")[2], a(".tool-container").hide(), lang_prefix == default_lang ? l() : n() }), 0 == a("body > #google_language_translator").length && a("#glt-footer").html("<div id='google_language_translator'></div>") });</script>
<script>
    var charLang = 'es';
</script>
<div class="CabeceraDatos">
    <script>jQuery(document).ready(function (a) { a("a.nturl").on("click", function () { function l() { doGoogleLanguageTranslator(default_lang + "|" + default_lang) } function n() { doGoogleLanguageTranslator(default_lang + "|" + lang_prefix) } default_lang = "es", lang_prefix = a(this).attr("class").split(" ")[2], lang_prefix == default_lang ? l() : n() }), a("a.flag").on("click", function () { function l() { doGoogleLanguageTranslator(default_lang + "|" + default_lang) } function n() { doGoogleLanguageTranslator(default_lang + "|" + lang_prefix) } default_lang = "es", lang_prefix = a(this).attr("class").split(" ")[2], a(".tool-container").hide(), lang_prefix == default_lang ? l() : n() }), 0 == a("body > #google_language_translator").length && a("#glt-footer").html("<div id='google_language_translator'></div>") });</script>
    <div class="CabeceraIdioma" id="divCabeceraIdioma">
        <div id="flags" class="size24">
            <ul id="sortable" class="ui-sortable" style="text-align:right;">
                <li id="Portuguese"><a title="Portuguese" class="notranslate flag pt"></a></li>
                <li id="Italian"><a title="Italian" class="notranslate flag it"></a></li>
                <li id="Française"><a title="French" class="notranslate flag fr"></a></li>
                <li id="English"><a title="English" class="notranslate flag en"></a></li>
                <li id="Español"><a title="Español" class="notranslate flag es"></a></li>
            </ul>
        </div>
        <div id='glt-footer'></div>
    </div>
    <script type='text/javascript'>function GoogleLanguageTranslatorInit() { new google.translate.TranslateElement({ pageLanguage: 'es', autoDisplay: false }, 'google_language_translator'); }</script>
    <script type='text/javascript' src='//translate.google.com/translate_a/element.js?cb=GoogleLanguageTranslatorInit'></script>
    <div class="CabeceraModulo">
        <div>OSINFOR - SIGO</div>
    </div>
</div>