body {
}

.centrar_contenido > thead > tr {
    text-align: center;
}

.centrar_contenido > tbody > tr {
    text-align: center;
}

/*.centrar_contenido > thead > tr > th:not(:nth-child(1),:nth-child(2)) {
    text-align: center;
}

.centrar_contenido > tbody > tr > td:not(:nth-child(1),:nth-child(2)) {
    text-align: center;
}*/
