<div class="table-responsive">
    <table id="tbItemTitulares" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th colspan="8" class="text-sm-left">
                    <i class="fa fa-file-o" onclick="" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>                    
                    Lista de Titulares - Consolidado
                </th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th>Nº</th>
                <th>Apelldios y Nombres</th>
                <th>DNI</th>
                <th>N° THabilitante</th>
                <th>F. Inicio</th>
                <th>F. Fin</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
