@model CapaEntidad.ViewModel.VM_TableroEstadistico

<script src="~/Scripts/datatables/Extensions/dataTables.buttons.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.flash.min.js"></script>
<script src="~/Scripts/datatables/Extensions/jszip.min.js"></script>
<script src="~/Scripts/datatables/Extensions/pdfmake.js"></script>
<script src="~/Scripts/datatables/Extensions/vfs_fonts.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.html5.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.print.js"></script>
<script src="~/Scripts/chart/Chart.min.js"></script>
<script src="~/Scripts/chart/custom.js"></script>

<link href="~/Content/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Areas/Capacitacion/css/ManCapacitacion/Reporte.css" rel="stylesheet" />

<script>
    var _renderReport02 = {};

    _renderReport02.fnInitDataTable_Detail = function () {
        var columns_label = [], columns_data = [], options = {};

        columns_label = ["Fecha Emisión", "Titular", "Título Habilitante", "Resolución Sub Directoral", "Expediente Administrativo", "Num. Informe", "Medidas Cautelares", "Guía de Transporte Forestal", "Lista de trozas", "Plan de manejo", "POA/PO", "Observaciones"];
        columns_data = ["FECHA_EMSION", "TITULAR", "TITULO", "RESOLUCION", "NUMERO_EXPEDIENTE", "NUM_INFORME", "MED_CAUTELAR", "GUIA_TF", "LISTA_TROZAS", "PLAN_MANEJO", "POA", "OBSERVACIONES"];
        options = {
            page_length: 10, button_copy: true, button_csv: true, button_excel: true, button_pdf: true, button_print: true
            , export_title: $("#tbDetalle02").find("thead tr")[0].innerText.trim(), row_index: true, page_sort: true, page_info: true

        };

        _renderReport02.dtReporte2 = utilDt.fnLoadDataTable_Detail(_renderReport02.frm.find("#tbDetalle02"), columns_label, columns_data, options);
        _renderReport02.dtReporte2.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model.detalle01))')).draw();

    }

    $(document).ready(function () {
        _renderReport02.frm = $("#frmReporteDetalle02");
        _renderReport02.fnInitDataTable_Detail();
    });
</script>

<div class="container" id="frmReporteDetalle02">
    <br /><br />
    <hr />
    <div class="row">
        <div class="col-sm-12">
            @if (Model.detalle01.Count > 0)
            {
                var count = 0;

                <div class="table-responsive">
                    <table id="tbDetalle02" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead style="text-align: center !important;">
                            <tr>
                                <th colspan="14" class="text-sm-left">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-inline">
                                                <strong> Detalle de las Resoluciones Sub Directorales </strong>
                                            </div>
                                        </div>

                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="8">RD Inicio</th>
                                <th colspan="5">Medidas Cautelares</th>
                                <th></th>
                            </tr>

                        </thead>
                        <tbody>

                   
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <h2>No se encontraron registros</h2>
            }
        </div>

    </div>
</div>
