<div style="mso-element: footnote;" id="foot_infraccion_1_1" data-inciso="1">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_1_1;" href="#_foot_infraccion_1_1" name="_foot_infraccion_1_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Consignar a que formato del Informe de supervisión corresponde.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_1_2" data-inciso="1">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_1_2;" href="#_foot_infraccion_1_2" name="_foot_infraccion_1_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Debe tenerse presente que la responsabilidad administrativa recae en quien realiza la conducta omisiva o activa constitutiva de infracción, acorde al principio de causalidad establecido en el numeral 8 del artículo 248 del TUO de la Ley N° 27444.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_2_1" data-inciso="2">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_2_1;" href="#_foot_infraccion_2_1" name="_foot_infraccion_2_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Precisar la Resolución que aprueba el PO/PMFI así como el recurso aprobado y el periodo de vigencia
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_2_2" data-inciso="2">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_2_2;" href="#_foot_infraccion_2_2" name="_foot_infraccion_2_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI</strong>
            <br />
            <strong>“Artículo 66.- Informe de ejecución forestal</strong>
            El informe de ejecución forestal tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo. Se presenta a la ARFFS y al OSINFOR, dentro de los cuarenta y cinco días calendario.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_2_3" data-inciso="2">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_2_3;" href="#_foot_infraccion_2_3" name="_foot_infraccion_2_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Incluso habiéndose realizado la consulta en el Sistema de Trámite Documentario- SITD del OSINFOR, a la fecha, no han sido presentados.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_2_4" data-inciso="2">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_2_4;" href="#_foot_infraccion_2_4" name="_foot_infraccion_2_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Debe tenerse presente que la responsabilidad administrativa recae en quien realiza la conducta omisiva o activa constitutiva de infracción, acorde al principio de causalidad establecido en el numeral 8 del artículo 248 del TUO de la Ley N° 27444.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_10_1" data-inciso="10">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_10_1;" href="#_foot_infraccion_10_1" name="_foot_infraccion_10_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Conforme al Formato de Evaluación en Campo – Registro de Individuos Semilleros Evaluados (Anexo 10 del Informe de Supervisión).
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_10_2" data-inciso="10">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_10_2;" href="#_foot_infraccion_10_2" name="_foot_infraccion_10_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Para el caso en concreto, la forma de subsanar la conducta constitutiva de presunta infracción se encuentra establecida en el Numeral 10 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del Reglamento para Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado por Decreto Supremo N° 007-2021-MIDAGRI.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_10_3" data-inciso="10">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_10_3;" href="#_foot_infraccion_10_3" name="_foot_infraccion_10_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Debe tenerse presente que la responsabilidad administrativa recae en quien realiza la conducta omisiva o activa constitutiva de infracción, acorde al principio de causalidad establecido en el numeral 8 del artículo 248 del TUO de la Ley N° 27444.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11_1" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_11_1;" href="#_foot_infraccion_11_1" name="_foot_infraccion_11_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Conforme Vigencia que inicia desde el día siguiente de la notificación de la Resolución Directoral N° xxxx-GOBIERNO REGIONAL xxxx de fecha xxx, según lo señalado en el artículo 1 de la misma, resolución notificada con fecha xxxx, conforme se aprecia del Cargo de Notificación N° xxxx.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11_2" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_11_2;" href="#_foot_infraccion_11_2" name="_foot_infraccion_11_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Según la información consignada en el Informe de Supervisión, se advierte que en el Balance de Extracción y Forma 20, de fecha xxx y GTF, el/la administrado (a) realizó la última movilización de recursos forestales el xx de xxxxx de 20xx (documentación remitida con Oficio N° xxxx, de fecha xxxx (registro N° xxxx).
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11_3" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_11_3;" href="#_foot_infraccion_11_3" name="_foot_infraccion_11_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Con Resolución de Dirección Ejecutiva N° 264-2019-MINAGRI-SERFOR-DE, de fecha 30 de diciembre de 2019, se aprueba el formato actualizado del “Libro de Operaciones de los Títulos Habilitantes para aprovechamiento forestal maderable”, el cual es exigible a partir del 02 de marzo del 2020, para aquellos titulares con planes de manejo forestal (PMFI, PO y DEMA) aprobados a partir de la fecha señalada, y para los titulares de títulos habilitantes que cuenten con planes de manejo forestal (PMFI, PO y DEMA) aprobados y que al 02 de marzo de 2020 se encuentren en ejecución. Para estos últimos, el registro de información será obligatorio para las actividades de trozado y despacho.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11_4" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_11_4;" href="#_foot_infraccion_11_4" name="_foot_infraccion_11_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Cabe precisar que, dicha información -tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR- fue solicitada al/la administrado (a) con Carta N° xxxxx-2022-OSINFOR/08.x, sin que a la fecha haya cumplido con remitir la mencionada documentación.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_11_5" data-inciso="11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_11_5;" href="#_foot_infraccion_11_5" name="_foot_infraccion_11_5">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Debe tenerse presente que la responsabilidad administrativa recae en quien realiza la conducta omisiva o activa constitutiva de infracción, acorde al principio de causalidad establecido en el numeral 8 del artículo 248 del TUO de la Ley N° 27444.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_16_1" data-inciso="16">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_16_1;" href="#_foot_infraccion_16_1" name="_foot_infraccion_16_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Consignar la fuente BE. Forma 20, ect.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_16_2" data-inciso="16">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_16_2;" href="#_foot_infraccion_16_2" name="_foot_infraccion_16_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Precedente de observancia obligatoria establecido en el artículo 1 de la Resolución Nº 076-2017-OSINFOR-TFFS.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_16_3" data-inciso="16">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_16_3;" href="#_foot_infraccion_16_3" name="_foot_infraccion_16_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Permiso Forestal N° xxxx</strong>
            <br />
            <strong>xxx:</strong> “EL TITULAR al movilizar sus cargamentos extraídos deberá acompañarlos con una Guía de Transporte Forestal y Lista de Trozas de las cantidades extraídas de los productos forestales hasta el puesto de control de la SOFFSA-GERFFS, donde se procederá a realizar la inspección correspondiente y el pago de derechos forestales, la misma que presentar las veces que lo requiera el personal encargado del control forestal de la SOFFSA-xxxx.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_16_4" data-inciso="16">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_16_4;" href="#_foot_infraccion_16_4" name="_foot_infraccion_16_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Documento de fecha xxx, remitido por la ARFFS mediante Oficio N° xxxx, ingresado al OSINFOR con fecha xxxx y registro N° xxxx
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_21_1" data-inciso="21">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_21_1;" href="#_foot_infraccion_21_1" name="_foot_infraccion_21_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Documento de fecha xxx, remitido por la ARFFS mediante Oficio N° xxxx, ingresado al OSINFOR con fecha xxxx y registro N° xxxx
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_26_1" data-inciso="26">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_26_1;" href="#_foot_infraccion_26_1" name="_foot_infraccion_26_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Debe tenerse presente que la responsabilidad administrativa recae en quien realiza la conducta omisiva o activa constitutiva de infracción, acorde al principio de causalidad establecido en el numeral 8 del artículo 248 del TUO de la Ley N° 27444.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_26_2" data-inciso="26">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_26_2;" href="#_foot_infraccion_26_2" name="_foot_infraccion_26_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Resolución de Dirección Ejecutiva N° 122-2015-SERFOR-DE.</strong>
            <br />
            <strong>Artículo 4.-</strong> Los autorizados a emitir guías de transporte deben remitir a la Autoridad Regional Forestal y de Fauna Silvestre el talonario de las guías debidamente numeradas, a fin de que dicha información sea registrada y para que dicha autoridad consigne una marca en cada guía. Posterior a ello, se consigna la información exigida para su movilización.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_29_1" data-inciso="29">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_29_1;" href="#_foot_infraccion_29_1" name="_foot_infraccion_29_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            En el expediente se incluye el contrato de regencia.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_32_1" data-inciso="32">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_32_1;" href="#_foot_infraccion_32_1" name="_foot_infraccion_32_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Cuadro N° xx del Informe de Supervisión. Consolidado de los resultados de la supervisión al xxxx del Permiso N° xxx
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_32_2" data-inciso="32">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_32_2;" href="#_foot_infraccion_32_2" name="_foot_infraccion_32_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Presentado por el/la administrado (a) ante la (precisar ARFFS y/o OSINFOR), a través del escrito xxxx. de fecha xxxxx, con registro N° xxxx.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_32_3" data-inciso="32">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_32_3;" href="#_foot_infraccion_32_3" name="_foot_infraccion_32_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Citar el marco normativo correspondiente.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_32_4" data-inciso="32">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_32_4;" href="#_foot_infraccion_32_4" name="_foot_infraccion_32_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>TUO de la Ley Nº 27444 “Ley del Procedimiento Administrativo General”, aprobado mediante Decreto Supremo N° 004-2019-JUS</strong>
            <br />
            <strong>Artículo 51.- Presunción de veracidad</strong>
            <br />
            <strong>51.1 </strong> Todas las declaraciones juradas, los documentos sucedáneos presentados y la información incluida en los escritos y formularios que presenten los administrados para la realización de procedimientos administrativos, se presumen verificados por quien hace uso de ellos, respecto a su propia situación, así como de contenido veraz para fines administrativos, salvo prueba en contrario. En caso de documentos emitidos por autoridades gubernamentales o por terceros, el administrado puede acreditar su debida diligencia en realizar previamente a su presentación las verificaciones correspondientes y razonables.
            <br />
            <strong>51.2</strong> En caso de las traducciones de parte, así como los informes o constancias profesionales o técnicas presentadas como sucedáneos de documentación oficial, dicha responsabilidad alcanza solidariamente a quien los presenta y a los que los hayan expedido.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_1" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_1;" href="#_foot_infraccion_b_1" name="_foot_infraccion_b_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Ley Forestal y de Fauna Silvestre N 29763</strong>
            <br />
            <strong>Artículo 153.- Causales de Caducidad de los Títulos Habilitantes</strong>
            <br />
            Los derechos a títulos habilitantes para el aprovechamiento de los recursos forestales y de fauna silvestre caducan en los siguientes casos:
            <br />
            (…)
            <br />
            b. Por la extracción o movilización de recursos forestales y de fauna silvestre no autorizadas.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_2" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_2;" href="#_foot_infraccion_b_2" name="_foot_infraccion_b_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI</strong>
            <br />
            <strong>Artículo 44.- Causales de Caducidad de los títulos habilitantes</strong>
            <br />
            El OSINFOR es la autoridad competente para declarar la caducidad de los títulos habilitantes o derechos contenidos en ellos. Constituyen causales de caducidad las siguientes:
            <br />
            (…)
            <br />
            b. La extracción o movilización de recursos forestales y de fauna silvestre no autorizadas.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_3" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_3;" href="#_foot_infraccion_b_3" name="_foot_infraccion_b_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Publicado en el Diario Oficial El Peruano el día 16 de octubre de 2018.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_4" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_4;" href="#_foot_infraccion_b_4" name="_foot_infraccion_b_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Según se advierte de la revisión del SIGOfc del OSINFOR, de fecha 4 de agosto de 2023, la administrada, a la fecha de la presente resolución, no cuenta con antecedentes por la comisión de infracciones tipificadas en la legislación forestal, no registra sanción y multa impuesta por la Dirección del Procedimiento Sancionador Forestal y de Fauna Silvestre.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_b_5" data-inciso="b">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_b_5;" href="#_foot_infraccion_b_5" name="_foot_infraccion_b_5">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Texto Único Ordenado – TUO de la Ley Nº 27444, Ley del Procedimiento Administrativo General, aprobado por Decreto Supremo N° 004-2019-JUS.</strong>
            <br />
            Artículo IV. Principios del procedimiento administrativo
            <br />
            1. El procedimiento administrativo se sustenta fundamentalmente en los siguientes principios, sin perjuicio de la vigencia de otros principios generales del Derecho Administrativo:
            <br />
            <strong>1.1. Principio de legalidad.-</strong> Las autoridades administrativas deben actuar con respeto a la Constitución, la ley y al derecho, dentro de las facultades que le estén atribuidas y de acuerdo con los fines para los que les fueron conferidas. (…).
            <br />
            <strong>1.15. Principio de predictibilidad o de confianza legítima</strong> (…) La autoridad administrativa se somete al ordenamiento jurídico vigente y no puede actuar arbitrariamente. En tal sentido, la autoridad administrativa no puede variar irrazonable e inmotivadamente la interpretación de las normas aplicables.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_1" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_e_1;" href="#_foot_infraccion_e_1" name="_foot_infraccion_e_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Ley Forestal y de Fauna Silvestre N 29763</strong>
            <br />
            <strong>Artículo 153.- Causales de Caducidad de los Títulos Habilitantes</strong>
            <br />
            Los derechos a títulos habilitantes para el aprovechamiento de los recursos forestales y de fauna silvestre caducan en los siguientes casos:
            <br />
            (…)
            <br />
            e) Por el no pago de derecho de aprovechamiento a los cuales se encuentra sujetos, dentro de los plazos establecidos en el reglamento de la presente Ley/o en el título respectivo.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_2" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_e_2;" href="#_foot_infraccion_e_2" name="_foot_infraccion_e_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            <strong>Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI</strong>
            <br />
            <strong>Artículo 44.- Causales de Caducidad de los títulos habilitantes</strong>
            <br />
            El OSINFOR es la autoridad competente para declarar la caducidad de los títulos habilitantes o derechos contenidos en ellos. Constituyen causales de caducidad las siguientes:
            <br />
            (…)
            <br />
            e) El no pago por derecho de aprovechamiento al cual se encuentra sujeto, dentro de los plazos establecidos en el reglamento o en el título respectivo, salvo que exista refinanciamiento, fraccionamiento o suspensión de la obligación aprobada por la ARFFS.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_3" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_e_3;" href="#_foot_infraccion_e_3" name="_foot_infraccion_e_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Cabe indicar que a la fecha el concesionario adeuda por concepto de derecho de aprovechamiento un total de S/. 12 983.43 (doce mil novecientos ochenta y tres con 79/100 soles), correspondiente a los periodos 2019-2020, 2020-2021 y 2021-2022. Precisar que, al iniciarse el presente PAU, se imputó un monto menor (S/. 7 007.79 soles) dado que en ese momento el periodo operativo 2021-2022 se encontraba vigente.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_infraccion_e_4" data-inciso="e">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_e_4;" href="#_foot_infraccion_e_4" name="_foot_infraccion_e_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Mediante la Resolución de Jefatura N° 009-2018-OSINFOR, del 12 de octubre de 2018, se aprobaron los “Criterios para la declaración de caducidad del título habilitante en el Procedimiento Administrativo Único – PAU del OSINFOR”, entre los cuales dispone que la caducidad, por el no pago por derecho de aprovechamiento dentro de los plazos establecidos, se declara cuando concurran cada uno de los siguientes criterios:
            <ul>
                <li>Que el año operativo para el aprovechamiento haya concluido.</li>
                <li>Que el concesionario no haya efectuado el pago total del derecho de aprovechamiento.</li>
            </ul>
        </p>
    </div>
</div>