<script>
    var _renderTallerDetalle = {};

    _renderTallerDetalle.fnInitDataTable_Detail = function () {
        var columns_label = [], columns_data = [], options = {};
        columns_label = ["Oficina Desconcentrada", "Título", "Modalidad", "Titular", "Representante Legal", "Departamento", "Provincia",
            "Distrito", "Fecha vigencia", "Fecha Corte", "Area", "Ultimo plan", "Rojo", "Verde", "Alerta", "PASPEQ", "PASPEQ enfoque",
            "Fecha supervisión", "volumen aprobado", "volumen  movilizado", "volumen injustificado", "Infracciones", "Multas", "Estado PAU",
            "Estado pago", "Modalidad de pago", "Mecanismo de compensación", "Nro. capacitaciones", "Fecha ultima capacitacion",
            "Tema de capacitación", "Mochila capacitación", "Mochila entrenamiento", "Prioridad"];
        columns_data = ["OFICINA_DESCONCENTRADA", "TITULO", "MODALIDAD", "TITULAR", "REP_LEGAL", "DEPARTAMENTO", "PROVINCIA", "DISTRITO",
            "FECHA_VIGENCIA", "FECHA_CORTE", "AREA", "ULTIMO_PLAN", "ROJO", "VERDE", "ALERTA", "PASPEQ", "PASPEQ_ENFOQUE", "FECHA_SUPERVISION",
            "S_VOL_APROB", "S_VOL_MOV", "S_VOL_INJUST", "INFRACCIONES", "MULTAS", "ESTADO_PAU", "ESTADO_PAGO", "MODALIDAD_PAGO", "MEC_COMP",
            "N_CAPACITACION", "FECHA_ULT_CAP", "TEMA_ULT_CAP", "TEMA_MOCHILA_CAP", "TEMA_MOCHILA_ENT", "PRIORIDAD"];
        options = {
            page_paging: true, page_length: 10, row_index: true, row_select: false
        };

        utilDt.fnLoadDataTable_Detail(_renderTallerDetalle.frm.find("#tbListTallerDetalle"), columns_label, columns_data, options);
        _renderTallerDetalle.dtRenderUniversoPDC = _renderTallerDetalle.fnInitDataTablePaging(options);
    }

    _renderTallerDetalle.fnInitDataTablePaging = function (options) {
        var optDt = {};
        optDt.iLength = options.page_length;
        optDt.iStart = 0;
        optDt.bSearch = false;
        optDt.bInfo = true;
        optDt.bSort = true;
        optDt.aSort = [];
        return _renderTallerDetalle.frm.find("#tbListTallerDetalle").DataTable({
            processing: true,
            serverSide: true,
            searching: optDt.bSearch,
            ordering: optDt.bSort,
            deferLoading: 0,
            paging: true,
            ajax: {
                "url": urlLocalSigo + "CAPACITACION/ManPDC/ConsultTablaTallerDetalle",
                "data": function (d) {
                    d.customSearchEnabled = true;
                    d.customSearchForm = ""; //ddlModalFiscalizacion
                    for (var i = 0; i < d.order.length; i++) {
                        d.order[i]["column_name"] = d.columns[d.order[i]["column"]]["data"];
                    }
                    d.columns = null;
                },
                "error": function (jqXHR) {
                    utilSigo.unblockUIGeneral();
                    utilSigo.toastError("Error", initSigo.MessageError);
                    console.log(jqXHR.responseText);
                }
            },
            columns: options.table_columns,
            bInfo: optDt.bInfo,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
            //"bLengthChange": false, //para el cambio de numeros de la pagina
            "aaSorting": optDt.aSort,
            "pageLength": optDt.iLength,
            "displayStart": optDt.iStart,
            "oLanguage": initSigo.oLanguage,
            "drawCallback": initSigo.showPagination,
        });

    }

    _renderTallerDetalle.fnInit = function () {
        _renderTallerDetalle.dtConsultaInforme.ajax.reload();
        alert('ingreso aqui');
    }

    $(document).ready(function () {
        _renderTallerDetalle.frm = $("#divTallerDetalle");
        _renderTallerDetalle.fnInitDataTable_Detail();
        _renderTallerDetalle.dtRenderUniversoPDC.ajax.reload();

    });
</script>

<div id="divTallerDetalle">

    <div class="table-responsive">
        <table id="tbListTallerDetalle" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th colspan="34" class="text-sm-left">
                        <div class="form-inline">
                            <strong> Datos de TH Capacitables</strong>&nbsp;
                            <label style="cursor:pointer;" class="fa mx-2 fa-lg fa-file-excel-o" title="Importar Archivo" data-toggle="tooltip" onclick="_rendReporteConsolidadoPDC.fnExport()">
                                &nbsp; Descargar TH Capacitables &nbsp;
                            </label>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
