
@model CapaEntidad.ViewModel.VM_ReporteGeneral
@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script type="text/javascript">
    var _rendReporteConsolidadoPDC = {};

    _rendReporteConsolidadoPDC.fnReporte = function () {
        //let codUsuario = 'Consolidado';
        let url = urlLocalSigo + "CAPACITACION/ManPDC/ReporteConsolidado";
        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            traditional: true,
            data: {},
            success: function (data) {
                $('div#divReporteConsolidado').html(data);
                _rendReporteConsolidadoPDC.fnReporteTalleres();

            }
        });
    }

    _rendReporteConsolidadoPDC.fnReporteTalleres = function () {
        //let codUsuario = 'Consolidado';
        let url = urlLocalSigo + "CAPACITACION/ManPDC/ReporteTalleres";
        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            traditional: true,
            data: {},
            success: function (data) {
                $('div#divReporteTalleres').html(data);

            }
        });
    }

    _rendReporteConsolidadoPDC.fnExportDetalle = function () {
        var url = urlLocalSigo + "CAPACITACION/ManPDC/DescargarUniversoPDC";
        var option = { url: url, datos: JSON.stringify({}), type: 'POST' };

        utilSigo.fnAjax(option, function (data) {
            if (data.success) {
                document.location = urlLocalSigo + "Archivos/Plantilla/" + data.msj;
            }
            else {
                utilSigo.toastWarning("Aviso", "Sucedio un error, Comuníquese con el Administrador");
                console.log(data.msj);
            }
        });
    }

    _rendReporteConsolidadoPDC.fnReporteDetalle = function (TOficinaDesconcentrada, TModalidad) {
        let OficinaDesconcentrada = TOficinaDesconcentrada;
        let Modalidad = TModalidad;

        let url = urlLocalSigo + "CAPACITACION/ManPDC/ReporteConsolidadoDetalle";
        // alert(direccion)


        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            traditional: true,
            data: { 'oficina': OficinaDesconcentrada, 'modalidad': Modalidad },
            success: function (data) {
                _rendReporteConsolidadoPDC.frm.find("#divReporteDetalleConsolidado").show();
                _rendReporteConsolidadoPDC.frm.find("#divReporteTallereDetalle").hide();
                $('div#divReporteDetalleConsolidado').html(data);
            }
        });


    }

    _rendReporteConsolidadoPDC.fnReporteDetalleTaller = function (TLugar, TModalidad) {
        let Lugar = TLugar;
        let Modalidad = TModalidad;

        let url = urlLocalSigo + "CAPACITACION/ManPDC/ReporteTallerDetalle";
        // alert(direccion)

        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            traditional: true,
            data: { 'lugar': Lugar, 'modalidad': Modalidad },
            success: function (data) {
                _rendReporteConsolidadoPDC.frm.find("#divReporteTallereDetalle").show();
                _rendReporteConsolidadoPDC.frm.find("#divReporteDetalleConsolidado").hide();
                $('div#divReporteTallereDetalle').html(data);
            }
        });


    }

    _rendReporteConsolidadoPDC.fnReporteDetalleTallerPASPEQ = function (TLugar, TModalidad) {
        let Lugar = TLugar;
        let Modalidad = TModalidad;

        let url = urlLocalSigo + "CAPACITACION/ManPDC/ReporteTallerDetallePASPEQ";
        // alert(direccion)

        $.ajax({
            url: url,
            type: 'POST',
            datatype: "json",
            traditional: true,
            data: { 'lugar': Lugar, 'modalidad': Modalidad },
            success: function (data) {
                _rendReporteConsolidadoPDC.frm.find("#divReporteTallereDetalle").show();
                _rendReporteConsolidadoPDC.frm.find("#divReporteDetalleConsolidado").hide();
                $('div#divReporteTallereDetalle').html(data);
            }
        });


    }
    _rendReporteConsolidadoPDC.fnExport = function () {
        var url = urlLocalSigo + "CAPACITACION/ManPDC/DescargarUniverso";

        let option = { url: url, datos: "", type: 'POST' };
        utilSigo.fnAjax(option, function (data) {
            if (data.success) {
                document.location = urlLocalSigo + "Archivos/Plantilla/" + data.msj;
            }
            else {
                utilSigo.toastWarning("Aviso", "Sucedio un error, Comuníquese con el Administrador");
                console.log(data.msj);
            }
        });
    }

    $(document).ready(function () {
        _rendReporteConsolidadoPDC.frm = $("#divReporteConsolidadoPDC");
        _rendReporteConsolidadoPDC.fnReporte();
    });


</script>



<div id="divReporteConsolidadoPDC" class="container-fluid" style="font-size:12px !important;">
    <div class="card">
        <div class="card-header text-left">
            <h5>Reporte de Consolidado del PDC</h5>
        </div>
    </div>
    <div class="card-body">
        <div class="row">

        </div>

        <div><hr /></div>
        <div id="divReporteConsolidado">

        </div>
        <div><br /></div>
        <div id="divReporteDetalleConsolidado">

        </div>
        <div><br /></div>
        <div id="divReporteTalleres">

        </div>
        <div id="divReporteTallereDetalle">

        </div>
    </div>
</div>