<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
            </td>
            <td style="border: 1px solid #000;">
                Literal a) del numeral 43.1 del artículo 43 del RGF
                <a style="mso-footnote-id: foot_infraccion_32" href="#_foot_infraccion_32" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>.
            </td>
            <td style="border: 1px solid #000;">
                Numeral 32 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
                <br /><br />
                <i>"Elaborar, suscribir y/o presentar planes de manejo e informes de ejecución que contengan información falsa o adulterada"</i>
            </td>
        </tr>
    </tbody>
</table>
<ol class="continue" style="margin-left: -37pt;">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se imputó al/la concesionario/a presuntamente no contar con regente forestal para la implementación del plan de manejo forestal.
    </li>
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:<br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, ha quedado acreditado lo siguiente:
            <br />
            <ul>
                <li>
                    La muestra de árboles evaluada por el supervisor lo conformaron XXX árboles (detallar si son aprovechables o semilleros), de los cuales, XX árboles no fueron encontrados a los 50 metros a la redonda respecto de las coordenadas UTM declaradas en el plan de manejo forestal.
                </li>
                <li>
                    La inexistencia de árboles supera el 10% de la muestra evaluada, puesto que no se encontraron XX árboles de un total de XX árboles evaluados, lo que equivale al XX% de la muestra y supone la existencia de información falsa en el plan de manejo forestal.
                </li>
                <li>
                    Al respecto, el artículo 54 del RGF, establece que el plan de manejo forestal es el instrumento de gestión forestal que constituye la herramienta dinámica y flexible para la implementación, seguimiento y control de las actividades de manejo forestal, orientado a lograr la sostenibilidad del ecosistema. <strong>Tiene carácter de declaración jurada, y su veracidad es responsabilidad del titular y el regente, según corresponda.</strong>
                </li>
                <li>
                    Cabe señalar que la infracción referida a documentación falsa se configura con la presentación de manifestaciones no concordantes con la realidad, es decir cuando se produzca un falseamiento de ésta, a través del quebrantamiento del Principio Presunción de Veracidad que ampara a dicha información, de conformidad con lo establecido en el numeral 1.7 del Artículo IV del Título Preliminar y el numeral 51.1 del artículo 51 del Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General.
                </li>
                <li>
                    En esa línea, es posible inferir, que el/la concesionario/a habría elaborado, suscrito y presentado el plan de manejo forestal, conteniendo información falsa debido a la inexistencia de XX individuos (detallar si son aprovechables o semilleros), que representa un XX% de la muestra del citado documento de gestión, lo cual es atribuible en su contra.
                </li>
            </ul>
        </span>
    </li>
    <li>
        Por ello, estando a la evaluación realizada a los actuados en el presente procedimiento, y siendo que el/la concesionario/a no presentó argumentos de defensa suficientes que logren desacreditar los hechos que sustentan la imputación materia de análisis, ha quedado acreditada la comisión de la infracción tipificada en el numeral 32 del Cuadro de Infracciones en Materia Forestal del Anexo 1 del RISMFFS.
    </li>
</ol>