<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Cumplir con la implementación del plan de manejo aprobado.
            </td>
            <td style="border: 1px solid #000;">
                Literal a) del numeral 43.1 del artículo 43 del RGF
                <a style="mso-footnote-id: foot_infraccion_19" href="#_foot_infraccion_19" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>.
            </td>
            <td style="border: 1px solid #000;">
                Numeral 19 del Cuadro de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre del Anexo 1 del RISMFFS.
                <br /><br />
                <i>"Realizar el retiro de cobertura vegetal cuando no esté permitido por la legislación o no se cuente con la autorización correspondiente"</i>
            </td>
        </tr>
    </tbody>
</table>
<ol class="continue" style="margin-left: -37pt;">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se imputó al/la concesionario/a presuntamente incumplir con las obligaciones legamente establecidas en el contrato de concesión y el plan de manejo aprobado, al no haber declarado el aprovechamiento de un volumen de XX.XXX m3 (descripción del volumen total no declarado, precisando el volumen correspondiente a cada especie).
    </li>
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:<br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, ha quedado acreditado lo siguiente:<br />
            <ul>
                <li>
                    <span>
                        Existe pérdida de bosque de X.XXX hectáreas, ocurridas en el tiempo de vigencia del plan de manejo, por cultivos de papaya atribuible al concesionario, conforme al cuadro e imágenes siguientes:
                        <br />
                        <div style="text-align: center;">
                            <strong>Cuadro N° XX: Pérdida de cobertura forestal cuya responsabilidad recae en el concesionario</strong>
                        </div>
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%; margin: 0 0 0 -30px;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        N°
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        Evaluación
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" colspan="2">
                                        Coordenadas UTM, Datum
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        Afectación a la cobertura boscosa (ha)
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="3">
                                        Descripción
                                    </th>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;" colspan="2">
                                        WGS 84 / Zona 18 S
                                    </th>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Este
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Norte
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">1</td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                    <td style="border: 1px solid #000; text-align: center;"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="font-size: 9pt; margin-top: 0; text-align: center;">
                            <strong>Fuente:</strong> Elaboración propia en base a los resultados de campo
                        </div>
                    </span>
                </li>
                <li>
                    El retiro de cobertura forestal se realizó por actividades (describir el tipo), lo que implica el desbosque no autorizado.
                </li>
            </ul>
        </span>
    </li>
    <li>
        Por ello, estando a la evaluación realizada a los actuados en el presente procedimiento, 
        <strong>y siendo que el/la concesionario/a no presentó argumentos de defensa suficientes que logren desacreditar los hechos que sustentan la imputación materia de análisis</strong>, ha quedado
        acreditada la comisión de la infracción tipificada en el numeral 19 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </li>
</ol>