<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Cumplir con el pago por derecho de aprovechamiento, de acuerdo al título habilitante.
            </td>
            <td style="border: 1px solid #000;">
                Literal c) del numeral 43.1 del artículo 43 y el artículo 114 del RGF; concordado con el numeral XX de la Cláusula XXXXXX del contrato de concesión.
            </td>
            <td style="border: 1px solid #000;">
                Literal e) del artículo 153 de la LFFS, concordado con el literal e) del artículo 44 RGF y con el numeral XX de la Cláusula XXXXX del contrato de concesión.
                <br /><br />
                <i>"El no pago por derecho de aprovechamiento al cual se encuentra sujeto dentro de los plazos establecidos, salvo que exista refinanciamiento, fraccionamiento o suspensión de obligaciones aprobados por la ARFFS".</i>
            </td>
        </tr>
    </tbody>
</table>
<ol class="continue" style="margin-left: -37pt;">
    <li>
        Mediante la Resolución Sub Directoral N° XXXXX-XXXX-OSINFOR/08.2.1, de fecha XX de XXXX, se imputó al/la concesionario/a presuntamente no contar con regente forestal para la implementación del plan de manejo forestal.
    </li>
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:<br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, ha quedado acreditado lo siguiente:<br />
            <ul>
                <li>
                    El/la concesionario/a incumplió con el pago del derecho de aprovechamiento correspondiente al periodo XXXX-XXXX por un monto equivalente XXXX (indicar el monto en letras), y no existe aprobación de fraccionamiento o suspensión de obligaciones respecto de dicha deuda de acuerdo a lo informado por la ARFFS con Oficio N° XXXXXXXXXX.
                </li>
                <li>
                    El incumplimiento antes mencionado constituye causal de caducidad, conforme al literal e) del artículo 153 de la LFFS, salvo que exista refinanciamiento, fraccionamiento o suspensión de obligaciones aprobados por la ARFFS, conforme al artículo 44 del RGF.
                </li>
                <li>
                    <span>
                        Al respecto, es preciso indicar que mediante la Resolución de Jefatura N° 009-2018-OSINFOR, del 12 de octubre de 2018, se aprobaron los "Criterios para la declaración de caducidad del título habilitante en el Procedimiento Administrativo Único - PAU del OSINFOR", entre los cuales dispone que la caducidad, por el no pago por derecho de aprovechamiento dentro de los plazos establecidos, se declara cuando concurran cada uno de los siguientes criterios:<br />
                        <ul>
                            <li>
                                Que el año operativo para el aprovechamiento haya concluido.
                            </li>
                            <li>
                                Que <strong>el/la concesionario/a</strong> no haya efectuado el pago total de derecho de aprovechamiento.
                            </li>
                        </ul>
                    </span>
                </li>
                <li>
                    <span>
                        En relación a lo antes señalado, es preciso verificar que, en el presente caso, se hayan dado los presupuestos requeridos, a fin de determinar si procede declarar la caducidad del contrato de concesión por la causal imputada:<br />
                        <ul>
                            <li>
                                <strong>El/la concesionario/a</strong> mantiene deuda pendiente de pago por concepto de derecho de aprovechamiento referida a los periodos XXXXXX que ya concluyeron.
                            </li>
                            <li>
                                El concesionario mantiene deuda pendiente de pago correspondiente a X.XXX (describir monto en letras y tipo de moneda) por concepto de la deuda por derecho de aprovechamiento referido a los periodos XXXX-XXXX.
                            </li>
                        </ul>
                    </span>
                </li>
                <li>
                    En esa línea, se cumplen los presupuestos para declarar la caducidad del contrato de concesión, en observancia de los "Criterios para la declaración de caducidad del título habilitante en el Procedimiento Administrativo Único – PAU del OSINFOR" aprobado por Resolución de Jefatura N° 009-2018-OSINFOR.
                </li>
            </ul>
        </span>
    </li>
</ol>