@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="~/Scripts/datatables/Extensions/dataTables.buttons.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.flash.min.js"></script>
<script src="~/Scripts/datatables/Extensions/jszip.min.js"></script>

<script src="~/Scripts/datatables/Extensions/vfs_fonts.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.html5.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.print.js"></script>
<script src="~/Scripts/vue.min.js"></script>

<link href="~/Content/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Areas/General/css/ManCalculoMulta/ManCalculoMulta.css" rel="stylesheet" />
<div id="divCalMul" class="container-fluid">
    <div class="card">
        <div class="card-header text-left">
            <h5>Calculadora de Multas</h5>
        </div>
        <div class="card-body">
            <div class="col-12">
                <form id="frmManCalMul">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <select class="form-control form-control-sm" id="cboBusqueda">
                                <option value="ESPECIE">ESPECIE</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input class="form-control form-control-sm" id="txtBuscar" type="text" max="100" />
                        </div>
                        <div class="btn-group col-md-2" style="padding-top:5px;">
                            <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar" onclick="_manCalMul.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                            <a id="btnRefresh" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar" onclick="_manCalMul.fnRefresh()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                            <a id="btnAdd" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="" onclick="_manCalMul.fnCrear()" data-original-title="Crear un nuevo registro"><span class="fa mx-2 fa-lg fa-plus"></span></a>
                        </div>
                    </div>
                    <div class="table-responsive-md">
                        <table id="tbCalMul" class="table table-hover table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Expediente</th>
                                    <th>Administrado</th>
                                    <th>Titulo Habilitante</th>
                                    <th>Categoria</th>
                                    <th>Codigo</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

@{
    Html.RenderAction("ModalCalculo", "ManCalculoMulta", new { Area = "Fiscalizacion" });
}

<script>
    _manCalMul = {
        ..._manCalMul, //Heredamos las funciones del modal

        fnBuilTable: () => {
            const columns = [
                {
                    "data": "", "className": "text-center", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<div><i class="fa fa-lg fa-pencil-square-o" style="color:blue;cursor:pointer;" title="Editar plan de trabajo" onclick="_manCalMul.fnEditFromDataRow(this)"></i></div>';
                    }
                },
                {
                    "data": "", "className": "text-center", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<div><i class="cellDel fa fa-lg fa-window-close" style="color:red;cursor:pointer;" title="Editar plan de trabajo" onclick="_manCalMul.fnDelete(this)"></i></div>';
                    }
                },
                {
                    "data": "", "className": "text-center", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<div><i class="cellDel fa fa-lg fa-print" style="color:brown;cursor:pointer;" title="Editar plan de trabajo" onclick="_manCalMul.fnCreatePDF(this)"></i></div>';
                    }
                },
                {
                    "name": "ROW_INDE", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row, meta) {
                        return parseInt(meta.row) + 1 + meta.settings._iDisplayStart;
                    }
                },
                { "data": "EXPEDIENTE", "autoWidth": true },
                { "data": "ADMINISTRADO", "autoWidth": true },
                { "data": "NRODOCUMENTO", "autoWidth": true },
                { "data": "TITULOHABILITANTE", "autoWidth": true },
                { "data": "CODCALCULOMULTA", visible: false }
            ];
            const optDt = { iLength: 20, iStart: 0, aSort: [] };
            _manCalMul.dt = _manCalMul.frm.find("#tbCalMul").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    messageTop: 'Indice Precio Consumidor',
                    exportOptions: {
                        // columns: [1, ':visible'],
                        //  columns: [2, ':visible'],
                        //   columns: [3, ':visible'],
                        // columns: [8, ':visible'],
                        //columns: [4, ':visible'],
                    }
                }],
                ajax: {
                    "url": `${urlLocalSigo}/General/Controles/GetCalMulList`,
                    "data": function (d) {
                        d.CustomSearchForm = "CALCULOMULTA";
                        d.CustomSearchType = "CALMULLIST";
                        d.CustomSearchValue = $("#txtBuscar").val();
                        d.customSearchEnabled = true;

                        d.columns = null;
                    },
                    "error": function (jqXHR) {
                        // utilSigo.unblockUIGeneral();
                        if (jqXHR.status != 401 && jqXHR.status != 403 && jqXHR.status != 404) {
                            utilSigo.toastError("Error", initSigo.MessageError);
                        }
                        //console.log(jqXHR);
                    },
                    "statusCode": {
                        203: () => { utilSigo.toastInfo("Aviso", "El usuario perdio la sesión. Vuelva ingresar al sistema"); }
                    }
                },
                columns: columns,
                bInfo: true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                // "aaSorting": optDt.aSort,
                "pageLength": optDt.iLength,
                "displayStart": optDt.iStart,
                "oLanguage": initSigo.oLanguage,
                "drawCallback": initSigo.showPagination
            });
        },

        fnSearch: () => {
            _manCalMul.dt.ajax.reload();
        },

        fnRefresh: () => {
            $("#txtBuscar").val('0');
            _manCalMul.fnSearch();
            $("#txtBuscar").val('');
        },

        fnDelete: (obj) => {
            let data = {
                CodCalculoMulta: $('#hdNCodCalMul').val(),
                RegEstado: 3
            };
            let url = urlLocalSigo + "General/ManCalculoMulta/GuardarCalculoMulta";
            let option = { url: url, datos: JSON.stringify(data), type: 'POST' };
            utilSigo.fnAjax(option, function (data) {
                if (data.success) {
                    if (data.msj == " ") {
                        utilSigo.toastSuccess("Éxito", "Transacción exitosa.");
                    } else if (data.msj == "IDF99") {
                        utilSigo.toastInfo("Informativo", "Ya existe especie registrada.");
                    } else {
                        utilSigo.toastSuccess("Éxito", data.msj);
                    }
                    $("#modalCalMul").modal("hide");
                    _manCalMul.fnSearch();
                }
                else {
                    utilSigo.toastWarning("Aviso", data.msj);
                }
            });

        },

        fnEditFromDataRow: (obj) => {
            let $tr = $(obj).closest("tr");
            let dataRow = _manCalMul.dt.row($tr).data();

            _manCalMul.fnEdit(dataRow);
        },        

        fnCreatePDF: (obj) => {

            //let headers = new HttpHeaders()
            //    .set('Accept', 'application/pdf');

            //return this.http.post<any>(`${this.apiBase}/api/order/ticket`, order, { headers, responseType: 'blob' as any });

            let $tr = $(obj).closest("tr");
            let dataRow = _manCalMul.dt.row($tr).data();
            let codCalculoMulta = dataRow.CODCALCULOMULTA;
            let url = urlLocalSigo + "General/ManCalculoMulta/ExportPDF";
            /* let option = { url: url, codCalculoMulta: JSON.stringify(codCalculoMulta), type: 'POST' };*/

            $.ajax({
                url: url,
                xhrFields: {
                    responseType: 'blob'
                },
                data: {
                    codCalculoMulta: codCalculoMulta
                },
                success: function (data) {
                    const scr = window.URL.createObjectURL(data);
                    var link = document.createElement('a');
                    link.href = scr;
                    link.download = 'Calculo de multa.pdf';//options.name;
                    link.click();
                    setTimeout(function () {
                        window.URL.revokeObjectURL(scr);
                    }, 100)
                }
            });

        },
    }

</script>
<script>
    $(document).ready(function () {
        _manCalMul.frm = $("#frmManCalMul");
        _manCalMul.fnBuilTable();
        _manCalMul.frm.submit(function (e) {
            e.preventDefault();
            _manCalMul.fnSearch();
        });
    });
</script>