@model IEnumerable<CapaEntidad.DOC.Ent_INFORME_MADERABLE_A>

<style type="text/css">
    #tbMaderable_wrapper {
        padding: 0px;
    }

    table .custom-row-foot th {
        text-align: center;
        background-color: lightblue;
    }
</style>

<script type="text/javascript">
    var _ReporteMaderable = {};

    _ReporteMaderable.fnInitDataTable_Detail = function () {
        var columns_label = [], columns_data = [], options = {};

        columns_label = ["PMF", "SUP", "Nombre científico / Nombre común", "Nombre común", "Nombre científico", "Nombre común",
            "Este", "Norte", "Este", "Norte",
            "PMF", "SUP", "SUP (D1)", "SUP (D2)", "Metodología para la medición del DAP",
            "PMF", "SUP", "VOL PMF", "VOL SUP", "CÓDIGO", "ESPECIE",
            "DAP", "AC", "UTM", "Sup", "Sup"];
        columns_data = ["CODIGO", "CODIGO_CAMPO", "DESC_ESPECIES", "DESC_ESPECIES_COMUN", "DESC_ESPECIES_CAMPO", "DESC_ESPECIES_COMUN_CAMPO",
            "COORDENADA_ESTE", "COORDENADA_NORTE", "COORDENADA_ESTE_CAMPO", "COORDENADA_NORTE_CAMPO",
            "DAP", "DAP_CAMPO", "DAP_CAMPO1", "DAP_CAMPO2", "MMEDIR_DAP",
            "AC", "AC_CAMPO", "VOLUMEN", "VOLUMEN_CAMPO", "COINCIDE_CODIGO", "COINCIDE_ESPECIES",
            "DAP_RP", "AC_RP", "COO_RP", "DESC_EESTADO_CAMPO", "DESC_ECONDICION_CAMPO"];
        options = {
            page_length: 15, row_index: true//, button_excel: true 
            , export_title: "Maderable"
        };
        _ReporteMaderable.dtMaderable = utilDt.fnLoadDataTable_Detail($("#tbMaderable"), columns_label, columns_data, options);
    }    

    _ReporteMaderable.fnExportMaderable = function () {
        var url = urlLocalSigo + "Supervision/ManInforme/ExportarMaderable?asCodInf=" + _ReporteMaderable.frm.find("#hdfCodInforme").val() + "&iNUmPoa=" + _ReporteMaderable.frm.find("#hdfNumPoa").val() +
            "&idPC=" + $('input[name="mnuOpcionPC"]:checked').val();
            window.location = url;        
    };

    $(document).ready(function () {
        _ReporteMaderable.frm = $("#frmMaderable");

        _ReporteMaderable.fnInitDataTable_Detail();
        //_ReporteMaderable.dtMaderable.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model))')).draw();
        //_ReporteMaderable.fnSetTotal();
    });
</script>

<div id="frmMaderable">    
    <div class="card col-sm-12" style="display:none;">        
        @Html.Hidden("hdfCodInforme", (string)ViewBag.hdfCodInforme)
        @Html.Hidden("hdfNumPoa", (int)ViewBag.hdfNumPoa)
    </div>
    <div class="table-responsive">
        <input id="btnExportarMaderable" type="button" class="btn btn-outline-info tn-sm" style="padding:4px 8px" value="Excel" onclick="_ReporteMaderable.fnExportMaderable()" />
        <table id="tbMaderable" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th colspan="27" class="text-sm-center">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Maderable</strong></div>
                    </th>
                </tr>
                <tr>
                    <th rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong></strong></div>
                    </th>
                    <th colspan="2" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Codigo</strong></div>
                    </th>
                    <th colspan="4" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Especies Forestales</strong></div>
                    </th>
                    <th colspan="2" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Coordenadas UTM PMF</strong></div>
                    </th>
                    <th colspan="2" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Coordenadas UTM SUP</strong></div>
                    </th>
                    <th colspan="4" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Diametro(cm)</strong></div>
                    </th>
                    <th rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Metodologia</strong></div>
                    </th>
                    <th colspan="2" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>AC</strong></div>
                    </th>
                    <th colspan="2" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Volumen</strong></div>
                    </th>
                    <th colspan="2" rowspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Coincidencia</strong></div>
                    </th>
                    <th colspan="3" class="text-sm-cente align-middler">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Rango Permisible</strong></div>
                    </th>
                    <th rowspan="2" class="text-sm-cente align-middler">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Estado</strong></div>
                    </th>
                    <th rowspan="2" class="text-sm-cente align-middler">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>Condición</strong></div>
                    </th>
                </tr>
                <tr>
                    <th colspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>PMF</strong></div>
                    </th>
                    <th colspan="2" class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>SUP</strong></div>
                    </th>
                    <th class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>7%-15%</strong></div>
                    </th>
                    <th class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>25%</strong></div>
                    </th>
                    <th class="text-sm-center align-middle">
                        <div class="form-inline" style="display: flex; justify-content: center; align-items: center;"><strong>50m</strong></div>
                    </th>
                </tr>                
            </thead>
            <tbody></tbody>
            @*<tfoot>
            <tr>
                <th colspan="27" class="text-sm-left">
                    <strong>Pie</strong>
                </th>
            </tr>
        </tfoot>*@
        </table>
    </div>
</div>