
<style>
    #frmItemDestinatario input[type=text] {
        text-transform: uppercase;
    }
</style>

<div class="modal-dialog modal-lg" role="document" id="divItemDestinatario">
    <div class="modal-content">
        <div class="modal-header text-small" style="cursor:move;padding:0.5rem;">
            <h5 class="modal-title" id="h5Titulo">Informes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="frmItemExpediente">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div class="input-group" style="margin-top:17px;">
                            <div class="custom-file">
                                <input type="file" multiple class="custom-file-input" id="idArchivoInforme" accept="application/pdf, .xlsx, .xls, .csv, application/msword">
                                <label class="custom-file-label" for="idArchivoInforme" id="lblArchivos">Sin Archivos</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="text-small">Informe</label>
                        <div class="input-group">
                            <input type="text" id="inputInforme" class="form-control form-control-sm" />
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-plus" style="cursor:pointer;"
                                       data-toggle="tooltip" data-placement="top"
                                       title="Registrar Informe"
                                       onclick="insertarInforme();">
                                    </i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="grvInforme" class="table table-hover table-bordered" width="100%" cellspacing="0"></table>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Cerrar</button>
        </div>
    </div>
</div>
<script src="~/Areas/Supervision/js/ManInforme/_ModalInforme.js?noCache=@Guid.NewGuid().ToString()"></script>