<span>
    <table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr style="background-color: #bfbfbf;">
                <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
                <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
                <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
                <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
                <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Dependerá del caso concreto
                </td>
                <td style="border: 1px solid #000;">
                    Numeral 1 del Anexo 1 del RISMFFS<br /><br />
                    <i>"No establecer o no mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante"</i>
                </td>
                <td style="border: 1px solid #000;">
                    El/la concesionario/a no cumplió con establecer y mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante.
                </td>
                <td style="border: 1px solid #000;">
                    Dependerá del caso concreto
                </td>
                <td style="border: 1px solid #000;">
                    Dependerá del caso concreto
                </td>
            </tr>
        </tbody>
    </table>
    <div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>
</span>


{{if infraccion.flgDesvirtua}}
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se imputó al/la concesionario/a presuntamente (descripción de la conducta).
    </li>
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, se tiene lo siguiente:
            <br />
            <ul>
                <li>
                    <span>
                        El/la concesionario/concesionaria no cumplió con establecer y mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante, como se evidencia en el numeral XX del Informe de Supervisión N° ${informe.ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXXX-XXXX-OSINFOR/08.1.1'}, por el cual se verificó durante el recorrido de supervisión efectuado del XX de XXXX de XXXX al XX de XXXX el vértice XX, no presentó señalización, además, no se evidenció linderos, en el área de manejo, tal como se puede apreciar en las siguientes imágenes:
                        <br />
                        <h5 style="text-align:center; color: green;">Imagen N° XX: Extracto del Acta de Supervisión</h5>
                        <div style="text-align: center; color: green; font-size: 9pt;">(pegar imagen)<br />Fuente: Acta de Supervisión</div>
                        <br /><br />
                        <h5 style="text-align:center; color: green;">Imagen N° XX: Formato de Evaluación de en Campo – Registro de Otros Indicadores de Supervisión</h5>
                        <div style="text-align: center; color: green; font-size: 9pt;">(pegar imagen)<br />Fuente: Formato: Formato de Evaluación de en Campo – Registro de Otros Indicadores de Supervisión</div>
                    </span>
                </li>
                <li>
                    Cabe indicar que, en los Lineamientos para la Formulación de Planes de Manejo Forestal Intermedio para el Aprovechamiento de Productos Forestales Diferentes a la Madera, aprobados mediante Resolución de Dirección Ejecutiva N° 013-2016-SERFOR-DE (en adelante, Lineamientos), de fecha 01 de febrero de 2016, se establece que en los Planes de Manejo se debe incluir como medida de protección en la Unidad de Manejo Forestal el establecimiento y mantenimiento de linderos.
                </li>
                <li>
                    Al respecto, en el numeral 6.7 de los Lineamientos se señala que las medidas de protección tienen como finalidad proteger a la Unidad de Manejo Forestal frente a posibles amenazas externas tales como minería ilegal, agricultura migratoria, invasiones, entre otros. En esa línea, es preciso que en los Planes de Manejo se establezcan de manera clara y expresa todas las medidas de protección que deben ser asumidas por el/la concesionario/a.
                </li>
                <li>
                    En esa línea, teniendo en cuenta lo señalado precedentemente, resulta necesario que la obligación en cuestión se consigne en el Plan de Manejo Forestal, a fin que el supervisor pueda realizar una verificación in situ de lo establecido de manera técnica en el referido documento de gestión.
                </li>
                <li>
                    <span>
                        Ahora bien, para el presente caso, el/la concesionario/a incluyó en su plan de manejo, las siguientes medidas de protección:
                        <br />
                        <h5 style="text-align:center; color: green;">Imagen N° XX: Extracto del Acta de Supervisión</h5>
                        <div style="text-align: center; color: green; font-size: 9pt;">(pegar imagen)<br />Fuente: PMFI / PO</div>
                    </span>
                </li>
                <li>
                    Conforme lo anterior, se advierte que el/la concesionario/a consignó en su plan de manejo forestal la <strong>obligación de establecer y mantener los linderos, siendo que se ha evidenciado su incumplimiento en campo y que a la fecha no ha sido subsanada.</strong>
                </li>
            </ul>
        </span>
    </li>
    <li>
        Por ello, estando a la evaluación realizada a los actuados en el presente procedimiento, <strong>y siendo que el/la concesionario/a no presentó argumentos de defensa suficientes que logren desacreditar los hechos que sustentan la imputación materia de análisis, ha quedado acreditada la comisión de la infracción tipificada en el numeral 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.</strong>
    </li>
</ol>
{{/if}}