<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Literal b) del numeral 43.1 del artículo 43 , concordado con el artículo 66  del RGF
            </td>
            <td style="border: 1px solid #000;">
                <div>Numeral 2 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS</div><br />
                <i>“No entregar o presentar información o documentación legalmente exigible en el plazo previsto, o cuando la autoridad competente lo requiera”.</i>
            </td>
            <td style="border: 1px solid #000;">
                Se imputó contra el/la Titular ${infraccion.detalle || 'XX'}
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                ${informe.COD_TIPO_INFORME?'Si':'No'}
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

{{if infraccion.flgDesvirtua}}
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto || 'XX de XXX del 202X'}, se imputó al/la concesionario/a presuntamente incumplir con la presentación (descripción del tipo de informe de ejecución y el periodo).
    </li>
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Por Escrito/Carta de fecha ${informe.ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || informe.ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'XX de XXX del 202X'} ingresado al OSINFOR con Registro N° ${informe.ANTECEDENTES_DOCS.Escrito.numero || informe.ANTECEDENTES_DOCS.Carta.numero || 'XXXX'}, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br /><br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:
            <ul style="margin-left: 25px;">
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
</ol>
{{/if}}
{{if infraccion.flgSubsana}}
<h5><strong>Sobre la subsanación voluntaria</strong></h5>
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        <span>
            En tal sentido, teniendo en consideración que las condiciones y forma en cómo se procederá a realizar la subsanación voluntaria ya se encuentra establecida en el RISMFFS, resulta pertinente aplicar los criterios señalados en dicho Reglamento teniéndose en cuenta los siguientes requisitos:<br />
            <div style="text-align: center; margin-bottom: 0;">
                <strong>
                    Cuadro N° XX: Evaluación de los presupuestos para la configuración de la subsanación voluntaria
                </strong>
            </div>
            <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%; margin-bottom: 0;">
                <thead>
                    <tr style="background-color: #bfbfbf;">
                        <th style="text-align: center; border: 1px solid #000;" colspan="2">Condiciones para la configuración de la subsanación voluntaria</th>
                        <th style="text-align: center; border: 1px solid #000;">Evaluación</th>
                        <th style="text-align: center; border: 1px solid #000;">Cumple con el requisito (SI/NO)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="border: 1px solid #000; background-color: #bfbfbf; text-align: center;" rowspan="2">
                            Presupuestos básicos
                        </td>
                        <td style="border: 1px solid #000;">
                            (ii) Realizar la presentación dentro del plazo previsto para la presentación de los descargos en la fase instructora.
                        </td>
                        <td style="border: 1px solid #000;">
                            En el presente caso, se advierte que el/la concesionario/a presentó ante el (indicar entidad e informe de ejecución objeto de imputación, así como el periodo correspondiente y fecha de presentación); es decir, dentro del plazo previsto para la presentación de los descargos (esto es hasta el XX de XXXX de XXXX).
                        </td>
                        <td style="border: 1px solid #000; text-align: center;">SI</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000;">
                            (i) No ser sujeto infractor reincidente.
                        </td>
                        <td style="border: 1px solid #000;">
                            Según el Reporte de Antecedentes, de fecha XX de XXXX de XXXX, se aprecia que el/la concesionario/a no registra sanción y/o multa impuesta por la Dirección de Fiscalización Forestal y de Fauna Silvestre, por lo que, se tiene por cumplido el requisito analizado.
                        </td>
                        <td style="border: 1px solid #000; text-align: center;">SI</td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #000; background-color: #bfbfbf; text-align: center;" rowspan="2">
                            Presupuesto específico
                        </td>
                        <td style="border: 1px solid #000;">
                            (i) Entregar la información o documentación.
                        </td>
                        <td style="border: 1px solid #000;">
                            De la revisión del Escrito/Carta de fecha ${informe.ANTECEDENTES_DOCS.Escrito.fechaEmisionTexto || 'XX de XXX del 202X'} ingresado al OSINFOR con Registro N° ${informe.ANTECEDENTES_DOCS.Escrito.numero || 'XXXX'}, se advierte que el/la concesionario/a presentó ante el (indicar entidad e informe de ejecución objeto de imputación, así como el periodo correspondiente y fecha de presentación), por lo que, se tiene por cumplido el requisito analizado.
                        </td>
                        <td style="border: 1px solid #000; text-align: center;">SI</td>
                    </tr>
                </tbody>
            </table>
            <div style="font-size: 9pt; margin-top: 0; text-align: center;">
                <strong>Fuente:</strong> Elaboración propia en base a lo regulado por el artículo 6 del RISMFFS
            </div>
        </span>
    </li>
</ol>
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        En atención a lo señalado precedentemente, se advierte que la conducta <strong>del/la concesionario/a</strong> cumple con los requisitos para la aplicación de la figura de subsanación voluntaria respecto de la infracción materia de análisis.
    </li>
    <li>
        En ese sentido, de acuerdo a lo señalado precedentemente, y considerando la configuración de la subsanación voluntaria, se desestima que la concesionaria haya cometido la infracción tipificada en el numeral 2 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </li>
    <li>
        Sin perjuicio de lo señalado anteriormente, se exhorta al/la concesionario/a a cumplir con su obligación como titular del contrato de concesión, y de remitir a esta Administración, los informes de ejecución, dentro del plazo y forma establecida en la normativa vigente; es decir dentro de los cuarenta y cinco (45) días calendario de culminado el año operativo y suscrito por el regente, en los casos que corresponda, a fin de evitar incurrir en futuras infracciones administrativas.
    </li>
</ol>
{{/if}}
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        Conforme el artículo 66 del RGF los informes de ejecución se clasifican en: <strong>a)</strong> informe de ejecución anual (se presentan al final de año operativo en base al plan de manejo aprobado); y <strong>b)</strong> informe de ejecución final (se presenta al finalizar la vigencia del plan de manejo). <strong>El plazo para presentar el informe de ejecución a la ARFFS y al OSINFOR, es dentro de los 45 días culminado el año operativo</strong>, es decir, la Titular debió presentar el informe de ejecución conforme al siguiente cuadro:
    </li>
    <li>
        La Titular <strong><u>no ha cumplido con presentar el Informe de Ejecución del XX, correspondiente al primer periodo anual 20XX-20XX, el cual debe contener las actividades de aprovechamiento de productos forestales maderables y no maderables</u></strong>, incluso habiéndose realizado la consulta en el Sistema de Trámite Documentario- SITD del OSINFOR, a la fecha de emisión del presente informe no han sido presentados, dicho incumplimiento se detalla en el siguiente cuadro.
    </li>
</ol>

<table cellpadding="4" border="0" style="font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%; margin-bottom: 0;">
    <thead>
        <tr>
            <th style="border: 1px solid #000; text-align: center;">Plan de Manejo Forestal</th>
            <th style="border: 1px solid #000; text-align: center;">Tipo de Informe de Ejecución</th>
            <th style="border: 1px solid #000; text-align: center;">Tipo de aprovechamiento</th>
            <th style="border: 1px solid #000; text-align: center;">Periodo de implementación</th>
            <th style="border: 1px solid #000; text-align: center;">Fecha de culminación del año operativo</th>
            <th style="border: 1px solid #000; text-align: center;">
                Fecha para la presentación de los Informes de Ejecución Anuales considerando los 45 días calendario
            </th>
            <th style="border: 1px solid #000; text-align: center;">Cumplió/No cumplió</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;" rowspan="2">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;" rowspan="2">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                No maderable (castaña)
            </td>
            <td style="border: 1px solid #000;">
                XX
            </td>
            <td style="border: 1px solid #000;">
                XX
            </td>
            <td style="border: 1px solid #000;">
                XX
            </td>
            <td style="border: 1px solid #000;">
                No cumplió
            </td>
        </tr>
        <tr>
            <td style="border: 1px solid #000;">
                Maderable
            </td>
            <td style="border: 1px solid #000;">
                XX
            </td>
            <td style="border: 1px solid #000;">
                XX
            </td>
            <td style="border: 1px solid #000;">
                XX
            </td>
            <td style="border: 1px solid #000;">
                No cumplió
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Elaboración propia</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>De acuerdo a lo señalado precedentemente XX.</li>
    <li>
        En consecuencia, estando a la evaluación realizada a los actuados en el presente procedimiento, y siendo que el/la titular no presentó descargos que logren desacreditar los hechos que sustentan la imputación materia de análisis, ha quedado acreditada la comisión de la infracción tipificada en el numeral 2 del Anexo 2 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del RISMFFS.
    </li>
</ol>