<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Cumplir con la implementación del plan de manejo aprobado y demostrar el origen legal de los productos aprovechados
            </td>
            <td style="border: 1px solid #000;">
                Literal a) y k) del numeral 43.1 del artículo 43 del RGF.
            </td>
            <td style="border: 1px solid #000;">
                Numeral 21 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
                <br /><br />
                <i>"Talar, extraer y/o aprovechar recursos forestales, sin autorización, en su condición o no de titular del título habilitante, a excepción de los aprovechados por subsistencia"</i>
            </td>
        </tr>
    </tbody>
</table>
<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se imputó al/la concesionario/a presuntamente talar, extraer y/o aprovechar recursos forestales, sin autorización, en su condición o no de titular del título habilitante por un volumen de XX.XXX m3 (descripción del volumen total injustificado, precisando el volumen correspondiente a cada especie), a excepción de los aprovechados por subsistencia.
    </li>
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:<br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, se tiene lo siguiente:<br />
            <ul>
                <li>
                    <span>
                        Del análisis de los resultados obtenidos en la supervisión, cotejada con el Balance de Extracción, de fecha XX de XXXXXXX de XXXX, se advierte que no se justifica el volumen declarado como aprovechado, por un total de XX.XXX m3 de madera, conforme se detalla a continuación:
                        <br />
                        <div style="text-align: center;">
                            <strong>Cuadro N° XX: Volumen injustificado</strong>
                        </div>
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Especie supervisada
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Árboles aprobados
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Árboles supervisados
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Estado de los árboles en campo
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen movilizado en el Balance de Extracción
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen movilizado advertido en campo
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Volumen injustificado
                                    </th>
                                </tr>
                            </thead>
                            {{each(i, objEsp) informe.VOLUMENES_INJUSTIFICADOS}}
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.ESPECIES}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_APROBADO}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.NUM_ARBOLES}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.ESTADO_CAMPO}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.BALANCE_EXTRACCION}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_MOVILIZADO}</td>
                                    <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_INJUSTIFICADO}</td>
                                </tr>
                            </tbody>
                            {{/each}}
                            <tfoot>
                                <tr style="background-color: #bfbfbf;">
                                    <td style="border: 1px solid #000; text-align: center;" colspan="6">
                                        Total
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;">
                                        ${informe.VOLUMENES_INJUSTIFICADOS_TOTAL}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <div style="font-size: 9pt; margin-top: 0; text-align: center;">
                            <strong>Fuente:</strong> Elaboración propia en base al Informe de Supervisión N° ${informe.ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXXX-XXXX-OSINFOR/08.1.1'}
                        </div>
                    </span>
                </li>
                <li>
                    El aprovechamiento injustificado de (descripción del volumen total injustificado, precisando el volumen correspondiente a cada especie), es atribuible al/la concesionario/a, puesto que no provino de la extracción de los individuos aprovechables declarados en el plan de manejo forestal, instrumento de gestión que comprende las actividades de manejo a desarrollarse en una unidad de aprovechamiento, a fin de realizar un aprovechamiento sostenible del recurso maderable autorizado.
                </li>
                <li>
                    El aprovechamiento injustificado antes mencionado significa el incumplimiento del plan de manejo forestal, documento que el/la propio/a concesionario/a presentó ante la ARFFS y fue aprobado.
                </li>
            </ul>
        </span>
    </li>
    <li>
        Por ello, estando a la evaluación realizada a los actuados en el presente procedimiento, <strong>y siendo que el/la concesionario/a no presentó argumentos de defensa suficientes que logren desacreditar los hechos que sustentan la imputación materia de análisis</strong>, ha quedado <strong>acreditada</strong> la comisión de la infracción tipificada en el numeral 21 del Cuadro de Infracciones en Materia Forestal del Anexo 1 del RISMFFS.
    </li>
</ol>