<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Numeral 13 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS
                <br /><br />
                <i>"Incumplir con la implementación de las medidas correctivas y/o provisorias y/o mandatos dispuestos por la autoridad competente"</i>
            </td>
            <td style="border: 1px solid #000;">
                Cumplir con la implementación de las medidas correctivas y/o mandatos que se emitan como resultado de las acciones de control, supervisión y/o fiscalización ejecutadas por la autoridad competente, según corresponda.
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div>Fuente: Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || '00XX-202X-OSINFOR/08.2.X'}</div>

<ol class="continue" style="margin-left: ${informe.MARGIN_LEFT.OL};">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se imputó al/la concesionario/a presuntamente incumplir con la implementación de la medida correctiva dispuesta por la Resolución Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero} consistente en (detallar la medida correctiva).
    </li>
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:<br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        <span>
            En el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, se tiene lo siguiente:
            <br />
            <ul>
                <li>
                    <span>
                        El/la concesionario/a no cumplió con implementar las medidas correctivas dispuesta en la Resolución Directoral N° XXXXXXXXXXX, de acuerdo a los siguientes plazos:<br />
                        <div style="text-align: center;">
                            Cuadro N° XX: Plazo para la implementación de la medida correctiva señalada en la Resolución Directoral N° XXXXXXXXXXX
                        </div>
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%; margin-bottom: 0;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Fecha de notificación de la Resolución
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Vencimiento del plazo para la implementación de la medida correctiva (12 meses)
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Vencimiento del plazo para informar la implementación de la medida correctiva (15 días calendarios)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid #000; text-align: center;">
                                        XX/XXXX/XXXX
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;">
                                        XX/XXXX/XXXX
                                    </td>
                                    <td style="border: 1px solid #000; text-align: center;">
                                        XX/XXXX/XXXX
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="font-size: 9pt; margin-top: 0; text-align: center;">
                            <strong>Fuente:</strong> Anexo de la Resolución Directoral N° XXXXXXXXX
                        </div>
                    </span>
                </li>
            </ul>
            <h5>
                Con relación a la medida correctiva: Reponer o reforestar de XXX individuos aprovechados sin autorización:
            </h5>
            <ul>
                <li>
                    <span>
                        En la supervisión del área del plan de manejo se evidenció XX puntos con desbosque (describir las áreas), donde podría implementarse la medida correctiva, conforme al cuadro e imágenes siguientes:<br />
                        <div style="text-align: center;">
                            <strong>Cuadro N° XX: Ubicación de claros</strong>
                        </div>
                        <table width="560" cellpadding="4" border="0" style="font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%; margin-bottom: 0;">
                            <thead>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;" rowspan="2">
                                        Puntos
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;" colspan="2">
                                        Coordenadas UTM
                                    </th>
                                </tr>
                                <tr style="background-color: #bfbfbf;">
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Este
                                    </th>
                                    <th style="text-align: center; border: 1px solid #000;">
                                        Norte
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="background-color: #bfbfbf; border: 1px solid #000; text-align: center;">
                                        1
                                    </td>
                                    <td style="border: 1px solid #000;">
                                        XXXXXXX
                                    </td>
                                    <td style="border: 1px solid #000;">
                                        XXXXXXX
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-color: #bfbfbf; border: 1px solid #000; text-align: center;">
                                        2
                                    </td>
                                    <td style="border: 1px solid #000;">
                                        XXXXXXX
                                    </td>
                                    <td style="border: 1px solid #000;">
                                        XXXXXXX
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <strong>Fuente:</strong> Informe de Supervisión N° ${informe.ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXXX-XXXX-OSINFOR/08.1.1'}
                        </div>
                    </span>
                </li>
            </ul>
        </span>
    </li>
    <li>
        Ahora bien, de la revisión del Sistema de Información de Trámite Documentario del OSINFOR, a la fecha de emisión del presente informe, y del acervo documentario contenido en el expediente administrativo, se advierte que el/la concesionario/a no ha cumplido con su obligación de remitir el Informe de Cumplimiento de Medidas Correctivas, a pesar que, <strong>el plazo para ello, venció el XX de XXXX de XXXX</strong>.
    </li>
    <li>
        Por ello, estando a la evaluación realizada a los actuados en el presente procedimiento, <strong>y siendo que el/la concesionario/a no presentó argumentos de defensa suficientes que logren acreditar haber cumplido con la implementación de la medida correctiva dispuesta por la Resolución Directoral N° XXXXXXXXXX</strong>, ha quedado <strong>acreditada</strong> la comisión de la infracción tipificada en el numeral 13 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </li>
</ol>