<h5><strong>Sobre las causales de caducidad imputadas</strong></h5>
<table width="580" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación Incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Base legal de la obligación</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Cumplir con la implementación del plan de manejo aprobado y demostrar el origen legal de los productos aprovechados
            </td>
            <td style="border: 1px solid #000;">
                Literal a) y k) del numeral 43.1 del artículo 43 del RGF
                <a style="mso-footnote-id: foot_infraccion_b" href="#_foot_infraccion_b" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>.
            </td>
            <td style="border: 1px solid #000;">
                Literal b) del artículo 153 de la LFFS, concordado con el literal b) del artículo 44 del RGF.
                <br /><br />
                <i>"La extracción o movilización de recursos forestales y de fauna silvestre no autorizadas."</i>
            </td>
        </tr>
    </tbody>
</table>
<ol class="continue" style="margin-left: -37pt;">
    <li>
        Mediante la Resolución Sub Directoral N° ${informe.ANTECEDENTES_DOCS.RSD.numero || 'XXXXX-XXXX-OSINFOR/08.2.1'}, de fecha ${informe.ANTECEDENTES_DOCS.RSD.fechaEmisionTexto ||'XX de XXXX'}, se imputó al/la concesionario/a presuntamente la incursión en la causal de caducidad por la extracción o movilización de recursos forestales y de fauna silvestre y de fauna silvestre por un volumen de XX.XXX m<sup>3</sup> (descripción del volumen total injustificado, precisando el volumen correspondiente a cada especie).
    </li>
    {{if informe.COD_TIPO_INFORME == 1}}
    <li>
        <span>
            Por Escrito/Carta de fecha XX de XX de 20XX ingresado al OSINFOR con Registro N° XXXXXXXXX, e/la concesionario/a presentó sus descargos, donde se advierte los siguientes argumentos que guarda relación con la imputación materia de análisis:<br />
            <ol style="list-style-type: lower-alpha">
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
                <li>(Agregar texto original).</li>
            </ol>
        </span>
    </li>
    <li>
        <span>
            Respecto a lo señalado por el/la concesionario/a, se advierte el siguiente análisis:<br />
            <ul>
                <li>
                    Con relación al argumento señalado en el acápite a), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite b), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
                <li>
                    Con relación al argumento señalado en el acápite c), <strong>XXXXXXXXXXXXXXXXXXXXXXXXXXX</strong>.
                </li>
            </ul>
        </span>
    </li>
    {{/if}}
    <li>
        En el presente procedimiento se dilucida la posibilidad de declarar la caducidad como conclusión anticipada de la vigencia del título habilitante otorgado al/la concesionario/a, para lo cual es menester conocer la naturaleza jurídica de dicha institución. En ese sentido, de acuerdo con la doctrina, la caducidad es la facultad que tiene la Administración para dar por terminado un título habilitante, por la ocurrencia de uno de los hechos previstos por la ley, por culpa imputable al/la concesionario/a; en otras palabras, la caducidad es entendida como una medida máxima o de última ratio.
    </li>
    <li>
        De acuerdo a lo señalado tanto en el literal b) del artículo 153 de la LFFS, como en el literal b) del artículo 44 del RGF, constituye una causal de caducidad, la extracción o movilización de recursos forestales no autorizados.
    </li>
    <li>
        <span>
            En ese sentido, siendo la caducidad una medida máxima o de última ratio, corresponde tener en cuenta los siguientes hechos a fin de dilucidar la pertinencia de su aplicación:<br />
            <ul>
                <li>
                    Conforme se ha venido desarrollando en el presente informe, se ha acreditado que la extracción y movilización de XX.XXX m3 (descripción del volumen total injustificado, precisando el volumen correspondiente a cada especie), provino de árboles distintos a los que formaron parte del censo forestal, quedando demostrado que se ha realizado un aprovechamiento sin considerar los criterios de sostenibilidad e incumpliendo lo establecido en los instrumentos de gestión.
                </li>
                <li>
                    Es pertinente acotar que la correcta implementación del/la concesionario/a instrumentos de gestión aprobados constituye una obligación fundamental del titular, puesto que dichos instrumentos permiten controlar y planificar el aprovechamiento racional de los recursos forestales que el Estado le ha otorgado, a efectos de procurar el aprovechamiento sostenible del recurso (manejo racional del recurso teniendo en cuenta su capacidad de renovación),
                    de conformidad al artículo 28
                    <a style="mso-footnote-id: foot_infraccion_b_1" href="#_foot_infraccion_b_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a> de la Ley N° 26821, Ley Orgánica para el Aprovechamiento Sostenible de los Recursos Naturales.
                </li>
                <li>
                    En esa línea de ideas, las acciones atribuidas al/la concesionario/a además de constituir infracciones al RGF y configurar una causal de caducidad del título habilitante (por la extracción o movilización de recursos forestales no autorizados), configuran además una afectación a la cobertura boscosa que conforma el Patrimonio Nacional Forestal.
                </li>
                <li>
                    <span>
                        En ese sentido, de acuerdo al numeral 7.2 de los “Criterios para la declaración de caducidad del título habilitante en el procedimiento administrativo único – PAU del OSINFOR”, aprobado por Resolución de Jefatura N° 009-2018-OSINFOR, la caducidad se declara cuando concurran cada uno de los siguientes criterios:
                        <br /><br />
                        <ol style="list-style-type: lower-alpha;">
                            <li>
                                Las acciones de extracción o movilización alcanzan un nivel de gravedad estimado como “muy grave”, de acuerdo a los criterios vigentes para estimar la gravedad del daño.
                            </li>
                            <li>
                                Inexistencia del 100% de los árboles de la muestra evaluada y/o inexistencia total de indicios de censo comercial en el área del plan de manejo supervisado y/o inexistencia de evidencias de aprovechamiento forestal en dicha área
                            </li>
                            <li>
                                Antecedentes del titular por infracción a la legislación forestal que, como mínimo, hayan generado un daño de nivel <strong>“muy grave”</strong> al Patrimonio Forestal Nacional. La referida afectación debe ser confrontada con la estimación actual del daño, según los criterios vigentes para estimar la gravedad del daño, la misma que solo será considerada en el análisis del presente criterio, si se mantiene en el mismo nivel de magnitud.
                            </li>
                            <li>
                                La continuidad del título habilitante supone el riesgo de que se sigan afectando los recursos forestales y/o de fauna silvestre; riesgo que debe ser determinado a través de la evaluación técnica correspondiente.
                            </li>
                        </ol>
                    </span>
                </li>
            </ul>
        </span>
    </li>
    <li>
        Excepcionalmente, <strong>en caso de determinarse que las acciones de extracción o movilización alcancen un nivel de gravedad estimado como “muy grave”, y de no concurrir los supuestos señalados en los literales b) o c), se declarará la caducidad cuando se verifique la concurrencia del literal d).</strong>
    </li>
    <li>
        <span>
            En esa línea, corresponde evaluar si se cumplen los presupuestos para la declaración de caducidad del contrato se concesión, para lo cual se advierte el siguiente análisis:
            <br /><br />
            <ul>
                <li>
                    Tal como se ha establecido en el presente informe, la extracción de madera por un volumen no autorizado ascendente a XX.XXX m3 habría implicado la afectación de XX.XX hectáreas de cobertura forestal, lo cual representa un nivel de afectación “muy grave”, conforme a los criterios de gravedad aprobados por la Resolución de Jefatura N° 059-2019-OSINFOR. Por lo tanto, <strong>se cumple el presupuesto a) de los “Criterios para la declaración de caducidad del título habilitante en el PAU del OSINFOR”</strong>.
                </li>
                <li>
                    Asimismo, de acuerdo a la información contenida en el numeral 9.5.2 del Informe de Supervisión, se advierte que, durante la diligencia de supervisión, se observó que existen evidencias de haberse implementado aprovechamiento mecanizado, al encontrar viales de extracción con huellas del tractor forestal transitables y camión triple en los patios de acopio, así como, vestigios de aprovechamiento del recurso maderable, al observarse tocones de los individuos autorizados. <strong>Por lo tanto, no se cumple con el presupuesto b) de los Criterios para la declaración de caducidad.</strong>
                </li>
                <li>
                    Ahora bien, de acuerdo con el Reporte de Antecedentes de fecha XX de XXXXX de XXXX, se advierte que el concesionario/a no registra sanción y multa impuesta por la Dirección de Fiscalización Forestal y de Fauna Silvestre, <strong>por lo que no se cumple el presupuesto c) de los Criterios para la declaración de caducidad</strong>.
                </li>
                <li>
                    Sin embargo, en el presente caso, apartándose claramente de la finalidad para el cual fue otorgado, se realizó́ el aprovechamiento de individuos no autorizados con un volumen de X.XXX m3, afectando un área aproximada de XX.XXX hectáreas, por lo que la opinión técnica concluyó que existe el riesgo que el mal accionar del titular se vea extendido en los próximos planes de manejo, por lo cual, <strong>la continuidad del título habilitante supone el riesgo de que se sigan afectando los recursos forestales</strong>.
                </li>
            </ul>
        </span>
    </li>
    <li>
        De esta manera, si bien no se ha verificado el supuesto establecido en los literales b) y c) del numeral 7.2 del acápite VII de la Resolución de Jefatura N° 009-2018-OSINFOR, referido a la existencia de antecedentes del titular por la comisión de infracciones a la legislación forestal que hayan generado un daño grave al patrimonio forestal, es de aplicación el supuesto de excepción establecido en el mencionado numeral, toda vez que, del análisis efectuado, se concluye que la extracción de madera por un volumen no autorizado ascendente a X.XXX m3  representa un nivel de afectación <strong>“muy grave”</strong> a la cobertura boscosa (literal a), y que la continuidad del título habilitante supone el riesgo que se sigan afectando los recursos forestales y/o de fauna silvestre (literal d).
    </li>
    <li>
        En efecto, <strong>siendo que el/la concesionario/a se ha apartado claramente del objetivo general de la concesión forestal, poniendo en riesgo la sostenibilidad, no solamente de los recursos forestales, sino también de la fauna silvestre que depende del bosque, se justifica la adopción de esta medida de última ratio.</strong>
    </li>
    <li>
        De esta manera, como ya se ha señalado previamente, el artículo 153 de la LFFS, establecen las causales de caducidad del título habilitante; siendo que el OSINFOR, a través de la Resolución de Jefatura N° 009-2018-OSINFOR, ha precisado los criterios que serán analizados cuando se configuren las causales establecidas en la Ley, a fin de determinar, en cada caso concreto, cuándo ameritaría declarar la caducidad de un determinado título habilitante, conforme se ha podido advertir en los numerales precedentes.
    </li>
    <li>
        Por consiguiente, al haberse verificado la concurrencia de los literales a) y d) del numeral 7.2 del acápite VII de los Criterios para la declaración de caducidad del título habilitante en el Procedimiento Administrativo Único del OSINFOR, aprobados por Resolución de Jefatura N° 009-2018-OSINFOR, <strong>corresponde declarar la caducidad del derecho de aprovechamiento por la extracción y movilización de recursos no autorizados, habiéndose acreditado dicha causal en este extremo</strong>.
    </li>
    <li>
        Por ello, estando a la evaluación realizada a los actuados en el presente procedimiento, y siendo que el/la concesionario/a no ha presentado descargos que logren desacreditar los hechos que sustentan la imputación, ha quedado <strong>acreditada</strong> la incursión en la causal de caducidad prevista en el literal b) del artículo 153 de la LFFS, concordado con el literal b) del artículo 44 del RGF.
    </li>
</ol>