<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Numeral 21 del Anexo 1 del RISMFFS.<br /><br />
                <i>“Talar, extraer y/o aprovechar recursos forestales sin autorización en su condición o no de titular del título habilitante, a excepción de los aprovechados por subsistencia”</i>
            </td>
            <td style="border: 1px solid #000;">
                Extracción injustificada de un volumen de XX m3 de madera correspondiente a la especie XX”
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Escrito ${informe.ANTECEDENTES_DOCS.Escrito.numero || '00XX-202X-OSINFOR/08.2.X'} SITD xxxxxxxxx
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div style="font-size: 8pt;">Fuente: Elaboración propia.</div>

{{if informe.COD_TIPO_INFORME == 1}}
<p class="enumeration">
    Al respecto, el/la administrada (o) presentó sus descargos contra la Resolución Sub Directoral mediante la Carta N° ${informe.ANTECEDENTES_DOCS.Carta.numero || '00XX-202X-OSINFOR/08.2.X'} de fecha xx de ${informe.ANTECEDENTES_DOCS.Carta.fechaNotificacionTexto || 'xx de xxxxx de 202X'}, ingresado con fecha ${informe.ANTECEDENTES_DOCS.Carta.fechaEmisionTexto || 'xx de xxxxx de 202X'} (Registro N° xxxxxxxx) del cual se advierte los siguientes argumentos que guardan relación con la imputación materia de análisis:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">
    En ese sentido, la Autoridad Instructora realizó el análisis correspondiente al Expediente Administrativo, así como de los documentos mencionados precedentemente, concluyendo lo siguiente:
</p>
<ul>
    <li>
        “(…)xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx (…)”.
    </li>
</ul>
<p class="enumeration">
    Al respecto, mediante escrito N° ${informe.ANTECEDENTES_DOCS.Escrito.numero || '00XX-202X-OSINFOR/08.2.X'} con SITD N° xxxxxxx de fecha ${informe.ANTECEDENTES_DOCS.Escrito.fechaNotificacionTexto || 'xx de xxxxx de 202X'}, el/la administrado (a) presentó su descargo al Informe Final de Instrucción, señalando lo siguiente:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">Respecto a lo señalado por el/la administrado (a); se advierte el siguiente análisis:</p>
<ul>
    <li>Con relación al argumento señalado en el acápite a) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite b) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite c) xxxxxxxxxxxxxxxxxxx</li>
</ul>
<p class="enumeration">
    En esta etapa del procedimiento, de acuerdo a la documentación que obra en el expediente administrativo y del análisis de los descargos, se advierte lo siguiente:
</p>
{{else}}
<p class="enumeration">
    Es preciso mencionar que, respecto de la imputación realizada, el/la administrado no presentó descargo a la Resolución Sub Directoral.
</p>
<p class="enumeration">
    La Autoridad Instructora, concluyó que existen elementos suficientes que permitieron mantener la imputación atribuida al/la administrado (a); respecto de lo cual el/la administrado (a) <u>no presentó descargos a lo señalado en el Informe Final de Instrucción.</u>
</p>
<p class="enumeration">
    En esta etapa del procedimiento, de acuerdo a la documentación que obra en el expediente administrativo, se advierte lo siguiente:
</p>
{{/if}}
<ul>
    <li>
        Evidencias de extracciones no autorizadas, conforme se ilustra en el siguiente cuadro:
    </li>
</ul>
<p style="text-align: center;"><strong>Cuadro.</strong></p>
<table cellpadding="4" border="0" style="font-family: Arial; font-size: 9pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">
                Especies supervisadas
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Árboles aprobados (parcelas)
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Árboles supervisados
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Estado de los árboles en campo
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Volumen movilizado en el Balance de Extracción (A)
                <a style="mso-footnote-id: foot_infraccion_21_1" href="#_foot_infraccion_21_1" title="">
                    <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                </a>
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Volumen movilizado advertido en campo (B)
            </th>
            <th style="text-align: center; border: 1px solid #000;">
                Volumen injustificado<br />B - A
            </th>
        </tr>
    </thead>
    {{each(i, objEsp) informe.VOLUMENES_INJUSTIFICADOS}}
    <tbody>
        <tr>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.ESPECIES}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_APROBADO}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.NUM_ARBOLES}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.ESTADO_CAMPO}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.BALANCE_EXTRACCION}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_MOVILIZADO}</td>
            <td style="border: 1px solid #000; text-align: center;">${objEsp.VOLUMEN_INJUSTIFICADO}</td>
        </tr>
    </tbody>
    {{/each}}
    <tfoot>
        <tr style="background-color: #bfbfbf;">
            <td style="border: 1px solid #000; text-align: center;" colspan="6">
                Total
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                ${informe.VOLUMENES_INJUSTIFICADOS_TOTAL}
            </td>
        </tr>
    </tfoot>
</table>
<ul>
    <li>
        El Informe de Supervisión constituye el principal medio probatorio para demostrar las imputaciones que motivaron el desarrollo del presente PAU, por resultar veraz, objetivo y reflejar necesariamente aquello que el supervisor ha podido constatar fehacientemente
        <a style="mso-footnote-id: foot_infraccion_21_2" href="#_foot_infraccion_21_2" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>, lo cual es concordante con lo señalado por el Tribunal Forestal y de Fauna Silvestre del OSINFOR, en el numeral 40
        <a style="mso-footnote-id: foot_infraccion_21_3" href="#_foot_infraccion_21_3" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>.
    </li>
    <li>
        La extracción no autorizada es atribuible al/la administrado (a), puesto que reportó su aprovechamiento, lo que implica incumplimiento del documento de gestión, el cual es un instrumento que comprende las actividades de manejo a desarrollarse en una unidad de aprovechamiento, a fin de realizar un aprovechamiento sostenible del recurso maderable autorizado; y, que el propio administrado presentó ante la ARFFS y fue aprobado.
    </li>
</ul>

<p class="enumeration">
    En ese contexto, se confirma que el/la administrado (a) cometió la infracción tipificada en el numeral 21 del Anexo 1 del RISMFFS; criterio acorde a lo señalado en el Informe Final de Instrucción.
</p>