<script id="tmpl-footnotes" type="text/x-jquery-tmpl">
    <div style="mso-element:footnote-list; font-size: 9pt;">
        <![if !supportFootnotes]>
        <br clear=all>
        <hr align=left size=1 width="33%">
        <![endif]>

        <div style="mso-element: footnote;" id="foot_constitucion">
            <div class=MsoFootnoteText>
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt;">
                    <a style="mso-footnote-id: foot_constitucion;" href="#_foot_constitucion" name="_foot_constitucion">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    &nbsp;&nbsp;&nbsp;<strong>Constitución Política del Perú de 1993</strong><br />
                    Artículo 103.- (…) La ley, desde su entrada en vigencia, se aplica a las consecuencias de las relaciones y situaciones jurídicas existentes y no tiene fuerza ni efectos retroactivos; salvo, en ambos supuestos, en materia penal cuando favorece al reo. (…).
                </p>
            </div>
        </div>

        <div style="mso-element: footnote;" id="foot_cuestion_previa">
            <div class=MsoFootnoteText>
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt;">
                    <a style="mso-footnote-id: foot_cuestion_previa;" href="#_foot_cuestion_previa" name="_foot_cuestion_previa">
                        <sup class=MsoFootnoteReference>
                            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                        </sup>
                    </a>
                    &nbsp;&nbsp;&nbsp;<strong>Texto Único Ordenado de la Ley N° 27444, Ley del Procedimiento Administrativo General.</strong><br />
                    <strong>Artículo 212.- Rectificación de errores</strong><br />
                    212.1 Los errores material o aritmético en los actos administrativos pueden ser rectificados con efecto retroactivo, en cualquier momento, de oficio o a instancia de los administrados, siempre que no se altere lo sustancial de su contenido ni el sentido de la decisión.
                </p>
            </div>
        </div>

        <div style="mso-element: footnote;" id="foot_moron_urbina">
            <div class=MsoFootnoteText>
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt;">
                    <a style="mso-footnote-id: foot_moron_urbina;" href="#_foot_moron_urbina" name="_foot_moron_urbina">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    &emsp;MORON URBINA, Juan Carlos, Comentarios a la Ley del Procedimiento Administrativo General, Lima, Perú 2011. Pág. 574.
                </p>
            </div>
        </div>

        <div style="mso-element: footnote;" id="foot_rec_resp">
            <div class=MsoFootnoteText>
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt;">
                    <a style="mso-footnote-id: foot_rec_resp;" href="#_foot_rec_resp" name="_foot_rec_resp">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    &emsp;El comentario realizado por el autor Morón Urbina, referido a la oportunidad para efectuar el reconocimiento de responsabilidad en el marco de un procedimiento administrativo sancionador, es concordante con lo regulado por otras entidades del estado, conforme se detalla a continuación:
                </p>
                <p style="margin-left: 14.2pt;"><strong>El Reglamento del Procedimiento Administrativo Único Sancionador del Organismo de Evaluación y Fiscalización Ambiental – OEFA, aprobado por Resolución de Consejo Directivo N° 027-2017-OEFA/CD</strong>, en su artículo 13 regula, que el administrado puede formular su reconocimiento de responsabilidad en dos oportunidades: i) hasta la presentación de descargos a la imputación de cargos; y ii); luego de presentado los descargos a la imputación de cargos hasta antes de emisión de la Resolución Final.</p>
                <p style="margin-left: 14.2pt;"><strong>La Directiva N° 001-2019/DIR-COD-INDECOPI, aprobada por Resolución de la Presidencia del Consejo Directivo del INDECOPI N° 038-2019-INDECOPI/COD</strong>, su numeral 4.7, inciso e) y f), regula, que el administrado puede presentar su reconocimiento de responsabilidad hasta en dos oportunidades: i) dentro del plazo para presentar sus descargos a los hechos imputados; y, ii) cuando lo presente fuera del plazo para realizar sus descargos, o del plazo de prórroga concedido para ello.</p>
                <p style="margin-left: 14.2pt;"><strong>El Reglamento General de Supervisión, Fiscalización y Sanción de las EPS, modificado por Resolución de Consejo Directivo N° 021-2018-SUNASS-CD</strong>, en su artículo 30-A; señala, que el administrado puede presentar su reconocimiento de responsabilidad hasta en tres momentos; i) dentro de la presentación de descargos a los hechos imputados, ii) antes de la notificación del informe final de instrucción; y, iii) hasta el quinto día hábil posterior a la notificación del informe final de instrucción.</p>
            </div>
        </div>

        <div style="mso-element: footnote;" id="foot_moron_urbina_2">
            <div class=MsoFootnoteText>
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt;">
                    <a style="mso-footnote-id: foot_moron_urbina_2;" href="#_foot_moron_urbina_2" name="_foot_moron_urbina_2">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    &emsp;Morón Urbina, Juan Carlos, Comentarios a la Ley de Procedimiento Administrativo General. Gaceta Jurídica S.A. 12ª edición. Lima, octubre, 2015, p. 516.
                </p>
            </div>
        </div>
    </div>
</script>
