@{
    ViewBag.Title = "Informe Digital";
}

<link href="~/Areas/Fiscalizacion/css/ResSubDir/index.css" rel="stylesheet" />
<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/ckeditor5/ckeditor.js"></script>

<script src="~/Scripts/jquery.tmpl.min.js"></script>
<script src="~/Scripts/jquery.googoose.js?v=7"></script>
<script type="text/javascript">
    var documentName_ = null;
    var urlBaseDocFirma = '@System.Configuration.ConfigurationManager.AppSettings["pathInvoker"]';
    var urlBaseDocFirmaTrans = '@System.Configuration.ConfigurationManager.AppSettings["pathTransferidoSITD"]';

    function toBase() {
        $('#myTab a.nav-link[href="#navDatos"]').tab("show");
    }

    $(function () {
        if (!$('#txtFechaEmision').val()) $('#txtFechaEmision').val(fnDate.text(new Date()));

        //if (window.location.search.indexOf('type=rd') != -1) {
        //    $('#chkResDir').attr('checked', true);
        //} else {
        //    $('#chkResSubDir').attr('checked', true);
        //}
    });
</script>
<script src="~/Scripts/ckeditor5/config.js?v=1"></script>
<script src="~/Areas/General/js/Informes/general.js?v=1"></script>
<script src="~/Areas/General/js/Informes/components.js?v=1"></script>
<script src="~/Areas/Fiscalizacion/js/ManPAU/RSD.js?noCache=@Guid.NewGuid().ToString()" type="text/javascript"></script>

<div id="frmInforme" class="card loading">
    <div id="informe_header" class="card-header text-small d-flex justify-content-between align-items-center">
        <div>Generar Informe</div>
        <div class="options">
            <button type="button" class="btn btn-link btn-sm p-0 ml-3" onclick="_informe.Exportar()" v-if="Informe.COD_INFORME_DIGITAL && Informe.ESTADO < States.FINALIZADO">
                <i class="fa fa-file-word-o fa-fw"></i>Crear informe
            </button>
            <button type="button" class="btn btn-link btn-sm p-0 ml-3" onclick="_informe.Registro()" v-if="Informe.COD_RES_SUB && Informe.ESTADO < States.COMPLETADO">
                <i class="fa fa-save fa-fw"></i>Guardar
            </button>
            <div class="btn-group" v-if="Informe.COD_INFORME_DIGITAL">
                <button type="button" class="btn btn-link btn-sm p-0 ml-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Más opciones
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <template v-if="Informe.ESTADO == States.INGRESADO">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.ENVIAR_REVISION()">Enviar a revisión</a>
                    </template>
                    <template v-if="Informe.ESTADO == States.EN_REVISION">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.SITD_OPEN()">Generar/Modificar expediente SITD</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.DESCARGAR_ARCHIVO_REVISION()">Descargar documento para revisión</a>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.REVISION_CARGAR_ARCHIVO()">Cargar documento revisado</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.CERRAR()">Cerrar informe</a>
                    </template>
                    <template v-if="Informe.ESTADO == States.COMPLETADO">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.CARGAR_ARCHIVO()">Cargar documento</a>
                    </template>
                    <template v-if="Informe.ESTADO == States.VISADO">
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.ENVIAR_CONTROL_CALIDAD()">Enviar a Control de Calidad</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.ANULAR()">Anular firmas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="_informe.TRANSFERIR()">Transferir documento firmado</a>
                    </template>
                    <a class="dropdown-item" href="javascript:void(0);" v-if="Informe.ESTADO >= States.VISADO" onclick="_informe.VerDocumento()">Ver documento</a>
                </div>
            </div>
        </div>
    </div>

    <div class="stepwizard my-3" v-if="Informe.COD_INFORME_DIGITAL">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step" v-bind:class="{ 'active': Informe.ESTADO == States.INGRESADO }">
                <a class="btn btn-circle" v-bind:class="Informe.ESTADO == States.INGRESADO ? 'btn-success' : 'btn-secondary'">
                    <i class="fa fa-pencil"></i>
                </a>
                <p class="d-none d-sm-block">Ingresado</p>
            </div>
            <div class="stepwizard-step" v-bind:class="{ 'active': Informe.ESTADO == States.EN_REVISION }">
                <a class="btn btn-circle" v-bind:class="Informe.ESTADO == States.EN_REVISION ? 'btn-success' : 'btn-secondary'">
                    <i class="fa fa-eye"></i>
                </a>
                <p class="d-none d-sm-block">En Revisión</p>
            </div>
            <div class="stepwizard-step" v-bind:class="{ 'active': Informe.ESTADO == States.COMPLETADO }">
                <a class="btn btn-circle" v-bind:class="Informe.ESTADO == States.COMPLETADO ? 'btn-success' : 'btn-secondary'">
                    <i class="fa fa-lock"></i>
                </a>
                <p class="d-none d-sm-block">Completado</p>
            </div>
            <div class="stepwizard-step" v-bind:class="{ 'active': Informe.ESTADO == States.VISADO }">
                <div class="prevent">
                    <a class="btn btn-circle dropdown-toggle caret-off" data-display="static" data-toggle="dropdown"
                       v-bind:class="Informe.ESTADO == States.VISADO ? 'btn-success' : 'btn-secondary'">
                        <i class="fa fa-check"></i>
                    </a>
                    <p class="d-none d-sm-block">Visado</p>
                    <div class="dropdown-menu dropdown-menu-right p-3" style="min-width: 270px;">
                        <div class="row mb-3" v-for="(item, index) in Informe.FIRMAS" v-if="item.flgAplica">
                            <div class="col">
                                <div>{{item.funcion}}</div>
                                <small class="person-name">{{item.apellidosNombres}}</small>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-lg" v-bind:class="{'fa-times': item.estado == 1, 'fa-envelope-o': item.estado == 2, 'fa-eye': item.estado == 3, 'fa-check': item.estado == 4}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stepwizard-step" v-bind:class="{ 'active': Informe.ESTADO == States.FINALIZADO }">
                <a class="btn btn-circle" v-bind:class="Informe.ESTADO == States.FINALIZADO ? 'btn-success': 'btn-secondary' ">
                    <i class="fa fa-external-link-square"></i>
                </a>
                <p class="d-none d-sm-block">Finalizado</p>
            </div>
        </div>
    </div>

    <div class="card-body" v-if="Informe.COD_RES_SUB">
        <fieldset class="fs-border" v-bind:disabled="Informe.ESTADO > States.EN_REVISION">
            <legend>Datos Generales</legend>
            <div class="form-row">
                <div class="col-sm-8">
                    <div class="form-group form-group-sm">
                        <label class="col-form-label text-small">Procedencia</label>
                        <select class="form-control form-control-sm" v-model="Informe.COD_PROCEDENCIA">
                            <option v-for="(item, index) in Procedencias" :value="item.COD_PROCEDENCIA">{{item.PROCEDENCIA}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-group-sm text-center">
                        <label class="col-form-label text-small">N° de Resolución Sub Directoral</label>
                        <h4 class="mt-2">
                            {{Informe.NUM_INFORME_SITD || 'N/A'}} <i class="fa fa-pencil-square fa-lg ml-2 cursor-pointer text-success" v-if="Informe.COD_INFORME_DIGITAL" onclick="_informe.SITD_OPEN()"></i>
                        </h4>
                        <small class="text-muted" v-if="app.Tramite?.password"><strong>Clave STD:</strong> {{app.Tramite?.password}}</small>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label class="col-form-label text-small">Materia</label>
                        <select class="form-control form-control-sm" v-on:change="MateriaOnChange()" v-model="Informe.COD_MATERIA">
                            <option v-for="(item, index) in Materias" :value="item.COD_MATERIA">{{item.MATERIA}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label class="col-form-label text-small">Modalidad</label>
                        <select class="form-control form-control-sm" v-model="Informe.COD_MODALIDAD" v-on:change="_informe.EXTRAER_INFRACCIONES_POR_MODALIDAD()">
                            <option v-for="(item, index) in Modalidades" :value="item.COD_MODALIDAD">{{item.MODALIDAD}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="form-group form-group-sm">
                        <label class="col-form-label text-small">N° de informe de supervisión</label>
                        <div>
                            <a class="chip badge badge-success rounded mr-2 mt-1" v-for="(item, index) in Inf_Supervision"
                               target="_blank" v-bind:href="_informe.ObtenerRutaInformeSup(item)">
                                {{item.NUM_INFORME}}
                            </a>
                            <template v-if="!Inf_Supervision?.length">
                                <span class="chip badge badge-danger rounded mt-1">
                                    <i class="fa fa-info-circle"></i> No hay informes asociados
                                </span>
                            </template>
                            <i class="fa fa-plus-circle fa-lg ml-3 cursor-pointer" v-if="Informe.ESTADO == States.INGRESADO" onclick="_informe.AsociarInforme()"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-auto" v-if="Inf_Supervision?.length">
                    <div class="form-group form-group-sm">
                        <label class="col-form-label text-small">Plan de Manejo</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" v-model="Informe.NOMBRE_POA" disabled />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary" v-on:click="modal_planes_manejo.Abrir()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Administrado</h5>
            <div class="form-row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">Nombre del titular</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.TITULAR_SUPERVISADO" disabled />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">DNI del titular</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.DOCUMENTO_TITULAR" disabled />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">Representante legal</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.REPRESENTANTE_LEGAL" disabled />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">DNI Representante legal</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.DOCUMENTO_RLEGAL" disabled />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">N° contrato/permiso</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.NUM_THABILITANTE" disabled />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">N° RUC Titular</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" v-model="Informe.RUC_TITULAR" disabled />
                            <div class="input-group-append" v-if="Informe.RUC_TITULAR">
                                <button type="button" class="btn btn-secondary" v-on:click="ConsultaRUC">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">Estado RUC Titular</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.TITULAR_ESTADO_RUC" disabled />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label text-small">Condición RUC Titular</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.TITULAR_CONDICION_RUC" disabled />
                    </div>
                </div>
            </div>
            <h5>Lugar donde se registra</h5>
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label text-small">Departamento</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.UBIGEO_DEPARTAMENTO" disabled />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label text-small">Provincia</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.UBIGEO_PROVINCIA" disabled />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label text-small">Distrito</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.UBIGEO_DISTRITO" disabled />
                    </div>
                </div>
            </div>
            <div class="form-row">
                @*<div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label text-small">N° Resolución Subdirectoral</label>
                            <input type="text" class="form-control form-control-sm" v-model="Informe.COD_RES_SUB" disabled />
                        </div>
                    </div>*@
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label text-small">Año</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.RES_DIRECTORAL_ANIO" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label text-small">Código de la Unidad Orgánica</label>
                        <input type="text" class="form-control form-control-sm" v-model="Informe.RES_DIRECTORAL_UND_ORGANICA" />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label text-small">Fecha</label>
                        <div class="input-group input-group-sm">
                            <date-picker v-model="Informe.RES_DIRECTORAL_FECHA"></date-picker>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fs-border">
            <legend>
                Control de Vistos
                <a class="ml-2 btn btn-link btn-sm" v-if="Informe.ESTADO < States.FINALIZADO" onclick="_informe.Agregar_Integrante()">
                    <i class="fa fa-plus-circle mr-1"></i>Añadir un integrante
                </a>
                <a class="ml-2 btn btn-link btn-sm" v-if="Informe.ESTADO != States.FINALIZADO" v-on:click="Abrir_Notificar()">
                    <i class="fa fa-envelope-o mr-1"></i>Notificar a todos
                </a>
            </legend>
            <div class="card-view form-row align-items-end mb-3 bg-light rounded p-2 pb-3" v-for="(item, index) in Informe.FIRMAS">
                <div class="col-sm-4">
                    <div class="text-small mt-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" :id="'rb_' + index + '_' + index" :name="'rb' + index" v-model="item.flgAplica" class="custom-control-input"
                                   v-bind:disabled="Informe.ESTADO >= States.FINALIZADO">
                            <label class="custom-control-label" :for="'rb_' + index + '_' + index">{{item.funcion}}</label>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" v-model="item.apellidosNombres" disabled />
                        <div class="input-group-append" v-if="Informe.ESTADO < States.FINALIZADO">
                            <button type="button" class="btn btn-default" v-on:click="BuscarPersona(item)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <button type="button" class="btn btn-outline-primary btn-sm rounded" v-on:click="Abrir_Notificar(item, index)" v-bind:disabled="!item.codPersona || item.estado == 4" title="Notificar">
                        <i class="fa fa-envelope-o"></i>
                    </button>
                </div>
                <div class="col-sm pl-5 align-items-end" v-if="item.flgAplica">
                    <div class="multisteps-form__progress">
                        <button class="multisteps-form__progress-btn" type="button" v-bind:class="{'js-active': item.estado >= 1}">
                            Asignado
                        </button>
                        <button class="multisteps-form__progress-btn" type="button" v-bind:class="{'js-active': item.estado >= 2}">
                            Notificado
                        </button>
                        <button class="multisteps-form__progress-btn" type="button" v-bind:class="{'js-active': item.estado >= 3}">
                            Revisado
                        </button>
                        <button class="multisteps-form__progress-btn" type="button" v-bind:class="{'js-active': item.estado == 4}">
                            Firmado
                        </button>
                    </div>
                </div>
                <div class="col-sm-2 text-right" v-if="item.flgAplica">
                    <button type="button" class="btn btn-outline-warning btn-sm" v-on:click="Revisar(item, index)" v-if="item.estado == 2 && app.Informe.ESTADO == States.EN_REVISION">Revisar</button>
                    <button type="button" class="btn btn-primary btn-sm" v-on:click="Firmar(item, index)" v-if="item.estado >= 2" v-bind:disabled="item.estado == 4">Firmar</button>
                </div>
                <div class="options" v-if="index > 3 && Informe.ESTADO == States.INGRESADO">
                    <i class="fa fa-times-circle fa-lg text-danger cursor-pointer" v-on:click="Eliminar_Integrante(item, index)"></i>
                </div>
            </div>
        </fieldset>
        @*<div class="form-group">
            <h5>Vistos</h5>
            <editor v-model="Informe.VISTOS" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
        </div>*@
        <fieldset class="fs-border" v-if="Informe.RECURSOS.length">
            <legend>Insumos para el Análisis</legend>
            <div class="form-row">
                <div class="col-sm-3" v-for="(item, index) in Informe.RECURSOS">
                    <div class="file-attach">
                        <div class="file-attach-icon">
                            <i class="fa fa-file-pdf-o fa-2x"></i>
                        </div>
                        <div class="file-attach-info">
                            <a class="file-attach-name" target="_blank" v-bind:href="item.url">{{item.nombre}}</a>
                            <div class="file-attach-details">
                                {{item.tipo}}
                            </div>
                            <span class="file-attach-remove" v-on:click="Eliminar_Archivo(item, index)"
                                  v-if="Informe.ESTADO == States.INGRESADO">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="fs-border">
            <legend>Información detallada del Informe de Supervisión</legend>
            <div class="pt-2" id="group-analisis">
                <a class="btn btn-link px-0" onclick="_informe.ResumenInforme()">
                    <i class="fa fa-search mr-2"></i>Consultar información
                </a>
            </div>
        </fieldset>

        <fieldset class="fs-border">
            <legend>Análisis de los resultados del Informe de Supervisión</legend>
            <h5>Incumplimiento de obligaciones</h5>
            <div class="mt-3" v-for="(item, index) in Infracciones">
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" :id="'inf_' + item.codInfraccion" v-model="item.select">
                    <label class="custom-control-label" :for="'inf_' + item.codInfraccion">{{item.titulo}}</label>
                </div>
            </div>
        </fieldset>

        <fieldset class="fs-border">
            <legend>Sobre las presuntas causales de caducidad</legend>
            <div class="mb-3">
                <h5>Sobre la causal de caducidad por la extracción o movilización de recursos forestales no autorizados</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_caducidad_extraccion" id="rb_caducidad_extraccion_si" v-bind:value="true" v-model="Informe.FLG_CADUCIDAD_EXTRACCION">
                    <label class="form-check-label" for="rb_caducidad_extraccion_si">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_caducidad_extraccion" id="rb_caducidad_extraccion_no" v-bind:value="false" v-model="Informe.FLG_CADUCIDAD_EXTRACCION">
                    <label class="form-check-label" for="rb_caducidad_extraccion_no">No</label>
                </div>
            </div>
            <div v-if="Informe.FLG_CADUCIDAD_EXTRACCION">
                <fieldset class="fs-border">
                    <legend>Seleccionar criterios:</legend>
                    <div class="mt-3" v-for="(item, index) in data.Causales_Caducidad">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" :id="'rb_' + index" v-model="item.select">
                            <label class="custom-control-label" :for="'rb_' + index">{{item.titulo}}</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="mb-3">
                <h5>Imputación de cargos</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_imputacion_cargos" id="rb_imputacion_cargos_si" v-bind:value="true" v-model="Informe.FLG_IMPUTACION_CARGOS">
                    <label class="form-check-label" for="rb_imputacion_cargos_si">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_imputacion_cargos" id="rb_imputacion_cargos_no" v-bind:value="false" v-model="Informe.FLG_IMPUTACION_CARGOS">
                    <label class="form-check-label" for="rb_imputacion_cargos_no">No</label>
                </div>
            </div>
            <div class="mb-3">
                <h5>Sobre la disposición de medidas cautelares en el marco del PAU</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_medidas_cautelares" id="rb_medidas_cautelares_si" v-bind:value="true" v-model="Informe.FLG_MEDIDAS_CAUTELARES">
                    <label class="form-check-label" for="rb_medidas_cautelares_si">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_medidas_cautelares" id="rb_medidas_cautelares_no" v-bind:value="false" v-model="Informe.FLG_MEDIDAS_CAUTELARES">
                    <label class="form-check-label" for="rb_medidas_cautelares_no">No</label>
                </div>
            </div>
            <div class="mb-3">
                <h5>Sobre la comunicación de los actuados a otras entidades</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_comunicacion" id="rb_comunicacion_si" v-bind:value="true" v-model="Informe.FLG_COMUNICACION">
                    <label class="form-check-label" for="rb_comunicacion_si">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_comunicacion" id="rb_comunicacion_no" v-bind:value="false" v-model="Informe.FLG_COMUNICACION">
                    <label class="form-check-label" for="rb_comunicacion_no">No</label>
                </div>
            </div>
            <div class="mb-3">
                <h5>Sobre herramientas para subsanar infracciones y ejercer el derecho a la defensa</h5>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_herramientas_subsanar" id="rb_herramientas_subsanar_si" v-bind:value="true" v-model="Informe.FLG_HERRAMIENTAS_SUBSANAR">
                    <label class="form-check-label" for="rb_herramientas_subsanar_si">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="rb_herramientas_subsanar" id="rb_herramientas_subsanar_no" v-bind:value="false" v-model="Informe.FLG_HERRAMIENTAS_SUBSANAR">
                    <label class="form-check-label" for="rb_herramientas_subsanar_no">No</label>
                </div>
            </div>
        </fieldset>

        @*<ul class="nav nav-tabs" id="tab-estructura" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-toggle="tab" href="#tab-est-1" role="tab">Antecedentes</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#tab-est-2" role="tab">Competencia</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#tab-est-3" role="tab">Análisis</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#tab-est-4" role="tab">Imputación de cargos</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#tab-est-5" role="tab">Sobre comunicación con otras entidades</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#tab-est-6" role="tab">Párrafos Cliché</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-toggle="tab" href="#tab-est-7" role="tab">Pie de página</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane pt-3 show active" id="tab-est-1" role="tabpanel">
                <editor v-model="Informe.ANTECEDENTES" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
            <div class="tab-pane pt-3" id="tab-est-2" role="tabpanel">
                <editor class="editor-table-sm" v-model="Informe.COMPETENCIA" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
            <div class="tab-pane pt-3" id="tab-est-3" role="tabpanel">
                <button type="button" class="btn btn-primary btn-sm my-2" v-if="Informe.ESTADO == States.INGRESADO" onclick="_informe.Mostrar_Analisis()">Generar análisis</button>
                <editor v-model="Informe.ANALISIS" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
            <div class="tab-pane pt-3" id="tab-est-4" role="tabpanel">
                <editor v-model="Informe.IMPUTACION" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
            <div class="tab-pane pt-3" id="tab-est-5" role="tabpanel">
                <editor v-model="Informe.COMUNICACION_EXTERNA" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
            <div class="tab-pane pt-3" id="tab-est-6" role="tabpanel">
                <editor v-model="Informe.PARRAFOS_CLICHE" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
            <div class="tab-pane pt-3" id="tab-est-7" role="tabpanel">
                <editor v-model="Informe.PIE_PAGINA" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
            </div>
        </div>
        <fieldset class="fs-border mt-3">
            <legend>Se resuelve</legend>
            <a class="btn btn-link btn-sm" v-on:click="GenerarResolucion()" v-if="Informe.ESTADO <= States.EN_REVISION">
                <i class="fa fa-arrow-down mr-2"></i>Registrar información
            </a>
            <editor v-model="Informe.RESOLUCION" class="mt-3" :disabled="Informe.ESTADO > States.EN_REVISION"></editor>
        </fieldset>*@
    </div>
    <div class="py-5 my-3 text-center" v-else>
        <h4>Para registrar el PAU Digital, primero genere la sección de "Datos Generales"</h4>
        <p>Especifique los documentos que serán tomados como referencia (Informes de supervisión, ...), luego guarde la resolución.</p>
        <a class="btn btn-link" onclick="toBase()">Aceptar</a>
    </div>
</div>

<div id="modal-cargar-documento" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                <span>Cargar documento</span>
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body" v-on:dragover="dragOver" v-on:dragleave="dragLeave" v-on:drop="drop">
                <div class="p-3 text-center text-muted" v-if="!file" v-on:click="fileSearch($event)">
                    <i class="fa fa-cloud-upload fa-4x text-info"></i>
                    <div class="small">Arrastre un archivo o haga clic aquí para cargar uno</div>
                </div>
                <div class="p-3" v-else>
                    <div class="row">
                        <div class="col-auto">
                            <i class="fa fa-cloud-upload fa-5x text-success"></i>
                        </div>
                        <div class="col">
                            <h3>Información del archivo</h3>
                            <div class="mb-2">{{info.name}}</div>
                            <div><b>Tamaño:</b> {{info.sizeFormat}}</div>
                            <div><b>Tipo:</b> {{info.type}}</div>
                            <div class="mt-3" v-if="!loading">
                                <a class="btn btn-link btn-sm p-0" v-on:click="fileSearch($event)">
                                    <i class="fa fa-cloud-upload"></i> Cambiar archivo...
                                </a>
                            </div>
                            <div class="text-center mt-3" v-else-if="loading">
                                <div class="mt-3 mb-1 small">Cargando {{percent}}%</div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" v-bind:style="{width: percent + '%'}" v-bind:aria-valuenow="percent" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div>
                                    <a class="btn btn-link btn-sm" v-on:click="cancel">Cancelar</a>
                                </div>
                            </div>
                            <div class="mt-3 text-success" v-if="!loading && !error && percent == 100">
                                ¡El archivo se ha cargado exitosamente!
                            </div>
                            <div class="mt-3 alert alert-danger" v-if="error">
                                Hubo un problema al cargar el archivo
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none">
                    <input type="file" v-bind:accept="accept.join(',')" v-on:change="fileChange" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="upload" v-if="file && !loading && percent !== 100">Cargar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-integrante" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                <span>Nuevo integrante</span>
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Función</label>
                    <select class="form-control form-control-sm" v-model="form.funcion">
                        <option>Especialista Legal</option>
                        <option>Ingeniero Forestal</option>
                        <option>Coordinador</option>
                        <option>Subdirector</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-form-label col-form-label-sm">Apellidos y Nombres</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" v-model="form.apellidosNombres" disabled />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-default" v-on:click="app.BuscarPersona(form)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="Agregar" v-bind:disabled="!form.funcion">Aceptar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-notificar" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                <span>Notificación</span>
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <div class="row align-items-start mb-2">
                    <div class="col-auto">
                        <span class="col-form-label col-form-label-sm">
                            Destinatarios
                            <i class="fa fa-plus-circle fa-lg ml-2 text-success cursor-pointer" v-on:click="Agregar()" title="Agregar destinatario"></i>
                        </span>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline mb-3" v-for="(item, index) in form.Destinatarios">
                            <input class="form-check-input" type="checkbox" :id="'cb_'+ index" :value="item" v-model="form.Seleccionados" checked>
                            <label class="form-check-label mt-0 small" :for="'cb_'+ index" v-bind:title="item.email">{{item.persona}}</label>
                        </div>
                        <span class="small" v-if="!form.Destinatarios.length">
                            No hay destinatarios disponibles
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="C.C." v-model="form.CC" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary" v-on:click="Agregar_CC()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <editor v-model="form.Mensaje"></editor>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="Notificar" v-bind:disabled="!form.Seleccionados.length">Notificar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-sitd" class="modal fade" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                <span>SITD</span>
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">Oficinas</label>
                            <select class="form-control form-control-sm" v-model="form.iCodOficina" @@change="_informe.SITD_TrabajadoresXOficina()" v-bind:disabled="form.iCodTramite">
                                <option v-for="option in oficinas" v-bind:value="option.Value">
                                    {{ option.Text }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="col-form-label">Trabajador</label>
                            <select class="form-control form-control-sm" v-model="form.trabajadorId" v-bind:disabled="form.iCodTramite">
                                <option v-for="option in trabajadores" v-bind:value="option.trabajadorId">
                                    {{ option.nombres }} {{ option.apellidos }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Tipo de Documento</label>
                            <select class="form-control form-control-sm" v-model="form.cCodTipoDoc" v-bind:disabled="form.iCodTramite">
                                <option v-for="option in documentos" v-bind:value="option.Value">
                                    {{ option.Text }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Fecha de Registro</label>
                            <div class="input-group input-group-sm">
                                <date-picker v-model="form.fechaRegistro" :disabled="form.iCodTramite"></date-picker>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Referencias:</label>
                    <div>
                        <span class="chip badge badge-success rounded mr-2 mt-1" v-for="(item, index) in app.Inf_Supervision">
                            {{item.NUM_INFORME}}
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Asunto</label>
                    <textarea class="form-control form-control-sm" rows="3" v-model="form.cAsunto"></textarea>
                </div>
                <div class="form-group">
                    <label class="col-form-label">Observaciones</label>
                    <textarea class="form-control form-control-sm" rows="3" v-model="form.cObservaciones"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Folios</label>
                            <input type="text" class="form-control form-control-sm" v-model="form.cnNumFolio" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Indicación</label>
                            <select class="form-control form-control-sm" v-model="form.indicacionId" v-bind:disabled="form.iCodTramite">
                                <option v-for="option in indicaciones" v-bind:value="option.Value">
                                    {{ option.Text }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-form-label">Prioridad</label>
                            <select class="form-control form-control-sm" v-model="form.prioridad" v-bind:disabled="form.iCodTramite">
                                <option v-for="option in prioridades" v-bind:value="option.Value">
                                    {{ option.Text }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" v-on:click="_informe.SITD_Registro()">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-planes-manejo" class="modal fade" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-small" style="cursor:move;">
                <span>Planes de manejo</span>
                <i class="fa fa-close" style="cursor:pointer;" data-dismiss="modal" aria-label="Close"></i>
            </div>
            <div class="modal-body">
                <table class="table table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>N° POA</th>
                            <th>POA</th>
                            <th>N° RESOLUCIÓN</th>
                            <th>INICIO SUPERVISIÓN</th>
                            <th>FECHA RESOLUCIÓN</th>
                            <th>INICIO VIGENCIA</th>
                            <th>FIN VIGENCIA</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in Planes_Manejo">
                            <td>{{item.NUM_POA}}</td>
                            <td>{{item.NOMBRE_POA}}</td>
                            <td>{{item.ARESOLUCION_NUM}}</td>
                            <td class="text-center">{{item.INICIO_SUPERVISION}}</td>
                            <td class="text-center">{{item.ARESOLUCION_FECHA || '-'}}</td>
                            <td class="text-center">{{item.INICIO_VIGENCIA || '-'}}</td>
                            <td class="text-center">{{item.FIN_VIGENCIA || '-'}}</td>
                            <td class="text-center">
                                <i class="fa fa-hand-o-left fa-lg cursor-pointer" v-on:click="Seleccionar(item)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!--Informe-->
@*@Html.Partial("~/Areas/Fiscalizacion/Views/ManPAU/templates/_tmplRSDInforme.cshtml")*@

<!--Firma digital-->
@Html.Partial("~/Areas/General/Views/FirmaDigital/_FirmaModal.cshtml")