
@model List<CapaEntidad.DOC.Ent_INFORME_DIVISION_PREDIO>



<style type="text/css">
    #tbRenderDivisionPredio_wrapper {
        padding: 0px;
    }
</style>


<script type="text/javascript">
    var _renderDivisionPredio = {};
    _renderDivisionPredio.tbEliTABLA = [];

    _renderDivisionPredio.fnInitDataTable_Detail = function () {
        var columns_label = [], columns_data = [], options = {};

        columns_label = ["División Interna", "Coordenada Este", "Coordenada Norte", "Altitud (msnm)", "Observaciones",];
        columns_data = ["DIVISION_INTERNA", "COORDENADA_ESTE", "COORDENADA_NORTE", "ALTITUD", "OBSERVACION"];
        options = {
            page_length: 10, row_index: true, row_edit: true, row_fnEdit: "_renderDivisionPredio.fnAddEdit(this)"
            , row_delete: true, row_fnDelete: "_renderDivisionPredio.fnDelete(this)"
            , button_copy: true, button_csv: true, button_excel: true, button_pdf: true, button_print: true
            , export_title: $("#tbRenderDivisionPredio").find("thead tr")[0].innerText.trim()
            , page_sort: true
            , data:null
        };
        _renderDivisionPredio.dtDivisionPredio = utilDt.fnLoadDataTable_Detail($("#tbRenderDivisionPredio"), columns_label, columns_data, options);


    }

    _renderDivisionPredio.fnAddEdit = function (obj) {
        var url = urlLocalSigo + "Supervision/ManInforme/_DivisionPredio";
        var option = { url: url, type: 'POST', datos: {}, divId: "mdlManInforme_DivisionPredio" };
        utilSigo.fnOpenModal(option, function () {
            _DivisionPredio.fnSaveForm = function (data) {
                if (data != null) {
                    var dt = _renderDivisionPredio.dtDivisionPredio;
                    if (obj == null || obj == "") {//Nuevo Registro
                        //if (!utilDt.existValorSearch(_renderDivisionPredio.dtDivisionPredio, "ACTIVIDAD", data["ACTIVIDAD"])) {
                            dt.rows.add([data]).draw();
                            dt.page('last').draw('page');
                            utilSigo.toastSuccess("Exito", "Datos guardados correctamente");
                        //} else {
                        //    utilSigo.toastWarning("Error", "La actividad ya se encuentra registrado");
                        //}
                    } else {//Modificar
                        var row = dt.row($(obj).parents('tr')).data();
                        row = data;
                        dt.row($(obj).parents('tr')).data(row).draw();
                        utilSigo.toastSuccess("Exito", "Datos actualizados correctamente");
                    }
                    $("#mdlManInforme_DivisionPredio").modal('hide');
                } else {
                    utilSigo.toastError("Error", "No se pudieron guardar los datos");
                }
            }

            if (obj != null && obj != "") {
                var data = _renderDivisionPredio.dtDivisionPredio.row($(obj).parents('tr')).data();
                _DivisionPredio.fnInit(utilSigo.fnConvertArrayToObject(data));
            } else { _DivisionPredio.fnInit(""); }
        });
    }

    _renderDivisionPredio.fnDeleteAll = function () {
        var rows, countFilas, data;

        rows = _renderDivisionPredio.dtDivisionPredio.$("tr");
        countFilas = rows.length;
        if (countFilas > 0) {
            utilSigo.dialogConfirm("", "Está seguro de eliminar todos los registros?", function (r) {
                if (r) {
                    $.each(rows, function (i, o) {
                        data = _renderDivisionPredio.dtDivisionPredio.row($(o)).data();
                        if (data["RegEstado"] == "0" || data["RegEstado"] == "2") {
                            _renderDivisionPredio.tbEliTABLA.push({
                                EliTABLA: "ISUPERVISION_DIVISIONPREDIO",
                                COD_SECUENCIAL: data["COD_SECUENCIAL"]
                            });
                        }
                    });
                    _renderDivisionPredio.dtDivisionPredio.clear().draw();
                }
                utilSigo.toastSuccess("Exito", "Se eliminó todos los registros con éxito");
            });
        } else {
            utilSigo.toastWarning("Aviso", "No se encontraron registros a eliminar");
        }
    }

    _renderDivisionPredio.fnDelete = function (obj) {
        var data;

        data = _renderDivisionPredio.dtDivisionPredio.row($(obj).parents('tr')).data();
        if (data["RegEstado"] == "0" || data["RegEstado"] == "2") {
            _renderDivisionPredio.tbEliTABLA.push({
                EliTABLA: "ISUPERVISION_DIVISIONPREDIO",
                COD_SECUENCIAL: data["COD_SECUENCIAL"]
            });
        }
        _renderDivisionPredio.dtDivisionPredio.row($(obj).parents('tr')).remove().draw(false);
        utilSigo.toastSuccess("Exito", "Se eliminó el registro con éxito");
    }

    _renderDivisionPredio.fnImport = function (e, obj) {
        var url = urlLocalSigo + "Supervision/ManInforme/ImportarDatosInformeSimple";
        uploadFile.fileSelectHandler(e, obj, url, { asTipo: "DIVISIONPREDIO" }, function (data) {
            for (var i = 0; i < data.length; i++) {
                //if (!utilDt.existValorSearch(_renderDivisionPredio.dtDivisionPredio, "ACTIVIDAD", data[i]["ACTIVIDAD"])) {
                    _renderDivisionPredio.dtDivisionPredio.rows.add([data[i]]).draw();
                    _renderDivisionPredio.dtDivisionPredio.page('last').draw('page');
                //}
            }
            e.target.value = "";
        }, function (data) {
            e.target.value = "";
            utilSigo.toastWarning("Error de validación", data.msj);
        });
        e.target.value = "";
    }

    _renderDivisionPredio.fnGetList = function () {
        var list = [], rows, countFilas, data;

        rows = _renderDivisionPredio.dtDivisionPredio.$("tr");
        countFilas = rows.length;
        if (countFilas > 0) {
            $.each(rows, function (i, o) {
                data = _renderDivisionPredio.dtDivisionPredio.row($(o)).data();
                if (data["RegEstado"] == "1" || data["RegEstado"] == "2") {
                    list.push(utilSigo.fnConvertArrayToObject(data));
                }
            });
        }
        return list;
    }

    _renderDivisionPredio.fnGetListEliTABLA = function () { return _renderDivisionPredio.tbEliTABLA }

    $(document).ready(function () {
        _renderDivisionPredio.frm = $("#frmRenderDivisionPredio");

        _renderDivisionPredio.fnInitDataTable_Detail();

        _renderDivisionPredio.dtDivisionPredio.rows.add(JSON.parse('@Html.Raw(Json.Encode(@Model))')).draw();
    });
</script>

<div id="frmRenderDivisionPredio">
    <div class="table-responsive">
        <table id="tbRenderDivisionPredio" style="width:100%;margin:0px !important;" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th colspan="9" class="text-sm-left">
                        <div class="form-inline">
                            <i class="fa mx-2 fa-lg fa-file-o" style="cursor:pointer;" onclick="_renderDivisionPredio.fnAddEdit('');" data-toggle="tooltip" data-placement="top" title="Nuevo"></i>
                            <i class="fa mx-2 fa-lg fa-window-close-o" style="cursor:pointer;" onclick="_renderDivisionPredio.fnDeleteAll();" data-toggle="tooltip" data-placement="top" title="Eliminar Todos"></i>
                            <label style="cursor:pointer;" class="fa mx-2 fa-lg fa-file-excel-o" title="Importar Archivo" data-toggle="tooltip">
                                <input type="file" id="fileselect" name="fileselect" style="display:none" size="60" onchange="_renderDivisionPredio.fnImport(event, this)">
                            </label>
                            <a href="@Url.Content("~/Archivos/Plantilla/DivisionPredio.xlsx")"> <i class="fa mx-2 fa-lg fa-folder-open" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Descargar Plantilla"></i></a>
                            <strong>Registro de División Predio</strong>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
