<div style="mso-element: footnote;" id="foot_infraccion_1" data-inciso="1">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_infraccion_1;" href="#_foot_infraccion_1" name="_foot_infraccion_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;
            Consignar a que formato del Informe de supervisión corresponde.
        </p>
    </div>
</div>

