<script id="tmpl-exportar" type="text/x-jquery-tmpl">
    <div style="font-family: Arial; font-size: 10pt; line-height: 150%;">
        <div>
            <table width="100%" cellpadding="4" style="border: 0; text-align: justify; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
                <tbody>
                    <tr>
                        <td style="vertical-align: top;"><strong>EXPEDIENTE N°</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">${EXPEDIENTE_ADM || '000XX-20XX-OSINFOR/08.2.1'}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>MATERIA</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">${MATERIA}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>ADMINISTRADO</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">${TITULAR}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>TÍTULO HABILITANTE</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">${NUM_CONTRATO}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><strong>REFERENCIA</strong></td>
                        <td style="width: 30px; vertical-align: top;">:</td>
                        <td style="vertical-align: top;">Informe Final de Instrucción N° ${NRO_REFERENCIA || '000XX-20XX-OSINFOR/08.2.1'}</td>
                    </tr>
                </tbody>
            </table>
            <div style="font-weight: bold; text-align: center; font-size: 11pt; margin: 15pt 0;">
                RESOLUCIÓN DIRECTORAL N° ${NUM_INFORME_SITD || '00XXX-2023-OSINFOR/08.2'}
            </div>
            <div style="text-align: right; margin-bottom: 15pt;">
                Lima, ${FECHA}
            </div>
        </div>
        <div style="text-align: justify;">
            <p><strong>VISTOS:</strong></p>
            <div>{{html VISTOS}}</div>            
            <p><strong>CONSIDERANDO:</strong></p>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="1"><li><strong>COMPETENCIA</strong></li></ol>
                <div>{{html COMPETENCIA}}</div>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="2"><li><strong>ANÁLISIS DE LAS IMPUTACIONES DE CARGO</strong></li></ol>
                <!--(aquí se puede poner la opción de exportar las especies, volumen; teniendo en cuenta que debe mantenerse una hoja en blanco; toda vez, que aquí se realiza el análisis de los resultados de la diligencia de supervisión).-->
                <span>{{html ANALISIS}}</span>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="3"><li><strong>GRAVEDAD OCASIONADA</strong></li></ol>
                <div>{{html GRAVEDAD_OCASIONADA}}</div>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="4"><li><strong>ACREDITACIÓN DE LAS IMPUTACIONES, IMPOSICIÓN DE SANCIÓN ATENUENATES Y AGRAVANTES.</strong></li></ol>
                <div>{{html ACREDITACION_IMPUTACIONES}}</div>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="4"><li><strong>DE LAS MEDIDAS COMPLEMENTARIAS</strong></li></ol>
                <div>{{html MEDIDAS_COMPLEMENTARIAS}}</div>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="5"><li><strong>MEDIDA CORRECTIVA</strong></li></ol>
                <div>{{html MEDIDAS_CORRECTIVAS}}</div>
            </div>
            <div>
                <ol style="margin-left: ${MARGIN_LEFT.ROOT}; list-style: upper-roman;" start="6"><li><strong>COMUNICACIÓN DE LOS ACTUADOS A OTRAS ENTIDADES</strong></li></ol>
                <div>{{html COMUNICACION_ENTIDADES}}</div>
            </div>
            <p>
                Por lo expuesto, en uso de las atribuciones conferidas por el Decreto Legislativo N° 1085, Ley que creó el Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre – OSINFOR y modificatorias; la Resolución de Jefatura Nº 00003-2023-OSINFOR/01.1, que aprueba el Texto Integrado del Reglamento de organización y Funciones del Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre (OSINFOR); la Ley N° 29763, Ley Forestal y de Fauna Silvestre y su Reglamento para la Gestión Forestal, aprobado mediante el Decreto Supremo N° 018-2015-MINAGRI; el Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado por Decreto Supremo N° 007-2021-MIDAGRI; el Decreto Supremo N° 004-2019-JUS, que aprobó el Texto Único Ordenado de la Ley del Procedimiento Administrativo General, Ley Nº 27444; la Resolución de Jefatura N° 00043-2021-OSINFOR/01.1, que aprobó el Reglamento del Procedimiento Administrativo Único - PAU del OSINFOR; y la la Resolución de Jefatura N° 120-2019-OSINFOR/01.1, de fecha 31 de diciembre de 2019;
            </p>
            <p><strong>SE RESUELVE:</strong></p>
            {{html RESOLUCION}}
        </div>
        <p style="text-align: center; margin-bottom: 15px;">
            Regístrese y comuníquese,
        </p>
        <p style="text-align: center;">
            Firmado digitalmente por<br />
            <strong>${DIRECTOR || 'Director'}</strong><br />
            Director <br />
            ${PROCEDENCIA}<br />
            OSINFOR
        </p>
    </div>
    <table border="0" cellspacing="0" cellpadding="0" style="margin: 0in 0in 0in 900in; width: 1px; height: 1px; overflow: hidden;">
        <tr>
            <td>
                <!--Footer Primera página => id = ff1 -->
                <div style="mso-element: footer; text-align: justify; font-size: 8pt; font-style: italic;" id="googoose-footer">
                    <p class="MsoFooter">
                        {{html PIE_PAGINA}}
                        <table style="width: 100%;"><tr><td style="text-align: right;">#CURRENTPAGE#</td></tr></table>
                    </p>
                </div>
            </td>
        </tr>
    </table>
</script>

<script id="tmpl-vistos" type="text/x-jquery-tmpl">    
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;"><strong>N°</strong></th>
                <th style="border: 1px solid #000;"><strong>ANTECEDENTES</strong></th>
                <th style="border: 1px solid #000;"><strong>DESCRIPCIÓN</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">
                    Informe de Supervisión N° ${NRO_REFERENCIA}, de fecha ${INF_FECHA} (en adelante, el Informe de Supervisión)
                    <a style="mso-footnote-id: foot_vistos_1" href="#_foot_vistos_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    <u>Titular:</u> ${TITULAR_SUPERVISADO} identificado con {{if RUC_TITULAR}}RUC ${RUC_TITULAR}{{else DOCUMENTO_RLEGAL}}DNI ${DOCUMENTO_RLEGAL}{{/if}} (en adelante, el/la titular)<br />
                    <u>Código de TH:</u> ${NUM_THABILITANTE}, suscrito el xx de xx del xx (en adelante, el contrato de concesión/el permiso forestal)<br />
                    <u>Plan de Manejo supervisado:</u> PO ${PLAN_MANEJO.NOMBRE_POA}, periodo ${PLAN_MANEJO.INICIO_VIGENCIA}, aprobado mediante Resolución N° ${PLAN_MANEJO.ARESOLUCION_NUM}, de fecha ${PLAN_MANEJO.ARESOLUCION_FECHA}<br />
                    <u>Fecha de supervisión:</u> ${INF_FECHA}
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">2</td>
                <td style="border: 1px solid #000;">Resolución Sub Directoral N° 000XX-20XX-OSINFOR/08.2.1, de fecha XX de XXXX de 202X</td>
                <td style="border: 1px solid #000;">
                    Se inició el PAU <strong>por haber incurrido presuntamente en lo siguiente:</strong>
                    <ul style="list-style: lower-roman; margin-left: 35px;">
                        <li>
                            <i>“Se vinculará con las imputaciones expuestas en la RSD de inicio de PAU y RSD de ampliación”</i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">3</td>
                <td style="border: 1px solid #000;">
                    Cédula de Notificación N° ${ANTECEDENTES_DOCS.Ced_Noti.numero}, de fecha ${ANTECEDENTES_DOCS.Ced_Noti.fechaEmisionTexto || 'XX de XXXXX de XXXX'}, notificada el ${ANTECEDENTES_DOCS.Ced_Noti.fechaNotificacionTexto || 'XX de XXXXX de XXXX'}
                </td>
                <td style="border: 1px solid #000;">
                    Se notificó al/la titular la Resolución Sub Directoral N° ${ANTECEDENTES_DOCS.RSD.numero || 'XXXX'} y el Informe de Supervisión N° ${ANTECEDENTES_DOCS.Inf_Sup.numero || 'XXXX'}.
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">4</td>
                <td style="border: 1px solid #000;">Documentos presentados posterior a la notificación de la Resolución Sub Directoral N° 000XX-202X-OSINFOR/08.2.1.</td>
                <td style="border: 1px solid #000;">
                    De la revisión del Sistema de Trámite Documentario SITD-OSINFOR, se verifica que el/la administrado (a) presentó descargo mediante los siguientes documentos:
                    <ul style="list-style: lower-roman; margin-left: 35px;">
                        <li>
                            Escrito xxxxx SITD N° xxxxx de fecha xx de xxx de xxxx
                        </li>
                    </ul>
                    <p>
                        En caso haya variaciones de domicilio, agregar un ítem en el cual se indique dicha situación.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">5</td>
                <td style="border: 1px solid #000;">Informe Final de Instrucción N° 000XX-2023-OSINFOR/08.2.1, de fecha XX de XXX de 202X.</td>
                <td style="border: 1px solid #000;">
                    <strong>Recomienda:</strong>
                    <ul style="list-style: lower-roman; margin-left: 35px; ">
                        <li>
                            “Se vinculará con las recomendaciones del IFI”
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">6</td>
                <td style="border: 1px solid #000;">
                    Cédula de Notificación N° 00XXX-2023-OSINFOR/08.2.2, de fecha XX de marzo de 202X, notificada el XX de XXX de 202X
                </td>
                <td style="border: 1px solid #000;">
                    Se notificó a el/la administrado/a el Informe Final de Instrucción N° 000XX-202X-OSINFOR/08.2.1.
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">7</td>
                <td style="border: 1px solid #000;">Documentos presentados posterior a la notificación del Informe Final de Instrucción N° XX-XX-OSINFOR/08.2.1.</td>
                <td style="border: 1px solid #000;">
                    De la revisión del Sistema de Trámite Documentario SITD-OSINFOR, se verifica que el/la administrado (a) presentó descargo mediante los siguientes documentos:
                    <ul style="list-style: lower-roman; margin-left: 35px;">
                        <li>
                            Escrito xxxxx SITD N° xxxxx de fecha xx de xxx de xxxx
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script id="tmpl-competencia" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">N°</th>
                <th style="border: 1px solid #000;">NORMATIVA</th>
                <th style="border: 1px solid #000;">DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">
                    Decreto Legislativo N° 1085, modificado por los Decretos Legislativos N° 1319 y N° 1451 (en adelante, Decreto Legislativo N° 1085), y Ley N° 29763, Ley Forestal y de Fauna Silvestre (en adelante, la LFFS)
                </td>
                <td style="border: 1px solid #000;">
                    Se crea el Organismo de Supervisión de los Recursos Forestales y de Fauna Silvestre – OSINFOR, como un organismo público encargado de supervisar y fiscalizar el aprovechamiento sostenible y la conservación de los recursos forestales y de fauna silvestre, otorgados por el Estado a través de títulos habilitantes regulados por la LFFS.
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">2</td>
                <td style="border: 1px solid #000;">
                    Reglamento de Organización y Funciones – ROF del OSINFOR, aprobado por Decreto Supremo N° 136-2022-PCM (en adelante, el ROF del OSINFOR)
                </td>
                <td style="border: 1px solid #000;">
                    <div>
                        El artículo 28 del ROF del OSINFOR, señala que, La Dirección del Procedimiento Sancionador Forestal y de Fauna Silvestre es el órgano de línea responsable de conducir y controlar el desarrollo del Procedimiento Administrativo Único en primera instancia. Depende de la Jefatura.
                    </div>
                    <div>
                        Asimismo, el artículo 54 del ROF del OSINFOR, señala que, “son unidades orgánicas de la Dirección del Procedimiento Sancionador Forestal y de Fauna Silvestre las siguientes: 2.1 Subdirección de Instrucción, 2.2 Subdirección de Sanción”
                    </div>
                    <div>
                        En esa línea, el artículo 55 del ROF del OSINFOR establece que, “la Subdirección de Instrucción es la unidad orgánica de línea responsable de evaluar y determinar el inicio del procedimiento administrativo único; así como, de realizar las acciones correspondientes a la fase instructora, de acuerdo a la normativa vigente.”
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script id="tmpl-analisis" type="text/x-jquery-tmpl">
    <p class="enumeration">
        En aplicación del numeral 258.1 del artículo 258 del Texto Único Ordenado de la Ley del Procedimiento Administrativo General, Ley N° 27444, aprobado por Decreto Supremo Nº 004-2019-JUS (en adelante, TUO de la Ley Nº 27444), corresponde a esta Dirección de Línea resolver estrictamente sobre los hechos imputados en la fase de instrucción.
    </p>

    {{each(i, infra) INFRACCIONES}}
    <div>
        <ol style="list-style-type: lower-alpha; margin-left: ${MARGIN_LEFT.OL};" start="${i + 1}">
            <li><strong>${infra.titulo}</strong></li>
        </ol>
        {{html infra.parrafos}}
    </div>
    {{/each}}
</script>

<script id="tmpl-gravedad-ocasionada" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <tbody>
            <tr>
                <td style="text-align: center; border: 1px solid #000; width: 20px;">N°</td>
                <td style="text-align: center; border: 1px solid #000;">Normativa</td>
                <td style="text-align: center; border: 1px solid #000;">Análisis</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">
                    “Criterios para estimar la gravedad del daño por la comisión de infracciones en materia forestal”, aprobado por Resolución de Jefatura Nº 059-2019-OSINFOR.
                </td>
                <td style="border: 1px solid #000;">
                    <p>Conforme a los resultados del Informe de Supervisión, la extracción de XX m3 de madera provenientes de árboles no autorizados, representa una afectación de XX hectáreas (0.0167 hectáreas/m3 no autorizado) de nivel XX a la cobertura boscosa, la cual forma parte del Patrimonio Forestal Nacional.</p>
                    <p>Cabe señalar que, de las especies en cuestión, no se encuentra en la clasificación de especies amenazadas, conforme al numeral 5.27 del artículo 5 del Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI.</p>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script id="tmpl-acreditacion-imputaciones" type="text/x-jquery-tmpl">
    <p class="enumeration">
        El/la administrado (a) es responsable por la comisión de las infracciones tipificadas en los numerales xxxx del Anexo 1 del RISMFFS. Ahora bien, de acuerdo con el reporte de antecedentes de fecha xx, el/la administrado (a) no fue sancionado (a) anteriormente por el OSINFOR; asimismo, no se identifican agravantes y atenuantes aplicables. En consecuencia, las infracciones acreditadas son pasibles de ser sancionadas de la siguiente manera:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <td style="text-align: center; border: 1px solid #000;">Infracción</td>
                <td style="text-align: center; border: 1px solid #000;">Sanción</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    <p>Numeral 1 del Anexo 1 del RISMFFS.</p>
                    <i>“No establecer o no mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante”</i>
                </td>
                <td style="border: 1px solid #000;">
                    Amonestación
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="border: 1px solid #000;">
                    <strong>Total Sanción de Multa</strong>
                </td>
                <td style="border: 1px solid #000; text-align: center;">
                    <strong>XX UIT</strong>
                </td>
            </tr>
        </tfoot>
    </table>
    <p class="enumeration">
        Bajo lo expuesto, en virtud de lo señalado en el numeral 8.5 del artículo 8 del RISMFFS, el monto de la multa a imponer el/la administrado (a) que no sea impugnada y se cancele dentro de los quince (15) días hábiles posteriores a su notificación, goza de un descuento del 25%. La multa que resulte de la aplicación del descuento no puede ser menor a 0.10 UIT.
    </p>
</script>

<script id="tmpl-medidas-complementarias" type="text/x-jquery-tmpl">
    <p class="enumeration">
        Se debe señalar que mediante la Resolución Sub Directoral N° xxxx de fecha xxxx, se dispusieron medidas cautelares, conforme al siguiente detalle:
    </p>
    <ul>
        <li>
            Suspender los efectos de la DEMA/PO, aprobada mediante la xxxx, de fecha xxxx, que resuelve aprobar el xxx, a favor de xxxxxx, correspondiente al Permiso xxxxxx; así como, suspender la autorización de eventuales reingresos y/o movilizaciones de saldos vinculados con el citado permiso.
        </li>
        <li>
            Suspender los efectos de las guías de transporte forestal y listas de trozas correspondientes a las especies aprobadas en la DEMA/PO aprobada por la Resolución xxxx de fecha xxx, otorgada a favor de xxx, correspondiente al Permiso xxx; requiriéndose al/ la titular del permiso forestal que se abstenga de utilizar las mismas para la movilización de volúmenes autorizados en el plan de manejo señalado precedentemente; y mientras permanezca vigente la referida medida, aquellos documentos previamente expedidos por la autoridad competente, carecen de efectos y validez para amparar la movilización o el transporte de recursos y/o productos forestales, con indiferencia de su ubicación geográfica o su eventual destino.
        </li>
        <li>
            Incautar temporalmente los recursos forestales movilizados mediante las Guías de Transporte Forestal y correspondientes Listas de Trozas aprobada a favor de la administrada, mediante la Resolución xxxx, que aprueba la/el <strong>DEMA/PO</strong>.
        </li>
    </ul>
    <p class="enumeration">
        En aplicación del numeral 157.3 del artículo 157 del Texto Único Ordenado de la Ley del Procedimiento Administrativo General, Ley N° 27444, corresponde que las medidas cautelares dispuestas en la resolución sub directoral de inicio del PAU caduquen cuando se emite la resolución que pone fin al procedimiento.
    </p>
    <p class="enumeration">
        Por otro lado, conforme a lo establecido inciso a.1 del literal a) del numeral 9.1 del artículo 9 del RISMFFS, de manera complementaria a la sanción a imponerse, puede aplicarse el <strong>decomiso</strong> de especímenes, productos o subproductos forestales y de fauna silvestre sobre los que no pueda acreditarse su origen legal o provengan de operaciones de extracción, caza colecta o captura no autorizadas.
    </p>
    <p class="enumeration">
        Cabe indicar que las referidas medidas complementarias deben hacerse de conocimiento de la autoridad, a fin de que lleve a cabo su ejecución; ello, teniendo en consideración que el numeral 15.2 del artículo 15 del RISMFFS, establece que el SERFOR, el OSINFOR y las ARFFS, deben colaborar entre sí, para la ejecución de las sanciones, medidas complementarias, medidas correctivas y medidas cautelares o provisionales, cuando se dispongan.
    </p>
    <p class="enumeration">
        En ese sentido, <strong>corresponde dictar como medida complementaria el decomiso</strong> de los productos forestales que se transporten y comercialicen al amparo de las guías de transporte forestal y listas de trozas del Permiso Forestal, así como, del plan de manejo aprobado; con la finalidad de eliminar o mitigar los efectos producidos por la comisión de la infracción acreditada en el presente procedimiento, tales como la posesión, el transporte o comercialización de los productos forestales provenientes de la extracción no autorizada, conforme al detalle establecido en el Anexo II de la presente resolución.
    </p>
</script>

<script id="tmpl-medidas-correctivas" type="text/x-jquery-tmpl">
    <p class="enumeration">
        La medida correctiva a aplicarse en el presente caso, por la extracción de un volumen de <strong>xxx m<sup>3</sup></strong>, será de xxx, toda vez que existe un área disponible dentro de la concesión para realizar la reposición de la cobertura afectada mediante manejo de regeneración natural. <u>La propuesta de medida correctiva se detalla en el anexo 2 de la presente resolución</u>.
    </p>
    <p class="enumeration">
        Los titulares, tienen la obligación de cumplir con la implementación de las medidas correctivas y/o mandatos que se emitan como resultado de las acciones de control, supervisión y/o fiscalización ejecutadas por el OSINFOR; y conforme a lo regulado por el numeral 13 del Anexo 1 del RISMFFS, <strong>el incumplir con la implementación de las medidas correctivas, constituye una infracción grave</strong>; debiendo informarse que la supervisión de la implementación de la medida, se encuentra a cargo de la Dirección de Supervisión Forestal y de Fauna Silvestre del OSINFOR.
    </p>
</script>

<script id="tmpl-comunicacion-entidades" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <td style="text-align: center; border: 1px solid #000;">Entidad</td>
                <td style="text-align: center; border: 1px solid #000;">Motivo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Gerencia Regional Forestal y de Fauna Silvestre del Gobierno Regional de Madre de Dios
                </td>
                <td style="border: 1px solid #000;">
                    <p>
                        Para que tome conocimiento de los resultados de la evaluación técnica y legal del PAU, y adopte las acciones correspondientes como autoridad concedente del título habilitante.
                    </p>
                    <p>
                        Así como, para que proceda conforme corresponde, respecto a la medida complementaria dictada en el artículo xxx de la presente resolución, referido al decomiso de los productos forestales que se transporten y comercialicen al amparo de las guías de transporte forestal y listas de trozas del Permiso Forestal, así como, del plan de manejo aprobado.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Fiscalía Especializada en Materia Ambiental de Madre de Dios
                </td>
                <td style="border: 1px solid #000;">
                    <p>
                        Para que tome conocimiento de los siguientes y actúe conforme a sus competencias:
                    </p>
                    <ul>
                        <li>
                            Extracción no autorizada equivalente a xxxm3 de madera de las especies xxxx, hecho que genera un daño de magnitud muy grave a la cobertura boscosa, y actúe conforme a sus competencias.
                        </li>
                        <li>
                            Falsedad de información contenida en el Informe de Ejecución.
                        </li>
                        <li>xxx</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Servicio Nacional Forestal y de Fauna Silvestre – SERFOR
                </td>
                <td style="border: 1px solid #000;">
                    <p>
                        Por ser la Autoridad encargada de llevar el Registro Nacional de Infractores Por ser la Autoridad encargada de llevar el Registro Nacional de Infractores.
                    </p>
                    <p>
                        En adición, para que evalúe la falsedad de información que presenta el Informe de ejecución suscrita por el regente xxxx
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <p class="enumeration">
        Además, considerando lo establecido en el segundo párrafo del artículo 27 del Reglamento del PAU, corresponde notificar la presente resolución directoral a la Subdirección de Instrucción, para conocimiento y fines.
    </p>
    <p class="enumeration">
        Por otro lado, es necesario precisar que, en aras de simplificar y facilitar el envío de información de obligaciones de manera oportuna, ágil y transparente, al administrado cuenta con la herramienta digital - APP MiBosque, el cual es un aplicativo dirigido a los titulares de títulos habilitantes y regentes forestales, para que puedan remitir y registrar información clara y oportuna que permita evidenciar el cumplimiento de sus obligaciones, asociadas a la gestión de recursos forestales, establecidas en el marco normativo. Además, permite reportar amenazas y/o delitos ambientales que se puedan desarrollar dentro de las áreas de manejo, en tiempo real, mediante canales digitales.
    </p>
</script>

<script id="tmpl-resolucion" type="text/x-jquery-tmpl">
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Declarar la caducidad del derecho de aprovechamiento contenido en el Permiso xxx, otorgado a xxxx, identificada con DNI/ RUC N° xxxx, por haber incurrido en la causal de caducidad prevista en el literal x) del artículo 153 de la Ley Forestal y de Fauna Silvestre, Ley N° 29763, concordado con el literal x) del artículo xx del Reglamento xxx, aprobado por Decreto Supremo N° xx-2015-MINAGRI; y con el numeral xxx de la Cláusula xxxx del Contrato de Concesión, conforme a lo señalado en la parte considerativa de la presente Resolución Directoral.
    </p>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Imponer sanción al/la señor (a) xxx, identificado (a) con DNI N° xx, titular del xx N° xx, conforme a lo siguiente:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000; text-align: center;">Sanción</th>
                <th style="border: 1px solid #000; text-align: center;" colspan="2">Infracción</th>
                <th style="border: 1px solid #000; text-align: center;">Observación</th>
            </tr>
        </thead>
        <tbody>
            @*{{each(i, item) INFRACCIONES}}*@
            <tr>
                <td style="border: 1px solid #000;">
                    Amonestación
                </td>
                <td style="border: 1px solid #000;">
                    Numeral XX, Anexo 1, RISMFFS
                </td>
                <td style="border: 1px solid #000;">
                    No presentar el informe de ejecución del …
                </td>
                <td style="border: 1px solid #000;">
                    Si reincide en esta infracción puede ser sancionado con 0.10 hasta 3 UIT (literal a, numeral 8.2, artículo 8 del RISMFFS)
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;" rowspan="4">
                    Multa de xxx  UIT, vigente a la fecha en que se cumpla con el pago
                </td>
                <td style="border: 1px solid #000;">
                    Numeral XX, Anexo 1, RISMFFS
                </td>
                <td style="border: 1px solid #000;">
                    Talar sin autorización …
                </td>
                <td style="border: 1px solid #000;" rowspan="4">
                    La multa está detallada en el Anexo I de la presente Resolución Directoral
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Numeral XX, Anexo 1, RISMFFS
                </td>
                <td style="border: 1px solid #000;">
                    Talar sin autorización …
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Numeral XX, Anexo 1, RISMFFS
                </td>
                <td style="border: 1px solid #000;">
                    Talar sin autorización …
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Numeral XX, Anexo 1, RISMFFS
                </td>
                <td style="border: 1px solid #000;">
                    Talar sin autorización …
                </td>
            </tr>
            @*{{/each}}*@
        </tbody>
    </table>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> El importe de la multa impuesta deberá ser depositado por el/la señor (a) xxx, en el Banco de la Nación (Código 0211 - Transacción 9660), a nombre del OSINFOR – Multas, debiendo entregar su comprobante de pago a la Oficina Desconcentrada del OSINFOR más cercana o enviarlo al correo electrónico: multas@osinfor.gob.pe de la Unidad de Administración Financiera y Cobranzas del OSINFOR, pudiendo comunicarse con la Abg. Grissel Ybañez Gamboa al número de celular … para cualquier consulta. En caso de incumplir con el pago de la multa, se procederá al cobro coactivo, salvo que se haya acogido a alguno de los siguientes beneficios:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000; text-align: center;" colspan="2">Beneficios</th>
                <th style="border: 1px solid #000; text-align: center;">Observación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Pronto pago
                </td>
                <td style="border: 1px solid #000;">
                    Aplica un descuento del 25% si cancela dentro de los quince (15) días hábiles más el término de la distancia, contados desde el día siguiente de notificada la presente resolución directoral
                </td>
                <td style="border: 1px solid #000;" rowspan="3">
                    Para acogeré a alguno de los beneficios no debe interponer algún recurso impugnatorio (numeral 8.5, artículo 8, RISMFFS)
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Fraccionamiento de multas
                </td>
                <td style="border: 1px solid #000;">
                    Permite pagar la multa en cuotas
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Compensación de multas
                </td>
                <td style="border: 1px solid #000;">
                    Permite que la multa se cancele a cambio de determinadas acciones
                </td>
            </tr>
        </tbody>
    </table>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Notificar la presente Resolución Directoral al/la señor (a) xxx, quien puede interponer los recursos impugnativos que estime pertinentes dentro del plazo de quince (15) días hábiles contados a partir del día siguiente de efectuada la notificación de la Resolución Directoral, más el término de la distancia, recomendándole tener en consideración lo señalado en el artículo anterior. Para la presentación de los recursos impugnativos o de cualquier comunicación con el OSINFOR puede utilizar los siguientes medios:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000; text-align: center;">Medios para presentar documentación</th>
                <th style="border: 1px solid #000; text-align: center;">Observación</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Casilla electrónica
                </td>
                <td style="border: 1px solid #000;">
                    En caso tenga una cuenta creada. Para mayor información puede comunicarse con la Oficina Desconcentrada más cercana
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Mesa de Partes Digital el OSINFOR
                </td>
                <td style="border: 1px solid #000;">
                    A través del enlace https://facilita.gob.pe/t/677, siempre que los archivos no superen los 10 MB.
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Correo electrónico institucional
                </td>
                <td style="border: 1px solid #000;">
                    A través del correo mesa.partes@osinfor.gob.pe, siempre que los archivos superen los 10 MB.
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">
                    Mesa de partes del OSINFOR de la Sede Central - Lima o ante cualquiera de las Oficinas Desconcentradas del OSINFOR
                </td>
                <td style="border: 1px solid #000;">
                    Para conocer la dirección de la Sede Central y Oficinas Desconcentradas, puede consultar el siguiente link https://www.gob.pe/institucion/osinfor/contacto-y-numeros-de-emergencias
                </td>
            </tr>
        </tbody>
    </table>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Disponer, en atención a lo normado en el literal a.1 del numeral 9.1 del artículo 9 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado por Decreto Supremo N° 007-2021-MINAGRI, en concordancia con lo señalado en el numeral 152.2 del artículo 152 de la Ley N° 29763 – Ley Forestal y de Fauna Silvestre, como medida complementaria la incautación de los productos forestales que se transporten y comercialicen al amparo de las guías de transporte forestal y listas de trozas conforme al detalle al Anexo II de la presente resolución.
    </p>
    <p>
        Dicha medida complementaria debe ser implementada por la <strong>xxxxx</strong>, una vez notificada la presente Resolución Directoral conforme a lo dispuesto en la Primera Disposición Complementaria Final de los “Lineamientos para el Ejercicio de la Potestad Sancionadora y Desarrollo del Procedimiento Administrativo Sancionador”, aprobados por Resolución de Dirección Ejecutiva N° 008-2020-SERFOR-DE. Asimismo, debe ser comunicada a esta Dirección de Línea sobre su implementación.
    </p>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Disponer que el/la administrado (a) cumpla con implementar la medida correctiva señalada en el Anexo III que forma parte de la presente Resolución Directoral.
    </p>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Se invoca el/la señor (a) a utilizar el APP MiBosque, herramienta que permite reportar el cumplimiento de obligaciones, como la presentación de los informes de ejecución, entre otros, a fin de evitar incurrir en incumplimientos que deriven en infracciones a la legislación forestal. El APP Mibosque puede ser descargada del dispositivo móvil (Play Store): https://play.google.com/store/apps/details?id=pe.gob.osinfor.mibosque_demo&hl=es, o mediante la página Web del OSINFOR: https://www.gob.pe/23400-acceder-al-aplicativo-mibosque. Asimismo, podrá realizar cualquier consulta y/o duda respecto al uso del APP Mibosque a la Ing. Erika Morales Ruiz, al teléfono 989336447 y/o al correo electrónico: emoralesr@osinfor.gob.pe.
    </p>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Remitir copia de la presente Resolución Directoral a la Gerencia Regional xxx, Fiscalía Especializada en Materia Ambiental de xxx; y al Servicio Nacional Forestal y de Fauna Silvestre – SERFOR, para los fines indicados del numeral VI.
    </p>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Remitir copia de la presente Resolución Directoral a la Subdirección de Instrucción, a fin de que tome conocimiento de su contenido, en observancia del artículo 27 del Reglamento del PAU.
    </p>
    <p style="text-indent: 30px;">
        <strong>Artículo.</strong> Una vez firme la presente resolución directoral o agotada la vía administrativa, inscribir al/la señor (a) <strong>xxxxx</strong> en el Registro de Sancionados y/o Caducados que forma parte del Sistema de Información Gerencial del OSINFOR – SIGO, conducido por la Dirección del Procedimiento Sancionador Forestal y de Fauna Silvestre; adicionalmente, comunicar tal condición al Servicio Nacional Forestal y de Fauna Silvestre – SERFOR, así como a la Gerencia de <strong>xxxxx</strong> y a la Fiscalía Especializada en Materia Ambiental de <strong>xxxxx</strong>.
    </p>
</script>

<script id="tmpl-encabezado" type="text/x-jquery-tmpl">
    <p style="text-align:center;">
        <img height="200" width="200" alt="" src="${URL_APLICACION}content/images/logo/escudo-peruano.jpg">
    </p>
</script>

<script id="tmpl-pie-pagina" type="text/x-jquery-tmpl">
    Esta es una copia auténtica imprimible de un documento electrónico archivado en el Organismo de Supervisión de los Recursos Forestales y
    de Fauna Silvestre, aplicando lo dispuesto por el Art. 25 de D.S. 070 – 2013 PCM y la Tercera Disposición Complementaria Final del D.S. 026-
    2016-PCM. Su autenticidad e integridad pueden ser contrastadas a través de la siguiente web:
    <a href="http://mpv.osinfor.gob.pe:8083/visor-osinfor-pide">http://mpv.osinfor.gob.pe:8083/visor-osinfor-pide</a> e ingresando la siguiente clave-std: PASSWORD
</script>

<script id="tmpl-notificacion-calidad" type="text/x-jquery-tmpl">
    <p>
        Estimado(a)<br /><br />Adjunto el enlace de descarga de la Resolución Sub Directoral Nro ${NUM_INFORME_SITD},
        debidamente revisado y firmado por los involucrados para el control de calidad respectivo.<br /><br />
        <strong>URL Descarga:</strong>&nbsp;<a target="_blank" href="${URL_DESCARGA}">${NUM_INFORME_SITD || 'Enlace de descarga'}</a><br /><br />
        Atentamente<br />
        ${USUARIO}
    </p>
</script>

@Html.Partial("~/Areas/Fiscalizacion/Views/ManPAURD/templates/_tmplFootnotes.cshtml")
