<table cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
    <thead>
        <tr style="background-color: #bfbfbf;">
            <th style="text-align: center; border: 1px solid #000;">Obligación incumplida</th>
            <th style="text-align: center; border: 1px solid #000;">Tipo infractor</th>
            <th style="text-align: center; border: 1px solid #000;">Conducta Imputada</th>
            <th style="text-align: center; border: 1px solid #000;">Descargo sobre la imputación formulada</th>
            <th style="text-align: center; border: 1px solid #000;">Información complementaria/información adicional</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid #000;">
                Dependerá del caso concreto
            </td>
            <td style="border: 1px solid #000;">
                Numeral 7 del Anexo 2 del RISMFFS.<br /><br />
                <i>
                    “No cumplir con notificarlos nacimientos, muertes, fugas o cualquier situación que afecte a la población de fauna silvestre mantenida en el centro de cría en cautividad, dentro del plazo y conforme a las condiciones”.
                </i>
            </td>
            <td style="border: 1px solid #000;">
                Informar el egreso de once (xx) especímenes de fauna silvestre correspondientes a: un (xx) xxxxxxxxxxx, un (xx) xxxxxxxxx

            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Escrito xxxxxxx SITD xxxxxxxxx
            </td>
            <td style="border: 1px solid #000; text-align: center;">
                Dependerá del caso concreto
            </td>
        </tr>
    </tbody>
</table>
<div style="font-size: 8pt;">Fuente: Elaboración propia.</div>

{{if informe.COD_TIPO_INFORME == 1}}
<p class="enumeration">
    Al respecto, el/la administrada (o) presentó sus descargos contra la Resolución Sub Directoral mediante la Carta N° xxxxxxxxxx de fecha xx de xxxxx de 202X, ingresado con fecha xx de xxxx de 202X (Registro N° xxxxxxxx) del cual se advierte los siguientes argumentos que guardan relación con la imputación materia de análisis:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">
    En ese sentido, la Autoridad Instructora realizó el análisis correspondiente al Expediente Administrativo, así como de los documentos mencionados precedentemente, concluyendo lo siguiente:
</p>
<ul>
    <li>
        “(…)xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx (…)”.
    </li>
</ul>
<p class="enumeration">
    Mediante Escrito S/N de fecha XX de XX de 20XX con Registro XX, el/la administrado presentó sus descargos al informe final de instrucción, donde se advierte los siguientes argumentos:
</p>
<ol style="list-style-type: lower-alpha">
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
    <li>(…) XXXXXXXXXXXXXXXXXXXXX (…). (Texto original del descargo).</li>
</ol>
<p class="enumeration">Respecto a lo señalado por el titular, se advierte el siguiente análisis:</p>
<ul>
    <li>Con relación al argumento señalado en el acápite a) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite b) xxxxxxxxxxxxxxxxxxx</li>
    <li>Con relación al argumento señalado en el acápite c) xxxxxxxxxxxxxxxxxxx</li>
</ul>
{{else}}
<p class="enumeration">
    Es preciso mencionar que, respecto de la imputación realizada, el/la administrado no presentó descargo a la Resolución Sub Directoral.
</p>
<p class="enumeration">
    La Autoridad Instructora, concluyó que existen elementos suficientes que permitieron mantener la imputación atribuida al/la administrado (a); respecto de lo cual el/la administrado (a) <u>no presentó descargos a lo señalado en el Informe Final de Instrucción.</u>
</p>
{{/if}}

<p class="enumeration">
    En ese sentido, en el presente caso, de acuerdo a la documentación que obra en el expediente administrativo, se advierte lo siguiente:
</p>
<ul>
    <li>
        Mediante Oficio N°xxx de fecha xx de xx de xxxx la ARFFS remitió información sobre los documentos de gestión del xxxxxxxx
    </li>
    <li>
        La DSFFS consideró para la elaboración del balance de ingresos y egresos lo siguiente:
    </li>
</ul>
<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
<ul>
    <li>
        De lo analizado, el titular no alberga especímenes de fauna silvestre dentro del área que forma parte del título habilitante y no se cuenta con documentación que acredite que comunicó, en su momento a la ARFFS ni al OSINFOR, el egreso de un total xxxxxx  (xxx) especímenes que albergaba, entre ejemplares del xxxxxxxxxxxx respecto de los cuales no se habría reportado el egreso, conforme se aprecia del siguiente cuadro:
    </li>
    <li>
        Al respecto, el numeral 59.1 del artículo 59 del Reglamento para la Gestión de Fauna Silvestre aprobado mediante Decreto Supremo N° 019-2015-MINAGRI, establece la obligación de informar todo nacimiento, muerte o cualquier suceso que afecte a la población de fauna silvestre, incluido su plantel reproductor o genético, así como lo entregado en calidad de custodia.
    </li>
    <li>
        Del análisis de los resultados obtenidos durante la supervisión se advierte que el/la administrado (a) no cumplió con la obligación de informar los egresos de las siguientes especies materia de imputación:
    </li>
</ul>
<p style="text-align: center;"><strong>Adjuntar imagen</strong></p>
<p style="text-align: center; font-size: 8pt;"><strong>Fuente: Elaboración propia en base al xxxxxxxxxx</strong></p>
<ul>
    <li>
        Finalmente, a pesar de que el RISMFFS señala que la infracción analizada es subsanable, la misma que se efectúa dentro del plazo previsto para la presentación de los descargos en la fase instructora, el/la administrado (a) no realizó la subsanación correspondiente, a pesar de haberse informado mediante xxxxxx.
    </li>
</ul>
<p class="enumeration">
    En ese contexto, de acuerdo a lo señalado precedentemente, se desestima/se confirma que el/la administrado (a) cometió la infracción tipificada en el numeral 7 del Anexo 2 del RISMFFS.
</p>