<div style="mso-element: footnote;" id="foot_concesiones_1">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_1;" href="#_foot_concesiones_1" name="_foot_concesiones_1">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>
                Reglamento para la Gestión Forestal, aprobado mediante Decreto Supremo N° 018-2015-MINAGRI
                Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            </strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            t. Establecer y mantener los linderos e hitos u otras señales, que permitan identificar el área del título habilitante, colocados por el titular o las autoridades.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_2">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_2;" href="#_foot_concesiones_2" name="_foot_concesiones_2">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Lineamientos para la Elaboración del XX, aprobados mediante Resolución de Dirección Ejecutiva N° 0XX-20XX-SERFOR-DE</strong>
            <br />
            <strong>VI. Lineamientos</strong>
            <br />
            <strong>X.X.X.X Delimitación y división interna de las parcelas de corta (PC):</strong>
            <br />
            - Los vértices de los linderos de la PC deben marcarse con material durable consignando el número de registro de la concesión, el número de la PC, el año de aprovechamiento comercial y las coordenadas UTM WGS 84 (…)
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_3">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_3;" href="#_foot_concesiones_3" name="_foot_concesiones_3">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Por ejemplo, a fin de acreditar el establecimiento de linderos, podría adjuntar fotografías o indicar coordenadas UTM.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_4">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_4;" href="#_foot_concesiones_4" name="_foot_concesiones_4">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Mediante Notificación Preventiva N° 0XX-202X-OSINFOR/08.1, se solicitó a la titular que subsane la obligación relacionada a establecer y mantener linderos.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_5">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_5;" href="#_foot_concesiones_5" name="_foot_concesiones_5">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>
                Anexo 1 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI
            </strong>
            <br />
            1. “No establecer o no mantener los linderos, hitos u otras señales que permitan identificar el área del título habilitante”
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_6">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_6;" href="#_foot_concesiones_6" name="_foot_concesiones_6">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Mediante la Resolución de Sede Operativa N° XX, de fecha XX, la ARFFS, resolvió entre otros, lo siguiente
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_7">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_7;" href="#_foot_concesiones_7" name="_foot_concesiones_7">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Los Lineamiento fueron aprobados por SEFOR mediante Resolución de Dirección Ejecutiva N° 264-2019-MINAGRI-SERFOR-DE, del 30 de diciembre de 2019.
            <br />
            Cabe indicar que,  referencialmente se puede aplicar la Guía Práctica para el Registro de Información en el Libre de Operaciones de los Títulos Habilitantes: https://cdn.www.gob.pe/uploads/document/file/2437872/Gu%C3%ADa%20pr%C3%A1ctica%20para%20el%20registro%20de%20informaci%C3%B3n%20en%20el%20Libro%20de%20Operaciones%20de%20los%20T%C3%ADtulos%20Habilitantes.pdf.pdf?v=1637081099
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_8">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_8;" href="#_foot_concesiones_8" name="_foot_concesiones_8">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI
            <br />
            Artículo 43.- Obligaciones de los titulares de títulos habilitantes
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            d. Tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR.
            <br />
            (…)
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_9">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_9;" href="#_foot_concesiones_9" name="_foot_concesiones_9">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Anexo 1 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI</strong>
            <br />
            (…)
            <br />
            11. “No tener libro de operaciones o no registrar la información en dicho libro, de acuerdo a las disposiciones establecidas.”
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_10">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_10;" href="#_foot_concesiones_10" name="_foot_concesiones_10">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Reglamento para la Gestión Forestal, aprobado por Decreto Supremo N° 018-2015-MINAGRI</strong>
            <br />
            <strong>Artículo 43.- Obligaciones de los titulares de títulos habilitantes</strong>
            <br />
            43.1 Los titulares de títulos habilitantes para la gestión forestal tienen las siguientes obligaciones:
            <br />
            a. Presentar el plan de manejo y cumplir con su implementación luego de ser aprobado.
            (…)
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_11">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_11;" href="#_foot_concesiones_11" name="_foot_concesiones_11">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            Cabe indicar que, de la revisión de la Forma 20, la última movilización para la especie Dipteryx micrantha “shihuahuaco” y  para la especie Dipteryx micrantha “shihuahuaco”, se realizó el 17 de agosto de 2022.
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_12">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_12;" href="#_foot_concesiones_12" name="_foot_concesiones_12">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Anexo 1 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI</strong>
            <br />
            (…)
            <br />
            21. “Talar, extraer y/o aprovechar recursos forestales, sin autorización, en su condición o no de titular del título habilitante, a excepción de los aprovechados por subsistencia.”
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_13">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_13;" href="#_foot_concesiones_13" name="_foot_concesiones_13">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Anexo 1 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI</strong>
            <br />
            (…)
            <br />
            26. “Utilizar indebidamente o facilitar la guía de transporte forestal, así como la documentación otorgada o aprobada por la autoridad competente, para amparar la extracción, transporte, transformación, almacenamiento o comercialización de los especímenes, productos o sub productos forestales obtenidos ilegalmente.”
        </p>
    </div>
</div>

<div style="mso-element: footnote;" id="foot_concesiones_14">
    <div class="MsoFootnoteText">
        <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
            <a style="mso-footnote-id: foot_concesiones_14;" href="#_foot_concesiones_14" name="_foot_concesiones_14">
                <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            En el expediente del Plan de Manejo N° xx se incluye el contrato de regencia, ingresado al OSINFOR con Registro N° xxx
        </p>
    </div>
</div>



