<script id="tmpl-footnotes" type="text/x-jquery-tmpl">
    <div style="mso-element:footnote-list; font-size: 7pt;">
        <![if !supportFootnotes]>
        <br clear=all>
        <hr align=left size=1 width="33%">
        <![endif]>

        <div style="mso-element: footnote;" id="foot_vistos_1">
            <div class="MsoFootnoteText">
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
                    <a style="mso-footnote-id: foot_vistos_1;" href="#_foot_vistos_1" name="_foot_vistos_1">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    Documento elaborado por el supervisor que describe y analiza el cumplimiento de las obligaciones del título habilitante, sobre la base de las evidencias obtenidas en la supervisión, que puede concluir, entre otros, la recomendación de inicio de un procedimiento con el fin de determinar las responsabilidades administrativas que correspondan.
                </p>
            </div>
        </div>

        <div style="mso-element: footnote;" id="foot_vistos_2">
            <div class="MsoFootnoteText">
                <p class="MsoNormal" style="margin-left: 14.2pt; text-indent: -14.2pt; margin-bottom: 0; line-height: 7pt;">
                    <a style="mso-footnote-id: foot_vistos_2;" href="#_foot_vistos_2" name="_foot_vistos_2">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    La carta fue recibida por xxx, quien indicó ser xxx, en xxx, domicilio consignado en xxx.
                </p>
            </div>
        </div>
    </div>
</script>

