<script id="tmpl-concesiones-1" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Establecer y mantener los linderos e hitos u otras señales, que permitan identificar el área del título habilitante, colocados por el titular o las autoridades.
                </td>
                <td style="border: 1px solid #000;">
                    No se logró evidenciar señalización de los Vértices xx, conforme se comprometió la titular en el numeral xxx de su Plan de Manejo
                </td>
                <td style="border: 1px solid #000;">
                    Literal t) del numeral 43.1 del artículo 43
                    <a style="mso-footnote-id: foot_concesiones_1" href="#_foot_concesiones_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    del Reglamento para la Gestión Forestal, aprobado mediante Decreto Supremo N° 018-2015-MINAGRI (en adelante, RGF).
                    y los lineamientos aprobados mediante Resolución de Dirección Ejecutiva N° XX
                    <a style="mso-footnote-id: foot_concesiones_2" href="#_foot_concesiones_2" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    Sí/Establecer los linderos, hitos u otras señales
                    <a style="mso-footnote-id: foot_concesiones_3" href="#_foot_concesiones_3" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Como puede apreciarse, la supervisión evidenció que la/el titular incumplió la señalización de los vértices de su plan de manejo, omisión que no subsanó a pesar que se le indicó que ello era posible
        <a style="mso-footnote-id: foot_concesiones_4" href="#_foot_concesiones_4" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>, conforme a lo establecido en el numeral 6.3 del artículo 6 del Reglamento de Infracciones y Sanciones en Materia Forestal y de Fauna Silvestre, aprobado mediante Decreto Supremo N° 007-2021-MIDAGRI (en adelante, el RISMFFS). Por ello, corresponde imputar a la titular la comisión de la infracción referida señalada en el
        numeral 1
        <a style="mso-footnote-id: foot_concesiones_5" href="#_foot_concesiones_5" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-concesiones-2" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Presentar el informe sobre la ejecución del plan de manejo, de conformidad con el artículo 66 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    Incumplió con presentar el Informe de Ejecución Anual del plan de manejo N° XX, correspondiente al periodo 20XX.
                </td>
                <td style="border: 1px solid #000;">
                    Literal b) del numeral 43.1 del artículo 43, concordado con el artículo 66 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    Sí /Presentar el Informe de Ejecución Anual del Plan de manejo xx, correspondiente al periodo xx
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Al respecto, el artículo 66 del RGF establece que el informe de ejecución forestal tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo, el mismo que se presenta a la ARFFS y al OSINFOR, dentro de los 45 días calendario de culminado el año operativo; el cual es suscrito por el/la titular del título habilitante y el regente, en los casos que corresponda, y tiene carácter de declaración jurada.
    </p>
    <p class="enumeration">
        Asimismo, el precitado artículo señala que los informes de ejecución se clasifican en: a) Informe de Ejecución Anual, el cual se presenta al final del año operativo sobre la base del plan de manejo aprobado; y b) Informe de Ejecución Final, el cual se presenta al finalizar la vigencia del plan de manejo.
    </p>
    <p class="enumeration">
        En ese sentido, en observancia de la normativa forestal, la/el titular debió presentar los Informes de Ejecución, conforme el siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Plan de Manejo Forestal</th>
                <th style="border: 1px solid #000;">Tipo de Informe de Ejecución</th>
                <th style="border: 1px solid #000;">Tipo de aprovechamiento</th>
                <th style="border: 1px solid #000;">Periodo</th>
                <th style="border: 1px solid #000;">Fecha de culminación del año operativo</th>
                <th style="border: 1px solid #000;">
                    Fecha para la presentación de los Informes de Ejecución Anuales considerando los 45 días calendario
                </th>
                <th style="border: 1px solid #000;">Cumplió/No cumplió</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;" rowspan="2">
                    Plan de Manejo N° ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo ${PLAN_MANEJO.FIN_VIGENCIA || 'XX'}
                    <a style="mso-footnote-id: foot_concesiones_6" href="#_foot_concesiones_6" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;" rowspan="2">Informe de Ejecución Anual</td>
                <td style="border: 1px solid #000;">No maderable</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">No cumplió</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">Maderable</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">No cumplió</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Al respecto, por Carta N° ${ANTECEDENTES_DOCS.Carta?.numero}, del ${ANTECEDENTES_DOCS.Carta?.fechaEmision}, notificada el ${ANTECEDENTES_DOCS.Carta?.fechaNotificacion}, la DSFFS requirió a la administrada remitir, entre otros, los informes de ejecución anuales, sin que, hasta la fecha de la emisión de la presente Resolución, haya remitido respuesta alguna.
    </p>
    <p class="enumeration">
        Asimismo, a pesar que mediante la Carta N° ${ANTECEDENTES_DOCS.Carta?.numero} de fecha ${ANTECEDENTES_DOCS.Carta?.fechaEmision}, que notifica el Informe de Supervisión y, Formato de Notificación Preventiva N° 00XX-20XX-OSINFOR/08.1, diligenciada el XX de XX de 2023, la DSFFFS requirió a la/el administrada/o los informes de ejecución Anual, correspondiente a los periodos xxx; de la consulta efectuada en el Sistema de Información de Trámite Documentario – SITD del OSINFOR, se advierte que la administrada, a la fecha de emisión de la presente resolución, no ha remitido ante esta Administración los mencionados Informe de Ejecución, siendo que dicho incumplimiento sea imputado en su contra.
    </p>
    <p class="enumeration">
        En consecuencia, se advierte que la/el titular ha incurrido presuntamente en la infracción tipificada en el numeral 2 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
    </p>
</script>

<script id="tmpl-concesiones-3" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Cumplir con su implementación luego de ser aprobado.
                </td>
                <td style="border: 1px solid #000;">
                    La/el titular realizó la extracción no autorizada de volumen de xxx m3, correspondiente a xx árboles semilleros de la especie xxx
                </td>
                <td style="border: 1px solid #000;">
                    Literal a) del numeral 43.1 del artículo 43 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    xx
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Del análisis de los resultados obtenidos en la supervisión, se advierte la extracción no autorizada de un volumen de xxx m3 de madera, de acuerdo al siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">N°</th>
                <th style="border: 1px solid #000;">Especie</th>
                <th style="border: 1px solid #000;">Faja/Código</th>
                <th style="border: 1px solid #000;">Cantidad de individuos</th>
                <th style="border: 1px solid #000;">Coordenadas UTM</th>
                <th style="border: 1px solid #000;">Estado</th>
                <th style="border: 1px solid #000;">Volumen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">Xxx E – xxx N</td>
                <td style="border: 1px solid #000;">xxxx</td>
                <td style="border: 1px solid #000;">xxxx m<sup>3</sup></td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Ahora bien, conforme a los Registros Fotográficos anexos al Informe de Supervisión, se advierte que los individuos semilleros y/o no censados de las especies xxx, fueron hallados xxx. Asimismo, se advierte que la extracción se habría realizado durante el periodo xx de la implementación del PO N° xx, conforme se observa a continuación:
    </p>
    <p style="text-align: center;">(Fotografías del Informe de Supervisión)</p>
    <p class="enumeration">
        En ese sentido, conforme a lo señalado en el cuadro precedente, es posible inferir, que la/el titular habría realizado la extracción no autorizada de un volumen total de xxx m3, correspondiente a 2 árboles semilleros y/o no censados de las especies xxx, siendo que dicha conducta sea imputada en su contra.
    </p>
    <p class="enumeration">
        En consecuencia, se advierte que la/el titular ha incurrido presuntamente en la infracción tipificada en el numeral 10 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
    </p>
</script>

<script id="tmpl-concesiones-4" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR.
                </td>
                <td style="border: 1px solid #000;">
                    La/el titular no mantiene actualizado el libro de operaciones, de acuerdo a los lineamientos aprobados por el SERFOR
                    <a style="mso-footnote-id: foot_concesiones_7" href="#_foot_concesiones_7" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>.
                </td>
                <td style="border: 1px solid #000;">
                    Literal d) del numeral 43.1 del artículo 43 del RGF
                    <a style="mso-footnote-id: foot_concesiones_8" href="#_foot_concesiones_8" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    Si, sólo en caso de no haber registrado la información, pero se cuente con la documentación que acredite la procedencia legal del recurso / Actualizar el libro de operaciones.
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme a lo expuesto, atendiendo a que es posible subsanar tal accionar, mediante la Notificación Preventiva N° 00XXX-2022-OSINFOR/08.1 (Formato SGC-M1-FOR-085-V.01), notificada el XX de octubre de 20XX, la DSFFS solicitó al/la el/la titular actualizar el Libro de Operaciones en un plazo de 05 días hábiles contabilizados a partir del día siguiente de la notificación; sin embargo, el/la titular no cumplió con subsanar el mencionado incumplimiento.
    </p>
    <p class="enumeration">
        En ese marco, conforme se indica en el Cuadro XX del Informe de Supervisión, el/la administrado/a no cumplió con mantener actualizado el Libro de Operaciones, de acuerdo a los lineamientos aprobados por el SERFOR, dado que xxx (explicación de por qué el Libro de Operaciones no estaría actualizado).
    </p>
    <p class="enumeration">
        Cabe precisar que mediante Escrito ${ANTECEDENTES_DOCS.Escrito?.numero} ingresado el ${ANTECEDENTES_DOCS.Escrito?.fechaEmision} (Registro N° xxx), es decir, posterior a la realización de la supervisión, la/el titular presentó, entre otros, el Libro de Operaciones, de cuya evaluación se advierte no se encuentra actualizado, tal como se detalla a continuación:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Especie</th>
                <th style="border: 1px solid #000;">Código</th>
                <th style="border: 1px solid #000;">Estado en campo</th>
                <th style="border: 1px solid #000;">Sección registrada del LO</th>
                <th style="border: 1px solid #000;">Sección no registrada del LO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">-</td>
                <td style="border: 1px solid #000;">xx</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        En ese sentido, se concluye que el Libro de operaciones no se encuentra actualizado. Por ello, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 11
        <a style="mso-footnote-id: foot_concesiones_9" href="#_foot_concesiones_9" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a> del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-concesiones-5" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Cumplir con presentar el plan de manejo y con su implementación luego de ser aprobado.
                </td>
                <td style="border: 1px solid #000;">
                    El/La titular realizó el aprovechamiento injustificado de un volumen ascendente xx m<sup>3</sup>, correspondiente a las especies xx, cuyo volumen se desconoce.
                </td>
                <td style="border: 1px solid #000;">
                    Literal a) del numeral 43.1 del artículo 43 del RGF
                    <a style="mso-footnote-id: foot_concesiones_10" href="#_foot_concesiones_10" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Del análisis de los resultados obtenidos en la supervisión, cotejada con los Balances de Extracción y Forma 20
        <a style="mso-footnote-id: foot_concesiones_11" href="#_foot_concesiones_11" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        , de fecha xx de xx de 20xx (Registro N° xx), se advierte que no se justifica el volumen declarado como aprovechado, por un total de xx m3 de madera, conforme el siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Especies supervisadas</th>
                <th style="border: 1px solid #000;">Árboles aprobados</th>
                <th style="border: 1px solid #000;">Árboles supervisados</th>
                <th style="border: 1px solid #000;">Volumen movilizado balance de extracción</th>
                <th style="border: 1px solid #000;">Volumen movilizado advertido en campo</th>
                <th style="border: 1px solid #000;">Volumen injustificado</th>
            </tr>
        </thead>
        <tbody>
            {{each(i, objEsp) VOLUMENES_INJUSTIFICADOS}}
            <tr>
                <td style="border: 1px solid #000;">${objEsp.ESPECIES}</td>
                <td style="border: 1px solid #000;">${objEsp.VOLUMEN_APROBADO}</td>
                <td style="border: 1px solid #000;">${objEsp.NUM_ARBOLES}</td>
                <td style="border: 1px solid #000;">${objEsp.BALANCE_EXTRACCION}</td>
                <td style="border: 1px solid #000;">${objEsp.VOLUMEN_MOVILIZADO}</td>
                <td style="border: 1px solid #000;">${objEsp.VOLUMEN_INJUSTIFICADO}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="enumeration">
        En ese sentido, la/el titular habría realizado el aprovechamiento de un volumen injustificado ${VOLUMENES_INJUSTIFICADOS_TOTAL} m<sup>3</sup> de madera, conforme se muestra en el cuadro anterior. Por ello, corresponde imputar a la/el titularla comisión de la infracción establecida en el numeral 21 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-concesiones-6" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Movilizar los frutos, productos y subproductos con los documentos autorizados para el transporte.
                </td>
                <td style="border: 1px solid #000;">
                    EL/La titular utilizó indebidamente o facilitó la guía de transporte forestal, así como la documentación otorgada o aprobada por la autoridad competente, para amparar la extracción no autorizada de un volumen de xx m3 , correspondiente a las especies xxx, pues habría utilizado su contrato de concesión/permiso forestal, su , así como el Balance de Extracción para dar apariencia de legalidad al volumen de madera que provendría de individuos sobre los cuales no tenía autorización para extraer.
                </td>
                <td style="border: 1px solid #000;">
                    Los literales a) y r) del numeral 43.1 del artículo 43 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme se puede advertir de los hechos descritos el aprovechamiento injustificado asciende a un volumen de xxx m3, correspondiente a las especies xxx.Conforme se puede advertir de los hechos descritos el aprovechamiento injustificado asciende a un volumen de xxx m3, correspondiente a las especies xxx.
    </p>
    <p class="enumeration">
        Atendiendo a lo expuesto, en tanto se declaró un volumen movilizado de balance de extracción mayor al volumen movilizado advertido en campo, se verifica que se ha declarado un excedente respecto al recurso forestal válidamente aprovechado.
    </p>
    <p class="enumeration">
        En ese sentido, la/el titular habría utilizado indebidamente o facilitó la guía de transporte forestal, así como la documentación otorgada o aprobada por la autoridad competente, para amparar la extracción no autorizada de un volumen de xxx m3 cuyo origen se desconoce, conforme se muestra en el cuadro anterior.
        Por ello, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 26
        <a style="mso-footnote-id: foot_concesiones_13" href="#_foot_concesiones_13" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-concesiones-7" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Contar con el regente forestal, cuando corresponda, para la formulación e implementación del plan de manejo y comunicar a la ARFFS y al SERFOR, la designación o el cambio del mismo.
                </td>
                <td style="border: 1px solid #000;">
                    Se evidencia que no contó con la participación de regente forestal para la implementación del plan de manejo.
                </td>
                <td style="border: 1px solid #000;">
                    Literal m) del numeral 43.1 del artículo 43 del RGF, concordado con el artículo 66 del citado reglamento.
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        El xx de xxx de 20xx, la/el titular  y el Ing. xx, suscribieron el Contrato de Regencia Forestal
        <a style="mso-footnote-id: foot_concesiones_14" href="#_foot_concesiones_14" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        , el cual tiene como objeto la elaboración del expediente técnico del PO y levantamiento de observaciones formuladas por la autoridad forestal.
    </p>
    <p class="enumeration">
        Ahora bien, el Plan de Manejo, aprobado mediante la Resolución Jefatural N° ${PLAN_MANEJO.ARESOLUCION_NUM}, de fecha xx de xx de 202X, se encuentra vigente desde el desde el ${PLAN_MANEJO.INICIO_VIGENCIA || 'XX'} hasta el ${PLAN_MANEJO.FIN_VIGENCIA || 'XX'}. Asimismo, de la revisión de la Forma 20, se advierte que la última movilización se realizó el xx de xx de 20xx.
    </p>
    <p class="enumeration">
        Bajo esa línea, se advierte que durante la implementación del Plan de Manejo N° ${PLAN_MANEJO.NOMBRE_POA} no se contó con Regente Forestal, debido a que en el Contrato de Regencia no se indica que el Regente Forestal tenga la obligación de la implementación del plan de manejo, sino solamente la elaboración del Plan de Manejo xx, tal como se observa a continuación:
    </p>
    <p style="text-align: center;">(Print del contrato de regencia)</p>
    <p class="enumeration">
        En el presente caso, la administrada implementó el Plan de Manejo Forestal N° ${PLAN_MANEJO.NOMBRE_POA}, sin embargo, no habría contado con regente forestal, conforme se observa en el siguiente gráfico:
    </p>
    <p style="text-align: center;">Gráfico 01. Línea de tiempo</p>
    <p class="enumeration">
        En esa línea, se advierte que, de la revisión del expediente administrativo y de la consulta efectuada en el Sistema de Información de Trámite Documentario – SITD del OSINFOR, hasta la fecha, la/el titular no ha remitido contrato de regencia vigente para la implementación del plan de manejo considerando que su Plan de manejo se encuentra vigente y viene realizando las actividades de aprovechamiento. <strong>Por lo tanto, corresponde que dicho incumplimiento sea imputado en su contra.</strong>
    </p>
    <p class="enumeration">
        Bajo esa línea, estando a la evaluación de los actuados, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 29 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

@* Comunidades nativas *@

<script id="tmpl-ccnn-1" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Presentar el informe sobre la ejecución del plan de manejo, de conformidad con el artículo 66 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    Incumplió con presentar el Informe de Ejecución Anual del plan de manejo N° ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo 20XX.
                </td>
                <td style="border: 1px solid #000;">
                    Literal b) del numeral 29.1 del artículo 29 del RGFFSCNCC
                </td>
                <td style="border: 1px solid #000;">
                    Sí /Presentar el Informe de Ejecución Anual del Plan de manejo ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo xx
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Al respecto, el artículo 66 del RGF establece que el informe de ejecución forestal tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo, el mismo que se presenta a la ARFFS y al OSINFOR, dentro de los 45 días calendario de culminado el año operativo; el cual es suscrito por el/la titular del título habilitante y el regente, en los casos que corresponda, y tiene carácter de declaración jurada.
    </p>
    <p class="enumeration">
        Asimismo, el precitado artículo señala que los informes de ejecución se clasifican en: a) Informe de Ejecución Anual, el cual se presenta al final del año operativo sobre la base del plan de manejo aprobado; y b) Informe de Ejecución Final, el cual se presenta al finalizar la vigencia del plan de manejo.
    </p>
    <p class="enumeration">
        En ese sentido, en observancia de la normativa forestal, la/el titular debió presentar los Informes de Ejecución, conforme el siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Plan de Manejo Forestal</th>
                <th style="border: 1px solid #000;">Tipo de Informe de Ejecución</th>
                <th style="border: 1px solid #000;">Tipo de aprovechamiento</th>
                <th style="border: 1px solid #000;">Periodo</th>
                <th style="border: 1px solid #000;">Fecha de culminación del año operativo</th>
                <th style="border: 1px solid #000;">
                    Fecha para la presentación de los Informes de Ejecución Anuales considerando los 45 días calendario
                </th>
                <th style="border: 1px solid #000;">Cumplió/No cumplió</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;" rowspan="2">
                    Plan de Manejo N° ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo XX
                    <a style="mso-footnote-id: foot_ccnn_1" href="#_foot_ccnn_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;" rowspan="2">Informe de Ejecución Anual</td>
                <td style="border: 1px solid #000;">No maderable</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">No cumplió</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">Maderable</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">No cumplió</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Al respecto, por <strong>Carta N° ${ANTECEDENTES_DOCS.Carta?.numero}</strong>, del ${ANTECEDENTES_DOCS.Carta?.fechaEmision}, notificada el ${ANTECEDENTES_DOCS.Carta?.fechaNotificacion}, la DSFFS requirió a la administrada remitir, entre otros, los informes de ejecución anuales, sin que, hasta la fecha de la emisión de la presente Resolución, haya remitido respuesta alguna.
    </p>
    <p class="enumeration">
        Asimismo, a pesar que mediante la <strong>Carta N° ${ANTECEDENTES_DOCS.Carta?.numero}</strong> de fecha ${ANTECEDENTES_DOCS.Carta?.fechaEmision}, que notifica el Informe de Supervisión y, Formato de <strong>Notificación Preventiva N° 00XX-20XX-OSINFOR/08.1</strong>, diligenciada el XX de XX de 2023, la DSFFFS requirió a la/el administrada/o los informes de ejecución Anual, correspondiente a los periodos xxx; de la consulta efectuada en el Sistema de Información de Trámite Documentario – SITD del OSINFOR, se advierte que la administrada, a la fecha de emisión de la presente resolución, <strong>no ha remitido ante esta Administración los mencionados Informe de Ejecución</strong>, siendo que dicho incumplimiento sea imputado en su contra.
    </p>
    <p class="enumeration">
        En consecuencia, se advierte que la/el titular ha incurrido presuntamente en la infracción tipificada en el numeral 2 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
    </p>
</script>

<script id="tmpl-ccnn-2" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Cumplir con su implementación luego de ser aprobado.
                </td>
                <td style="border: 1px solid #000;">
                    La/el titular realizó la extracción no autorizada de volumen de xxx m3, correspondiente a xx árboles semilleros de la especie xxx
                </td>
                <td style="border: 1px solid #000;">
                    Literal k) del numeral 29.1 del artículo 29 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    xx
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Del análisis de los resultados obtenidos en la supervisión, se advierte la extracción no autorizada de un volumen de xxx m3 de madera, de acuerdo al siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">N°</th>
                <th style="border: 1px solid #000;">Especie</th>
                <th style="border: 1px solid #000;">Faja/Código</th>
                <th style="border: 1px solid #000;">Cantidad de individuos</th>
                <th style="border: 1px solid #000;">Coordenadas UTM</th>
                <th style="border: 1px solid #000;">Estado</th>
                <th style="border: 1px solid #000;">Volumen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">Xxx E – xxx N</td>
                <td style="border: 1px solid #000;">xxxx</td>
                <td style="border: 1px solid #000;">xxxx m<sup>3</sup></td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">1</td>
                <td style="border: 1px solid #000;">Xxx E – xxx N</td>
                <td style="border: 1px solid #000;">xxxx</td>
                <td style="border: 1px solid #000;">xxxx m<sup>3</sup></td>
            </tr>
            <tr>
                <td colspan="6" style="border: 1px solid #000;">
                    TOTAL
                </td>
                <td style="border: 1px solid #000;">
                    xxxx m<sup>3</sup>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Ahora bien, conforme a los Registros Fotográficos anexos al Informe de Supervisión, se advierte que los individuos semilleros y/o no censados de las especies xxx, <strong>fueron hallados xxx. Asimismo, se advierte que la extracción se habría realizado durante el periodo xx de la implementación del PO N° xx</strong>, conforme se observa a continuación:
    </p>
    <p style="text-align: center;">(Fotografías del Informe de Supervisión)</p>
    <p class="enumeration">
        En ese sentido, conforme a lo señalado en el cuadro precedente, es posible inferir, que la/el titular habría realizado la extracción no autorizada de un volumen total de <strong>xxx m<sup>3</sup></strong>, correspondiente a 2 árboles semilleros y/o no censados de las especies xxx, siendo que dicha conducta sea imputada en su contra.
    </p>
    <p class="enumeration">
        En consecuencia, se advierte que la/el titular ha incurrido presuntamente en la infracción tipificada en el numeral 10 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
    </p>
</script>

<script id="tmpl-ccnn-3" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR.
                </td>
                <td style="border: 1px solid #000;">
                    La/el titular no mantiene actualizado el libro de operaciones, de acuerdo a los lineamientos aprobados por el SERFOR.
                    <a style="mso-footnote-id: foot_ccnn_2" href="#_foot_ccnn_2" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    Literal d) del numeral 29.1 del artículo 29 del RGFFSCNCC  y el artículo 2 de la Resolución de Dirección Ejecutiva N° 264-2019-MINAGRI-SERFOR-DE
                </td>
                <td style="border: 1px solid #000;">
                    Si, sólo en caso de no haber registrado la información, pero se cuente con la documentación que acredite la procedencia legal del recurso / Actualizar el libro de operaciones.
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme a lo expuesto, atendiendo a que es posible subsanar tal accionar, mediante la Notificación Preventiva N° 00XXX-2022-OSINFOR/08.1 (Formato SGC-M1-FOR-085-V.01), notificada el XX de octubre de 20XX, la DSFFS solicitó al/la el/la titular actualizar el Libro de Operaciones en un plazo de 05 días hábiles contabilizados a partir del día siguiente de la notificación; sin embargo, el/la titular no cumplió con subsanar el mencionado incumplimiento.
    </p>
    <p class="enumeration">
        En ese marco, conforme se indica en el Cuadro XX del Informe de Supervisión, el/la administrado/a no cumplió con mantener actualizado el Libro de Operaciones, de acuerdo a los lineamientos aprobados por el SERFOR, dado que xxx (explicación de por qué el Libro de Operaciones no estaría actualizado).
    </p>
    <p class="enumeration">
        Cabe precisar que mediante Escrito ${ANTECEDENTES_DOCS.Escrito?.numero} ingresado el ${ANTECEDENTES_DOCS.Escrito?.fechaEmision} (Registro N° xxx), es decir, posterior a la realización de la supervisión, la/el titular presentó, entre otros, el Libro de Operaciones, de cuya evaluación se advierte no se encuentra actualizado, tal como se detalla a continuación:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000; background-color:#f0f0f0;">Especie</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Código</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Estado en campo</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Sección registrada del LO</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Sección no registrada del LO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">xx</td>
                <td style="border: 1px solid #000;">xx</td>
                <td style="border: 1px solid #000;">xx</td>
                <td style="border: 1px solid #000;">xx</td>
                <td style="border: 1px solid #000;">xx</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        En ese sentido, <strong>se concluye que el Libro de operaciones no se encuentra actualizado.</strong> Por ello, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 11
        <a style="mso-footnote-id: foot_ccnn_3" href="#_foot_ccnn_3" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-ccnn-4" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Cumplir con presentar el plan de manejo y con su implementación luego de ser aprobado.
                </td>
                <td style="border: 1px solid #000;">
                    El/La titular realizó el aprovechamiento injustificado de un volumen ascendente xx m3, correspondiente a las especies xx, cuyo volumen se desconoce.
                </td>
                <td style="border: 1px solid #000;">
                    Literales a) y k) del numeral 29.1 del artículo 29 del RGFFSCNCC
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Del análisis de los resultados obtenidos en la supervisión, cotejada con los Balances de Extracción y Forma 20
        <a style="mso-footnote-id: foot_ccnn_4" href="#_foot_ccnn_4" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        , de fecha xx de xx de 20xx (Registro N° xx), se advierte que no se justifica el volumen declarado como aprovechado, por un total de <strong>xx m<sup>3</sup></strong> de madera, conforme el siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Especies supervisadas</th>
                <th style="border: 1px solid #000;">Árboles aprobados</th>
                <th style="border: 1px solid #000;">Árboles supervisados</th>
                <th style="border: 1px solid #000;">Volumen movilizado balance de extracción</th>
                <th style="border: 1px solid #000;">Volumen movilizado advertido en campo</th>
                <th style="border: 1px solid #000;">Volumen injustificado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {{each(i, objEsp) VOLUMENES_INJUSTIFICADOS}}
                <td style="border: 1px solid #000;">${objEsp.ESPECIES}</td>
                <td style="border: 1px solid #000;">${objEsp.VOLUMEN_APROBADO}</td>
                <td style="border: 1px solid #000;">${objEsp.NUM_ARBOLES}</td>
                <td style="border: 1px solid #000;">${objEsp.BALANCE_EXTRACCION}</td>
                <td style="border: 1px solid #000;">${objEsp.VOLUMEN_MOVILIZADO}</td>
                <td style="border: 1px solid #000;">${objEsp.VOLUMEN_INJUSTIFICADO}</td>
                {{/each}}
            </tr>
            <tr>
                <td style="border: 1px solid #000;" colspan="5"></td>
                <td style="border: 1px solid #000;">${VOLUMENES_INJUSTIFICADOS_TOTAL} m<sup>3</sup></td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        En ese sentido, la/el titular habría realizado el aprovechamiento de un volumen injustificado ${VOLUMENES_INJUSTIFICADOS_TOTAL} m<sup>3</sup> de madera, conforme se muestra en el cuadro anterior. Por ello, corresponde imputar a la/el titularla comisión de la infracción establecida en el numeral 21
        <a style="mso-footnote-id: foot_ccnn_5" href="#_foot_ccnn_5" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a> del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-ccnn-5" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Movilizar los frutos, productos y subproductos con los documentos autorizados para el transporte.
                </td>
                <td style="border: 1px solid #000;">
                    El/La titular utilizó indebidamente o facilitó la guía de transporte forestal, así como la documentación otorgada o aprobada por la autoridad competente, para amparar la extracción no autorizada de un volumen de xx m3 , correspondiente a las especies xxx, pues habría utilizado su contrato de concesión/permiso forestal, su , así como el Balance de Extracción para dar apariencia de legalidad al volumen de madera que provendría de individuos sobre los cuales no tenía autorización para extraer.
                </td>
                <td style="border: 1px solid #000;">
                    Literales a) y k) del numeral 29.1 del artículo 29 del RGFFSCNCC
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme se puede advertir de los hechos descritos el aprovechamiento injustificado asciende a un volumen de xxx m3, correspondiente a las especies xxx.
    </p>
    <p class="enumeration">
        Atendiendo a lo expuesto, en tanto se declaró un volumen movilizado de balance de extracción mayor al volumen movilizado advertido en campo, se verifica que se ha declarado un excedente respecto al recurso forestal válidamente aprovechado.
    </p>
    <p class="enumeration">
        En ese sentido, la/el titular habría utilizado indebidamente o facilitó la guía de transporte forestal, así como la documentación otorgada o aprobada por la autoridad competente, para amparar la extracción no autorizada de un volumen de <strong>xxx m<sup>3</sup></strong> cuyo origen se desconoce, conforme se muestra en el cuadro anterior. Por ello, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 26
        <a style="mso-footnote-id: foot_ccnn_6" href="#_foot_ccnn_6" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a> del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

<script id="tmpl-ccnn-6" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Contar con el regente forestal, cuando corresponda, para la formulación e implementación del plan de manejo y comunicar a la ARFFS y al SERFOR, la designación o el cambio del mismo.
                </td>
                <td style="border: 1px solid #000;">
                    Se evidencia que no contó con la participación de regente forestal para la implementación del plan de manejo.
                </td>
                <td style="border: 1px solid #000;">
                    Literal m) del numeral 29.1 del artículo 29 del RGFFSCNCC
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        El xx de xxx de 20xx, la/el titular  y el Ing. xx, suscribieron el Contrato de Regencia Forestal
        <a style="mso-footnote-id: foot_ccnn_7" href="#_foot_ccnn_7" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>, el cual tiene como objeto la elaboración del expediente técnico del PO y levantamiento de observaciones formuladas por la autoridad forestal.
    </p>
    <p class="enumeration">
        Ahora bien, el Plan de Manejo, aprobado mediante la Resolución Jefatural N° ${PLAN_MANEJO.ARESOLUCION_NUM}, de fecha xx de xx de 202X, <strong>se encuentra vigente desde el desde el ${PLAN_MANEJO.INICIO_VIGENCIA || 'XX'} hasta el ${PLAN_MANEJO.FIN_VIGENCIA || 'XX'}.</strong> Asimismo, de la revisión de la Forma 20, se advierte que la última movilización se realizó el <strong>xx de xx de 20xx.</strong>
    </p>
    <p class="enumeration">
        Bajo esa línea, <strong>se advierte que durante la implementación del Plan de Manejo N° ${PLAN_MANEJO.NOMBRE_POA} no se contó con Regente Forestal, debido a que en el Contrato de Regencia no se indica que el Regente Forestal tenga la obligación de la implementación del plan de manejo, sino solamente la elaboración del Plan de Manejo ${PLAN_MANEJO.NOMBRE_POA},</strong> tal como se observa a continuación:
    </p>
    <p style="font-size: 7pt; text-align: center;">
        (Print del contrato de regencia)
    </p>
    <p class="enumeration">
        En el presente caso, la administrada implementó el Plan de Manejo Forestal N° ${PLAN_MANEJO.NOMBRE_POA}, sin embargo, no habría contado con regente forestal, conforme se observa en el siguiente gráfico:
    </p>
    <p style="font-size: 7pt; text-align: center;">
        <strong>Gráfico 01.</strong> Línea de tiempo
    </p>
    <p class="enumeration">
        En esa línea, se advierte que, de la revisión del expediente administrativo y de la consulta efectuada en el Sistema de Información de Trámite Documentario – SITD del OSINFOR, hasta la fecha, la/el titular no ha remitido contrato de regencia vigente para la implementación del plan de manejo considerando que su Plan de manejo se encuentra vigente y viene realizando las actividades de aprovechamiento. <strong>Por lo tanto, corresponde que dicho incumplimiento sea imputado en su contra.</strong>
    </p>
    <p class="enumeration">
        Bajo esa línea, estando a la evaluación de los actuados, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 29 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>

@* Fauna *@

<script id="tmpl-fauna-1" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Presentar el informe sobre la ejecución del plan de manejo, de conformidad con el artículo 66 del RGF.
                </td>
                <td style="border: 1px solid #000;">
                    Incumplió con presentar el Informe de Ejecución Anual del plan de manejo N° ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo 20XX.
                </td>
                <td style="border: 1px solid #000;">
                    Literal b) del numeral 17.1 del artículo 17 del Reglamento para la Gestión de Fauna Silvestre, aprobado por Decreto Supremo Nº 019-2015-MINAGRI (en adelante, RGFS).
                    <a style="mso-footnote-id: foot_fauna_1" href="#_foot_fauna_1" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    Sí /Presentar el Informe de Ejecución Anual del Plan de manejo ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo xx
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Al respecto, el artículo 66 del RGF establece que el informe de ejecución forestal tiene por finalidad reportar la implementación de las actividades realizadas en el marco del plan de manejo, el mismo que se presenta a la ARFFS y al OSINFOR, dentro de los 45 días calendario de culminado el año operativo; el cual es suscrito por el/la titular del título habilitante y el regente, en los casos que corresponda, y tiene carácter de declaración jurada.
    </p>
    <p class="enumeration">
        Asimismo, el precitado artículo señala que los informes de ejecución se clasifican en: a) Informe de Ejecución Anual, el cual se presenta al final del año operativo sobre la base del plan de manejo aprobado; y b) Informe de Ejecución Final, el cual se presenta al finalizar la vigencia del plan de manejo.
    </p>
    <p class="enumeration">
        En ese sentido, en observancia de la normativa forestal, la/el titular debió presentar los Informes de Ejecución, conforme el siguiente detalle:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Plan de Manejo Forestal</th>
                <th style="border: 1px solid #000;">Tipo de Informe de Ejecución</th>
                <th style="border: 1px solid #000;">Tipo de aprovechamiento</th>
                <th style="border: 1px solid #000;">Periodo</th>
                <th style="border: 1px solid #000;">Fecha de culminación del año operativo</th>
                <th style="border: 1px solid #000;">
                    Fecha para la presentación de los Informes de Ejecución Anuales considerando los 45 días calendario
                </th>
                <th style="border: 1px solid #000;">Cumplió/No cumplió</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;" rowspan="2">
                    Plan de Manejo N° ${PLAN_MANEJO.NOMBRE_POA}, correspondiente al periodo XX
                    <a style="mso-footnote-id: foot_fauna_2" href="#_foot_fauna_2" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;" rowspan="2">Informe de Ejecución Anual</td>
                <td style="border: 1px solid #000;">No maderable</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">No cumplió</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">Maderable</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">XX</td>
                <td style="border: 1px solid #000;">No cumplió</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Al respecto, por Carta N° ${ANTECEDENTES_DOCS.Carta?.numero}, del ${ANTECEDENTES_DOCS.Carta?.fechaEmision}, notificada el ${ANTECEDENTES_DOCS.Carta?.fechaNotificacion}, la DSFFS requirió a la administrada remitir, entre otros, los informes de ejecución anuales, sin que, hasta la fecha de la emisión de la presente Resolución, haya remitido respuesta alguna.
    </p>
    <p class="enumeration">
        Asimismo, a pesar que mediante la Carta N° ${ANTECEDENTES_DOCS.Carta?.numero} de fecha ${ANTECEDENTES_DOCS.Carta?.fechaEmision}, que notifica el Informe de Supervisión y, Formato de Notificación Preventiva N° 00XX-20XX-OSINFOR/08.1, diligenciada el XX de XX de 2023, la DSFFFS requirió a la/el administrada/o los informes de ejecución Anual, correspondiente a los periodos xxx; de la consulta efectuada en el Sistema de Información de Trámite Documentario – SITD del OSINFOR, se advierte que la administrada, a la fecha de emisión de la presente resolución, no ha remitido ante esta Administración los mencionados Informe de Ejecución, siendo que dicho incumplimiento sea imputado en su contra.
    </p>
    <p class="enumeration">
        En consecuencia, se advierte que la/el titular ha incurrido presuntamente en la infracción tipificada en el numeral 2 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del RISMFFS.
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Descripción del hecho</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Cumplir con notificar todo nacimiento, muerte o cualquier suceso que afecte a la población de fauna silvestre mantenida en cautiverio en un centro de cría, incluido su plantel reproductor o genético, así como lo entregado en calidad de custodia, debe ser notificado a la ARFFS o al SERFOR, según corresponda, así como al OSINFOR
                </td>
                <td style="border: 1px solid #000;">
                    Numeral 59.1 del artículo 59 del RGFS
                    <a style="mso-footnote-id: foot_fauna_3" href="#_foot_fauna_3" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    La administrada no habría informado el egreso de trece (13) especímenes de fauna silvestre, de acuerdo al siguiente detalle: once (11) especímenes de las especies  Brotogeris versicolurus “perico ala amarilla”, Geranoatus polyosoma “aguilucho variable” y un (01)  espécimen de la especie Nasua nasua “coati”.
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Sobre el particular, mediante la Carta N° ${ANTECEDENTES_DOCS.Carta?.numero}, notificada el ${ANTECEDENTES_DOCS.Carta?.fechaNotificacion}, la DSFFFS requirió  “las Cartas y sus cargos, presentadas ante la Autoridad Regional Forestal y de Fauna Silvestre, sobre informes de sucesos de ingreso o egreso de especímenes, como hallazgos, nacimientos, muertes u otros; que no hayan sido remitidos previamente al OSINFOR”
    </p>
    <p class="enumeration">
        Siendo ello así, la DSFFFS consideró para la elaboración del balance de ingresos y egresos lo siguiente:
    </p>
    <ul>
        <li>
            Como cantidad inicial de especímenes, se consideró la información contenida en el Informe de Supervisión N° ${ANTECEDENTES_DOCS.Inf_Sup?.numero}, que refleja las cantidades observadas durante la supervisión realizada el 29 de marzo de 2019.
        </li>
        <li>
            Como documentos de egresos de especímenes se consideran los reportes de sucesos de decesos, fugas y hurto presentados por la titular, tanto a la ARFFS como al OSINFOR, así como actas de levantamiento de custodia emitidos por la ARFFS.
        </li>
    </ul>
    <p class="enumeration">
        En ese sentido, del análisis de los resultados obtenidos en la supervisión, se advierte que, existen once (11) especímenes de las especies Brotogeris versicolurus “perico ala amarilla”, Geranoatus polyosoma “aguilucho variable” y un (01) espécimen de la especie Nasua nasua “coati”, respecto de los cuales, la administrada no habría reportado el egreso, conforme se detalla a continuación:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Espécimen</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Censo OSINFOR xx/xx/202x</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Egresos</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Balance documentario</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Supervisión OSINFOR xx/xx/202x</th>
                <th style="border: 1px solid #000; background-color: #f0f0f0;">Especie faltante</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">Especie 1</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">Especie 2</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;">Especie 3</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
                <td style="border: 1px solid #000;">#</td>
            </tr>
            <tr>
                <td style="border: 1px solid #000;" colspan="5">TOTAL</td>
                <td style="border: 1px solid #000;">13</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme a lo detallado en el cuadro precedente, la administrada no habría informado el egreso de dichos individuos a la autoridad competente, por lo que, corresponde imputar en su contra, la infracción tipificada en el <strong>Numeral 7 del Anexo 2 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del RISMFFS.</strong>
    </p>
</script>

<script id="tmpl-fauna-2" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Tener y mantener actualizado el libro de operaciones de acuerdo a los lineamientos aprobados por el SERFOR.
                </td>
                <td style="border: 1px solid #000;">
                    La/el titular no mantiene actualizado el libro de operaciones, de acuerdo a los lineamientos aprobados por el SERFOR.
                    <a style="mso-footnote-id: foot_fauna_4" href="#_foot_fauna_4" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    Literal d) del numeral 17.1 del artículo 17 del RGFS
                    <a style="mso-footnote-id: foot_fauna_5" href="#_foot_fauna_5" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                </td>
                <td style="border: 1px solid #000;">
                    Si, sólo en caso de no haber registrado la información, pero se cuente con la documentación que acredite la procedencia legal del recurso / Actualizar el libro de operaciones.
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme a lo expuesto, atendiendo a que es posible subsanar tal accionar, mediante la Notificación Preventiva N° 00XXX-2022-OSINFOR/08.1 (Formato SGC-M1-FOR-085-V.01), notificada el XX de octubre de 20XX, la DSFFS solicitó al/la el/la titular actualizar el Libro de Operaciones en un plazo de 05 días hábiles contabilizados a partir del día siguiente de la notificación; sin embargo, el/la titular no cumplió con subsanar el mencionado incumplimiento.
    </p>
    <p class="enumeration">
        En ese marco, conforme se indica en el Cuadro XX del Informe de Supervisión, el/la administrado/a no cumplió con mantener actualizado el Libro de Operaciones, de acuerdo a los lineamientos aprobados por el SERFOR, dado que xxx (explicación de por qué el Libro de Operaciones no estaría actualizado).
    </p>
    <p class="enumeration">
        Cabe precisar que mediante Escrito ${ANTECEDENTES_DOCS.Escrito?.numero} ingresado el ${ANTECEDENTES_DOCS.Escrito?.fechaEmision} (Registro N° xxx), es decir, posterior a la realización de la supervisión, la/el titular presentó, entre otros, el Libro de Operaciones, de cuya evaluación se advierte no se encuentra actualizado, tal como se detalla a continuación:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Especie</th>
                <th style="border: 1px solid #000;">Código</th>
                <th style="border: 1px solid #000;">Estado en campo</th>
                <th style="border: 1px solid #000;">Sección registrada del LO</th>
                <th style="border: 1px solid #000;">Sección no registrada del LO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">xxx</td>
                <td style="border: 1px solid #000;">-</td>
                <td style="border: 1px solid #000;">xx</td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        En ese sentido, <strong>se concluye que el Libro de operaciones no se encuentra actualizado.</strong> Por ello, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 11
        <a style="mso-footnote-id: foot_fauna_6" href="#_foot_fauna_6" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>
        del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
    <p class="enumeration">
        Con relación a la implementación del plan de manejo:
    </p>
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Descripción del hecho</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Presentar el plan de manejo y cumplir con su implementación, luego de ser aprobado.
                </td>
                <td style="border: 1px solid #000;">
                    Literal a)
                    <a style="mso-footnote-id: foot_fauna_7" href="#_foot_fauna_7" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    del numeral 17.1 del artículo 17 del RGFS.
                </td>
                <td style="border: 1px solid #000;">
                    La administrada no implementó las actividades de infraestructura, manejo de registros, sanitario, bioseguridad, planes y/o programas y alimentario, conforme al plan de manejo de fauna silvestre aprobado.
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        Conforme al artículo 31 del RGFS, el plan de manejo da fauna silvestre es: “(…) el instrumento de gestión y planificación estratégica y operativa de mediano y largo plazo para el manejo de fauna silvestre, el cual puede presentarse con fines de uso múltiple de recursos, de acuerdo a los lineamientos aprobados por el SERFOR”. Asimismo, conforme al literal a) del numeral 17.1 del RGFS, una de las obligaciones de los titulares es cumplir con la implementación del plan de manejo aprobado.
    </p>
    <p class="enumeration">
        En el presente caso, mediante el Plan de Manejo del Zoológico aprobado por la ARFFS, se establecen compromisos por parte de la administrada, relativos a la infraestructura implementada, registros y bases de datos, planes y/o programas, manejo sanitario, manejo de bioseguridad y manejo alimentario, los cuales deben ser implementados por la titular para el manejo de los especímenes de fauna silvestre que alberga en el Zoológico.
    </p>
    <p class="enumeration">
        Sin embargo, conforme al numeral 8.1 del Informe de Supervisión, se señala que, en las instalaciones del Zoológico, <strong>la administrada no cumple con lo previsto en el Plan de Manejo,</strong> respecto a la infraestructura implementada, registros y bases de datos, planes y/o programas, manejo sanitario, manejo de bioseguridad y manejo alimentario, conforme al siguiente detalle:
    </p>
    <p>Xxxxxxxx</p>
    <p class="enumeration">
        Por lo expuesto, es posible inferir que la administrada no implementa el plan de manejo aprobado por la ARFFS, por lo que, corresponde imputar en su contra la infracción tipificada en el <strong>Numeral 17 del Cuadro de Infracciones y Sanciones en Materia de Fauna Silvestre del Anexo 2 del RISMFFS.</strong>
    </p>
</script>

<script id="tmpl-fauna-3" type="text/x-jquery-tmpl">
    <table width="100%" cellpadding="4" style="border: 0; font-family: Arial; font-size: 10pt; border-collapse: collapse; line-height: 150%;">
        <thead>
            <tr>
                <th style="border: 1px solid #000;">Obligación de la titular</th>
                <th style="border: 1px solid #000;">Descripción del incumplimiento advertido durante la supervisión</th>
                <th style="border: 1px solid #000;">Base legal de la obligación</th>
                <th style="border: 1px solid #000;">Subsanable/Forma de Subsanar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid #000;">
                    Contar con el regente forestal, cuando corresponda, para la formulación e implementación del plan de manejo y comunicar a la ARFFS y al SERFOR, la designación o el cambio del mismo.
                </td>
                <td style="border: 1px solid #000;">
                    Se evidencia que no contó con la participación de regente forestal para la implementación del plan de manejo.
                </td>
                <td style="border: 1px solid #000;">
                    Literal m)
                    <a style="mso-footnote-id: foot_fauna_8" href="#_foot_fauna_8" title="">
                        <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
                    </a>
                    del numeral 17.1 del artículo 17 del RGFS
                </td>
                <td style="border: 1px solid #000;">
                    No
                </td>
            </tr>
        </tbody>
    </table>
    <p class="enumeration">
        El xx de xxx de 20xx, la/el titular  y el Ing. xx, suscribieron el Contrato de Regencia Forestal
        <a style="mso-footnote-id: foot_fauna_9" href="#_foot_fauna_9" title="">
            <sup class=MsoFootnoteReference><span style="mso-special-character:footnote"></span></sup>
        </a>, el cual tiene como <u>objeto la elaboración del expediente técnico del PO y levantamiento de observaciones formuladas por la autoridad forestal.</u>
    </p>
    <p class="enumeration">
        Ahora bien, el Plan de Manejo, aprobado mediante la Resolución Jefatural N° xx, de fecha xx de xx de 2021, <strong>se encuentra vigente desde el desde el ${PLAN_MANEJO.INICIO_VIGENCIA || 'XX'} hasta el ${PLAN_MANEJO.FIN_VIGENCIA || 'XX'}.</strong> Asimismo, de la revisión de la Forma 20, se advierte que la última movilización se realizó el <strong>xx de xx de 20xx.</strong>
    </p>
    <p class="enumeration">
        Bajo esa línea, <strong>se advierte que durante la implementación del Plan de Manejo N° ${PLAN_MANEJO.NOMBRE_POA} no se contó con Regente Forestal, debido a que en el Contrato de Regencia no se indica que el Regente Forestal tenga la obligación de la implementación del plan de manejo, sino solamente la elaboración del Plan de Manejo xx,</strong> tal como se observa a continuación:
    </p>
    <p style="text-align: center; font-size: 7pt;">(Print del contrato de regencia)</p>
    <p class="enumeration">
        En el presente caso, la administrada implementó el Plan de Manejo Forestal N° ${PLAN_MANEJO.NOMBRE_POA}, sin embargo, no habría contado con regente forestal, conforme se observa en el siguiente gráfico:
    </p>
    <p style="text-align: center; font-size: 7pt;"><strong>Gráfico 01.</strong> Línea de tiempo</p>
    <p class="enumeration">
        En esa línea, se advierte que, de la revisión del expediente administrativo y de la consulta efectuada en el Sistema de Información de Trámite Documentario – SITD del OSINFOR, hasta la fecha, la/el titular no ha remitido contrato de regencia vigente para la implementación del plan de manejo considerando que su Plan de manejo se encuentra vigente y viene realizando las actividades de aprovechamiento. <strong>Por lo tanto, corresponde que dicho incumplimiento sea imputado en su contra.</strong>
    </p>
    <p class="enumeration">
        Bajo esa línea, estando a la evaluación de los actuados, corresponde imputar a la/el titular la comisión de la infracción establecida en el numeral 29 del Anexo 1 del Cuadro de Infracciones y Sanciones en Materia Forestal del Anexo 1 del RISMFFS.
    </p>
</script>