@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script src="~/Scripts/datatables/Extensions/dataTables.buttons.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.flash.min.js"></script>
<script src="~/Scripts/datatables/Extensions/jszip.min.js"></script>

<script src="~/Scripts/datatables/Extensions/vfs_fonts.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.html5.js"></script>
<script src="~/Scripts/datatables/Extensions/buttons.print.js"></script>


<link href="~/Content/datatables/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Areas/General/css/ManCalculoMulta/ManCalculoMulta.css" rel="stylesheet" />
<div id="divCatEspMad" class="container-fluid">
    <div class="card">
        <div class="card-header text-left">
            <h5>Categoría de especies maderables y valor de la madera al estado natural</h5>
        </div>
        <div class="card-body">
            <div class="col-12">
                <form id="frmManCatEspMad">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <select class="form-control form-control-sm" id="cboBusqueda">
                                <option value="ESPECIE">ESPECIE</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input class="form-control form-control-sm" id="txtBuscar" type="text" max="100" />
                        </div>
                        <div class="btn-group col-md-2" style="padding-top:5px;">
                            <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar" onclick="_manCatEspMad.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                            <a id="btnRefresh" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar" onclick="_manCatEspMad.fnRefresh()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                            <a id="btnAdd" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="" onclick="_manCatEspMad.fnCrear()" data-original-title="Crear un nuevo registro"><span class="fa mx-2 fa-lg fa-plus"></span></a>
                        </div>
                    </div>
                    <div class="table-responsive-md">
                        <table id="tbCatEspMad" class="table table-hover table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>Especie</th>
                                    <th>Nombre Común</th>
                                    <th>Familia</th>
                                    <th>Categoria</th>
                                    <th>Código</th>
                                    <th>Código Especies</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="modal fade hide" id="modalCatEspMad" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-small" style="cursor:move;padding:0.5rem;">
                    <h5 class="modal-title" id="h5TituloCatEspMad">Modificar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="divModCatEspMad">
                    <input type="hidden" id="hdRegEstado" value="1" />
                    <input type="hidden" id="hdNCodCatEspMad" value="0" />
                    <input type="hidden" id="hdEstado" value="1" />
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            @Html.Partial("~/Areas/General/Views/Controles/_renderComboEspecie.cshtml")
                        </div>
                        <div class="form-group col-md-4">
                            <label for="ddlCategoriasId">Categoría</label>
                            @Html.DropDownList("ddlCategoriasId", new SelectList(ViewBag.ddlCategorias, "Value", "Text"), new { @class = "form-control form-control-sm" })
                        </div>
                    </div>
                    <div class="form-row" id="">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" onclick="_manCatEspMad.fnCatEspMadUpdate()">Guardar</button>
                    <button id="btnCerrarModal" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var _manCatEspMad = {
        fnRefresh: () => {
            $("#txtBuscar").val('0');
            $("#txtBuscar").val('');
            _manCatEspMad.fnSearch();
        },
        fnCrear: () => {
            _manCatEspMad.fnLimpiar();
            $("#h5TituloCatEspMad").text("Nuevo");
            $("#hdRegEstado").val("1");
            $("#modalCatEspMad").modal({ keyboard: true, backdrop: 'static' });
            _renderComboEspecie.fnInit("MADERABLE", "", "");
            $('#ddlRenderComboEspecieId').val("").trigger("change");

        },
        fnLimpiar: () => {
            let frm = $("#divModCatEspMad");
            frm.find("#hdNCodCatEspMad").val('0');
            frm.find("#txtCategoria").val('');
            frm.find("#txtDenominacion").val('');
            frm.find("#txtVEN").val('');
        },
        fnDelete: (obj) => {
            let frm = $("#divModCatEspMad");
            let $tr = $(obj).closest("tr");
            let dataRow = _manCatEspMad.dt.row($tr).data();

            let model = {
                NCODCATESPMAD: dataRow.NCODCATESPMAD,
                NCODVENMADERA: dataRow.NCODVENMADERA,
                COD_ESPECIES: _renderComboEspecie.fnGetCodEspecie(),                
                NESTADO: 0,
                RegEstado: 3
            };

            let url = urlLocalSigo + "General/ManCalculoMulta/GuardarCatEspMad";
            let option = { url: url, datos: JSON.stringify(model), type: 'POST' };
            utilSigo.fnAjax(option, function (data) {
                if (data.success) {
                    utilSigo.toastSuccess("Éxito", data.msj);
                    _manCatEspMad.fnSearch();
                }
                else {
                    utilSigo.toastWarning("Aviso", data.msj);
                }
            });

        },
        fnEdit: (obj) => {

            $("#h5TituloCatEspMad").text("Modificar");
            _manCatEspMad.fnLimpiar();
            $("#hdRegEstado").val("2");
            let frm = $("#divModCatEspMad");
            let $tr = $(obj).closest("tr");
            
            let dataRow = _manCatEspMad.dt.row($tr).data();            
            frm.find("#hdNCodCatEspMad").val(dataRow.NCODCATESPMAD);            
                          
            
            debugger;
            $("#modalCatEspMad").modal({ keyboard: true, backdrop: 'static' });
            _renderComboEspecie.fnInit("FAUNA", dataRow.COD_ESPECIES, dataRow.DESCRIPCION);
            $('#ddlRenderComboEspecieId').val(dataRow.COD_ESPECIES).trigger("change");

        },
        fnCatEspMadUpdate: () => {
            let frm = $("#divModCatEspMad");
            let model = {
                NCODCATESPMAD: frm.find("#hdNCodCatEspMad").val(),
                NCODVENMADERA: frm.find("#ddlCategoriasId").val(),
                COD_ESPECIES: _renderComboEspecie.fnGetCodEspecie(),
                RegEstado: 1,
                NESTADO: 1
            };
            model.RegEstado = model.NCODCATESPMAD == "0" ? 1 : 2;

            if (model.COD_ESPECIES == "" || model.COD_ESPECIES == null) {
                utilSigo.toastWarning("Warning", "Ingresar Especie");
                return false;
            } else if (model.NCODVENMADERA == "" || model.NCODVENMADERA == null) {
                utilSigo.toastWarning("Warning", "Ingresar Categoria");
                return false;
            }

            let url = urlLocalSigo + "General/ManCalculoMulta/GuardarCatEspMad";
            let option = { url: url, datos: JSON.stringify(model), type: 'POST' };
            utilSigo.fnAjax(option, function (data) {
                debugger;
                if (data.success) {
                    if (data.msj == " ") {
                        utilSigo.toastSuccess("Éxito", "Transacción exitosa.");                        
                    } else if (data.msj == "IDF99") {
                        utilSigo.toastInfo("Informativo", "Ya existe especie registrada.");                       
                    } else {
                        utilSigo.toastSuccess("Éxito", data.msj);
                    }
                    $("#btnCerrarModal").click();
                    _manCatEspMad.fnSearch();
                }
                else {
                    utilSigo.toastWarning("Aviso", data.msj);
                }
            });
        },
        fnBuilTable: () => {
            const columns = [
                {
                    "data": "", "className": "text-center", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<div><i class="fa fa-lg fa-pencil-square-o" style="color:blue;cursor:pointer;" title="Editar plan de trabajo" onclick="_manCatEspMad.fnEdit(this)"></i></div>';
                    }
                },
                {
                    "data": "", "className": "text-center", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row) {
                        return '<div><i class="cellDel fa fa-lg fa-window-close" style="color:red;cursor:pointer;" title="Editar plan de trabajo" onclick="_manCatEspMad.fnDelete(this)"></i></div>';
                    }
                },
                {
                    "name": "ROW_INDE", "width": "2%", "orderable": false, "searchable": false, "mRender": function (data, type, row, meta) {
                        return parseInt(meta.row) + 1 + meta.settings._iDisplayStart;
                    }
                },
                { "data": "DESCRIPCION", "autoWidth": true },
                { "data": "NOMBRE_COMUN", "autoWidth": true },
                { "data": "FAMILIA", "autoWidth": true },
                { "data": "VCATEGORIA", "autoWidth": true },
                { "data": "NCODCATESPMAD", visible: false },
                { "data": "COD_ESPECIES", visible: false }
            ];
            const optDt = { iLength: 20, iStart: 0, aSort: [] };
            _manCatEspMad.dt = _manCatEspMad.frm.find("#tbCatEspMad").DataTable({
                processing: true,
                serverSide: true,
                searching: false,
                ordering: false,
                paging: true,
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excelHtml5',
                    messageTop: 'Indice Precio Consumidor',
                    exportOptions: {
                        // columns: [1, ':visible'],
                        //  columns: [2, ':visible'],
                        //   columns: [3, ':visible'],
                        // columns: [8, ':visible'],
                        //columns: [4, ':visible'],
                    }
                }],
                ajax: {
                    "url": `${urlLocalSigo}/General/Controles/GetCatEspMad`,
                    "data": function (d) {
                        d.CustomSearchForm = "CALCULOMULTA";
                        d.CustomSearchType = "CATESPMAD"; 
                        d.CustomSearchValue = $("#txtBuscar").val();
                        d.customSearchEnabled = true;

                        d.columns = null;
                    },
                    "error": function (jqXHR) {
                        // utilSigo.unblockUIGeneral();
                        if (jqXHR.status != 401 && jqXHR.status != 403 && jqXHR.status != 404) {
                            utilSigo.toastError("Error", initSigo.MessageError);
                        }
                        //console.log(jqXHR);
                    },
                    "statusCode": {
                        203: () => { utilSigo.toastInfo("Aviso", "El usuario perdio la sesión. Vuelva ingresar al sistema"); }
                    }
                },
                columns: columns,
                bInfo: true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                // "aaSorting": optDt.aSort,
                "pageLength": optDt.iLength,
                "displayStart": optDt.iStart,
                "oLanguage": initSigo.oLanguage,
                "drawCallback": initSigo.showPagination
            });
        },
        fnInitEspecie: () => {
            $.fn.select2.defaults.set("theme", "bootstrap4");
        },
        fnSearch: () => {
            _manCatEspMad.dt.ajax.reload();
        }
    };
    $(document).ready(function () {

        _manCatEspMad.frm = $("#frmManCatEspMad");
        _manCatEspMad.fnBuilTable();
        _manCatEspMad.frm.submit(function (e) {
            e.preventDefault();
            _manCatEspMad.fnSearch();
        });
        _manCatEspMad.fnInitEspecie();


    });
</script>





