@{
    ViewBag.Title = "Listado de planes de trabajo";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="divPlanTrabajo" class="container-fluid">
    <div class="card">
        <div class="card-header text-left">
            <h5>Listado de planes de trabajo</h5>
        </div>
        <div class="card-body">
            <form id="frmManGrillaPaging">
                @Html.Hidden("tipoFormulario", (string)ViewBag.Formulario)
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.DropDownList("ddlOpcionBuscarOD", (IEnumerable<SelectListItem>)ViewBag.vbOD, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.DropDownList("ddlOpcionBuscarPeriodo", (IEnumerable<SelectListItem>)ViewBag.vbPeriodo, new { @class = "form-control form-control-sm" })
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control form-control-sm" id="txtValorBuscar" placeholder="Ingrese Valor a Buscar">
                    </div>
                    <div class="btn-group col-md-2" style="padding-top:5px;">
                        <a id="btnSearch" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Buscar" onclick="ManPlanTrabajo.fnSearch()"><span class="fa mx-2 fa-lg fa-search"></span></a>
                        <a id="btnRefresh" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Actualizar" onclick="ManPlanTrabajo.fnRefresh()"><span class="fa mx-2 fa-lg fa-refresh"></span></a>
                        <a id="btnAdd" style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Crear un nuevo registro" onclick="ManPlanTrabajo.fnAddEdit()"><span class="fa mx-2 fa-lg fa-plus"></span></a>
                    </div>
                </div>

            </form>
            <div id="dvManGrillaPaging" class="table-responsive">
                <table id="tbManGrillaPaging" class="table table-hover table-bordered" style="width:100%;">
                    <thead>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="divPlanTrabajoDetalle" class="container-fluid">

</div>
<div id="divPlanTrabajoEspecies" class="container-fluid">

</div>
<div class="modal fade hide" id="manEspecieModal" role="dialog"></div>
<div class="modal fade hide" id="manPlanTrabajoModal" role="dialog"></div>
<div class="modal fade hide" id="manControlCalidadModal" role="dialog"></div>
<div class="modal fade hide" id="manAddPlanManejoModal" role="dialog"></div>
<script src="~/Areas/PlanFocalizacion/js/Focalizacion/Index.js"></script>